[2022-11-10 15:23] pragyaasapkota commented on #1033
Thanks I just joined the slack and the #training channel

[2022-11-10 15:25] pragyaasapkota commented on #1033
I think I agree with @kafleg
It might be better if we have every translated lesson plan permalink as - lesson plan in {the language}

[2022-11-10 15:43] kaitohm commented on #1033
Alright, let me bring this up with the Training Team next week. We can come back and update the permalink once it has been discussed 👍

[2022-11-10 17:40] akirk opened #1087 "Lesson Plans: In non-English, lessons in all languages are displayed, not only the selected language"
## Description
When browsing the Lesson Plans in non-English, you don't only see the courses in your language, or in your language + English but also courses in any other language.

## Step-by-step reproduction instructions
1. Go to https://learn.wordpress.org/lesson-plans/?locale=de_DE (lesson plans in German)
2. There are courses in Nepali and other languages.

## Expected behaviour

See only co

[2022-11-10 21:41] wparasae commented on #834
@bsanevans Should this topic be merged with: https://github.com/WordPress/Learn/issues/741 ? They're super similar!

[2022-11-11 09:46] jonathanbossenger commented on #1063
https://wordpress.tv/2022/11/07/lets-code-internationalisation-in-block-themes/

[2022-11-11 09:46] #1063 closed

[2022-11-11 09:49] jonathanbossenger commented on #1051
https://www.meetup.com/learn-wordpress-online-workshops/events/289306336/

[2022-11-11 09:49] #1051 closed

[2022-11-11 09:50] jonathanbossenger commented on #938
https://wordpress.tv/2022/09/16/lets-code-what-happens-when-you-make-theme-changes/

[2022-11-11 09:50] #938 closed

[2022-11-11 09:51] jonathanbossenger commented on #956
@wparasae closing this ticket.

[2022-11-11 09:51] #956 closed

[2022-11-11 09:56] jonathanbossenger opened #1088 "Online Workshop - Let's code: Developing Blocks without React! - Part 2"
# Event Details
- Title: Let's code: Developing Blocks without React! - Part 2
- Description: In [last week's session](https://www.meetup.com/learn-wordpress-online-workshops/events/289598194/), we built a [simple WordPress block](https://github.com/jonathanbossenger/wp-learn-javascript) using plain JavaScript. However, the block was static, in that a user couldn't edit the content or styling in a

[2022-11-11 09:58] jonathanbossenger commented on #1066
https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/introducing-attributes-and-editable-fields/
https://developer.wordpress.org/block-editor/reference-guides/richtext/

Goal:

- implement attributes
- implement RichText
- enable styling Settings (padding, background color, text color)

[2022-11-11 10:04] jonathanbossenger commented on #1078
https://wordpress.tv/2022/11/11/lets-code-developing-blocks-without-react-part-1/

[2022-11-11 10:04] #1078 closed

[2022-11-11 14:14] jonathanbossenger commented on #894
@justintadlock just did a review of your lessons. Great stuff 🎉 I have no change requests (besides that which I added above) and I'm excited to see the PR to add this to the final course, when you are ready.

[2022-11-11 14:37] jonathanbossenger commented on #846
@justintadlock had a quick read-through, and everything looks great.

I have one request for this lesson, would it be possible to add a short section about using the canLockBlocks setting to disable the feature globally or conditionally?

Details here https://make.wordpress.org/core/2022/05/05/block-locking-settings-in-wordpress-6-0/

[2022-11-11 14:42] jonathanbossenger commented on #1041
@justintadlock apologies if I didn't mention this to you earlier, but we're aiming to have this course ready for "beta review" by Friday 18 November.  Public beta means we're still working on it, but folks in the training team will be able to review it for two weeks and provide feedback. Then we'd like to have it ready to publish by the end of the month.

Besides the [one change suggestion](https:

[2022-11-11 14:52] justintadlock commented on #1041
@jonathanbossenger yes, will do. Will get to this first thing Monday.

[2022-11-11 21:47] kaitohm commented on #741
Closing in favor of https://github.com/WordPress/Learn/issues/834

[2022-11-11 21:51] kaitohm commented on #834
Sure! I've closed the other one in favor of this one 👍

[2022-11-14 11:16] jonathanbossenger commented on #1061
Leaving some general review feedback here from earlier comments/feedback.

It's a bit hard to change this now, but I've made a note to fix this in the future.

Unfortunately, we don't have the option to cross-link inside videos, but I do include links to any other tutorials mentioned in the text portion of the tutorial content on Learn WordPress.

This was partly intentional, as I'm trying to keep

[2022-11-14 11:18] jonathanbossenger commented on #1061
Good point, I'll make sure to update my titles in future.

Thanks, I've tried a new color scheme ([details here](https://make.wordpress.org/training/2022/11/09/choosing-accessible-contrasting-dark-theme-colors-for-online-workshops-and-tutorial-videos/#comment-3522)) which I'm going to use to update this video. What I was trying to do is stay away from already existing block theme styles.

[2022-11-14 11:29] jonathanbossenger commented on #1061
https://user-images.githubusercontent.com/180629/201648760-7ac12b4d-a7e2-4157-8130-5bb9b30b07a8.mp4

Updated with new dark theme colours.

[2022-11-14 13:55] jonathanbossenger commented on #894
@justintadlock just leaving a note here (nothing to change) that there is a separate module on Internationalization, so when I create the course content in Sensei, I'll move your Block Patterns section on [Internationalizing text in patterns](https://github.com/justintadlock/block-theme-course/blob/main/module-06/03-Using-Block-Patterns-in-Themes.md#internationalizing-text-in-patterns) to that mod

[2022-11-14 16:37] jonathanbossenger commented on #830
You would have to ask him, all I'm saying is I, unfortunately, don't have time/scope to implement this feature. If there are any other training team contributors who are also developers, you might be able to reach out to them.

[2022-11-14 20:46] justintadlock commented on #846
@jonathanbossenger - Just catching up with your last reply.  It was my understanding based on the [conversation above](https://github.com/WordPress/Learn/issues/846#issuecomment-1242789409) that we did not want to dive into filtering user permissions for this module.  Maybe I'm mixing up which course this is supposed to go into. :)   I did leave a note and link for further reading.  I'm happy to a

[2022-11-15 01:40] #789 closed

[2022-11-15 01:49] Piyopiyo-Kitsune commented on #739
I see @caraya is noted as the assignee-- will they be working on these revisions or do we require re-assigment here?

[2022-11-15 01:50] Piyopiyo-Kitsune commented on #999
Hey there @courtneyr-dev ! I see you've assigned yourself to this one-- is it ready to be moved to the Drafts in Progress section, or does it require reassignment?

[2022-11-15 01:51] Piyopiyo-Kitsune commented on #652
Same here-- will @caraya be working on this revisions or does this require reassigment?

[2022-11-15 01:53] Piyopiyo-Kitsune commented on #513
@westnz will you be working on these revisions or does this require reassigment?

[2022-11-15 01:54] Piyopiyo-Kitsune commented on #508
@westnz will you be working on these revisions or does this require reassignment?

[2022-11-15 01:55] Piyopiyo-Kitsune commented on #453
Hey there @courtneyr-dev 👋 Just checking on if you are handling these revisions as you're noted as the assignee? Cheers!

[2022-11-15 01:55] Piyopiyo-Kitsune commented on #374
Same here-- will you be working on these revisions @courtneyr-dev as the noted assignee or does this require reassignment?

[2022-11-15 02:02] westnz commented on #513
Thanks, Desinty. I have taken note of this, but will only get to this a bit later. There are some other things that are taking precedence.

[2022-11-15 02:04] westnz commented on #508
Will get to this 👍

[2022-11-15 03:28] caraya commented on #739
I'll work on this after I get done with theme.json

[2022-11-15 03:30] caraya commented on #652
The lesson plan hasn't been published. Added a first pass at the bottom with the changes and I'm trying to figure out what's the best way to do exercises for the new additions

[2022-11-15 06:42] fikekomala commented on #715
Anytime, @webtechpooja. I used this https://www.perrymarshall.com/grade/ from the 'How to Use the Review in Progress Column'.

[2022-11-15 08:37] jonathanbossenger commented on #846
@justintadlock aha, apologies, that conversation was when this module was part of [Develop Your First Low-Code Block Theme](https://learn.wordpress.org/course/develop-your-first-low-code-block-theme/) course. After my research into that section, we discovered that it would make more sense in this "developer" focused guide to block themes.

Hmm, that's interesting. I do understand why though becaus

[2022-11-15 11:42] webtechpooja commented on #1032
Done, now published on learn.wordpress.org

[2022-11-15 11:42] #1032 closed

[2022-11-15 13:34] jonathanbossenger commented on #1088
https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/introducing-attributes-and-editable-fields/
https://developer.wordpress.org/block-editor/reference-guides/block-api/block-attributes/
https://developer.wordpress.org/block-editor/reference-guides/richtext/

- Difference between useBlockProps and props
- Assigning a function (hook) to a variable
- Note on developing with deve

[2022-11-15 13:35] jonathanbossenger commented on #1088
Step 1 - assign and pass in the attributes to the edit function
[code]
[code]

[2022-11-15 13:46] jonathanbossenger commented on #1088
Step 2 - apply the onchange event and pass the updated attribute to the save function
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign

[code]
[code]

[2022-11-15 15:08] jonathanbossenger commented on #1088
Preamble, discuss using developer tools, clearing cache to refresh etc
Outline:
1. Change the element for the edit function from a p to a textarea.
2. Add the string attribute to the block.json, setting the selector to the textarea, and setting a default value
3. Console.log props and blockProps and explain the differences
2. Access attribute content in the edit function using props.attributes
4.

[2022-11-15 19:42] hlashbrooke opened #1089 "Display course metrics on the frontend"
Sensei tracks number of learners, passing metrics, etc. natively, but since this is only available in the dashboard it is not public information. In the interests of transparency and openness, I think it would be a great idea to make this available on the frontend.

We could either do this on a dedicated page where all the courses are listed, or have it in the sidebar of each course. The sidebar o

[2022-11-15 19:55] courtneyr-dev commented on #1089
Important to note we do not want to publicly reveal an individual's own score connected with their name.

[2022-11-15 19:57] hlashbrooke commented on #1089
@courtneyr-dev 100% - we must definitely avoid doing that. The metrics I'm proposing here are averages across all learners, so there won't be any personal or specific information in any of this.

[2022-11-15 20:17] mikemcalister commented on #1089
Huge +1 on this. As we're talking about adding more courses, it would be great to know what is and isn't working. It may also help inform the kind of educational content that can be generated outside of Learn, out in the community. The more content we can get on the new editor, the better!

[2022-11-16 03:24] Piyopiyo-Kitsune commented on #1085
Working through these now.

[2022-11-16 07:57] kaitohm commented on #1032
I just updated the very last line on the lesson plan so that it uses the `tip` shortcode. This is what I changed it to.

<img width="340" alt="tip-shortcode" src="https://user-images.githubusercontent.com/49054298/202120874-d42fed8b-bfce-46fe-9c99-10be92ba3872.png">

Nice work, team!

[2022-11-16 07:58] jonathanbossenger commented on #1088
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment

[2022-11-16 10:11] jonathanbossenger commented on #1088
https://developer.mozilla.org/en-US/docs/Web/API/Element/tagName

[2022-11-16 10:12] jonathanbossenger commented on #1088
@Thelmachido has kindly offered to co-host

[2022-11-16 11:06] Piyopiyo-Kitsune opened #1090 "Online Workshop - Demystifying Gutenberg"
# Event Details
- Title: Demystifying Gutenberg
- Description: In this session we will discuss the beta [Gutenberg plugin](https://wordpress.org/plugins/gutenberg/), it's role as WordPress’s “block editor”, and its project that [follows a four-phase process](https://wordpress.org/about/roadmap/) that will touch major pieces of WordPress — Editing, Customization, Collaboration, and Multilingual.

F

[2022-11-16 11:08] Piyopiyo-Kitsune opened #1091 "Online Workshop - Demystifying Gutenberg"
# Event Details
- Title: Demystifying Gutenberg
- Description: In this session we will discuss the beta [Gutenberg plugin](https://wordpress.org/plugins/gutenberg/), it's role as WordPress’s “block editor”, and its project that [follows a four-phase process](https://wordpress.org/about/roadmap/) that will touch major pieces of WordPress — Editing, Customization, Collaboration, and Multilingual.
Fo

[2022-11-16 13:36] jonathanbossenger commented on #1041
Created course in Sensei https://learn.wordpress.org/wp-admin/post.php?post=26187&action=edit

[2022-11-16 17:17] wparasae opened #1092 "Creating and Revising Learning Content for New WordPress Releases - Lesson Plan"
# Topic Description
Teachers around the world need quick and simple access to create content for new WordPress releases (such as 6.0 and 6.1 most recently at the time of this lesson plan topic's creation). For new educators stepping into that space, it's important for them to understand several things: release cadence (when will new releases be launched? When are features 'frozen'?), how new featu

[2022-11-16 17:25] pbking commented on #1062
I have reviewed the video for technical accuracy and overall helpfulness and give it my 👍 .  It pares nicely with the Create Block Theme tutorial.

[2022-11-16 17:28] pbking commented on #1061
I have reviewed this for technical accuracy and give it a 👍 .  The pacing is great and I appreciate that you kept this to (nearly) under 10 minutes.

[2022-11-16 20:12] justintadlock commented on #846
No problem. Just let me know if things change and you want me to fill in those bits too.  Happy to do so!

[2022-11-16 20:20] westnz commented on #1062
Excellent video tutorial.  Very clear, logical and informative. I think it is good to go.

[2022-11-16 21:25] abhansnuk commented on #1061
Just coming back on titles. My understanding from core, docs and marketing, and previously from training too, that the style for headlines is sentence case not title case. This is also better for accessibility.

[2022-11-17 01:28] westnz commented on #936
Published: https://learn.wordpress.org/tutorial/padding-versus-margin/

[2022-11-17 01:28] #936 closed

[2022-11-17 11:40] amitpatel0702 commented on #1079
@westnz, I must say - an amazing tutorial on Block Locking. Following are my comments.
- As always, this tutorial is to-the-point and extremely helpful.
- Just a Suggestion - It would be every more better if you can explain somewhere that this **locking-unlocking** mechanism applies to Blocks & **Block patterns**

[2022-11-17 19:24] westnz commented on #1079
Thank you so much @amitpatel0702 👍

[2022-11-18 00:36] westnz commented on #1080
https://user-images.githubusercontent.com/89751452/202589503-bb92e9a2-6ef5-4f16-9a61-795e41c75bf2.mp4

[2022-11-18 02:52] kaitohm commented on #1034
Google slides are here: https://docs.google.com/presentation/d/1hjyCwXQxG0QI1LDmriNPMXyHsAUfpYMALbYMGbnrrDE/edit?usp=sharing

[2022-11-18 05:00] bsanevans opened #1093 "Online Workshop [Japanese] - Let's take a look at the WordPress 6.1 update!"
# Event Details
- Japanese Title: WordPress 6.1 のアップデート内容を見てみよう！
- English Title: Let's take a look at the WordPress 6.1 update!
- Description: An overview of the WordPress 6.1 release and the new features introduced.
- Target Audience: Users and Designers
- Date: I'll be hosting this online workshop twice:
  - December 16th ([Meetup.com link](https://www.meetup.com/learn-wordpress-online-workshop

[2022-11-18 06:47] Piyopiyo-Kitsune commented on #1073
Video & Slides: https://wordpress.tv/2022/11/17/wordpress-6-1-exploration/

[2022-11-18 06:47] #1073 closed

[2022-11-18 06:47] Piyopiyo-Kitsune commented on #1074
Video & Slides: https://wordpress.tv/2022/11/17/wordpress-6-1-exploration/

[2022-11-18 06:47] #1074 closed

[2022-11-18 07:18] jonathanbossenger commented on #1061
Noted. @westnz we might want to confirm this with the training team, and if required, have the guidelines on tutorial creation updated.

[2022-11-18 09:12] jonathanbossenger commented on #1088
https://www.meetup.com/learn-wordpress-online-workshops/events/289686530/

[2022-11-18 09:12] #1088 closed

[2022-11-18 10:08] pkevan commented on #1087
I spotted the same thing when browsing the site, and was guessing that the sort order is by descending ID.

Some improvements to this could be to filter by language through the locale, or add a filter on the right for language (or maybe even default the filter to the user's language).

[2022-11-18 10:43] pragyaasapkota commented on #1033
@bsanevans
I think this issue is good to close.

[2022-11-18 12:52] #1033 closed

[2022-11-18 14:20] azhiya opened #1094 "Training Team Badges"
Please use this link to request a Training Team contributor Badge.
https://profiles.wordpress.org/associations/training-contributor/

If you would like a badge on your WordPress.org profile that acknowledges your contributions to the Training Team, you must meet the criteria: https://make.wordpress.org/training/handbook/getting-started/team-profile-badges/

Awarding of profile badges: There will b

[2022-11-18 14:27] azhiya commented on #1094
https://wordpress.slack.com/archives/C02RW657Q/p1668735074536709?thread_ts=1668665288.875619&cid=C02RW657Q
Micah Wood is to be awarded a badge for facilitating more than 3 online workshops: https://wordpress.tv/speakers/micah-wood/
.org handle is wpscholar

[2022-11-18 14:50] azhiya commented on #1094
Robin (robinwpdeveloper) and Abid Hasan (abidhassan112) for Online Workshops. https://wordpress.slack.com/archives/C02RW657Q/p1668742120855639?thread_ts=1668665288.875619&cid=C02RW657Q

[2022-11-18 18:11] wparasae opened #1095 "Online Workshop - Designing in the Site Editor: A WordPress Block Theme Exploration"
# Event Details
- Title: Designing in the Site Editor: A WordPress Block Theme Exploration
- Description:
Have you ever wanted to design a custom theme--either for yourself, for a client, or to submit to the [WordPress theme repository](https://wordpress.org/themes/)?

Are you interested in block themes and how they are designed?

Did you know it's possible to design a custom theme using only the

[2022-11-18 18:28] wparasae commented on #1095
Needs two co-hosts; one for the morning session and one for the evening.

[2022-11-19 02:52] courtney-pk commented on #1055
Recording uploaded to WPTV: https://wordpress.tv/2022/11/18/the-creative-side-of-blocks-vol-3/

[2022-11-19 02:52] #1055 closed

[2022-11-21 00:11] #1009 closed

[2022-11-21 01:38] chthonic-ds opened #1096 "Learn WordPress Content Error Report - Ticket"
# Error Description
- Content URL: https://learn.wordpress.org/lesson/editing-wordpress-data-records/

Just noting a small issue in Step 3 of the [Editing WordPress data records](https://learn.wordpress.org/lesson/editing-wordpress-data-records/) section of the Using the WordPress Data Layer course.

The code block in question (directly follows the sentence, "Let's update `EditPageForm` accordingl

[2022-11-21 01:46] hlashbrooke commented on #1096
@adamziel Tagging you in here since you know this content better than anyone else.

[2022-11-21 05:04] kaitohm commented on #1034
Video is now uploaded to WordPress.tv: https://wordpress.tv/2022/11/20/%e3%82%af%e3%82%a8%e3%83%aa%e3%83%ab%e3%83%bc%e3%83%97%e3%83%96%e3%83%ad%e3%83%83%e3%82%af%e3%81%a7%e3%83%96%e3%83%ad%e3%82%b0%e3%83%9a%e3%83%bc%e3%82%b8%e3%82%92%e4%bd%9c%e3%82%8d%e3%81%86%ef%bc%81/

[2022-11-21 05:04] #1034 closed

[2022-11-21 09:26] bsanevans opened #1097 "Online Workshop - Image SEO Best Practices to Make Your Content Discoverable"
# Event Details
- Title: Image SEO Best Practices to Make Your Content Discoverable
- Description: In this Online Workshop, we’ll be looking at Image SEO best practices for WordPress sites. Come share your experiences, and questions, as we learn together how to prepare site images for better discoverability.
- Target Audience: Users
- Date: I'll be holding this session twice for different timezone

[2022-11-21 10:43] fikekomala commented on #455
Great work @westnz! I love the transitions.

[2022-11-21 10:53] fikekomala commented on #676
Seems like this one has been reviewed a lot of times. Why is it still in this column?

[2022-11-21 11:26] jonathanbossenger opened #1098 "Online Workshop - Let's code: Developing Blocks without React! - Part 2"
# Event Details
- Title: Let's code: Developing Blocks without React! - Part 2
- Description: In [part 1](https://www.meetup.com/learn-wordpress-online-workshops/events/289598194/), we built a [simple WordPress block](https://github.com/jonathanbossenger/wp-learn-javascript) using plain JavaScript. However, the block was static, in that a user couldn't edit the content in any way.
This week we wil

[2022-11-21 13:49] jonathanbossenger opened #1099 "Registering Custom Font Families - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-11-21 13:49] jonathanbossenger opened #1100 "Applying Font Families via the Styles Interface - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-11-21 13:49] jonathanbossenger opened #1101 "Applying Font Families via theme.json - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-11-21 13:52] jonathanbossenger opened #1102 "Registering a Block Pattern in a Theme - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-11-21 13:56] jonathanbossenger commented on #1041
[A Developers Guide To Block Theme Development - Part 2](https://learn.wordpress.org/course/a-developers-guide-to-block-themes-part-2/) is now available for beta review.

## Review period

This beta review period is to allow interested parties the opportunity to review the course content and provide feedback.

I intend to leave this open for any feedback until the **30th of November 2022**, to acc

[2022-11-21 19:16] westnz commented on #455
Thank you @fikekomala

[2022-11-21 21:20] meaganhanes opened #1103 "Learn WordPress Content Error Report - Ticket 129845"
# Error Description
- Content URL: https://learn.wordpress.org/learn/lesson/how-do-you-insert-a-block-pattern/

Step 3 says "Determine the type of content you would like to see on your test site's homepage. Open the details summary block below to see some content suggestions for your homepage."

I got a bit stuck here as I thought it was referring to a Block on my site. The "below" helps clarify (

[2022-11-21 21:23] meaganhanes opened #1104 "Learn WordPress Content Error Report - Ticket 129940"
# Error Description
- Content URL: https://learn.wordpress.org/lesson-plan/template-parts/

in the above sentence, they mentioned that in the video below (used quotes) but there are no videos in the given content URL.

# Error Report Checklist:
- [x] Error Validated
- [ ] Error fix proposed
- [ ] Error fix reviewed
- [ ] Error fix published

[2022-11-21 21:25] meaganhanes opened #1105 "Learn WordPress Content Error Report - Ticket 130023"
# Error Description
- Content URL: https://learn.wordpress.org/learn/quiz/managing-settings-general/

I disagree with the evaluation of the answer in a quiz about General Settings:
We are discouraged to make changes to URL, as Roxy says:
All right, let's move on to URL settings. This one is super important! The URL settings for your website, whether WordPress or site address, should be set up auto

[2022-11-21 21:30] meaganhanes opened #1106 "Learn WordPress Content Error Report - Ticket 138269"
# Error Description
- Content URL: https://learn.wordpress.org/learn/lesson/a-walk-around-the-dashboard/

In the Getting Started With WordPress: Get Familiar tutorial, at the bottom of the Walk Around the Dashboard page under the title Optional: An In-Depth Look at the Dashboard - there is a link to "A Deeper Dive into Settings Workshop". The link is broken and directs to a page that displays the

[2022-11-21 21:33] meaganhanes opened #1107 "Learn WordPress Content Error Report - Ticket 138608"
# Error Description
- Content URL: https://learn.wordpress.org/contribute/

Items 3 and 4 have identical text from the second sentence on. Item 3 is about Lesson Plans and Item 4 is about Courses, but most of the Lesson Plans text from Item 3 is duplicated on the Item 4 Courses.

# Error Report Checklist:
- [x] Error Validated
- [ ] Error fix proposed
- [ ] Error fix reviewed
- [x] Error fix publi

[2022-11-21 21:34] meaganhanes opened #1108 "Learn WordPress Content Error Report - Ticket 139506"
# Error Description
- Content URL: https://learn.wordpress.org/lesson-plan/locking-blocks-in-the-full-site-editor/

In the Example Lesson section, under the first heading, "Locking blocks in the full site editor", one sentence is duplicated, once at the end of the first paragraph, and then again, as the only line of the second paragraph. The duplicated sentence is:

In this session, we'll explore

[2022-11-21 21:38] meaganhanes opened #1109 "Learn WordPress Content Error Report - Ticket 135715"
# Error Description
- Content URL: https://learn.wordpress.org/learn/lesson/what-is-full-site-editing-fse/

Themes section is in past-tense which is different from the rest of the text and makes it confusing.
This entire lesson should be revised to active tense.

# Error Report Checklist:
- [x] Error Validated
- [ ] Error fix proposed
- [ ] Error fix reviewed
- [ ] Error fix published

[2022-11-21 21:39] meaganhanes opened #1110 "Learn WordPress Content Error Report - Ticket 135949"
# Error Description
- Content URL: https://learn.wordpress.org/lesson-plan/how-to-create-and-register-a-block-pattern__trashed/

As the URL shows, this lesson plan seems to be trashed and then republished but the __trashed suffix is still there.

# Error Report Checklist:
- [ ] Error Validated
- [ ] Error fix proposed
- [ ] Error fix reviewed
- [ ] Error fix published

[2022-11-21 21:42] meaganhanes opened #1111 "Learn WordPress Content Error Report - Ticket 142436"
# Error Description
- Content URL: https://learn.wordpress.org/lesson/what-is-the-site-editor/

Typo. The first subhead says "What this helpful video tutorial". It should say something like....

"Watch this helpful video tutorial"

# Error Report Checklist:
- [ ] Error Validated
- [ ] Error fix proposed
- [ ] Error fix reviewed
- [ ] Error fix published

[2022-11-22 02:46] adamwoodnz commented on #1037
All the Topics required for the Lesson Plan landing pages have now had icons added and been made sticky, so this PR can land with no obvious change on the frontend, apart from possibly the order of the tiles changing.

[2022-11-22 10:57] ockham opened #1113 "Learn WordPress Content Error Report - Ticket"
# Error Description
- Content URL: https://learn.wordpress.org/lesson-plan/create-a-basic-child-theme-for-block-themes/

There's currently no mention of Style Variations: A block theme's child theme will currently _not_ automatically include the parent's Style Variations. To have them included, the child theme's author will have to copy the parent theme's `styles/` directory.

Originally reported

[2022-11-22 18:48] azhiya commented on #1094
Ben Evans (bsanevans) who facilitated a number of workshops https://wordpress.slack.com/archives/C02RW657Q/p1668816088180909?thread_ts=1668665288.875619&cid=C02RW657Q

[2022-11-22 20:57] westnz commented on #1052
Published: https://learn.wordpress.org/tutorial/trabalhando-com-estilos-globais/

[2022-11-22 20:57] #1052 closed

[2022-11-22 22:13] hlashbrooke opened #1114 "Add description and anchor links to course archive page"
It would be great if the top of [the course archive page](https://learn.wordpress.org/courses/) included a quick description/intro of what the page is all about (this must still be written - I'll circle back to this issue with the text) as well as anchor links to each of the categories on the page. This will make page navigation a bit easier, as well as prevent the issue of people only seeing deve

[2022-11-22 22:35] hlashbrooke commented on #1114
Some text we could use (just from my own head, so I'm happy to be overruled):

[2022-11-22 23:37] wparasae commented on #631
Update: Module #3 is ready for review. Please leave all comments on the related lesson plan. You must have access to Learn WordPress to review. **The deadline for reviewing content will be December 2nd, 2022**

Reminder: This module is meant to make developer-level content easier for intermediate WordPress users.

**Specific Questions For Feedback**
a. Is the content correct? Are there any errors?

[2022-11-22 23:41] wparasae commented on #843
The following is ready for review:

2. Your First Codes In theme.json - [Review Module 3, Lesson 2 Here](https://learn.wordpress.org/wp-admin/post.php?post=21252&action=edit) / [Leave Feedback for Module 3, Lesson 2 Here](https://github.com/WordPress/Learn/issues/843)

Specific Questions For Feedback (Leave all feedback for this lesson in a comment on this issue)
a. Is the content correct? Are the

[2022-11-22 23:42] wparasae commented on #842
The following lesson is ready for review:

1. The Basics of theme.json for New Developers - [Review Module 3, Lesson 1 Here](https://learn.wordpress.org/wp-admin/post.php?post=21250&action=edit) / [Leave Feedback for Module 3, Lesson 1 Here](https://github.com/WordPress/Learn/issues/842) is ready for review.

Specific Questions For Feedback (Leave all feedback for this lesson in a comment on this

[2022-11-22 23:42] wparasae commented on #838
The following lesson is ready for review:

3. A Website's Look and Feel: Design Element Best Practices and Brainstorm: [Review Module 3, Lesson 3 Here](https://learn.wordpress.org/wp-admin/post.php?post=23544&action=edit) / [Leave Feedback for Module 3, Lesson 3 Here](https://github.com/WordPress/Learn/issues/838)

Specific Questions For Feedback (Leave all feedback for this lesson in a comment on

[2022-11-22 23:43] wparasae commented on #839
The following lesson is ready for review:

Your First Template: Create A Style Guide Using the Site Editor: [Review Module 3, Lesson 4 Here](https://learn.wordpress.org/wp-admin/post.php?post=20150&action=edit) / [Leave Feedback for Module 3, Lesson 4 Here](https://github.com/WordPress/Learn/issues/839)

Specific Questions For Feedback (Leave all feedback for this lesson in a comment on this issue

[2022-11-22 23:45] wparasae commented on #841
The following lesson is ready for review:

Block Theme Design Challenge: Templates In The Site Editor - [Review Module 3, Lesson 5 Here](https://learn.wordpress.org/wp-admin/post.php?post=23442&action=edit) / [Leave Feedback for Module 3, Lesson 5 Here](https://github.com/WordPress/Learn/issues/841)

Specific Questions For Feedback (Leave all feedback for this lesson in a comment on this issue)
a.

[2022-11-23 01:19] westnz commented on #1041
Intro page:
Should 'here' at the end of the paragraph have a link to the registration page?
<img width="683" alt="image" src="https://user-images.githubusercontent.com/89751452/203452225-bfe915a6-9d30-499a-8826-e213912f1bb7.png">

[2022-11-23 01:24] westnz commented on #1041
I love the recap section!  Allowing a learner to check if they are ready for Part 2.

[2022-11-23 01:33] westnz commented on #887
Review:

Clear step-by-step instructions!
The Call-out blocks work well.  It helps to highlight important info, but it also succeeds in chunking or grouping content.

[2022-11-23 01:40] westnz commented on #1099
Review:
Logical flow from the previous lesson into this lesson.
Should 'site editor' not be in capital letters?
Love the fact that the example code can just be copied and pasted.

[2022-11-23 01:46] westnz commented on #1100
Review:
Clear examples are used, and the screenshots are spot on to help learners visually.

Should you maybe add a screenshot below this call-out block?
<img width="933" alt="image" src="https://user-images.githubusercontent.com/89751452/203454508-a5d9ec75-e08e-4c51-8aa5-624a51264ae0.png">

[2022-11-23 01:59] #1037 closed

[2022-11-23 02:51] adamwoodnz commented on #1004
Language meta field is now applied to all content types. Tutorials already have this prioritisation applied, see [wporg_archive_query_prioritize_locale](https://github.com/WordPress/Learn/blob/trunk/wp-content/themes/pub/wporg-learn-2020/functions.php#L477)

[2022-11-23 03:09] westnz commented on #1101
Review:

The Heading appears twice:
<img width="1046" alt="image" src="https://user-images.githubusercontent.com/89751452/203460931-46db7a12-0b02-45ad-901f-fd95ffa05864.png">

Very practical: "Now, let’s take what you’ve learned and use it to set up font families."

I don't see any assessments for the 'Custom Blocks in Block Themes' module, but I assume it is because of all the practical steps and

[2022-11-23 03:24] westnz commented on #1041
Should Site Editor and Editor be in capital letters?

[2022-11-23 03:39] westnz commented on #894
Review:

Patterns are beautifully explained.

I have seen some words in bold here for emphasis, but also elsewhere in the course so far.
<img width="921" alt="image" src="https://user-images.githubusercontent.com/89751452/203464535-72e8e8aa-47ea-4f0c-86f2-fc985541f960.png">
I completely get it, but as far as I remember, it is not helpful for screen readers.  Just thought I will point that out: htt

[2022-11-23 10:27] jonathanbossenger commented on #1113
I think a good way forward here is to create additional separate content about block theme capabilities in a child theme

1. Child theme basics (already covered by https://learn.wordpress.org/lesson-plan/create-a-basic-child-theme-for-block-themes/)
2. Theme.json in child themes
3. Templates and template parts in child themes
4. Patterns in child themes
5. Styles in child themes

[2022-11-23 13:51] jonathanbossenger commented on #1061
https://learn.wordpress.org/tutorial/streamline-your-block-theme-development-with-create-block-theme/

[2022-11-23 13:51] #1061 closed

[2022-11-23 15:10] jonathanbossenger commented on #517
https://user-images.githubusercontent.com/180629/203580982-ddb5aa87-bcfe-482c-809a-adc436436b48.mp4

I excluded the section on "A quick introduction to developing themes in the Site Editor" and was able to get a video tutorial down to under 10 minutes, which I think is ok for this topic.

[2022-11-23 20:40] westnz commented on #1102
Review:

The registering process has been explained very clearly and systematically!

[2022-11-23 21:00] westnz commented on #895
Review:

Methods for using block patterns were clearly explained!

Add a full stop at the end of the paragraph:
<img width="922" alt="image" src="https://user-images.githubusercontent.com/89751452/203642675-131e6a57-c1dd-495f-8586-7be52e13f540.png">

Here 'Site Editor' is in capital letters, but in previous lessons, site editor and editor have been in lowercase. I think it should be in capital let

[2022-11-23 21:08] westnz commented on #896
Review:

Short and sweet!

[2022-11-23 21:22] westnz commented on #897
Review:

Logical and clear instructions!

Should the title not be H1 and the main headings H2?  Maybe they are, and I just can't see the difference:
<img width="922" alt="image" src="https://user-images.githubusercontent.com/89751452/203646699-2ff7828c-aad1-447e-b485-6fb312558eab.png">

Ensure all sentences have full stops. Also, proofread point 4:
<img width="922" alt="image" src="https://user-im

[2022-11-23 21:31] westnz commented on #898
Review:

Solid info and explanations.

It was also clarified that the object is to learn how to use the translation functions in your hooks and not about the details of how to make your theme translatable. Resources to learn more about how to make your theme translatable were shared.

[2022-11-23 21:39] #1038 closed

[2022-11-23 21:45] westnz commented on #899
Review:

Clearly and systematically explained!!

Point 2: add a full stop
<img width="912" alt="image" src="https://user-images.githubusercontent.com/89751452/203650595-4874b1c6-2f8a-446c-b9e4-e5ba79205fa9.png">

Is it content or contents?
<img width="912" alt="image" src="https://user-images.githubusercontent.com/89751452/203650756-a2c10334-85cb-475a-b99d-6750d464978c.png">

Add full stops :-)
<i

[2022-11-23 21:50] hlashbrooke opened #1116 "Non-English tutorials do not show in the tutorials RSS feed"
The default view on the site shows only English tutorials until you filter the archive by language. It looks like this has also affected the tutorials RSS feed, so that it only shows English tutorials: https://learn.wordpress.org/feed/?post_type=wporg_workshop - the latest published tutorial is non-English, but it doesn’t show up in the RSS feed.

This is likely related to the filter based on the

[2022-11-23 22:19] #1116 closed

[2022-11-23 22:20] westnz commented on #846
Review:

A very practical lesson with helpful code snippets and advice.

This is the last lesson in the course.  I suggest adding a conclusion and congratulating learners for completing the course etc.

[2022-11-23 22:36] westnz commented on #1041
Brilliant work!

Review Suggestions:

1. Adding some assessments or practical activities with instructions.  An idea for quiz questions where learners need to apply their knowledge is to add a screenshot of a code snippet, with an error, and then, of course, choose the correct answer or solution.
2. Adding a conclusion to wrap things up at the end of the course.

[2022-11-23 22:54] westnz commented on #517
Great job at keeping it under 10 minutes!

You are becoming a pro at using annotations.

Suggestion:
0:40 -  1:41 Adding separate slides for each point.  When the slide came up, I started reading and couldn't focus on what was being said. You were still talking about point 1 while I was reading about the other points. 😄  Ensuring that each point correlates with what is being said helps a learner f

[2022-11-24 01:06] marklchaves commented on #715
Hi @webtechpooja, I'd love to review this doc to _get my feet_ wet. My first comment is for the third sentence in the intro (description). That sentence is wordy and passive (tone).

These kinds of sentences are harder to read.

Here's how I would rewrite that.

[2022-11-24 05:50] fikekomala commented on #1080
Great work @westnz! Everything is really easy to follow. Only one thing that I think is missing, in your last example, can you also add how to customize a block's background color?

[2022-11-24 06:01] webtechpooja commented on #715
Thanks, @marklchaves for your suggestion. I'll replace it. and please let me know anything else that can be improved.

[2022-11-24 06:26] westnz commented on #1080
Thank you for the feedback @fikekomala!

[2022-11-24 09:19] jonathanbossenger commented on #1041
Thanks @westnz

Adding a conclusion to wrap things up at the end of the course.

Yes, I plan to add quizzes at the end of each module, and a summary.

[2022-11-25 01:46] adamwoodnz commented on #1087
Thanks for raising, this will be fixed in https://github.com/WordPress/Learn/issues/1004

[2022-11-25 01:46] #1087 closed

[2022-11-25 02:45] kaitohm commented on #1054
The slides for this session can be found here: https://docs.google.com/presentation/d/10LIrjHPibJ8QVvmvhvuNkv91onRhZWKInMFBdEF1FzU/edit?usp=sharing

[2022-11-25 03:14] westnz commented on #842
Review:
- Love how you ask questions to make the learner think and draw their attention
- The screenshots are very effective
- Twenty Twenty-Three instead of Twenty Twenty Three
- Should 'site editor' be in capital letters?
- Very clever and helpful = **What can your theme.json do? So many things!**
- Just something I thought I'll mention. I remember someone said that putting text in bold to highl

[2022-11-25 03:22] westnz commented on #508
Updated version ready for review:

Please note, the name of the Post Comments block has changed to Comments block.

https://user-images.githubusercontent.com/89751452/203893932-65123d0a-d5be-45d8-a67e-6b119460f0e8.mp4

[2022-11-25 03:28] fikekomala commented on #1054
Great job, Ben! I love the bot illustrations.

A few things that I noticed:

- No typo (yay!)
- Sometimes there are too many exclamation marks. (!! or !!!)
- On the 20th slide, to make sure the case is all sentence case, change to 'Visibility settings'.

[2022-11-25 03:52] westnz commented on #843
Review:

- Clear and logical instructions/explanations
- You have effectively used annotations
- Remember to add alt text to all your screenshots :-)
- Excellent video created + explaining it in text. Love your energy in the video.
- You really clarify things for the learner.  Well done! **Example: "Without using this code, a theme will expand to as wide as the browser is. On a phone or tablet, th

[2022-11-25 04:11] westnz commented on #838
Review:

- Exactly!  You are dealing with adult learners who know what they need: **"If you already have a strong idea of who your audience is for your theme and what inspires your vision, feel free to skip ahead to the next module."**

- Clicking instead of click
<img width="558" alt="image" src="https://user-images.githubusercontent.com/89751452/203899243-22999692-7370-4f96-8814-728bc6d5977b.png

[2022-11-25 04:26] amitpatel0702 commented on #1054
Hi @bsanevans, SEO is one of my favorite topics. Glad to see all the key slides. I am sure it is going to be an amazing Workshop.

I am ready to co-host with you on **December 19th**

[2022-11-25 04:36] westnz commented on #839
Review:

- Check grammar / typo
<img width="776" alt="image" src="https://user-images.githubusercontent.com/89751452/203900064-d84a2cb3-280d-4ea3-99f6-026060c3bc07.png">

- The building material example is fantastic.  It will help the learner's creative juices to start flowing.

- I got a bit lost here. Maybe I can't see the quiz in the backend.  Is the image interactive?
<img width="1461" alt="im

[2022-11-25 07:49] kaitohm commented on #1054
@fikekomala Thank you for the review! I've made the changes you've suggested 😄

@amitpatel0702 Wonderful! I'll add you as a cohost for the 19th 🙌

[2022-11-25 10:35] webtechpooja commented on #1094
Harshit (hderashri) audited 3 lesson plans, wrote 2 recap notes, and helped with one lesson plan translation to Hindi (Indian) language

[2022-11-25 11:16] jonathanbossenger commented on #1098
https://wordpress.tv/2022/11/25/lets-code-developing-blocks-without-react-part-2-take-2/

[2022-11-25 11:18] #1098 closed

[2022-11-25 11:25] jonathanbossenger opened #1119 "Online Workshop - Let's code: Developing Blocks without React! - Part 3"
# Event Details
- Title: Let's code: Developing Blocks without React! - Part 3
- Description: So far, we've built a WordPress block using plain JavaScript which supports custom styles via a stylesheet, and which uses block attributes and the RichText component to allow the user to edit the block content. Next, we will add a block control and an additional attribute to allow the user to edit the bl

[2022-11-25 19:49] leogopal commented on #1119
@jonathanbossenger -- if you don't get a co-host, I would be happy to volunteer.

[2022-11-26 02:39] kaitohm commented on #1054
The recording from the first session has been uploaded to WordPress.tv: https://wordpress.tv/2022/11/25/what-is-seo-search-engine-optimization/

I'll close the session completely once I've run the second session.

[2022-11-26 05:35] bsanevans opened #1120 "Creating new onboarding paths - Content Creator"
This issue tracks the creation of a new onboarding handbook page for **the Content Creator role**. Editors can view/edit the draft handbook page here: https://make.wordpress.org/training/wp-admin/post.php?post=20153&action=edit

A public preview will be provided once the page is ready for general feedback.

---

An overview of this project can be found on the Training Team's blog - [Project Thread

[2022-11-26 05:37] bsanevans opened #1121 "Creating new onboarding paths - Editor"
This issue tracks the creation of a new onboarding handbook page for **the Editor role**. Editors can view/edit the draft handbook page here: https://make.wordpress.org/training/wp-admin/post.php?post=20155&action=edit

A public preview will be provided once the page is ready for general feedback.

---

An overview of this project can be found on the Training Team's blog - [Project Thread: Trainin

[2022-11-26 05:38] bsanevans opened #1122 "Creating new onboarding paths - Subject Matter Expert"
This issue tracks the creation of a new onboarding handbook page for **the Subject Matter Expert role**. Editors can view/edit the draft handbook page here: https://make.wordpress.org/training/wp-admin/post.php?post=20156&action=edit

A public preview will be provided once the page is ready for general feedback.

---

An overview of this project can be found on the Training Team's blog - [Project

[2022-11-26 05:39] bsanevans opened #1123 "Creating new onboarding paths - Administrator"
This issue tracks the creation of a new onboarding handbook page for **the Administrator role**. Editors can view/edit the draft handbook page here: https://make.wordpress.org/training/wp-admin/post.php?post=20157&action=edit

A public preview will be provided once the page is ready for general feedback.

---

An overview of this project can be found on the Training Team's blog - [Project Thread:

[2022-11-26 05:43] bsanevans opened #1124 "Creating new onboarding paths - Quick contributions"
This issue tracks the creation of a new onboarding handbook page **that guides new contributor to quick contributions**. Editors can view/edit the draft handbook page here: https://make.wordpress.org/training/wp-admin/post.php?post=20163&action=edit

A public preview will be provided once the page is ready for general feedback.

---

An overview of this project can be found on the Training Team's

[2022-11-27 22:28] #1006 closed

[2022-11-27 22:54] adamwoodnz commented on #976
Thanks for raising this @joedolson

Could you please describe the fix in more detail please? What would this look like in terms of code changes?

[2022-11-27 22:59] adamwoodnz commented on #830
Hi @amitpatel0702

I'd like to clarify this need before we get into implementation details. Could you please go into more detail about why we need to add these? Are there problems with the SEO of these pages that we're seeing in analytics or some other tooling? Are you implementing something new and require these fields for that?

[2022-11-28 01:45] westnz commented on #841
Review:

- You have shared valuable resources with learners.

- Have you considered adding a demo video to this tutorial?

- I think you might have forgotten to add more info after 'or' - see last point
<img width="1459" alt="image" src="https://user-images.githubusercontent.com/89751452/204174468-a64dfe6f-17b9-4f23-9a71-7a28ea53a210.png">

- Remove 'in'
<img width="587" alt="image" src="https://u

[2022-11-28 03:39] westnz commented on #524
Will work on updating the tutorial this week.

[2022-11-28 03:58] amitpatel0702 commented on #830
Thanks @adamwoodnz to be involved in this discussion.

Yes I have few inputs regarding SEO optimizations and how we can improvise more than that.

Let me know your availability to discuss more on this and finalize the best solution.

[2022-11-28 06:45] kaitohm commented on #1114
I love the idea, and the text looks fine, too @hlashbrooke

[2022-11-28 06:55] jonathanbossenger commented on #517
Thanks for the feedback @westnz

0:40 - 1:41 Adding separate slides for each point. When the slide came up, I started reading and couldn't focus on what was being said. You were still talking about point 1 while I was reading about the other points. 😄 Ensuring that each point correlates with what is being said helps a learner focus. I hope that makes sense 👍

Yeah, I'm so used to having code and i

[2022-11-28 08:09] vagelisp commented on #1097
Hi Ben, happy to help. Assign me as your co-host

[2022-11-28 08:10] kaitohm commented on #1097
Thanks, you're assigned @vagelisp !

[2022-11-28 10:10] mdaskary commented on #1119
Hi @jonathanbossenger , I'll be ready for the next week to volunteer as co-host 🙂

[2022-11-28 19:35] westnz commented on #517
Great stuff

You could also try out the gradient wipe in Camtasia:
<img width="283" alt="image" src="https://user-images.githubusercontent.com/89751452/204365138-d2bbd3d3-eb13-46f7-86a4-755246bf4fc0.png">

[2022-11-28 20:08] westnz opened #1126 "Marketing Your Site (SEO) - Tutorial"
# Topic Description
Write a description of the topic here.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [ ]

# Guidelines
Review the [team guidelines](https://make.wordpress.org/training/handbook/guidelines/)

# Tutorial Development Checklist

- [ ] Vetted by instructional designers for content idea
- [ ] Provide feedback of the

[2022-11-28 20:49] adamwoodnz commented on #830
I'm available asynchronously on Github all the time!

I activated Yoast SEO locally and the data added to a Lesson Plan is

[code]

While this plugin offers many features, it's my understanding that we prefer to implement our own solutions based on the exact feature set we require. I think implementing the tags suggested on https://developers.google.com/search/docs/crawling-indexing/special-tags i

[2022-11-28 22:59] westnz commented on #513
[Updated](https://learn.wordpress.org/tutorial/applying-duotone-filters-to-change-color-effects/) with small UI changes in the text portion with explanation + screenshots as [discussed ](https://make.wordpress.org/training/2022/05/27/training-team-meeting-may-24-26/)in the Training Team.

[2022-11-29 06:51] kaitohm commented on #1097
Slides can be viewed here: https://docs.google.com/presentation/d/1YjyhGgGgDG9CrO3VonLoSkk67cpO56SMIgLkxkb74ow/edit?usp=sharing

[2022-11-29 08:16] amitpatel0702 commented on #830
Hi @adamwoodnz, I agree with you on this.

Yes, we need to implement our own solution based on the features we can see in Yoast Meta box (as seen in attached image).

**For Keywords** - Its clear that it's not utilized by Google or any other search and even Yoast doesn't add it. But for us Keyword means - Tags (Impactful words in every page or article) that help to get more visibility across not o

[2022-11-29 09:34] abid112 opened #1128 "Online Workshop - How to Join Core Release Party | Bangla"
# Event Details
- Title: How to Join Core Release Party | Bangla
- Description: WordPress versions are released often and every time a release party happens. We will learn how to join a core release party and how to participate on released version testing.
We are encouraging people to join and participate on testing of the newly released WordPress versions.
- Target Audience: Bangla Speaking Peopl

[2022-11-29 09:47] westnz opened #1129 "Starter Patterns - Tutorial"
# Topic Description
Write a description of the topic here.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [ ]

# Guidelines
Review the [team guidelines](https://make.wordpress.org/training/handbook/guidelines/)

# Tutorial Development Checklist

- [ ] Vetted by instructional designers for content idea
- [ ] Provide feedback of the

[2022-11-29 09:48] getdave commented on #1129
This looks good. I'd be interested in producing some content on this topic.

[2022-11-29 10:44] jonathanbossenger commented on #1099
Thanks, fixed.

[2022-11-29 10:46] jonathanbossenger commented on #1100
As folks who take this course are expected to have already completed part 1, it has [a section, with screenshots](https://learn.wordpress.org/lesson/saving-changes-to-global-styles/) on saving Global Styles. So we're building on that knowledge here.

[2022-11-29 10:50] jonathanbossenger commented on #1101
Note, most of the lessons are practical lessons, that learners must follow. But I had also not added any quizzes at the end of each module, by the time you reviewed. Those quizzes are now added. So there are practical steps included in most lessons (except those that are informational) and now quizzes to recap the content at the end of each module.

[2022-11-29 10:50] jonathanbossenger commented on #1101
Good spot, fixed.

[2022-11-29 10:54] jonathanbossenger commented on #894
Thanks for pointing this out. Fortunately for us, the block editor uses the `<strong>` to mark bold text, not the `<b>`, which according to the article you linked is considered acceptable.

[2022-11-29 10:54] jonathanbossenger commented on #894
I never know if lists of instructions should have full stops or not... removed the one full stop for now.

[2022-11-29 11:09] webtechpooja commented on #1128
Wordpress.tv link - https://wordpress.tv/2022/11/29/how-to-join-core-release-party-bangla/

[2022-11-29 11:09] #1128 closed

[2022-11-29 11:15] jonathanbossenger commented on #1119
@leogopal has kindly offered to co-host

[2022-11-29 11:16] jonathanbossenger commented on #1119
Thanks, @mdaskary I will ping you once my next workshop is in planning.

[2022-11-29 11:27] jonathanbossenger commented on #897
They actually are, it's the front-end design for headers of Learn WordPress.

Thanks for catching the other items, updated them.

[2022-11-29 11:30] jonathanbossenger commented on #899
I'm going to be dreaming about full stops tonight 😁

I think either works, so I just changed it to `code` to be safe! 😉

[2022-11-29 11:31] jonathanbossenger commented on #846
👍 done - https://learn.wordpress.org/lesson/congratulations-2/. Let me know if you think anything else could be added here.

[2022-11-29 11:33] jonathanbossenger commented on #1041
Update, the quizzes and summary lesson have both been added, feel free to leave any suggestions on improvement there.

My last "internal" review step is to work through the course one more time, checking for any code, formatting, or technical instructional bugs, which I will do tomorrow morning. Once that is complete, the course will be ready to be featured on Learn WordPress.

[2022-11-29 11:57] SagarLadani opened #1130 "Gujarati translation for Lesson Plan "Locking Blocks in the Full Site Editor""
# Details
- Link to original content: [https://learn.wordpress.org/lesson-plan/locking-blocks-in-the-full-site-editor/](https://learn.wordpress.org/lesson-plan/locking-blocks-in-the-full-site-editor)
- Language you'll be translating to: Gujarati
- Have you arranged for someone to review this translation?: Yes or No - No
- Reviewer's GitHub username: Reviewer needed (looking for a volunteer who can

[2022-11-29 13:01] amitpatel0702 commented on #508
Thanks @westnz for an amazing tutorial on the Comment block. Here are my notes

- Sentence case for every headline will make it more readable and effective.
- Sentence case for every headline will make it more readable and effective.
- Can we mention somewhere - Comment block is specific to template and not to data. i.e page will display page comments and post will display post specific comments.

[2022-11-29 13:35] jonathanbossenger commented on #1119
Workshop Notes:

- https://developer.wordpress.org/block-editor/reference-guides/packages/packages-editor/#blockcontrols
- https://developer.wordpress.org/block-editor/reference-guides/packages/packages-block-editor/#alignmenttoolbar
- https://github.com/WordPress/gutenberg/blob/HEAD/packages/block-editor/src/components/alignment-control/README.md
- https://developer.wordpress.org/block-editor/ref

[2022-11-29 14:03] jonathanbossenger commented on #1119
Bonus points, change BlockControls to InspectorControls and see what happens.

[2022-11-29 19:53] westnz commented on #894
You can leave out full stops for lists 👍

[2022-11-29 19:57] westnz commented on #508
Thank you for the feedback @amitpatel0702

[2022-11-29 20:01] westnz commented on #846
Looks great!

[2022-11-30 01:05] #1114 closed

[2022-11-30 01:37] hlashbrooke opened #1131 "Add intro section to Tutorials archive"
The Lesson Plans and Courses pages now have matching intro sections, so we should add the same thing to the Tutorials archive. This will create some consistency across content types on the site.

[2022-11-30 01:48] hlashbrooke commented on #1131
Text for intro:

[2022-11-30 02:13] #1131 closed

[2022-11-30 02:54] #992 closed

[2022-11-30 03:09] bsanevans opened #1133 "Spanish translation for Lesson Plan "Managing Comments""
# Details
- Link to original content: https://learn.wordpress.org/lesson-plan/managing-comments/
- Language you'll be translating to: Spanish
- Have you arranged for someone to review this translation?: No
- Reviewer's GitHub username:
- Other info: I am making an issue for a translation that was created here: https://make.wordpress.org/training/2022/09/23/wptranslation-day-contributor-day/#commen

[2022-11-30 03:09] kaitohm commented on #1133
The translated lesson plan can be found here: https://learn.wordpress.org/wp-admin/post.php?post=24049&action=edit

If you don't have access, you can preview the translation below: https://learn.wordpress.org/?p=24049&post_type=lesson-plan&preview=1&_ppp=047b5fb61a

Let me know if you're interested in reviewing this, and I can provide access to the post.

[2022-11-30 03:12] adamwoodnz opened #1134 "Reduce space at top of archive pages"
Currently there is a large space at the top of archive pages which is reducing the content a user can see above the fold:

![Screen Shot 2022-11-30 at 3 40 40 PM](https://user-images.githubusercontent.com/1017872/204698294-fa9784b2-582c-48eb-8dbc-901a0dd5f0d9.jpg)

This is caused the following CSS in `_legacy-styles.scss`, a file which is not in the repo:

[code]

I think this value could be halve

[2022-11-30 03:26] kaitohm commented on #1133
I've reached out in #polyglots for a translation review: https://wordpress.slack.com/archives/C02RP50LK/p1669778653330149

[2022-11-30 04:11] westnz commented on #524
New version. I re-recorded the whole tutorial and have made updates:

https://user-images.githubusercontent.com/89751452/204705407-5917a128-edb0-4c49-b34e-74685bccf3ff.mp4

[2022-11-30 06:04] jonathanbossenger commented on #1001
I can take this one on

[2022-11-30 07:41] fikekomala commented on #1097
I didn't find a typo on your slides, @bsanevans 👏

[2022-11-30 21:59] meaganhanes commented on #1094
Myself (meaganhanes) contributing as an Administrator of the Training Team / Faculty Team, reviewing and providing feedback on work created by others (slides, lesson plans, videos, etc).

[2022-11-30 22:31] westnz commented on #455
Updated and published: https://learn.wordpress.org/tutorial/templates/

[2022-11-30 23:16] hlashbrooke commented on #1089
Working on this in a PR: https://github.com/WordPress/Learn/pull/1135 - happy to take feedback!