[2022-08-30 21:18] colorful-tones commented on #891
- 1:09 – 1:11 Local (Flywheel) "Go to site folder". It seems out of sequence and could probably be edited out.
- 1:26 – 1:53 You cover how it can be confusing to find Local's site files. However, you kind of touched on this in my first line item ☝️ . So, maybe you could edit out the 1:09 – 1:11 and put it back in to replace this section. Also, it is worth noting that it is pretty easy to find Loca

[2022-08-31 03:35] #905 closed

[2022-08-31 03:38] Piyopiyo-Kitsune opened #914 "Online Workshop - A Personal Site in 1, 2, 3 with Patterns"
# Event Details
- Title: A Personal Site in 1, 2, 3 with Patterns
- Description: The [WordPress Block Pattern Directory](https://wordpress.org/patterns/) went live in the WordPress 5.8 release on July 20, 2021. Recently with WordPress 5.8 (releasee January 25, 2022**)** bringing Full Site Editing to core WordPress, and WordPress 6.0 (released May 24, 2022) expanding these capabilities, it has neve

[2022-08-31 10:49] jonathanbossenger commented on #908
Thank you @colorful-tones and @pbking for all this insight.

[2022-08-31 10:50] jonathanbossenger commented on #908
I think as I work through this course, I'm going to see if I can add some more context/examples to the [version 2 living document](https://developer.wordpress.org/block-editor/reference-guides/theme-json-reference/theme-json-living/).

[2022-08-31 10:54] colorful-tones commented on #908
That doc is new to me and thanks for sharing!

[2022-08-31 14:58] jonathanbossenger commented on #908
Slides created for the Workshop

https://docs.google.com/presentation/d/1-ek6T5EpZfwDve1_wjFQnMKUHCgwmUp0h4Y7qDPtkEA/edit?usp=sharing

[2022-08-31 23:21] glendaviesnz commented on #908
@jonathanbossenger FYI I [added some docs for this here](https://github.com/WordPress/gutenberg/pull/43349)

[2022-09-01 00:02] westnz commented on #872
Published: https://learn.wordpress.org/tutorial/customizing-a-header-with-patterns/

[2022-09-01 01:02] westnz opened #915 "The Editor is displaying strangely when creating a post"
## Description

When I created a new post, the title and lists were displayed in the middle of the page. The text is also displayed very widely.

## Step-by-step reproduction instructions

## Expected behaviour

The title, lists and text are all aligned normally.

## Actual behaviour

When I created a new post, the title and lists were displayed in the middle of the page. The text is also displaye

[2022-09-01 07:02] jonathanbossenger commented on #908
Awesome, thank you @glendaviesnz

I plan to review these new 6.1 features when they're merged into core.

[2022-09-01 17:39] Murad3317 opened #916 "Learn WordPress Content Error Report - Ticket"
# Error Description
- Content URL:

Write a description of the error here.

# Error Report Checklist:
- [ ] Error Validated
- [ ] Error fix proposed
- [ ] Error fix reviewed
- [ ] Error fix published

[2022-09-01 20:46] caraya commented on #652
Needs to incorporate the new variations block.json element.

https://github.com/WordPress/gutenberg/pull/42539

[2022-09-02 12:36] adamziel commented on #763
Actually, more lessons might be better suited for a follow-up course. Let's keep this one concise, it already covers plenty of material. I drafted a conclusion in here:

https://learn.wordpress.org/wp-admin/post.php?post=22512&action=edit

How do you like it @westnz ? Are we good to launch?

[2022-09-02 14:01] jonathanbossenger commented on #908
- WP TV Video - https://wordpress.tv/2022/09/02/lets-code-diving-into-theme-json/
- Slides - https://www.slideshare.net/psykro/lets-code-diving-into-themejson

[2022-09-02 17:29] annezazu opened #917 "Course: Deciding when and how to switch to a block theme"
## What

Inspired by Carolina's great resource here, I think we need a course helping folks know when and how to switch a block theme:

https://fullsiteediting.com/site-creators/switch-your-website-to-full-site-editing/

This would include practical actions to take ahead of time, current limitations to help folks make a good decision, and what to expect after switching. I imagine it could be writt

[2022-09-02 20:29] jonathanbossenger opened #918 "Online Workshop - A Beginners Guide to Block Locking in Block Themes"
# Event Details
- Title: A Beginners Guide to Block Locking in Block Themes
- Description: An overview of block locking capabilities in WordPress
- Target Audience: Beginner/Intermediate developers
- Date: 2022-09-08
- Meetup.com event link: https://www.meetup.com/learn-wordpress-online-workshops/events/288235087/
- Co-host: TBD
- Other info:

https://gutenbergtimes.com/how-to-disable-theme-featur

[2022-09-04 22:35] westnz commented on #913
https://user-images.githubusercontent.com/89751452/188335975-8b3bb6f4-fddf-4433-9a2d-be4ef570d804.mp4

[2022-09-05 00:39] westnz commented on #763
Hey @adamziel

Sounds great!  The conclusion you have written is perfect.

Let's move ahead with the review process then.

Firstly, if you publish the course, but don’t “feature” it, it doesn’t display on the front end of Learn WordPress. It will be publicly available, but only if you have the link – featuring it makes it appear on the site and also posts it to Training Team channel. It will be us

[2022-09-05 07:52] jonathanbossenger opened #919 "Feature request - Video Timestamps for Tutorials"
## Description
It would be nice if it was possible to include timestamps for WordPress.tv videos on Learn WordPress Tutorials.

WordPress.tv videos support a query variable `at` which allows the user to share the video at a specific timestamp

eg:

[code]

will start the video at the 2-minute mark.

Adding the additional autoPlay query var will also automatically play the video

[code]

It would b

[2022-09-05 08:00] jonathanbossenger commented on #919
Any interested developer, if you have access to learn.wordpress.org, you can see my embed test at this draft post

https://learn.wordpress.org/wp-admin/post.php?post=23230&action=edit

[2022-09-05 11:26] jonathanbossenger commented on #860
https://user-images.githubusercontent.com/180629/188438258-451a11de-c825-40a0-b765-ab7dada02057.mp4

[2022-09-05 12:37] adamziel commented on #763
Perfect, I just did that!

Yes please! Here's the link: https://learn.wordpress.org/course/wordpress-data-in-javascript/

That sounds perfect.

Absolutely!

Thank you @westnz and let me know how will the review go!

[2022-09-05 16:12] jonathanbossenger commented on #893
Added to WordPress.tv

https://wordpress.tv/2022/09/05/styling-your-wordpress-blocks/

Will publish on Learn tomorrow

[2022-09-05 20:30] westnz commented on #771
Link to course (draft): [https://learn.wordpress.org/course/introduction-to-block-development-build-your-first-gutenberg-block/](https://href.li/?https://learn.wordpress.org/course/introduction-to-block-development-build-your-first-gutenberg-block/)

[2022-09-05 20:37] westnz commented on #763
Thank you @adamziel

I am just going to wait a day or two as we have just asked for feedback for another course as well! 👍

[2022-09-05 21:33] jonathanbossenger commented on #893
Published https://learn.wordpress.org/tutorial/styling-your-wordpress-block/

[2022-09-05 21:33] #893 closed

[2022-09-05 22:50] westnz opened #920 "Adding forms to a Site - Tutorial"

[2022-09-05 23:22] hlashbrooke commented on #274
My thinking with saying we can move it around isn't to use it on other content types (since it's unique to Lesson Plans), but to allow us to move the widgets around as needed - this will allow us more flexibility with the sidebar layout as we add more content to it in the future. So no specific plans, but I was hoping for it to allow us flexibility as we move forward.

[2022-09-05 23:27] adamwoodnz commented on #274
So using the widget editor you'd be able to include the Lesson Plan details block wherever you see fit within this Lesson Plan sidebar?

![Screen Shot 2022-09-06 at 11 26 28 AM](https://user-images.githubusercontent.com/1017872/188520348-6b86a615-c7df-4840-95b3-e6464a2a77ca.jpg)

[2022-09-05 23:28] hlashbrooke commented on #274
Yes - exactly :)

[2022-09-06 03:10] adamwoodnz commented on #274
At the moment the details and actions (print button, etc) are grouped. Is it ok for them to stay like that, or would it be beneficial to be able to split them and move independently?

![Screen Shot 2022-09-06 at 3 10 57 PM](https://user-images.githubusercontent.com/1017872/188539154-b7bdc7b7-65f4-428a-8f96-05f1f7f6060b.jpg)

[2022-09-06 07:10] Piyopiyo-Kitsune commented on #914
WordPress.tv: https://wordpress.tv/2022/09/02/a-personal-site-in-1-2-3-with-patterns/

[2022-09-06 07:10] #914 closed

[2022-09-06 07:13] Piyopiyo-Kitsune opened #922 "Online Workshop - All About Reusable Blocks"
# Event Details
- Title: All About Reusable Blocks
- Description: I've noticed a trend of me suddenly springing up reusable blocks in my recent Online Workshops, so I thought it would be fun to explore reusable blocks further and how they can help you in your website workflow.
- Target Audience: Beginner
- Date: September 9th at 4 PM JST
- Meetup.com event link: https://www.meetup.com/learn-wordpr

[2022-09-06 09:24] mburridge commented on #771
The [draft of the Block Development Course](https://learn.wordpress.org/course/introduction-to-block-development-build-your-first-gutenberg-block/) is now ready for review. :tada:

Please provide your feedback as a comment here by Thursday, 15 September.

Here's some things to take into account during your review of the course:

- check for **technical accuracy**, i.e. have I described or explaine

[2022-09-06 10:28] umeshggupta opened #923 "Need some spacing between the select filter box and filter button on the iPad device"
## Description
Need some spacing between the select filter box and filter button on the iPad device
URL: https://learn.wordpress.org/tutorials/

## Step-by-step reproduction instructions
Please list the steps needed to reproduce the bug. For example:
1. Go to 'https://learn.wordpress.org/'
2. Click on 'View All Tutorials'
3. Select  'iPad Device'

## Screenshots or screen recording (optional)
![Cl

[2022-09-06 10:33] gziolo commented on #771
Excellent work @mburridge. I started looking at the course to check how it all fits together and it's an impressive work. I like how you divided it into sections and how you introduce new concepts as the work in the block progresses.

I have some technical feedback to share for the first two modules:

General note, code examples don't follow [WordPress Coding Standards](https://developer.wordpress

[2022-09-06 12:02] gziolo commented on #771
Module 3, 4 & 5

## Create custom inspector panel controls

It's a bit painful experience to avoid using `useBlockProps` and pass styles through `style` for features that are handled by the block editor. It's fine though as a learning exercise as it gets refactored later. What I'm worried about, it can lead also to subtle bugs if there is any style generated by `useBlockProps` because the `style`

[2022-09-06 12:58] jonathanbossenger commented on #918
Live stream #1, attempting to use and think of a use case for locking blocks in template files.

https://www.twitch.tv/videos/1583424561

Question that came out of it, what is the use case for locking blocks in template files.

[2022-09-06 13:09] jonathanbossenger commented on #918
Additional reading that came out of the live stream: https://github.com/WordPress/gutenberg/issues/37489

[2022-09-06 13:09] jonathanbossenger commented on #918
@mrfoxtalbot has kindly offered to co-host.

[2022-09-06 13:12] mburridge commented on #771
Thanks so much for reviewing the course @gziolo and for your comments and  feedback. Thanks also for your very kind remarks.

The repo for the project is [here](https://github.com/mburridge/multi-columns). Please feel free to submit PRs that bring the code into line with the WordPress Coding Standards (if you have the time) where you discern that it deviates from them and I'll update the tutorial

[2022-09-06 13:39] gziolo commented on #771
In theory, you should be able to run the following commands with `npm run` in the repository:

https://github.com/mburridge/multi-columns/blob/d3833f2eee965f51026b957128aa456408f72c57/package.json#L10-L12

[code]

It probably gets the default version of Prettier installed instead of the forked one for WordPress. I guess it's the issue with npm aliases... Yes, I checked `package-lock.json` file and

[2022-09-06 16:29] vagelisp commented on #923
It looks OK on the device ( iPad mini ) on both Chrome and Safari.

![IMG_0004](https://user-images.githubusercontent.com/9304640/188687828-0caea686-8c8c-432e-b178-7be3a3a52f94.PNG)

( screenshot from safari - Greek language )

[2022-09-06 16:34] azhiya commented on #913
@artdecotech has volunteered to review this.

[2022-09-06 16:39] azhiya commented on #906
@vagelisp has volunteered to review this.

[2022-09-06 16:44] azhiya commented on #601
Oops, looks like I missed this one. @westnz do you want me to go ahead and publish

[2022-09-06 18:29] azhiya commented on #601
It looks like the changes were published on August 9, 2022.

[2022-09-06 18:35] azhiya commented on #771
Moving this to "Review in Progress" column.

[2022-09-06 18:46] azhiya commented on #919
Ooh, I like this idea. Similar to chapters on YouTube. It would allow me to skip to the section that I want.

[2022-09-06 18:54] azhiya commented on #917
I like this idea very much and I know Sarah was working on a [lesson plan for migrating from a Pagebuilder to the block editor](https://github.com/WordPress/Learn/issues/800) which could potentially be part of this course.

@westnz and @wparasae have a better understanding of the Course workflow than I do.

[2022-09-06 18:55] azhiya commented on #872
I've closed this since it's now published.

[2022-09-06 18:55] #872 closed

[2022-09-06 18:59] azhiya commented on #812
Closing this now that it has bene published.

[2022-09-06 18:59] #812 closed

[2022-09-06 22:22] westnz commented on #917
Great suggestion and something we will look at closer once the Block [Theme Development courses ](https://make.wordpress.org/training/2022/09/01/summary-update-courses-currently-in-development-1-september-2022/)are finished.

[2022-09-07 01:16] hlashbrooke commented on #274
If we could split them into separate blocks that we can move around as widgets, that would be ideal.

[2022-09-07 07:31] jonathanbossenger commented on #919
@azhiya yes, exactly that.

[2022-09-07 07:50] kafleg commented on #574
While checking the draft, I found some issues. Please let me know if I need to edit it or if you'll do it yourself.

1. Readiness Questions - It is missing questions?
2. Slides - The link to the slide is invalid.

[2022-09-07 08:34] jonathanbossenger commented on #884
Published: https://learn.wordpress.org/tutorial/converting-a-shortcode-into-a-block/

[2022-09-07 09:48] jonathanbossenger commented on #918
Additional reading: https://make.wordpress.org/core/2022/02/09/core-editor-improvement-curated-experiences-with-locking-apis-theme-json/

[2022-09-07 10:06] #884 closed

[2022-09-07 11:54] mburridge commented on #771
I take your point, but as you observe this is a learning exercise. The presumed audience is developers new to React and maybe even new to JavaScript, having come from a PHP background. I'm trying in the course to introduce concepts gradually and in this instance show them a way to do it that they might already be familiar with, or at least able to understand the code, and then refactor it to show

[2022-09-07 13:51] jonathanbossenger commented on #918
Prep notes

- [ ] Review how to disable settings
	- [ ] Disable the ability to change the post title fontStyle and fontWeight
- [ ] Locking blocks from the editor
	- [ ] Edit Home Template
	- [ ] Review how locking works
		- [ ] Either from the list view
		- [ ] Or from the block settings
	- [ ] Review the options
		- [ ] Lock all = movement and removal
		- [ ] Or just movement
		- [ ] Or just rem

[2022-09-07 13:52] jonathanbossenger commented on #918
Code snippets

[code]

[code]

[2022-09-07 18:20] artdecotech commented on #913
Hi @westnz – this is a great tutorial! I learned a lot.

One concern during the Roger Lister CTA example, the text is not legible when it is in front of his face, I wonder if that would be the case on small screen sizes? I have read that it's important to keep contrast and mobile screen sizes in mind when using the Cover block. Showing how to preview the page on mobile might be helpful here. Not a

[2022-09-07 21:20] westnz commented on #913
Hey @artdecotech

Thank you very much for the feedback.

`the text is not legible when it is in front of his face`
When you open the List View and Sidebar Settings that usually happens, but when you close it you will see that everything is in proportion.  Showing the mobile screen preview is a great idea.  I will see how it looks.

`show a cover block in line with text around it / alternate alignm

[2022-09-08 01:24] westnz commented on #813
https://user-images.githubusercontent.com/89751452/189012893-9f02e482-9aca-4adb-acf3-3dd4776938cf.mp4

[2022-09-08 01:25] westnz commented on #813
**Review: Courtney Patubo Kranzke**

"At about 6:00, I wasn't sure what changing the navigation orientation to vertical did — it wasn't visually apparent to me. Is it worth explaining what that does quickly? Or is it something obvious that everyone else knows and it's only me learning for the first time"

[2022-09-08 01:26] westnz commented on #813
**Review: Sarah Snow**

"I love that you talk about "why" -- it aims to improve user experience indeed. Good adult learning principal! Around the :11 mark, you might consider showing an example of a footer to orient the viewer a little quicker, but that's an optional add."

[2022-09-08 01:36] westnz commented on #920
https://user-images.githubusercontent.com/89751452/189014261-8d731fd1-7918-4f15-a36b-43fa1cb90656.mp4

[2022-09-08 01:39] westnz commented on #920
**Review: Hugh Lashbrooke**

"I like that you used a different plugin for each type of form - that's a great way of showing how to use different options! I think it might be good to add a line at the end that says something like “there are lots of other form plugins available in the plugin directory, so you can choose the one that’s right for you."

[2022-09-08 03:39] amitpatel0702 commented on #913
Hi @westnz,

Thanks for the great tutorial. Here are my comments.

- You covered the following crucial topics very well.

1. Cover block is a container block and it can contain other blocks in it.
2. Focal point setting which is really helpful for mobile views.
3. Dual tone settings in the background.

- I like your style of presentation. Loved the way you added  "Color to match Roger's shirt"  🙂

[2022-09-08 03:53] westnz commented on #913
Thank you very much @amitpatel0702

[2022-09-08 05:17] westnz commented on #813
Published: https://learn.wordpress.org/tutorial/customizing-a-footer-with-patterns/

[2022-09-08 05:17] #813 closed

[2022-09-08 09:31] webtechpooja commented on #574
@TeBenachi Suggestions (He suggested on Slack conversation):
For the Question section, I’d like to add the following questions, but I don’t have access to the editor. Would you please help me update?

- Did you check the theme [requirements](https://make.wordpress.org/themes/handbook/review/required/)?

- Are you ready to submit your theme to the directory?

Also, I didn’t make the slides for this

[2022-09-08 09:33] webtechpooja commented on #574
Sorry accidentally closed the issue, now it is again in Review in Progress column.

[2022-09-08 10:33] kafleg commented on #574
Looks good. :)

[2022-09-08 11:59] jonathanbossenger commented on #821
I have decided to try and build the content publicly, by using a separate GitHub repository in my personal account. I am doing this for a few reasons:

1. It allows content creation in public, as opposed to Sensei on Learn WordPress, which is only accessible to WordPress training team contributors
2. It allows for feedback from any interested contributors
3. It allows for pull requests, so contrib

[2022-09-08 12:19] jonathanbossenger commented on #821
[Course Introduction](https://github.com/jonathanbossenger/block-theme-course/blob/main/01-Introduction.md)

[2022-09-08 12:22] jonathanbossenger commented on #868
[Module 01: Lesson 01 - Block Theme Requirements: A Review](https://github.com/jonathanbossenger/block-theme-course/blob/main/module-01/01-Review-Block-Theme-Basics.md)

[2022-09-08 20:10] hlashbrooke opened #925 "Add Code Syntax Block upgrades to Learn"
DevHub recently received upgrades to the Code Syntax Block that make code blocks much more useful and easier to use. We'd like to get these improvements added to Learn as well.

Here's an example of the upgrades in action: https://developer.wordpress.org/block-editor/reference-guides/data/data-core-blocks/

And this is where I'm told the upgrades were implemented: https://github.com/WordPress/wpor

[2022-09-08 21:52] colorful-tones opened #926 "Online Workshop - Block Theme Builders: Choosing & Using Fonts"
# Event Details
- Title: Block Theme Builders: Choosing & Using Fonts
- Target Audience: WordPress Users and Builders with an interest in block theme development and design
- Date: Thursday, September 15 2022
- Meetup.com event link: https://www.meetup.com/learn-wordpress-online-workshops/events/288329285/
- Co-host: @wparasae

There is no question that typography is a critical design choice when

[2022-09-08 21:55] colorful-tones commented on #926
Goals:

- Picking a font from Google Fonts (or alternative)
   - reasoning: readability, aesthetics
   - downloading and converting to `.woff2`
   - placing in theme structure
- Using `theme.json` `fontFamily` entry to declare
- Using `theme.json` to specify and use a specific font family
- Using variable fonts: considerations for font weight usage, the performance impact
- The future of the [Webf

[2022-09-09 00:53] Piyopiyo-Kitsune opened #927 "Online Workshop - Block & Theme Global Styles Customization"
# Event Details
- Title: Block & Theme Global Styles Customization
- Description: Block Themes have introduced more versatility to our site design than ever before. With the highly customizable theme.json file, themes can now hold multiple design styles, giving users flexibility to quickly change their site's aesthetic. From there, individual blocks can be further customized to a site owner's desi

[2022-09-09 08:11] Piyopiyo-Kitsune commented on #922
WordPress.tv - https://wordpress.tv/2022/09/09/all-about-reusable-blocks/

[2022-09-09 08:11] #922 closed

[2022-09-09 08:39] gziolo commented on #771
I had to check how `useBlockProps` is documented to have a better overview of why we have a different understanding how this should be explained. This is the code documentation:

https://github.com/WordPress/gutenberg/blob/35f14cc073e97a4c14c01bb5c28ac40944282964/packages/block-editor/src/components/block-list/use-block-props/index.js#L45-L52

This is a way to mark a HTML element as a block wrappe

[2022-09-09 21:17] wparasae commented on #631
**Notes on Design and Accessibility**
-Good design is good for accessibility. Some things to weave into this course:

-Consider mixed case for people with dyslexia; all uppercase or all lowercase may fit your aesthetic, but it may make it challenging for everyone to access your content.

-Mini-lesson on headings and heading sizes; how to use headings (like a college essay) - might be a good supple

[2022-09-10 18:47] wparasae commented on #631
Update: The modules under "Theme Enhancements" probably should be courses or mini-courses of their own. I may separate them from this course and simply do a quick summary of them so people know they exist, but each of these lessons are probably mini-courses of their own. Will separate accordingly.

[2022-09-10 19:03] jonathanbossenger commented on #846
@wparasae after doing the research and prep for the block locking for beginners workshop, I discovered the following:

1. The purpose of block locking is to make it so that anyone editing the theme on another WordPress install (ie client site) can't move or remove the locked blocks when editing the theme in the Site Editor.
2. In order to edit the theme in the site editor, you need to be an admini

[2022-09-10 20:06] wparasae commented on #846
Yes, we should definitely move this. Thank you for diving so deeply into this! You're welcome to link to this in your course, and I will remove it from mine when I do my course overhaul. :)

[2022-09-11 20:42] wpscholar opened #932 "Test Topic - Lesson Plan"
# Topic Description
Write a description of the topic here.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [ ]

# Guidelines
Review the [team guidelines] (https://make.wordpress.org/training/handbook/guidelines/)

# Development Checklist:
- [ ] Gather links to Support and Developer Docs
- [ ] Consider any MarComms (marketing commun

[2022-09-11 20:43] wpscholar opened #933 "Test Topic - Lesson Plan"
# Topic Description
Write a description of the topic here.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [ ]

# Guidelines
Review the [team guidelines] (https://make.wordpress.org/training/handbook/guidelines/)

# Development Checklist:
- [ ] Gather links to Support and Developer Docs
- [ ] Consider any MarComms (marketing commun

[2022-09-12 02:45] adamwoodnz commented on #925
Reopening to fix some lint issues

[2022-09-12 12:03] jonathanbossenger commented on #771
@mburridge I'm finally able to focus on reviewing the course. I will leave notes here on a per-module basis, in separate comments.

# Introduction and Module 1

General comments: Great introduction and first module! I like how you keep it light, engaging, and focused on the learning outcomes. I'm excited to move through the rest of the course.

Specific comments

## Introduction

- Just a reminder

[2022-09-12 12:45] jonathanbossenger commented on #771
## Module 2

### Make the block interactive

1. On the section adding the destructured attributes to the Edit component's function

`export default function Edit({attributes}) {`

It's not clear that the block props are always passed to the Edit (and save) function, and that they contain the attributes object from the block.json (among other things). So a sentence or two explaining this might be h

[2022-09-12 14:38] jonathanbossenger commented on #868
Suggested improvements:

1. Add links to the documentation for more technical information
2. Link back to the relevant modules on the [Create a Block Theme (Low-Code)](https://github.com/WordPress/Learn/issues/631) course

[2022-09-13 00:37] #925 closed

[2022-09-13 01:19] westnz opened #936 "Padding Versus Margins - Tutorial"

[2022-09-13 04:55] hlashbrooke opened #937 "Move Customiser CSS into theme files"
There is some CSS in the Customiser that was added there for convenience. This is obviously not ideal for many reasons. Can we please move this CSS into the appropriate theme files.

[2022-09-13 07:32] webtechpooja commented on #860
@askaryabbas has volunteered to review this. and @bsanevans will give a non-dev review on it.

[2022-09-13 08:12] webtechpooja commented on #500
We should move this to the Ready to create column. So when the Yoast team would like to work on it again. they can pick it up from there.

[2022-09-13 08:36] webtechpooja commented on #751
Ross Wintle is not working on it, instead working on a workshop. We can move this to ready to create column again. So anyone else can pick this.

[2022-09-13 08:37] webtechpooja commented on #519
It is more relevant to be in the Ready to create column as Sarah is not working on it. SO anyone else if want, they can pick it.

[2022-09-13 08:38] webtechpooja commented on #713
I think it should be in the Ready to Review column instead of this. @caraya can you confirm this? So we will move this accordingly.

[2022-09-13 09:23] jonathanbossenger commented on #918
- Slides: https://www.slideshare.net/psykro/lets-code-a-beginners-guide-to-block-locking-in-block-themespptx
- WordPress.tv: https://wordpress.tv/2022/09/12/lets-code-a-beginners-guide-to-block-locking-in-block-themes/

[2022-09-13 09:28] #918 closed

[2022-09-13 09:33] jonathanbossenger commented on #937
Adding the custom CSS here for reference

[code]

[2022-09-13 09:50] jonathanbossenger opened #938 "Online Workshop - What Happens When You Make Theme Changes in the Editor?"
# Event Details
- Title: What Happens When You Make Theme Changes in the Editor?
- Description: Being able to edit a theme in the Site Editor is handy, especially if you're using it as the base for a new theme. But where do those changes get saved? What happens when you make changes to Global Styles, Block styles, Theme template files, and template parts? What happens when you make changes to the

[2022-09-13 09:54] jonathanbossenger commented on #938
Tools for this workshop: http://jsonprettyprint.net/

[2022-09-13 12:28] jonathanbossenger commented on #894
Documentation: https://developer.wordpress.org/themes/advanced-topics/block-patterns/

Function docs:
1. https://developer.wordpress.org/reference/functions/register_block_pattern/
2. https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/#register_block_pattern_category

[2022-09-13 13:12] jonathanbossenger commented on #894
Block pattern registered in the patterns directory (available since 6.0)

[code]

[2022-09-13 13:12] jonathanbossenger commented on #894
Block pattern registered in functions.php

[code]

[2022-09-13 13:20] jonathanbossenger commented on #894
Deregister core block patterns

`remove_theme_support( 'core-block-patterns' );`

[2022-09-13 16:47] caraya commented on #713
Yes, it is ready to review

[2022-09-13 17:30] wparasae commented on #689
This issue is closed!

[2022-09-13 17:30] #689 closed

[2022-09-14 01:56] kaitohm commented on #860
I gave this a review, Jonathan! I have just enough coding experience to understand what you're doing there :)

## Comments
I love how your code is crisp and easy to see! Also, I liked how you demonstrated searching for stuff in the handbook at the very end of the video. Having visuals for even "simple" tasks like that is very helpful!

At 6:00, you copy-paste code from somewhere. Was that brought

[2022-09-14 03:53] hlashbrooke commented on #811
Once we have this in place for courses, online workshops and lesson plans, then I'd like to integrate this meta field with the existing locale switcher so that content in the selected locale is given priority in all queries.

[2022-09-14 04:19] hlashbrooke opened #939 "Use locale switcher selection to prioritise content"
_This is dependent on #811, which is being worked on in PR #931_

Once we have the locale meta field for all content types, it would be great if that could be used to bring all content for the locale selected by the switcher to the top of all queries.

Tutorials already have this prioritisation applied, see [wporg_archive_query_prioritize_locale](https://github.com/WordPress/Learn/blob/trunk/wp-co

[2022-09-14 05:08] kaitohm commented on #911
Just noting @kryzpt and @vagelisp both also [gave me feedback on my slides](https://wordpress.slack.com/archives/C02RW657Q/p1661751004814819). Thanks for the review, everyone!

[2022-09-14 08:42] vagelisp commented on #906
Hello @westnz; I reviewed the video and it's great. I believe it is ready to be published. Well done.

[2022-09-14 09:10] westnz commented on #906
Great stuff!  Thank you for your feedback and time @vagelisp

[2022-09-14 18:44] iandunn opened #940 "Move presenter notification to Learn-specific file"
A new Profiles notification was [added](https://github.com/WordPress/wordpress.org/pull/84) when a contributor is added as a presenter on a tutorial.

I missed it during review, but the code should go in [plugins/wporg-learn/inc/profiles.php](https://github.com/WordPress/Learn/blob/0a66440da1192158ff181104162fbcd8fa9facf6/wp-content/plugins/wporg-learn/inc/profiles.php), since it's specific to Lea

[2022-09-14 18:51] askaryabbas commented on #860
Hi @jonathanbossenger, I checked and reviewed the video, great work and that's a great way to describe the codes, and easy to understand.

I did not find any code issue, it's perfect, however, to avoid confusion and make everything clear, it's good to follow what @bsanevans suggested, it will help beginners too.

Here are a few suggestions from my side too.
- Can show the source page from where In

[2022-09-15 09:40] jonathanbossenger commented on #846
My pleasure!

Awesome, I've linked this issue up to my course overview issue, so feel free to assign it to me when you overhaul your course.

[2022-09-15 10:06] jonathanbossenger commented on #860
@bsanevans thanks for the review

No, and part of the reason is that it's different for each block. I was trying to show how to use it, without going into too much detail, to keep the video short. But I like your idea of explaining what I'm doing there.

Good catch, yes it should have a semi-colon. However, this is probably a case of [Automatic semicolon insertion](https://en.wikibooks.org/wiki/Ja

[2022-09-15 10:11] jonathanbossenger commented on #860
@askaryabbas thank you for your review.

As I mentioned to @bsanevans it's not coming from anywhere, and I didn't want to spend too much extra time in diving into the Settings Sidebar, InspectorControl, TextControl, etc, as it would make the video very long. What I plan to do is record a small voice-over update for this video to cover this.

See my earlier comment to @bsanevans about [Automatic se

[2022-09-15 11:26] jonathanbossenger commented on #860
I have added an update at 5:48 with a view of the Toolbar and Sidebar handbook doc, and an explanation.

https://user-images.githubusercontent.com/180629/190391784-f9e05958-282d-4ce5-a29e-36eb785d1293.mp4

I also intend to add the code to the written transcript for this tutorial, when it is added to Learn WordPress. (See how I've [done that previously](https://learn.wordpress.org/tutorial/converti

[2022-09-15 15:34] askaryabbas commented on #860
Excellent work @jonathanbossenger,

I love the way you demonstrate everything in the video tutorials 🙂
My previous comment was only suggestions, but I see it's not necessary as those will be described in the different tutorials, and here we try to make the video as short as possible.

I see you have updated the video and added an update at 5:48 with a view of the Toolbar and Sidebar handbook docum

[2022-09-15 19:25] azhiya commented on #574
@webtechpooja and @kafleg I'm assuming this is ready to publish, is that correct?

[2022-09-15 19:29] azhiya commented on #676
I love this @artdecotech. I think its good to go. I don't know if @courtneyr-dev wants to review it.

[2022-09-15 21:56] vagelisp opened #941 "Header's search field overflows"
## Description
It looks like the search field in the header causes the horizontal scroll.

## Screenshots or screen recording (optional)
![IMG_0005](https://user-images.githubusercontent.com/9304640/190515776-d9ae0568-d91b-4c04-8257-ad7342e3ba1c.jpeg)

![IMG_0153](https://user-images.githubusercontent.com/9304640/190515770-94ee3c17-1f59-42e0-95c5-bb63bb2d3cfa.jpeg)

## Environment information
- #1

[2022-09-15 22:07] adamwoodnz opened #942 "Allow ordering of Lesson Plan Topic and Audience tiles on landing page"
Admins need to be able to reorder the Lesson Plan Category and Audience taxonomies so that they are displayed in a particular order on https://learn.wordpress.org/lesson-plans/

Currently ordered by date created:

![Screen Shot 2022-09-16 at 10 06 40 AM](https://user-images.githubusercontent.com/1017872/190517178-8ebb23b7-1fbe-42fb-8def-dbd405f06e59.jpg)

See design for rough order: https://www.fi

[2022-09-15 22:12] courtneyr-dev opened #943 "Allow for PNG/SVG option in Lesson Plan landing page"
On https://user-images.githubusercontent.com/2846578/101688767-7fb4c680-3a3a-11eb-867c-caad735ce061.png we see the Theme Development icon appearing like {/}, but that isn't an existing Dashicon. https://developer.wordpress.org/resource/dashicons

From the Category and Audience taxonomy in Lesson Plans, can we provide an option to link to an svg/png hosted in the media library?

https://wordpress.s

[2022-09-15 22:13] adamwoodnz opened #944 "Accessibility improvements on Lesson Plan landing page"
https://learn.wordpress.org/lesson-plans/ could benefit from the following a11y improvements:

1. The dashicons associated with topics/audiences, etc., should use aria-hidden="true" to prevent the possibility they could be read as characters.
2. Focus states are kind of minimal; the single-pixel dotted outline offers poor visibility. (They also end up looking accidental, rather than designed.)
3.

[2022-09-15 22:21] StevenDufresne commented on #944
The target zones for clicking are somewhat unpredictable, is it possible to make the whole tile clickable?

<img width="400" alt="Screen Shot 2022-09-16 at 7 19 56 AM" src="https://user-images.githubusercontent.com/1657336/190518814-6d655f22-345b-400b-9765-55ca866ce895.png">

[2022-09-15 22:32] adamwoodnz commented on #944
Yes I noticed that too and was going to create another ticket for some UI tweaks but it probably makes sense to bundle that in here too 🙏

[2022-09-15 23:24] wparasae commented on #845
Update: We will use system fonts with this rather than downloading and hosting them locally to create simplicity here.

[2022-09-15 23:32] wparasae commented on #843
Theme.json tools to explore in this lesson plan:

Settings:
Presets
- AppearanceTools - on and off
- Layout Settings + Why
- Typography
- (If separate from typography) Headings

[2022-09-15 23:41] wparasae commented on #838
Update: I think this one might end up being a style guide, or I may add a "create a style guide" before this module. New theme developers need to be able to see their changes taking effect, so stay tuned for that.

[2022-09-15 23:43] wparasae commented on #840
It turns out this is quite code-heavy; thus, this topic is more appropriate for the second in this series. Closing this issue.

[2022-09-15 23:43] #840 closed

[2022-09-16 04:25] westnz commented on #771
Michael, let me just take this opportunity to congratulate you again on doing a superb job.  It is no easy feat to create a course like this!!

Here is some feedback from my side:

Solid introduction!

**Module 1**
**What is a block?**
There is still this note about 'fact check'
<img width="745" alt="image" src="https://user-images.githubusercontent.com/89751452/190513966-8f29861f-77ba-48ab-bf24-b

[2022-09-16 07:12] jonathanbossenger commented on #771
# Module 3

### Create custom inspector panel controls

1. Same note as earlier regarding Inspector Panel vs Settings Sidebar
2. In the last lesson, the activity you asked the learner was to update the block to be wrapped in a div and not a p tag. Then when this lesson continues, the RichText component is still using a tagName of "p", so it might be a good idea to either tell the user to switch ba

[2022-09-16 07:17] jonathanbossenger commented on #771
@mburridge Let me reiterate Wes' earlier comments, congratulations on doing a great job putting this course together. As I'm sure you know, creating a full course is no easy task, and I think you've done a wonderful job. I learned a bunch about block development.

Sadly, I was not able to complete a full review of the course in time, and I only managed to review up to module #3. However, I did not

[2022-09-16 07:45] jonathanbossenger commented on #846
Workshop on block locking https://wordpress.tv/2022/09/12/lets-code-a-beginners-guide-to-block-locking-in-block-themes/

[2022-09-16 08:34] mburridge commented on #771
@jonathanbossenger thanks so much for reviewing up to this point and for your detailed feedback. Please feel free to continue reviewing as the time limit was imposed in order to provide some sort of deadline for community reviews. TBH I'm still open to receiving feedback from all sources, and I especially want the later stages of the course reviewed as the content gets increasingly more technical.

[2022-09-16 08:36] mburridge commented on #771
@westnz thanks for your feedback. I'll make sure to address the points you raise.

[2022-09-16 09:12] vagelisp commented on #937
I can take care of that

[2022-09-16 09:39] webtechpooja commented on #574
Yes from my side. @kafleg can confirm!

[2022-09-16 09:58] jonathanbossenger commented on #771
@mburridge ok thanks. I will keep it on my radar and do my best to review the rest of the content in the coming weeks.

@westnz as a side note, we might want to consider that reviewing a course takes considerably longer than reviewing a tutorial or lesson plan, and so we might need to allow more time for a course review.

We could still always publish the course, and ask any training faculty SMEs

[2022-09-16 10:10] jonathanbossenger commented on #860
Not a problem @askaryabbas I'm always open to suggestions. The problem I always struggle with is balancing the length of the video with how much content to include, so I tend to try and focus on one core concept, with a plan to cover other concepts in future tutorials.

I really do appreciate your feedback and suggestions, because it confirms that I'm on the right track, and helps me define future

[2022-09-16 11:20] mburridge commented on #860
Great tutorial @jonathanbossenger! You explain everything very clearly. 👌

[2022-09-16 11:25] mburridge commented on #771
Agreed, I'm not averse to extending the review period. In fact I expect the course to undergo changes and revisions even after publication as feedback comes in from people actually using the course to learn from describing where they're getting stuck or where explanations are inadequate or unclear.

[2022-09-16 13:15] jonathanbossenger commented on #869
Draft Lesson: https://github.com/jonathanbossenger/block-theme-course/blob/main/module-01/02-Review-Templates.md

I have not taken screenshots at this time, as I want to make sure to take screenshots following the contents of the Create a Block Theme (Low Code) course, which I will do once the first few modules of that course are ready to be reviewed.

[2022-09-16 13:16] jonathanbossenger commented on #870
Draft Lesson: https://github.com/jonathanbossenger/block-theme-course/blob/main/module-01/03-Review-Template-Parts.md

I have not taken screenshots at this time, as I want to make sure to take screenshots following the contents of the Create a Block Theme (Low Code) course, which I will do once the first few modules of that course are ready to be reviewed.

[2022-09-16 16:53] courtneyr-dev commented on #894
Consider including https://make.wordpress.org/core/2022/07/07/whats-new-in-gutenberg-13-6-6-july/#post-type-patterns

[2022-09-16 16:54] courtneyr-dev commented on #724
Please refer to
https://github.com/WordPress/gutenberg/pull/41791
https://make.wordpress.org/core/2022/07/07/whats-new-in-gutenberg-13-6-6-july/#post-type-patterns

[2022-09-16 16:57] courtneyr-dev opened #945 "Select Pattern when Creating any Post Type - Lesson Plan"
# Topic Description
In WordPress 6.1, you can define patterns that will pop into a modal when creating any post type. This involves adding code to your theme or child theme to define the patterns

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- https://github.com/WordPress/gutenberg/pull/41791
- https://make.wordpress.org/core/2022/

[2022-09-16 17:02] courtneyr-dev commented on #878
Include https://github.com/WordPress/gutenberg/pull/41189
https://make.wordpress.org/core/2022/07/07/whats-new-in-gutenberg-13-6-6-july/#template-types

[2022-09-16 17:03] courtneyr-dev commented on #759
Include https://make.wordpress.org/core/2022/07/07/whats-new-in-gutenberg-13-6-6-july/#other-highlights

[2022-09-16 17:09] courtneyr-dev commented on #715
Add how to unset: https://github.com/WordPress/gutenberg/pull/39564

[2022-09-16 17:09] courtneyr-dev commented on #513
Add how to unset: https://github.com/WordPress/gutenberg/pull/39564

[2022-09-16 17:09] courtneyr-dev commented on #602
Add how to unset: https://github.com/WordPress/gutenberg/pull/39564

[2022-09-16 17:18] courtneyr-dev commented on #846
This is a duplicate of https://github.com/WordPress/Learn/issues/739 in its purpose. Can we close this one @wparasae ?

[2022-09-16 17:19] courtneyr-dev commented on #739
Include https://make.wordpress.org/core/2022/07/20/whats-new-in-gutenberg-13-7-20-july/#lock
https://github.com/WordPress/gutenberg/pull/41876

[2022-09-16 17:22] courtneyr-dev commented on #878
https://make.wordpress.org/core/2022/07/21/core-editor-improvement-deeper-customization-with-more-template-options/

([42127](https://github.com/WordPress/gutenberg/pull/42127))([41875](https://github.com/WordPress/gutenberg/pull/41875))([42138](https://github.com/WordPress/gutenberg/pull/42138)) ([42457](https://github.com/WordPress/gutenberg/pull/42457)).

[2022-09-16 17:24] courtneyr-dev commented on #615
https://github.com/WordPress/gutenberg/pull/41722

[2022-09-16 19:44] courtneyr-dev commented on #942
https://learn.wordpress.org/pathways-to-learn-wordpress/ is a beginning order of content, but always new features will come needing to be added between other things.

[2022-09-17 07:11] kaitohm commented on #907
This session is now complete! Please find the resources below:
* WordPress.tv recording: [10 種類のテキストブロック　〜使い分けのコツ〜](https://wordpress.tv/2022/09/16/10-%e7%a8%ae%e9%a1%9e%e3%81%ae%e3%83%86%e3%82%ad%e3%82%b9%e3%83%88%e3%83%96%e3%83%ad%e3%83%83%e3%82%af%e3%80%80%e3%80%9c%e4%bd%bf%e3%81%84%e5%88%86%e3%81%91%e3%81%ae%e3%82%b3%e3%83%84%e3%80%9c/)
* PDF slides: https://drive.google.com/file/d/1dAQe9d50HG

[2022-09-17 07:11] #907 closed

[2022-09-17 07:19] bsanevans opened #946 "Online Workshop [Japanese] - Row/Stack blocks and responsive design"
# Event Details
- Title: 行・縦積みブロックでレスポンシブデザインを体験！
- English title: Experience responsive design with the row and stack blocks!
- Description: We'll talk about basic concepts behind responsive design, with hands-on activities involving the row and stack blocks to experience responsive design.
- Target Audience: Beginners to the Block Editor and Responsive Design
- I'll be hosting this workshop twic

[2022-09-18 02:09] kafleg commented on #574
It's good from my side too.

[2022-09-18 16:51] tmamb opened #947 "P2 — The New Working"
https://wordpress.com/p2/

[2022-09-18 16:52] tmamb opened #948 "#P2 — The New Working"
https://wordpress.com/p2/

[2022-09-18 19:06] #947 closed

[2022-09-18 19:06] #948 closed

[2022-09-18 21:28] colorful-tones commented on #926
Final recording of workshop on WordPress.tv https://wordpress.tv/2022/09/15/block-theme-builders-choosing-using-fonts/

[2022-09-18 21:32] colorful-tones commented on #926
Closing this out as complete.

[2022-09-18 21:32] #926 closed

[2022-09-18 22:44] westnz commented on #936
https://user-images.githubusercontent.com/89751452/190931323-25a52025-e515-48ba-b751-7302200161a2.mp4

[2022-09-19 01:20] vagelisp commented on #936
Maybe it would be better to call Padding and Margin properties instead of elements in the intro?

[2022-09-19 01:50] westnz commented on #763
Please note:

A technical review was done by @getdave, as well as, @draganescu and @scruffian whilst the course was created.

[2022-09-19 01:52] westnz commented on #771
Good idea @jonathanbossenger _We could still always publish the course, and ask any training faculty SMEs to review as/when they have time._

[2022-09-19 06:21] jonathanbossenger opened #949 "Tutorial - Introduction to securely developing plugins"
# Topic Description
With WordPress now powering over 40% of the web, website owners need to think more about online security. Almost every week a new plugin vulnerability is found and patched, leading to concerns about the security of WordPress.

Fortunately for the new plugin developer, the WordPress developer handbook has an extensive section on Plugin Security. If followed, plugin vulnerabiliti

[2022-09-19 07:01] amitpatel0702 commented on #936
Hi @westnz, Thanks for sharing this tutorial. Here are my comments.

- Tutorial shows very clear difference between padding and margin.
- You have shown the exact option for padding and margin at the block level.
- Tutorial also shows one crucial point - Margin settings change only top and bottom and not right or left.

[2022-09-19 13:46] tmamb opened #950 "#ComplianzPartnershipSoboomzenworld.wordpress.com"
https://github.com/Really-Simple-Plugins/complianz-gdpr

[2022-09-19 13:52] tmamb opened #951 "#Developers guide for Third-Party integrations - The Privacy Suite for WordPress soboomzenworld.wordpress.com"
https://complianz.io/developers-guide-for-third-party-integrations/

[2022-09-19 13:54] #950 closed

[2022-09-19 13:56] tmamb opened #952 "#Consent API – A Demo"
https://wpconsentapi.org/

[2022-09-19 13:59] #952 closed

[2022-09-19 14:00] tmamb opened #953 "#The new Gutenberg editing experience – WordPress.org"
https://wordpress.org/gutenberg/

[2022-09-19 14:05] #953 closed

[2022-09-19 14:33] tmamb opened #954 "#IRC Support Channel – Make WordPress Support(chat.wordpress.org)"
https://make.wordpress.org/support/irc-support-channel/

[2022-09-19 20:33] westnz commented on #936
Thank you @vagelisp and @amitpatel0702

[2022-09-19 22:38] westnz commented on #913
Review: CTA example
M: "should not use headers for text size or styling, headers are for identifying sections"

[2022-09-20 07:10] #153 closed

[2022-09-20 11:23] jonathanbossenger opened #955 "Review exporting a theme - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-09-20 13:56] jonathanbossenger commented on #955
Draft Lesson - https://github.com/jonathanbossenger/block-theme-course/blob/main/module-01/04-Exporting-theme-files.md

[2022-09-20 18:08] wparasae opened #956 "Online Workshop - Code With Me: Code Your First Settings in Theme.json"
# Event Details
- Title: Code With Me: Code Your First Settings in Theme.json
- Description: This online workshop introduces intermediate WordPress users and/or beginning developers to the easiest settings to use in theme.json, specifically utilizing AppearanceTools and Layout (Content Width). If there is time, we may move into Colors and/or Headings.
- Target Audience: Beginning Developers / Inte

[2022-09-20 18:30] wparasae commented on #631
This course is taking shape. Modules 1-3 are in rough draft form in Learn itself, but need screenshots, polish, and a workshop video. I talked with Jonathan today about moving template creation & template hierarchy to the second module of his course to better scaffold learners.

Tackling the issue of creating a polished style guide for module #3.

Modules #5 and #6 will be condensed significantly,

[2022-09-20 22:34] westnz commented on #855
Review:
- Check sound at 2:22
- 2:40 slide changes too fast
- 2:43 black screen
- Unsure why, but flashes appear in some parts of the video. Need to see why that happened and fix.
- 3:44 add transition + 4:02
- 5:01 find a different transition
- 5:27 add a red box/annotation around the plugin
- 7:42 + 8:16 don't transition to the next slide so fast

[2022-09-21 00:32] Piyopiyo-Kitsune opened #957 "Media Tips & Tricks"

[2022-09-21 00:33] Piyopiyo-Kitsune opened #958 "Online Workshop - Media Tips & Tricks"
# Event Details
- Title: Media Tips & Tricks
- Description: In this workshop, we'll go over some tips & tricks for working with media in WordPress, including:
Organizing your Media Library, Adding & removing images, Regenerating thumbnails, Applying Duotone Filters to Change Color Effects
- Target Audience: Users
- Date: 23 September 2022
- Meetup.com event link: https://www.meetup.com/learn-wordp

[2022-09-21 01:37] courtney-pk opened #959 "Online Workshop - Introduction to DEIB in WordPress"
# Event Details
- Title: Introduction to DEIB in WordPress
- Description: In this workshop, we’ll go over the basics of Diversity, Equity, Inclusion, and Belonging (DEIB). Let’s learn how to do this work together to make the WordPress community a more inclusive and welcoming community where everyone can feel a sense of belonging.
- Target Audience: All WordPress Community members
- Date: 29 Septem

[2022-09-21 01:37] westnz opened #960 "Tools: Import and Export content in WordPress - Tutorial"

[2022-09-21 06:10] jonathanbossenger opened #962 "Creating Custom Templates and Template Parts - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-09-21 06:21] jonathanbossenger commented on #846
@courtneyr-dev this lesson forms part of a [course](https://github.com/WordPress/Learn/issues/821) and is being used to track the development status of that course. So if we could please leave this open until this lesson in that course is ready to be created, thanks.

[2022-09-21 07:17] jonathanbossenger opened #963 "Recap of the Primary Templates"
# IMPORTANT
**This lesson belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson.**

#

[2022-09-21 07:17] jonathanbossenger opened #964 "Building the Primary Templates in the Editor"
# IMPORTANT
**This lesson belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson.**

#

[2022-09-21 08:11] getdave commented on #763
Just to note that I haven't performed any review on the Learn WordPress course itself. Just the original content that went into the Gutenberg repo.

[2022-09-21 09:42] Piyopiyo-Kitsune commented on #927
Slides: https://docs.google.com/presentation/d/1oeRU64t17Og9vWNAhD6_cGLPlj9l5i67gr872OZ8wU0/edit?usp=sharing

[2022-09-21 11:08] jonathanbossenger commented on #821
Module 1: Recap of Create a Block Theme (Low-Code) is ready for review.

[2022-09-22 01:42] westnz commented on #960
https://user-images.githubusercontent.com/89751452/191639777-c1134402-64b5-4e54-a776-e0539b3ca18a.mp4

[2022-09-22 01:59] hlashbrooke commented on #960
This is solid @westnz - I like it a lot! I'm happy for this to be published as it stands now.

[2022-09-22 03:20] westnz commented on #855
Published: https://learn.wordpress.org/tutorial/image-optimization/

[2022-09-22 04:14] westnz opened #965 "Block Spacing - Tutorial"

[2022-09-23 02:27] westnz commented on #965
https://user-images.githubusercontent.com/89751452/191881717-e99ba920-9f2f-4b02-9aea-6e4cb242ff76.mp4

[2022-09-23 02:34] hlashbrooke commented on #965
This is great! Short, yet effective :)

[2022-09-23 12:00] jonathanbossenger commented on #860
https://wordpress.tv/2022/09/23/using-block-attributes-to-enable-user-editing/

[2022-09-23 12:00] #860 closed

[2022-09-23 12:43] jonathanbossenger opened #966 "Online Workshop - Let's code! Creating your Primary Templates in the Editor"
# Event Details
- Title: Let's code! Creating your Primary Templates in the Editor
- Description: WordPress theme development follows the WordPress template hierarchy, which determines which templates are used depending on the content being rendered. Fortunately for the new block theme developer, the Site Editor allows you to create all the primary templates you might need, right from your WordPre

[2022-09-23 21:04] #891 closed

[2022-09-23 21:09] wparasae commented on #831
This Module is Ready For Review: https://learn.wordpress.org/learn/lesson/different-types-of-themes-overview/

[2022-09-23 21:11] wparasae commented on #833
This is ready for review: https://learn.wordpress.org/learn/lesson/what-a-new-theme-developer-needs-to-know-anatomy-of-a-block-theme/

[2022-09-23 21:11] wparasae commented on #832
This is ready for review: https://learn.wordpress.org/learn/lesson/how-classic-and-block-themes-are-developed/

[2022-09-23 21:12] wparasae commented on #834
This is ready for review: https://learn.wordpress.org/learn/lesson/setting-up-your-block-themes-development-environment/

[2022-09-23 21:12] wparasae commented on #835
This is ready for review: https://learn.wordpress.org/learn/lesson/creating-your-block-themes-style-css/

[2022-09-23 21:12] wparasae commented on #836
This is ready for review: https://learn.wordpress.org/learn/lesson/creating-your-block-themes-index-php/

[2022-09-23 21:13] wparasae commented on #837
This is ready for review: https://learn.wordpress.org/learn/lesson/creating-your-block-themes-theme-json-file/

[2022-09-25 20:55] courtney-pk commented on #958
This video has been posted on WPTV:
https://wordpress.tv/2022/09/23/media-tips-tricks/
Captions still to come,  but considering this issue closed!

[2022-09-25 20:55] #958 closed

[2022-09-26 05:19] Piyopiyo-Kitsune opened #967 "Online Workshop - WordPress Roles and Capabilities"
# Event Details
- Title: WordPress Roles and Capabilities
- Description:
Ever wondered what all of the out of the box WordPress roles were and how to use their capabilities across the site? Wonder no more! This is a foundational WordPress discussion where we will talk through the various roles in WordPress and the capabilities each possess.
- Target Audience: Beginners
- Date: Friday, 4 PM JST
- M

[2022-09-26 15:35] jonathanbossenger opened #968 "The Block Theme For This Course"
# IMPORTANT
**This lesson belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson.**

#

[2022-09-26 15:35] jonathanbossenger opened #969 "Converting the Style Guide to the Theme's theme.json file"
# IMPORTANT
**This lesson belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson.**

#

[2022-09-26 22:42] westnz opened #970 "Managing Settings: Media"

[2022-09-27 01:27] Piyopiyo-Kitsune opened #971 "Online Workshop - WordPress Roles and Capabilities"
# Event Details
- Title: WordPress Roles and Capabilities
- Description: Ever wondered what all of the out of the box WordPress roles were and how to use their capabilities across the site? Wonder no more! This is a foundational WordPress discussion where we will talk through the various roles in WordPress and the capabilities each possess.
- Target Audience: Beginners, but anyone can benefit!
- D

[2022-09-27 01:48] westnz commented on #631
### Module 1 + 2 Review

- Engaging introduction. The questions posed to learners are very effective. The dropdown for people who are unsure if they must take the course is a nice touch.

- I would only use the word ‘intermediate’ once here:
‘Take this intermediate-level course geared toward intermediate WordPress users’

- Double-check that you write Site Editor with capital letters everywhere in

[2022-09-27 03:22] Piyopiyo-Kitsune opened #972 "Online Workshop - WordPress Roles and Capabilities"
# Event Details
- Title: WordPress Roles and Capabilities
- Description: Ever wondered what all of the out of the box WordPress roles were and how to use their capabilities across the site? Wonder no more! This is a foundational WordPress discussion where we will talk through the various roles in WordPress and the capabilities each possess.
- Target Audience: Beginners, but anyone can benefit!
- D

[2022-09-27 03:25] #927 closed

[2022-09-27 03:27] Piyopiyo-Kitsune commented on #927
WordPress.tv video - https://wordpress.tv/2022/09/25/block-theme-global-styles-customization/

[2022-09-27 10:14] piermario commented on #874
Hello @lenasterg and @vagelisp!

I was just browsing lesson plans to find something I could start localizing in Italian. I noticed there's English and Greek (good job!) content so far. I had seen Spanish and Japanese content as well, but I have no way to look for these languages as far as I know.

As Lena suggested, contents would be much easier to browse and narrow down with a language filtering

[2022-09-27 10:51] vagelisp commented on #874
Hello @piermario
The sidebar filter is better for checking content in other languages; however, for people that use their native languages, that would be a great feature. ( I don’t use Greek as my primary language in WP either, so I get what you mean )

[2022-09-27 11:25] piermario commented on #811
Hello @hlashbrooke! Have you considered adding a language filter in the lesson plan result page sidebar as well? Would that be harder than implementing the language priority function linked to the existing locale switcher? Thanks for your consideration. :)

[2022-09-27 12:03] piermario commented on #874
Hello Vagelis, thanks for your feedback!

Sure, I agree that a language priority linked to the existing locale switcher will make things easier for speakers of the selected locale. However I still root for a sidebar language filter, which might be very useful while contents in some languages are few or none. For example, Italian currently has only 1 localized workshop and no lesson plans. A filter

[2022-09-27 19:30] hlashbrooke commented on #811
Yeah - we have that for Tutorials and it makes sense to have it on Lesson Plans - I actually thought we did have it, but just checked now and I see we don't.

[2022-09-27 21:02] wparasae commented on #631
@westnz - I appreciate your feedback and have made those changes! Thank you for your keen eye and insight!

[2022-09-27 21:21] westnz commented on #868
### Feedback - Block Theme Requirements: A Review

I assume the introduction to the course is still being developed? I think it is great how you jump straight into the lesson and content. You grab the attention of the learner immediately. I get that feeling of 'let's go!'

The sub-headings are very effective.  As a non-developer, even I can follow the requirements step-by-step.

I was wondering if

[2022-09-27 22:58] westnz commented on #869
### Feedback - Block Theme Templates

- You explain what block theme templates are very well and highlight the advantage of using a block theme.

- This was a bit confusing to me:

Did you want to say, 'In the last lesson, you **will** create an empty index.html template file.'? Why then jump into 'Let's add some content to this template.' I would suggest providing more clarity here.
<img width="8

[2022-09-28 00:29] westnz commented on #870
### Feedback: Block Theme Template Parts

- Is this not the link to the correct [Supplemental Video](https://learn.wordpress.org/tutorial/template-parts/)?

- You have clearly explained everything step-by-step. Nice work! One suggestion is to add Step 1, Step 2, Step 3 etc. to make the process even more clear.

- Please note my comments about 'Note:' and 'Do:' in the previous lesson.  Should these

[2022-09-28 01:15] westnz commented on #955
### Feedback: Exporting Your Block Theme

- I would suggest listing the 'Site Editor Export Tool' first. Give the good news first :-). When I see the words 'manually', I already feel demotivated.

- Add 'Do:'

<img width="1012" alt="image" src="https://user-images.githubusercontent.com/89751452/192663927-8cf29d69-0e97-4f47-99ef-1eec4d53036f.png">

- It will be helpful to use annotations to show ex

[2022-09-28 05:59] jonathanbossenger commented on #868
Hey @westnz, thanks for the review feedback

There is actually already a [start of an introduction](https://github.com/jonathanbossenger/block-theme-course/blob/main/01-Introduction.md) here, but I plan to revise it once the first 4 modules are complete.

Sadly this is one limitation of making this available for early review via GitHub, we don't have the same tooltips/callouts that we do on Learn.

[2022-09-28 06:18] jonathanbossenger commented on #869
Thanks for the review feedback @westnz

It was supposed to be 'In the last lesson, you created an empty index.html template file.' Fixed

Yes, I noticed this as well, and I plan to add a 1px border around the images. I actually had this exact same issue when I was creating content at my previous position, we had an inline CSS snippet we had to add to each and every image. 🙈

As discussed in the pr

[2022-09-28 06:27] jonathanbossenger commented on #870
Thanks for the review feedback @westnz

Noted and fixed the same changes for the action headings, and Site Editor.

Fixed all the spelling/grammar errors. It really is great having you review and catch these things! I tend to sometimes be so deep into the code I forget how to English! 😁

[2022-09-28 06:45] jonathanbossenger commented on #955
Thanks for the review feedback @westnz

That's an interesting viewpoint and one that I fully understand, from a user point of view. However, in my experience, most developers want to know the manual process (understand the underlying tech) and then learn the automated processes. (I at least prefer to know how it works manually, before learning the automated way. Then I fully appreciate how much ti

[2022-09-28 08:51] piermario commented on #811
Thanks for checking! A boy can dream, then. 😇

[2022-09-28 12:50] jonathanbossenger commented on #966
@Thelmachido has offered to co-host

[2022-09-28 22:17] #274 closed

[2022-09-28 23:01] #944 closed

[2022-09-29 00:29] westnz commented on #869
Great stuff!

`It was supposed to be 'In the last lesson, you created an empty index.html template file.' Fixed`
Maybe you should rather say 'previous' instead of 'last'.

[2022-09-29 00:29] westnz commented on #955
Sounds good!

[2022-09-29 19:00] joedolson opened #976 "Use lang attribute to mark changes in language."
## Description

On the Browse Lesson Plans & single-lesson plan pages; there's no language of parts defined for non-English lessons. E.g. [https://learn.wordpress.org/lesson-plan/%ce%b5%ce%b9%cf%83%ce%b1%ce%b3%cf%89%ce%b3%ce%[…]%84%cf%8d%cf%80%ce%bf%cf%85%cf%82-%cf%80%cf%81%ce%bf%cf%83/](https://learn.wordpress.org/lesson-plan/%ce%b5%ce%b9%cf%83%ce%b1%ce%b3%cf%89%ce%b3%ce%ae-%cf%83%cf%84o%cf%85%cf

[2022-09-29 22:50] westnz commented on #970
https://user-images.githubusercontent.com/89751452/193155715-b463f2a0-bb82-4c76-8461-8ed5b4f3e371.mp4

[2022-09-29 23:42] alexstine opened #977 "Breadcrumbs: Screen reader announces arrows"
## Description

NVDA on Windows reads double right pointed bracket for the arrow icons that are in between each breadcrumb.

## Step-by-step reproduction instructions

1. Launch NVDA.
2. Open Firefox or Google Chrome.
3. Navigate to a course or workshop on Learn.
4. Notice how the breadcrumbs have the arrow read out as some weird name.

## Expected behavior

The screen reader should pause in betwe

[2022-09-30 01:34] westnz commented on #888
Published: https://learn.wordpress.org/tutorial/personalizing-your-404-template/

[2022-09-30 02:32] courtney-pk commented on #959
Video is here: https://wordpress.tv/2022/09/29/introduction-to-deib-in-wordpress/

Captions are being worked on, but closing the issue since the workshop is complete.

[2022-09-30 02:32] #959 closed

[2022-09-30 02:54] kaitohm commented on #911
I previously uploaded a recording of the first session I did on this topic to WordPress.tv, which can be found here: https://wordpress.tv/2022/08/12/introducing-domains/

Slides (Google Slides): https://docs.google.com/presentation/d/1FAWyqurywPWRRvV524OoZhyG6Wg5WYkUskCmH5LKwvk/edit?usp=sharing

Slides (PDF): [20220929 Introducing... Domains.pdf](https://github.com/WordPress/Learn/files/9680282/20

[2022-09-30 02:54] #911 closed

[2022-09-30 03:08] #977 closed

[2022-09-30 11:44] jonathanbossenger commented on #966
https://wordpress.tv/2022/09/30/lets-code-creating-your-primary-templates-in-the-editor/

[2022-09-30 11:49] #966 closed

[2022-09-30 15:59] piermario opened #980 "Italian translation for Lesson Plan "Setting A Static Page As Your Homepage""
# Details
- Link to original content: https://learn.wordpress.org/lesson-plan/setting-a-static-page-as-your-homepage/
- Language you'll be translating to: Italian
- Have you arranged for someone to review this translation?: Yes
- Reviewer's GitHub username: lidialab
- Other info:

The translation is currently on Google Docs, waiting for Lidia's proofreading/editing

# Next Steps
Once translated, p

[2022-09-30 17:40] courtneyr-dev opened #987 "Convert lesson plan reusable blocks to block pattern picker"
Convert lesson plan reusable blocks to block pattern picker

https://developer.wordpress.org/block-editor/reference-guides/block-api/block-patterns/#register_block_pattern
https://developer.wordpress.org/block-editor/how-to-guides/curating-the-editor-experience/#utilizing-patterns

[2022-09-30 19:30] #987 closed

[2022-09-30 22:52] courtney-pk opened #990 "Online Workshop - Building a Simple Block"
# Event Details
- Title: Building a Simple Block _(working title, not final)_
- Description: Come build blocks with us! Ebonie Butler will be joining us to demonstrate the process of building a simple block. (to be updated)
- Target Audience: Users & Developers
- Date: TBD 2023
- Meetup.com event link: TK
- Co-host: Ebonie Butler
- Other info:

# Online Workshop Checklist:
- [ ] Create Online Work

[2022-10-01 13:32] vagelisp opened #992 "Greek Lesson plan block pattern"
# Topic Description
I just made PR #991 to add the Greek version of the block pattern for the Lesson plans.
I used what we already use for the translation content,

@lenasterg @theo-gk, can you please verify the translation?

Thanks so much.

[2022-10-01 13:33] vagelisp commented on #992
@courtneyr-dev FYI

[2022-10-02 11:54] theo-gk commented on #992
I didn't review this in time, already merged. @vagelisp

Notes:
::216 - Missing accent
::226 - Missing accent
::244 - Missing letter "ν" -> **στον** δικό τους ιστότοπο
::258 - Missing letter "ς" -> **άσκησης**
::286 - Capitalize first letter -> **Δεν πρέπει**

Great, this translation will be useful

[2022-10-02 12:21] vagelisp commented on #992
@theo-gk No probs, thanks for the review. I'll fix these asap.

[2022-10-02 15:24] vagelisp commented on #992
~~::216 - Missing accent~~
~~::226 - Missing accent~~
~~::244 - Missing letter "ν" -> στον δικό τους ιστότοπο~~
~~::258 - Missing letter "ς" -> άσκησης~~
~~::286 - Capitalize first letter -> Δεν πρέπει~~

All fixed, I made a new PR #993

[2022-10-03 01:29] wparasae commented on #831
One of the things I'm finding in using lesson plans to courses is that lesson plans dive _deeply_ into course content; they teach both the "need to knows" and the "nice to knows" about each thing. However, courses need to take into account these "need to knows" vs. "nice to knows" in order to better address our adult learner's lack of time. Therefore, I'm adjusting the assessment questions and wor

[2022-10-03 09:57] vagelisp commented on #937
Hello all, I finally added a PR for this.

[2022-10-03 14:48] justintadlock commented on #887
@jonathanbossenger - I'm interested in taking this lesson on.

[2022-10-03 15:06] jonathanbossenger commented on #887
Thanks, @justintadlock I appreciate the help.

The general scope for this lesson:

1. How to download a custom font and store it in the right location in the theme directory
2. How to add it to the theme.json file via the `settings -> typography` section
3. How to apply it to the theme via the Global Styles interface (globally, and on a per block level)
4. How to apply it to the theme manually in

[2022-10-03 18:30] ryanwelcher commented on #846
I'll be working on this :)

[2022-10-04 04:02] outdoor2kode commented on #798
Is it still the case? Could you attach some screenshots for reference? Thanks.

[2022-10-04 10:10] renintw opened #998 "Layout of menu items is a bit off"
Device: iPad Mini on Chrome, Vertical

<img width="571" alt="image" src="https://user-images.githubusercontent.com/18050944/193793099-9ac27b79-9469-44a3-8010-e5edf675d1ea.png">

[2022-10-04 17:10] courtneyr-dev commented on #374
https://make.wordpress.org/core/2022/09/16/whats-new-in-gutenberg-14-1-15-september/

[2022-10-04 17:11] courtneyr-dev commented on #453
https://make.wordpress.org/core/2022/09/16/whats-new-in-gutenberg-14-1-15-september/

[2022-10-04 17:13] courtneyr-dev commented on #652
Box shadow addition https://make.wordpress.org/core/2022/09/16/whats-new-in-gutenberg-14-1-15-september/

[2022-10-04 17:17] courtneyr-dev opened #999 "Classic Themes Template Parts - Lesson Plan"
# Topic Description
Create Template Parts in a Classic Theme

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- https://make.wordpress.org/core/2022/09/16/whats-new-in-gutenberg-14-1-15-september/
-

# Guidelines
Review the [team guidelines] (https://make.wordpress.org/training/handbook/guidelines/)

# Development Checklist:
- [ ] Gat

[2022-10-04 17:42] courtneyr-dev commented on #765
https://github.com/WordPress/gutenberg/pull/43838

[2022-10-04 17:46] courtneyr-dev commented on #715
Demonstrate how to add Duotone to theme.json
https://github.com/WordPress/gutenberg/pull/43671

Link to Theme.json lesson plan

[2022-10-04 18:01] majadidit opened #1000 "Serbian translation for How to create a Lesson Plan"
# Details
- Link to original content: https://learn.wordpress.org/lesson-plan/how-to-create-a-lesson-plan/
- Language you'll be translating to: Serbian
- Have you arranged for someone to review this translation?: No
- Reviewer's GitHub username: @zzap
- Other info:

# Next Steps
Once translated, please link or upload your translated files in a comment on this issue, and request a [translation revi

[2022-10-04 18:02] courtneyr-dev commented on #726
Update screenshot about tagline https://core.trac.wordpress.org/ticket/6479

[2022-10-04 18:02] courtneyr-dev commented on #634
Update site tagline preview: https://core.trac.wordpress.org/ticket/6479

[2022-10-04 18:06] majadidit commented on #1000
https://learn.wordpress.org/wp-admin/post.php?post=24006&action=edit

[2022-10-04 18:07] courtneyr-dev commented on #413
https://core.trac.wordpress.org/ticket/56283

[2022-10-04 18:07] courtneyr-dev commented on #758
https://core.trac.wordpress.org/ticket/56283

[2022-10-04 18:55] courtneyr-dev opened #1001 "Intro to Twenty Twenty Three Theme - Lesson Plan"
# Topic Description
Write a description of the topic here.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- https://make.wordpress.org/design/2022/09/07/tt3-default-theme-announcing-style-variation-selections/

# Guidelines
Review the [team guidelines] (https://make.wordpress.org/training/handbook/guidelines/)

# Development Checkli

[2022-10-04 19:10] #615 closed

[2022-10-04 19:11] courtneyr-dev commented on #615
duplicate

[2022-10-04 19:16] courtneyr-dev opened #1002 "Advanced Layouts with the Block Editor - Lesson Plan"
# Topic Description
Create a layout with a column block, gallery that shows block gap settings, quote block with nested blocks, list block with multiple layers of indentation.

https://learn.wordpress.org/lesson-plan/how-to-create-a-post-or-page-with-the-wordpress-block-editor/ is an introductory level of the same idea. Expand on that with more advanced settings.

# Related Resources
Links to rela

[2022-10-04 19:55] courtneyr-dev commented on #516
https://github.com/WordPress/gutenberg/pull/42331#top

[2022-10-04 20:04] courtneyr-dev commented on #919
https://wordpress.org/support/article/video-block/ Notice the chapters feature in this. I haven't tested it nor seen it implemented yet.

[2022-10-04 20:05] courtneyr-dev commented on #730
https://github.com/WordPress/gutenberg/pull/42331#top

[2022-10-04 20:06] courtneyr-dev commented on #962
https://github.com/WordPress/gutenberg/pull/42520#top

[2022-10-04 20:14] courtneyr-dev commented on #614
https://github.com/WordPress/gutenberg/pull/42520#top

[2022-10-04 20:19] courtneyr-dev commented on #614
https://github.com/WordPress/gutenberg/issues/37407#top

[2022-10-05 09:59] courtneyr-dev commented on #374
https://www.youtube.com/watch?v=5ovtyIyFOoA&feature=youtu.be&ab_channel=DaveonWP&themeRefresh=1

[2022-10-05 09:59] courtneyr-dev commented on #453
https://www.youtube.com/watch?v=5ovtyIyFOoA&feature=youtu.be&ab_channel=DaveonWP&themeRefresh=1

[2022-10-05 09:59] courtneyr-dev commented on #453
https://drive.google.com/file/d/1Xg7WGdjVD6USv73RjI7k_WOF8zQvf_iE/view

[2022-10-05 10:00] courtneyr-dev commented on #374
https://drive.google.com/file/d/1Xg7WGdjVD6USv73RjI7k_WOF8zQvf_iE/view

[2022-10-05 10:00] courtneyr-dev commented on #374
[Fix Navigation block fallbacks and entity saving](https://github.com/WordPress/gutenberg/issues/42799).
[Navigation: Try making it possible for themes to have the X overlay the = icon](https://github.com/WordPress/gutenberg/pull/43576#top).
[Navigation: Try adding minimal animation to overlay.](https://github.com/WordPress/gutenberg/pull/43851#top)
[Add select icon for Navigation Block's menu but

[2022-10-05 10:00] courtneyr-dev commented on #453
[Fix Navigation block fallbacks and entity saving](https://github.com/WordPress/gutenberg/issues/42799).
[Navigation: Try making it possible for themes to have the X overlay the = icon](https://github.com/WordPress/gutenberg/pull/43576#top).
[Navigation: Try adding minimal animation to overlay.](https://github.com/WordPress/gutenberg/pull/43851#top)
[Add select icon for Navigation Block's menu but

[2022-10-05 10:04] courtneyr-dev commented on #945
[quick image showing modal](https://drive.google.com/file/d/1QTrx-tV6VluAbU-7z8fYS4nE2xj8UQ_Z/view?usp=sharing), [demo video showing the entire flow of using starter patterns](https://drive.google.com/file/d/1sQHxAqxbSO11zAhG8V54DGmrHl13c5-m/view?usp=sharing).

https://developer.wordpress.org/block-editor/how-to-guides/curating-the-editor-experience/#utilizing-patterns

Code example: Install and a

[2022-10-05 10:05] courtneyr-dev commented on #724
[footer patterns image](https://drive.google.com/file/d/1x2VGZJv6FnLqJQcYjvhe4dGTLKWSbdaR/view?usp=sharing), [replacing a header with a pattern video](https://drive.google.com/file/d/1vu00VdOcZ5Eo9RBIVJahfY0alAoXK_pc/view?usp=sharing).

[2022-10-05 10:10] courtneyr-dev commented on #724
[Bundle new collection of Header and Footer block patterns](https://github.com/WordPress/gutenberg/pull/43157#top)
[Introduce new “banner” category](https://github.com/WordPress/gutenberg/pull/44203)
[Introduce new “footer” category](https://github.com/WordPress/gutenberg/pull/44200)

[2022-10-05 10:13] courtneyr-dev commented on #739
Visuals: [video of exploring a pattern with content lock](https://drive.google.com/file/d/1ofh-A2bwzPazbgUZZpaAI4rIr180_x5i/view?usp=sharing).

Code example: Example of code [found here under Testing Instructions](https://github.com/WordPress/gutenberg/pull/44131).

Adoption approach: Opt-in. Please review the [documentation here](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-ed

[2022-10-05 10:16] courtneyr-dev commented on #699
United modal interface and preferences improvements

Visuals: [Time to read image](https://drive.google.com/file/d/1lhAzpTjkRvHRQUE69u52-A4e76naeVg8/view?usp=sharing), open list view by default [site editor](https://drive.google.com/file/d/1az8G0QEEONa4ON5jkiwIYY0AO9Ld3YGU/view?usp=sharing) & [post editor](https://drive.google.com/file/d/1h_Zu01Gnwdccsqtw-voKJB4BdRzdax9a/view?usp=sharing) images.

[2022-10-05 10:25] courtneyr-dev commented on #508
[Merge Comments and Post Comments blocks](https://github.com/WordPress/gutenberg/pull/41807#top)
For prior discussion, you can view this previous issue that laid the groundwork: [Post Comments block: Merge Comments Query Loop block](https://github.com/WordPress/gutenberg/issues/40521#top).

[2022-10-05 10:25] courtneyr-dev commented on #723
[Merge Comments and Post Comments blocks](https://github.com/WordPress/gutenberg/pull/41807#top)
For prior discussion, you can view this previous issue that laid the groundwork: [Post Comments block: Merge Comments Query Loop block](https://github.com/WordPress/gutenberg/issues/40521#top).

[2022-10-05 10:25] courtneyr-dev commented on #739
To learn more about locking, please review this [broader resource on curating the editor experience](https://developer.wordpress.org/block-editor/how-to-guides/curating-the-editor-experience/).

Visuals: [image showing the option](https://drive.google.com/file/d/1QICXKoof-2UuSBB5qtYNpp3a5JG9tnnO/view?usp=sharing) to apply to all inner blocks.

Adoption approach: n/a

Key Make Posts/GitHub/Trac Iss

[2022-10-05 10:29] courtneyr-dev commented on #613
patterns with the Query Loop, which reflects the intended post type, and the tools panel has been adopted to better consolidate the number of filters shown by default. Finally, folks who extend the Query Loop can also use an allowedControls property to determine what filters appear in variations to refine the UI based on their unique variation.

Visuals: [parent filter video](https://drive.google.

[2022-10-05 10:32] courtneyr-dev commented on #637
[outline support was also added to blocks and elements](https://github.com/WordPress/gutenberg/pull/43526) via theme.json. For more information about overall changes to theme.json, please see the [Expanded theme.json support and Styles options section below](https://docs.google.com/document/d/1MPH0lQKXLSj2Hegur_4B-wZRi_zPPJIUdXJfslO6JEo/edit#heading=h.vnuhkmgca0gc).

Code examples: view examples p

[2022-10-05 10:33] courtneyr-dev commented on #652
[outline support was also added to blocks and elements](https://github.com/WordPress/gutenberg/pull/43526) via theme.json. For more information about overall changes to theme.json, please see the [Expanded theme.json support and Styles options section below](https://docs.google.com/document/d/1MPH0lQKXLSj2Hegur_4B-wZRi_zPPJIUdXJfslO6JEo/edit#heading=h.vnuhkmgca0gc).

Code examples: view examples p

[2022-10-05 10:33] courtneyr-dev commented on #519
[outline support was also added to blocks and elements](https://github.com/WordPress/gutenberg/pull/43526) via theme.json. For more information about overall changes to theme.json, please see the [Expanded theme.json support and Styles options section below](https://docs.google.com/document/d/1MPH0lQKXLSj2Hegur_4B-wZRi_zPPJIUdXJfslO6JEo/edit#heading=h.vnuhkmgca0gc).

Code examples: view examples p

[2022-10-05 10:41] courtneyr-dev commented on #447
https://github.com/WordPress/gutenberg/pull/44065

[2022-10-05 10:41] courtneyr-dev commented on #676
https://github.com/WordPress/gutenberg/pull/44065

[2022-10-05 12:04] courtneyr-dev commented on #864
Punted to 6.2. https://github.com/WordPress/gutenberg/issues/42229

[2022-10-05 12:04] courtneyr-dev commented on #865
Punted to 6.2. https://github.com/WordPress/gutenberg/issues/42229

[2022-10-05 12:07] courtneyr-dev commented on #708
https://make.wordpress.org/core/2022/09/11/webp-in-core-for-6-1/

[2022-10-05 12:07] courtneyr-dev commented on #707
https://make.wordpress.org/core/2022/09/11/webp-in-core-for-6-1/

[2022-10-05 20:46] westnz commented on #763
Published: https://learn.wordpress.org/course/using-the-wordpress-data-layer/

[2022-10-05 22:44] westnz commented on #906
Published: https://learn.wordpress.org/tutorial/adding-a-pattern-from-the-pattern-directory-to-your-theme/

[2022-10-06 00:42] caraya commented on #707
Some issues with WebP support.

- Support for the format may be (or remain) in core, but it's dependent on the server running WordPress being built to support the format.
- LocalWP wasn't built with such support until 6.4.3 so it made it hard to really test.
- I would suspect hosts would not be so quick to recompile the PHP binary with WebP support.

[2022-10-06 02:51] hlashbrooke opened #1003 "New meta field for recorded video on online workshops"
Add a new meta field to the online workshops (`meeting`) to add the WPTV URL of recorded online workshops. This just needs to be a text field with URL validation.

[2022-10-06 02:54] hlashbrooke opened #1004 "Prioritise content based on site locale switcher"
Content for all content types (courses, lesson plans, and tutorials) should give extra weight to content that is in the same language as what is selected in the global locale switcher. This first needs the language meta field to be added to lesson plans, courses and meetings.

[2022-10-06 03:11] hlashbrooke opened #1006 "Show video length on tutorials archive page"
It would be great to show the video length on the tutorials archive page. This is stored in a meta field on the tutorial post type.

[2022-10-06 03:21] hlashbrooke opened #1007 "Ability to bookmark content"
Add a feature that allows learners to bookmark content so they can easily find it for later viewing/reading.

This will require design input.

[2022-10-06 03:26] hlashbrooke opened #1008 "Add filtering to the online workshops calendar"
Add filters to the online workshops calendar for language and topic.

This will require the language meta field and a topic taxonomy to be added to the `meeting` post type.

[2022-10-06 03:31] hlashbrooke opened #1009 "Standardise taxonomies and meta fields across post types"
We have multiple post taxonomies and meta fields on different post types - it would be great if those were standardised so we could more easily filter content using the same functions.

Fields to be standardised: Language, Topic

Language can be a new `language` meta field applied to all post types.

`topic` taxonomy currently only applied to `wporg_workshop` should be extended to apply to all pos

[2022-10-06 03:53] bacoords opened #1010 "Learn WordPress Content Error Report - Ticket"
# Error Description
- Content URL: https://learn.wordpress.org/course/using-the-wordpress-data-layer/

Write a description of the error here.
- The link to the [finished app](https://github.com/WordPress/gutenberg-examples/tree/trunk/non-block-examples/09-code-data-basics-esnext) doesn't actually show the entire app, just the code after the first two lessons.

# Error Report Checklist:
- [ ] Error

[2022-10-06 03:54] hlashbrooke commented on #1010
Thanks for reporting this @bacoords!

@adamziel Could you have a look at this when you get a moment?

[2022-10-06 12:17] mburridge commented on #771
I'm going to have to rewrite part of the course. There's a bug in the code that I didn't pick up earlier, it's a "subtle bug" that @gziolo referred to [above](https://github.com/WordPress/Learn/issues/771#issuecomment-1238052640).  He also goes into some detail as to why `useBlockProps` should be introduced earlier in [this comment](https://github.com/WordPress/Learn/issues/771#issuecomment-124167

[2022-10-06 20:32] justintadlock commented on #887
@jonathanbossenger - Just providing a quick update.

I've just been following along with your scope, which I think works well.  I've wrapped up initial drafts for half of this ([bullet points 1 and 2](https://github.com/WordPress/Learn/issues/887)) and expect to have 3 and possibly 4 tomorrow.

I may have missed this, but where do we put the content?  On the [block theme course](https://github.com

[2022-10-06 23:17] kharissulistiyo opened #1012 "Indonesian translation for How to create a Lesson Plan"
# Details
- Link to original content: https://learn.wordpress.org/lesson-plan/how-to-create-a-lesson-plan/
- Language you'll be translating to: Indonesian
- Have you arranged for someone to review this translation?: No
- Reviewer's GitHub username: @agusmu
- Other info: Our reviewer is GTE for Indonesian.

# Next Steps
Once translated, please link or upload your translated files in a comment on th

[2022-10-07 07:06] jonathanbossenger commented on #887
Awesome news, thanks @justintadlock.

I don't mind, you're welcome to add them as PRs to my repo, link to a Google doc here, or whatever is easier for you.

[2022-10-07 19:37] piermario commented on #980
Hello, friends!

The translation above has been reviewed by @lidialab, a qualified fellow Polyglot and Italian GTE.

We completed editing and proofreading, so I created a draft for the lesson page on Learn.

Here's the link to the draft: https://learn.wordpress.org/?p=24454&post_type=lesson-plan&preview_id=24454

What's next?

Thanks in advance! :)

Piermario

[2022-10-07 21:04] justintadlock commented on #887
@jonathanbossenger Thanks.  I've forked the repo and added the initial content for Module 5 here: https://github.com/justintadlock/block-theme-course/tree/main/module-05

[2022-10-07 21:07] courtneyr-dev commented on #980
Published at https://learn.wordpress.org/lesson-plan/imposta-una-pagina-statica-come-homepage/

[2022-10-08 11:50] robinwpdeveloper commented on #936
Thanks @westnz for your wonderful video tutorial.

I have few confusions/suggestions though:
- I always heard these words as Padding and Margin.
May be the title would sound better with Margin instead of Margins.
- I wonder why there is no Margin Left and Right. I haven’t used much blocks but there is Margin Left and Margin Right property.
May be if we try to add margin inside the box (any item wi

[2022-10-08 12:26] robinwpdeveloper commented on #965
This is really good. Will help everyone.
Looks Good To Me 👍

[2022-10-09 07:42] jonathanbossenger commented on #887
Awesome, thanks @justintadlock

[2022-10-09 20:18] courtneyr-dev opened #1013 "Hacktoberfest Content Creators & Translators"
# Hacktoberfest on Learn.WordPress.org

Hacktobertfest is an open source initiative that can help contributors find projects and submit contributions during the month of October.

## Low & No-Code Contributions now accepted

Areas for the Training team can contribute:

 &nbsp; | LOW-CODE | NON-CODE
-- | -- | --
WRITING | TECHNICAL DOCUMENTATION | TRANSLATING, COPY EDITING
DESIGN | TESTING | USER E

[2022-10-09 22:48] courtneyr-dev commented on #813
6.1 changes:

Visuals: [footer patterns image](https://drive.google.com/file/d/1x2VGZJv6FnLqJQcYjvhe4dGTLKWSbdaR/view?usp=sharing), [replacing a header with a pattern video](https://drive.google.com/file/d/1vu00VdOcZ5Eo9RBIVJahfY0alAoXK_pc/view?usp=sharing).

Adoption approach: N/A

Key Make Posts/GitHub/Trac Issue(s):

[Bundle new collection of Header and Footer block patterns](https://github.com

[2022-10-09 22:49] courtneyr-dev commented on #812
6.1

Visuals: [footer patterns image](https://drive.google.com/file/d/1x2VGZJv6FnLqJQcYjvhe4dGTLKWSbdaR/view?usp=sharing), [replacing a header with a pattern video](https://drive.google.com/file/d/1vu00VdOcZ5Eo9RBIVJahfY0alAoXK_pc/view?usp=sharing).

Adoption approach: N/A

Key Make Posts/GitHub/Trac Issue(s):

[Bundle new collection of Header and Footer block patterns](https://github.com/WordPres

[2022-10-09 22:56] courtneyr-dev commented on #999
6.1
Code example:
[Very simple example theme](https://github.com/Mamaduka/block-fragments) with more details for implementation in [Testing and Feedback for using block based template parts in classic themes](https://make.wordpress.org/themes/2022/09/12/testing-and-feedback-for-using-block-based-template-parts-in-classic-themes/).
For a more detailed guide, [review this post from the Gutenberg Tim

[2022-10-09 22:59] courtneyr-dev opened #1014 "Classic Theme Template Parts - Tutorial"
# Topic Description
How to enable block templates and template parts in classic themes (non-FSE)

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
Code example:
[Very simple example theme](https://github.com/Mamaduka/block-fragments) with more details for implementation in [Testing and Feedback for using block based template parts in c

[2022-10-09 23:14] courtneyr-dev commented on #447
6.1 - Fluid Typography  https://github.com/WordPress/gutenberg/pull/39529

[2022-10-09 23:15] courtneyr-dev commented on #896
WP 6.1 Fluid Typography https://github.com/WordPress/gutenberg/pull/39529

[2022-10-09 23:16] courtneyr-dev commented on #887
WP 6.1 Fluid Typography https://github.com/WordPress/gutenberg/pull/39529

[2022-10-09 23:16] courtneyr-dev commented on #676
WP 6.1 Fluid Typography https://github.com/WordPress/gutenberg/pull/39529

[2022-10-09 23:18] courtneyr-dev commented on #897
WP 6.1 Fluid Typography https://github.com/WordPress/gutenberg/pull/39529

[2022-10-10 00:45] courtneyr-dev commented on #724
https://github.com/WordPress/gutenberg/pull/43285

[2022-10-10 00:53] courtneyr-dev commented on #1002
https://make.wordpress.org/core/2022/07/20/whats-new-in-gutenberg-13-7-20-july/#notable

[2022-10-10 06:40] jonathanbossenger commented on #919
The Chapters feature is tied to the Text track of a video, and currently only seems to be available on locally hosted videos, not those embedded from VideoPress.

[2022-10-10 09:40] jonathanbossenger opened #1015 "Online Workshop - Let's Code: Creating Custom Templates and Template Parts"
# Event Details
- Title: Let's Code: Creating Custom Templates and Template Parts
- Description: WordPress 6.1 will include ways to create custom templates and template parts for your block theme from the Site Editor. These custom templates and template parts are useful when you need to display specific posts or pages using templates that don't form part of the template hierarchy.
- Target Audienc

[2022-10-10 09:57] jonathanbossenger commented on #1014
@courtneyr-dev [I tested this when the call for testing came out](https://make.wordpress.org/themes/2022/09/12/testing-and-feedback-for-using-block-based-template-parts-in-classic-themes/#comment-44420), so if no one else wants this, I could definitely tackle it.

[2022-10-10 21:00] justintadlock commented on #887
All 4 of the outlined lessons are up on my fork now: https://github.com/justintadlock/block-theme-course/tree/main/module-05

I plan to spend tomorrow cleaning it up.  If anyone has any feedback before (or afterward), that'd be great.

[2022-10-10 21:19] annezazu commented on #955
Finally had time to start reviewing! +1 to the note around "manual" feeling demotivating.

In the previous part about templates you note that these were created in earlier lessons. Is the same true for template parts? It feels worth combining/repeating for both.

In general, I'd keep things separate in terms of actions to take in this section, meaning I'd remove mentioning creating a parts folder

[2022-10-10 21:26] annezazu commented on #870
Template parts are blocks (from what I understand). They are blocks that carry specific semantic meaning so I might present them that way, similar to how reusable blocks are still blocks with unique functionality.

I might clarify when to use each but perhaps that's a bit overkill. Maybe it makes more sense to clarify when you might create a General template part.

I'd also talk about patterns her

[2022-10-10 21:34] annezazu commented on #869
When would you do each? I'd touch on that a bit to share some best practices.

Otherwise, this looks solid to me!

[2022-10-10 21:36] annezazu commented on #868
My only piece of feedback when reviewing this is to think about how to incorporate mentioning the Create Block Theme plugin. Perhaps at the end after mentioning all of this requirements, you can mention it as a tool to consider after this:

[2022-10-11 03:05] adamwoodnz commented on #1006
Is that this page @hlashbrooke ?

![Image](https://user-images.githubusercontent.com/1017872/194987833-1a848715-9064-4479-aa7a-0f023938b15a.jpg)

[2022-10-11 03:11] adamwoodnz commented on #1004
This likely depends on https://github.com/WordPress/Learn/issues/1009 for adding the language meta field.

[2022-10-11 03:14] adamwoodnz commented on #1008
The likely depends on https://github.com/WordPress/Learn/issues/1009 for adding the meta fields.

[2022-10-11 04:00] pbrocks commented on #763
@adamziel @westnz  I reviewed the course and found it to be a great piece of work expanding on the Gutenberg App created in the examples plugin. I was especially impressed by the error handling information. However, there were some errors in the code and typos that could be corrected. Is there a repo for this or some other way to send my comments?

[2022-10-11 08:12] jonathanbossenger commented on #887
Thanks, @justintadlock. I'll do my best to give it a quick review later today.

[2022-10-11 08:49] jonathanbossenger commented on #870
@annezazu thanks for the review

I think I made a mistake here, that should be `Template parts are very similar to reusable blocks`. Would that fix make it clearer that I'm going for this direct comparision between template parts and reusable blocks, the latter being a known thing by now?

There is a later module - Module 4: Creating Custom Templates and Template Parts - where I plan to discuss th

[2022-10-11 08:55] jonathanbossenger commented on #868
Thanks for the feedback @annezazu

One of the early pieces of feedback I received from a developer/training team member when I was putting the outline of this course together is not to rely too much on "external dependencies" for the completion of this course.

I tend to agree with that statement, to some degree, and so I'm trying to balance teaching block theme development to someone who just has

[2022-10-11 08:56] jonathanbossenger commented on #869
Thanks for the feedback @annezazu

That's a solid point, I'll add some content around when you might do each.

[2022-10-11 11:04] mburridge commented on #771
The good news is that I’ve finished re-structuring and re-writing sections of the course so it now not only circumvents the bug but is also now in accord with [Greg’s suggestion](https://github.com/WordPress/Learn/issues/771#issuecomment-1241679554). TBH I think it’s made the course better than it was.

This week I will be adding some activities/assignments/quizzes to the course with a view to get

[2022-10-11 14:42] pbrocks commented on #771
@mburridge By `in accord with Greg's suggestion` you mean you are not using useBlockProps()? I support strongly its use and am confused why it's difficult to explain how className comes about.

I'd like to review the course. Wondering if you are also open to stylistic comments regarding verbiage, or just focussing on the code at this point?

My background is in linguistics and I feel that the styl

[2022-10-11 15:41] mburridge commented on #771
Hi @pbrocks, yes I am using `useBlockProps` and passing the styles through it. Initially I was introducing this concept later in the course but I have restructured the course and the project to introduce it earlier.

I'd love it if you would review the course. At the moment the main focus is on the code as we want to ensure that all the code samples in each step are accurate and that they all work

[2022-10-11 20:08] justintadlock commented on #887
I've wrapped up my review and copyediting today.  I figured it'd be best to give you a chance to review it before submitting a PR.

_Plus, I need to review how to create and submit a PR. It's been a while..._ 😆

[2022-10-12 01:32] hlashbrooke commented on #1006
Yes, that's the page.

[2022-10-12 02:09] annezazu commented on #868
Very true! I could see this evolving as time goes on and the Site Editor tools themselves become more advanced. At the least, you could mention it and link off to here: https://developer.wordpress.org/themes/basics/tools-resources/

[2022-10-12 02:10] annezazu commented on #870
Yes! That would definitely clear things up. Sounds great re: everything else.

[2022-10-12 04:00] pbrocks commented on #771
@mburridge I started something [here](https://docs.google.com/document/d/1L2QIsb1iqGObrRO8L--qt-v_ZOizdFiX5O6qMib609E/edit#) and will continue, but thought I'd share now my initial thoughts.

[2022-10-12 07:45] jonathanbossenger commented on #887
Awesome work, thanks, @justintadlock I'll leave my review notes per lesson as comments here.

## Lesson 1

Spelling/grammar corrections in _italics_

Also, I wonder if we should say "a recommended location", so as to present this as our suggested "best practice"?

[2022-10-12 07:49] jonathanbossenger commented on #887
## Lesson 2

It might be worth adding a note as to why you're using the \ character for escaping the quotes here. The requirement to escape the quotes might be new to some learners.

[2022-10-12 07:55] jonathanbossenger commented on #887
## Lesson 3

This is more or a "formalized style guide thing", which we don't have on the training team, and I want to create, but for most of the course lessons I've been using **bold** to indicate UI elements like clickable items or labels.

We probably should formalize this within the training team, so I wouldn't worry about making any changes here, I can always clean this up when the content i

[2022-10-12 08:18] jonathanbossenger opened #1016 "Bug report - layout bug when editing Sensei course lessons"
## Description
When editing a lesson in Sensei, there seems to be something causing the layout to break. I'm not sure if this is a Sensei issue, or a Learn WordPress issue.

## Step-by-step reproduction instructions

1. Edit a course
2. Edit a lesson in a course
3. View the layout for the lesson

## Expected behaviour
I would expect the editor to display with the same "margins" as other content be

[2022-10-12 11:03] jonathanbossenger commented on #1016
Additional screenshots

What I would expect (Editing a tutorial)

![Edit-Tutorial-“Advanced-Layouts-with-the-Block-Editor”-‹-Learn-WordPress-—-WordPress](https://user-images.githubusercontent.com/180629/195326500-c6624600-b73f-441a-bdbd-eec861608a02.png)

What I see editing a lesson

![Edit-Lesson-“Creating-Custom-Templates-and-Template-Parts”-‹-Learn-WordPress-—-WordPress](https://user-images.git

[2022-10-12 11:14] digitalchild commented on #1016
I can confirm that there is a padding issue while editing lessons.

![Edit_Lesson_“What_Happens_When_Creating_and_Saving_Templates_Templates_Parts”_‹_Learn_WordPress_—_WordPress](https://user-images.githubusercontent.com/909468/195328324-09fd406d-e14a-4a1a-8b8c-7a2bc8107284.jpg)

[2022-10-12 13:15] justintadlock commented on #887
Thanks for the feedback, @jonathanbossenger.  That all looks good, and I'll get it incorporated.

I like the use of bold to indicate UI elements.  (I'd love to see a standard for that across all of the .ORG style guides.  I've mostly used quotes in the past because of the lack of guideline on it.)

[2022-10-12 15:46] DaisyOlsen opened #1017 "Online Workshop - Hallway Hangout: Block Theme Development Features in WordPress 6.1"
# Event Details
- Title: Hallway Hangout: Block Theme Development Features in WordPress 6.1
- Description:
In this [Hallway Hangout](https://make.wordpress.org/community/handbook/virtual-events/online-meetup-guidelines/overview-of-casual-online-gatherings/#types-of-sessions), we'll have a casual chat about some of the Block Theme development-related features that are planned to land in WordPress 6

[2022-10-12 18:07] mburridge commented on #771
Thanks @pbrocks, end of the working day for me now. I'll check it out in more detail over the next couple of days.

[2022-10-12 21:05] westnz commented on #965
Thank you for the feedback @robinwpdeveloper

[2022-10-12 22:10] westnz commented on #763
Howdy @pbrocks!  Thank you so much for reviewing the course. You are welcome to post your feedback here in any format that suits you best.  You can add a link to a Google doc if you prefer.  Many thanks

[2022-10-13 04:11] amitpatel0702 commented on #972
Hi @Piyopiyo-Kitsune, You can assign me as a co-host. I really enjoy co-hosting workshops with you. :)

[2022-10-13 06:49] jonathanbossenger commented on #887
Hmm now that I think about it, I know the docs team has a [style guide](https://make.wordpress.org/docs/style-guide/), perhaps we should all be following that?

EDIT: It seems that guide also recommends using Bold when explaining UI to interact with - https://make.wordpress.org/docs/style-guide/formatting/procedures/

FWIW the training team also has a [Lesson Plan style guide](https://make.wordpre

[2022-10-13 08:49] mburridge commented on #771
I've started adding quizzes and assignments to the course. So far all the lessons in Module 1 now have a quiz or an assignment.

@westnz it would be great to get 👀 on this to check that I'm on the right track with this kind of thing.

[2022-10-13 10:15] jonathanbossenger commented on #955
@annezazu thanks for the feedback, I intend to incorporate the changes, but first I'd like to open a discussion around the use of Create Block Theme in this course.

Disclaimer, I love the plugin, and I love what it automates, and as a developer, I love automation. However, as a developer, I also understand that I need to know what the automated process does so that if it ever does something I don

[2022-10-13 15:26] jonathanbossenger commented on #1015
Note to self, 30 participants

[2022-10-13 16:05] jonathanbossenger commented on #1016
I can confirm that this doesn't happen on my current local version of the Learn code, which I last updated on 20 September (and is up [to this commit](https://github.com/WordPress/Learn/commit/f3bfdd10b4f4bce06de5b693e992d9e89fd8592e)) so something in the last month has caused this.

I'm going to try and incrementally pull by commit to my local to see if I can isolate where the change happened.

[2022-10-13 22:40] #940 closed

[2022-10-14 02:36] kaitohm commented on #904
I have conducted the second session on this topic. I used the same slides as those mentioned above. I did not upload any new recording to WordPress.tv, as the session was not that much different from the last one.

This is now compelete!

[2022-10-14 02:36] #904 closed

[2022-10-14 02:38] westnz commented on #913
Published: https://learn.wordpress.org/tutorial/uncovering-the-cover-block/

[2022-10-14 02:41] westnz commented on #862
Published: https://learn.wordpress.org/tutorial/gerenciando-atualizacoes-no-wordpress/

[2022-10-14 03:11] westnz commented on #771
@mburridge
You have done a great job so far creating quizzes that will allow learners to reflect on some of the key things they have learnt.  You have also explained the correct answers to questions thoroughly.

My only suggestion is to add one or two practical questions where you show them an example or screenshot of code to fix or interpret.  The aim is to retrieve knowledge, but also apply know

[2022-10-14 03:48] annezazu commented on #955
I totally agree. I think it's fine to lightly mention at the beginning or end as an option but to emphasize the manual approach otherwise! That will also make it easy to remove later if needed when/if the plugin becomes obsolete.

[2022-10-14 07:42] westnz commented on #936
Thank you @robinwpdeveloper

[2022-10-14 08:26] #980 closed

[2022-10-14 10:08] juanmaguitar commented on #771
These are some comments/suggestions from my review of the course:

---

I think the `<fact check this!!!> ` at [What is a block?](https://learn.wordpress.org/lesson/what-is-a-block/) should be removed

---

I think this phrase at [Scaffold your first block](https://learn.wordpress.org/lesson/scaffold-your-first-block/) could use a comma

---

I would change this comment at  [Scaffold your first bl

[2022-10-14 10:50] mburridge commented on #771
@westnz

Great idea - I'll make sure to add some activities like that.

Oh, that's annoying - that should read:
- an `<hr>` element
- a `<div>` element

but it looks like you can't put the angle brackets in questions as it strips out HTML tags. I've fixed it as best I can but it's not ideal 😬

[2022-10-14 11:01] mburridge commented on #771
@juanmaguitar

TBH I'm still not sure if a block is in fact a React component or just constructed from React components. I think it's the former but not certain enough to commit to it in writing. I've rephrased the sentence completely.

Hmm 🤔, I'm not totally convinced about that TBH.

Great suggestion, thanks. I've rewritten that with an adapted version of your suggestion.

[2022-10-14 13:19] paulopmt1 commented on #862
Great job @fellyph and @westnz!

[2022-10-14 13:56] juanmaguitar commented on #771
Some more comments/suggestions from my review of the course:

----

In the [Scaffold your first block Quiz](https://learn.wordpress.org/quiz/scaffold-your-first-block/?) the question

I think it's confusing as in the content it seems to actually recommend doing the install from `wp-content/plugins` directory

----

In the [Scaffold your first block Quiz](https://learn.wordpress.org/quiz/scaffold-y

[2022-10-14 14:39] jonathanbossenger commented on #1015
WordPress.tv video https://wordpress.tv/2022/10/14/lets-code-creating-custom-templates-and-template-parts/

[2022-10-14 14:40] #1015 closed

[2022-10-14 15:23] audrasjb opened #1019 "Content Error Report: Error in template hierarchy example snippet"
Hi there!

First time here! Thanks for the amazing work.
I hope it's the good place to report an issue with Learn content :)

# Error Description
- Content URL: https://learn.wordpress.org/lesson-plan/template-hierarchy/#example

In the example snippet
[code]
should be replaced with:
[code]

# Error Report Checklist:
- [ ] Error Validated
- [ ] Error fix proposed
- [ ] Error fix reviewed
- [ ] Err

[2022-10-14 16:47] ryanwelcher commented on #771
@mburridge I just went through the course and built it step by step. Overall, it was really well-structured! I basically just copy/pasted each new code chunk I saw into my files and everything worked. There were a couple of instances where I got errors but that turned out to be because I didn't read the instructions and not because of the course.

The only notes I have are:

1. I found that early

[2022-10-14 17:58] mburridge commented on #771
Thanks @ryanwelcher.

1. I've added a note on the error to [this lesson](https://learn.wordpress.org/lesson/make-the-block-interactive/)
2. I've rewritten the explanations that come up in the feedback box, hopefully making things clearer. I've also removed the question as to why it is incorrect.

@juanmaguitar thanks for the comprehensive feedback. I'll take a look at it in detail after the weeken

[2022-10-15 00:18] courtney-pk opened #1020 "Online Workshop - History of WordPress"
# Event Details
- Title: A Brief History of WordPress
- Description: We’ll tell the story of how WordPress began as simple blogging software and then developed into the content Management System that it is today.
- Target Audience: Anyone
- Date: 21 and 26 October 2022, 25 May 2023, 26 September 2023
- Meetup.com event links: [Oct 21 2022](https://www.meetup.com/learn-wordpress-online-workshops/ev

[2022-10-15 00:25] courtney-pk opened #1021 "Online Workshop - Getting Started with a WordPress.org account"
# Event Details
- Title: Getting _Started with a WordPress.org account_
- Description: Having an account on WordPress.org is useful for many different reasons! With an WordPress.org account you can: Post on the WordPress support forums; Rate and review themes and plugins; Join the Making WordPress Slack; Track your activity and contributions to the WordPress Open Source project
In this workshop, w

[2022-10-15 08:58] bsanevans opened #1022 "Online Workshop - Ideas for getting more views on your blog"
# Event Details
- Title: Ideas for getting more views on your blog
- Description: In this online workshop, we’ll be taking a look at some ideas you can take home and try in order to get more views to your blog.
- Target Audience: Beginner Users
- Date: October 27th
- Meetup.com event link: https://www.meetup.com/learn-wordpress-online-workshops/events/289128381/
- Co-host: @jonathanbossenger

# On

[2022-10-15 12:54] vagelisp commented on #1019
Hello @audrasjb. Thanks for reporting this.
It is now fixed.
( I replaced &amp;amp;amp;&amp;amp;amp; with '&&' but I didn't change the code styling )

[2022-10-15 15:54] audrasjb commented on #1019
Thanks @vagelisp

[2022-10-15 15:54] #1019 closed

[2022-10-16 11:16] vagelisp opened #1023 "Greek translation for Lesson Plan "How To Add and Remove Logo And Site Icon in Site Editor""
# Details
- Link to original content: https://learn.wordpress.org/lesson-plan/how-to-add-and-remove-logo-and-site-icon-in-site-editor/
- Language you'll be translating to: Greek
- Have you arranged for someone to review this translation?: No ( tagging ppl further down in the issue )
- Reviewer's GitHub username:
- The translated version of the Lesson Plan in google docs: https://docs.google.com/do

[2022-10-16 11:18] vagelisp commented on #1023
Hello 👋🏻  @lenasterg , @theo-gk, @o-samaras
Can someone review this, please?
Thank you so much.

[2022-10-16 18:16] robinwpdeveloper commented on #698
I wanted to contribute on this but I think it requires well presented workshops.
Anyway, I will try something else first.

[2022-10-17 07:13] jonathanbossenger commented on #1014
I'm going to do my best to get this recorded and up for review by tomorrow, so it can be published to coincide with the 6.1 release on 1 November.

[2022-10-17 08:36] bsanevans opened #1024 "German translation for lesson plan "Dashboard Overview""
# Details
- Link to original content: https://learn.wordpress.org/lesson-plan/dashboard-overview/
- Language you'll be translating to: German
- Have you arranged for someone to review this translation?: No
- Reviewer's GitHub username:
- Other info: This lesson plan was translated by [Gudrun](https://profiles.wordpress.org/weblink/). I'm creating an issue here so we can track their contribution, a

[2022-10-17 08:37] kaitohm commented on #1024
This lesson can be previewed here: <strike>https://learn.wordpress.org/?p=24030&post_type=lesson-plan&preview=1&_ppp=b6e8f04c61</strike>
https://learn.wordpress.org/?p=24030&post_type=lesson-plan&preview=1&_ppp=12122a3a91

This is ready for a [translation review](https://make.wordpress.org/training/handbook/content-localization/#translation-review).

[2022-10-17 09:03] gudrunfrank commented on #1024
Thank you for reviewing this.

[2022-10-17 11:38] jonathanbossenger opened #1025 "Feature request - utility class for images"
In some cases (mostly when capturing UI from the Block Editor) screenshots may contain a lot of the color white.

When included in the content on Learn, this might cause the image to blend in with the white background, and may therefore not be as impactful for the content.

It would therefore be ideal if there was a utility CSS class, that could be applied to such images in the editor so that they

[2022-10-17 13:39] jonathanbossenger opened #1027 "Online Workshop - Let's code! Using Block Patterns in your Block Theme."
# Event Details
- Title: Let's code! Using Block Patterns in your Block Theme.
- Description: In this session we will look at the different types of block patterns that can be created, the various ways that block patterns can be registered for a theme, and then create a few block pattern examples for some common theme requirements.
- Target Audience: Intermediate developers
- Date: 2022-10-20
- Me

[2022-10-17 14:50] jonathanbossenger opened #1028 "A Beginner Guide to the WordPress Template Hierarchy - Tutorial"
# Topic Description
A Beginner Guide to the WordPress Template Hierarchy, covering how the template hierarchy works, and how it affects both classic and block themes.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [ Template Hierarchy](https://developer.wordpress.org/themes/basics/template-hierarchy/)

# Guidelines
Review the [tea

[2022-10-17 14:51] jonathanbossenger commented on #1028
https://user-images.githubusercontent.com/180629/196209637-ba06101a-a9da-46a6-83f3-fbe7a9b0e502.mp4

[2022-10-17 15:41] manzwebdesigns commented on #1028
Looks good to me, @jonathanbossenger!

[2022-10-17 18:18] courtneyr-dev commented on #813
6.1 changes pushed to 6.2

[2022-10-17 18:18] courtneyr-dev commented on #812
6.1 changes pushed to 6.2

[2022-10-17 18:28] courtneyr-dev commented on #724
Header/Footer patterns moved to 6.2

[2022-10-17 19:15] vagelisp opened #1029 "Greek translation for Lesson Plan "How to create a Lesson Plan""
# Details
- Link to original content: https://learn.wordpress.org/lesson-plan/how-to-create-a-lesson-plan/
- Language you'll be translating to: Greek
- Have you arranged for someone to review this translation?: No
- Reviewer's GitHub username:
- Other info:

# Next Steps
Once translated, please link or upload your translated files in a comment on this issue, and request a [translation review](http

[2022-10-17 20:28] DaisyOlsen commented on #1017
Video has been uploaded, will add the transcription once the video has been approved.

[2022-10-17 21:02] justintadlock commented on #894
@jonathanbossenger Assign this to me.  I've got the initial outline here: https://github.com/justintadlock/block-theme-course/tree/main/module-06

[2022-10-17 21:04] justintadlock commented on #895
@jonathanbossenger Assign this to me.  I've got the initial outline here: https://github.com/justintadlock/block-theme-course/tree/main/module-06

[2022-10-17 21:22] wparasae commented on #868
**Feedback for Module #1**
I really appreciate how well this first module builds on the beginner-level course I'm working on -- you're definitely covering everything needed, but keeping it brief enough to engage folks who are familiar with this. Bravo!

I especially like your use of terminology. Since this is a review, I'm able to make connections between the elementary-level that I understand as

[2022-10-17 21:31] wparasae commented on #869
1. **Quick typo!**

Remove comma between themes and is :)

/EDIT/ - I didn't see there was more information below a screenshot! Facepalm... reviewing properly now..

2. **Quick Revision** - Consider adding [this tutorial about taking advantage of query loops](https://learn.wordpress.org/tutorial/taking-advantage-of-query-loops/) for user idea-generation to this sentence:

"Go ahead and add a query

[2022-10-17 21:44] wparasae commented on #870
Read through this! This is strong review, Jonathan - people familiar with this will be able to breeze through this, while also introducing beginners to new terminology.

[2022-10-17 21:56] wparasae commented on #955
"However, as a developer, I also understand that I need to know what the automated process does so that if it ever does something I don't expect, I know what to do. I also need to be aware of any limitations, so that I can find the correct workaround... I may be on an island here."

I strongly agree with this rationale. I like Anne's suggestion to lightly mention the tool at the beginning or end,

[2022-10-17 22:32] adamwoodnz commented on #937
👍 Just reviewed

[2022-10-18 04:56] kaitohm commented on #1000
@zzap has offered to review the translation for this lesson plan.

[2022-10-18 06:07] kaitohm commented on #1022
You can find my slides here: https://docs.google.com/presentation/d/1Pu_YfHfj2FpIj0F42evdnl0tpvawSnJEoQd-S6S_8jk/edit?usp=sharing

Just as a note, this Online Workshop is focusing on non-SEO methods of generating views. I plan on conducting a similar workshop soon on SEO, which I'll link here and in the slides once up.

[2022-10-18 06:33] jonathanbossenger commented on #1028
Thanks very much, @manzwebdesigns

[2022-10-18 08:16] juanmaguitar commented on #771
All the lessons in Modules 1 – 4 now each have at least one quiz or activity

Reviews are ongoing and we are receiving great [feedback](https://href.li/?https://github.com/WordPress/Learn/issues/771).
The course will be updated and amended in the light of comments and feedback as it's received.

**With the addition of the interactive elements, we can consider the course as ready for publication**

[2022-10-18 08:27] webtechpooja opened #1032 "Hindi translation for Lesson Plan "How to create a Lesson Plan""
# Details
- Link to original content: https://learn.wordpress.org/lesson-plan/how-to-create-a-lesson-plan/
- Language you'll be translating to: Hindi
- Have you arranged for someone to review this translation?: Yes or No - Yes
- Reviewer's GitHub username: webtechpooja
- Other info: Google doc link - https://docs.google.com/document/d/1Yc7BVY7owV1ZqilnsVFuVbUqin0Xs9RCXXSKSj8Muj4/edit

# Next Steps

[2022-10-18 09:46] vagelisp commented on #1028
Looking good, well done.

[2022-10-18 09:51] jonathanbossenger commented on #1028
Thanks @vagelisp

[2022-10-18 10:08] aygarp-modsiw opened #1033 "Nepali translation for Lesson Plan "How to create a Lesson Plan""
# Details
- Link to original content: https://learn.wordpress.org/lesson-plan/how-to-create-a-lesson-plan/
- Language you'll be translating to: Nepali
- Have you arranged for someone to review this translation?: Yes or No - No
- Reviewer's GitHub username: @kafleg
- Other info:

# Next Steps
Once translated, please link or upload your translated files in a comment on this issue, and request a [tra

[2022-10-18 10:39] juanmaguitar commented on #771
Some more comments/suggestions from my review of the course:

-----

At [Make the block interactive](https://learn.wordpress.org/lesson/make-the-block-interactive/) I would use some headings to make more clear the explanations over each one of the files. Something like...

[2022-10-18 13:10] jonathanbossenger commented on #1027
Workshop outline

- Introduction to block patterns
- Registering a pattern in PHP (plugins)
  - Twitter button
- Registering a pattern with a file in the patterns directory
  - Footer pattern
  - Pattern header (Title, slug, category)
  - Registering a pattern category
  - List of pattern categories
- Registering a pattern with an image
  - Removing id related data from the pattern
- International

[2022-10-18 13:32] jonathanbossenger commented on #1027
Investigate possible bug disabling core patterns

[code]

[2022-10-18 13:36] dhanushreddy291 commented on #1032
The Google Doc is inaccessible

[2022-10-18 13:40] jonathanbossenger commented on #894
@justintadlock awesome. I took a look at the outline, and I think it's great. 🎉

I ran a twitch stream on patterns today in preparation for my online workshop on Thursday, you can see the [outline I'm planning for the workshop here](https://github.com/WordPress/Learn/issues/1027#issuecomment-1282362217), there is a lot of overlap with your lesson outline.

The only thing I might do differently (wh

[2022-10-18 13:41] jonathanbossenger commented on #1027
https://developer.wordpress.org/themes/advanced-topics/block-patterns/

[2022-10-18 15:06] jonathanbossenger commented on #1014
https://user-images.githubusercontent.com/180629/196468941-abd25385-22ee-45b5-afeb-7acf58e7179a.mp4

[2022-10-18 18:05] courtneyr-dev commented on #524
6.1: patterns with the Query Loop, which reflects the intended post type, and the tools panel has been adopted to better consolidate the number of filters shown by default. Finally, folks who extend the Query Loop can also use an allowedControls property to determine what filters appear in variations to refine the UI based on their unique variation.

Visuals: [parent filter video](https://drive.go

[2022-10-18 18:15] courtneyr-dev commented on #456
https://github.com/WordPress/gutenberg/issues/37407
https://github.com/WordPress/gutenberg/pull/42520

[2022-10-18 19:49] westnz commented on #771
Published: https://learn.wordpress.org/course/introduction-to-block-development-build-your-first-custom-block/

[2022-10-18 21:54] hlashbrooke commented on #970
Looks good to me - explained clearly and succinctly.

[2022-10-18 22:35] wparasae commented on #920
Review:
I love how clearly you laid out the objectives -- the questions at the beginning do a great job to center the learner and activate background knowledge.

You do a good job with cursor effects. It's very clear where I should look, and that is something I want to emulate in my own workshops.

I really like the way you anticipate concerns a learner might have when navigating from the editor t

[2022-10-18 22:40] wparasae commented on #970
This looks good! I learned something new about WordPress :) I really liked that you explained why people make these choices at the end.

One optional opportunity for change is between 1:35-1:55 - the arrow felt like it should be pointing to the Image Size _or_ the Image Dimensions. It pulled my gaze -- I think you made that choice to encompass both the image size and the dimensions, though, so thi

[2022-10-18 23:55] westnz commented on #920
Thank you @wparasae! 😃

[2022-10-19 03:52] westnz commented on #968
- You have made the aim of the course clear and provided resources about design.
- Twenty **Twenty-Three** instead of Twenty Twenty Three
- To learn more about the process of **designing** a theme instead of To learn more about the process of design a theme
- ...Figma design to copy **it** to your own Figma account instead of ...Figma design to copy if to your own Figma account

[2022-10-19 04:18] renintw commented on #871
Since the video is embedded to Learn using `iframe`, which basically doesn't allow us to modify the CSS here as conceptually the stuff in an iframe has nothing to do with the embedded page - it's just content from other sites. In our case, it's from [wordpress.tv](https://wordpress.tv/2022/07/27/building-a-home-page-with-a-block-theme/).

If we want to change the video's style, we must change it t

[2022-10-19 04:22] outdoor2kode commented on #871
@bsanevans
Since the video is embedded to Learn using `iframe`, which basically doesn't allow us to modify the CSS here in Learn as conceptually the stuff in an iframe has nothing to do with the page being embedded - it's just content from other sites. In our case, it's from [wordpress.tv](https://wordpress.tv/2022/07/27/building-a-home-page-with-a-block-theme/).

If we want to change the video's

[2022-10-19 05:07] bsanevans opened #1034 "Online Workshop [Japanese] - Let's make a blog page using the query loop block"
# Event Details
- Title: クエリループブロックでブログページを作ろう！
- English title: Let's make a blog page using the query loop block!
- Description: We'll introduce the query loop block and using patterns with the block. We'll also walk through setting up a blog page from scratch using the query loop block.
- Target Audience: Beginner/Intermediate users
- Date: I'll be hosting this Online Workshop twice
  - Session

[2022-10-19 06:30] jonathanbossenger commented on #871
The Learn theme uses the default WordPress auto-embed functionality to embed the WordPress.tv video URL on the tutorial page

https://github.com/WordPress/Learn/blob/trunk/wp-content/themes/pub/wporg-learn-2020/template-parts/content-workshop-single.php#L32

This renders the video at full width above the content and sidebar on the tutorial (previously known as workshop) view.

If we changed this t

[2022-10-19 07:28] adamziel commented on #1010
Thank you for reporting @bacoords! There is a related [Pull Request](https://github.com/WordPress/gutenberg-examples/pull/227) by @dgwyer to get it fixed, currently blocked on minor linting issues. I'll look into that.

[2022-10-19 07:56] jonathanbossenger commented on #868
@wparasae thank you for your feedback. I've updated the content based on your suggestions.

[2022-10-19 07:56] jonathanbossenger commented on #868
https://learn.wordpress.org/lesson/block-theme-requirements-a-review/

[2022-10-19 08:43] vagelisp commented on #871
Ahh, I didn't even realise that was coming from an iframe when I added my comment.
It must have been a late-night one. Anyway, I apologise for the misinformation.

[2022-10-19 09:36] zzap commented on #1000
@majadidit ja bih nekoliko izraza zamenila ovde:
- `Meetup-a` -> `окупљања`,
- `говорници` -> `предавачи`
- `тренери` -> `добављачи обука` (training providers - ljudi koji snabdevaju druge ljude materijalom za obuku, ne znam kako to elegantno prevesti)

I ovde `окупљања` umesto `Meetup`:

Pod neophodnim veštinama nema potrebe da se stavlja crtica u `Вордпрес-ом`. Pošto je na ćirilici naziv zapravo

[2022-10-19 12:09] jonathanbossenger commented on #970
Great video @westnz, clear and concise.

[2022-10-19 12:15] jonathanbossenger commented on #920
Nice tutorial @westnz

I appreciate the way you described how you created the various pages before you start

One comment I might add is to explain that how the forms plugin UI appears/works is dependent on the plugin developer, so not all processes are the same across all plugins. You could do this when you show the initial forms search result or add it on right at the end.

Other than that, and

[2022-10-19 12:35] jonathanbossenger commented on #869
Thanks for the feedback @wparasae I've made the updates and suggestions.

[2022-10-19 13:40] jonathanbossenger commented on #869
https://learn.wordpress.org/lesson/templates-2/

[2022-10-19 13:41] jonathanbossenger commented on #870
Thanks @annezazu and @wparasae for your feedback.

[2022-10-19 13:52] jonathanbossenger commented on #870
https://learn.wordpress.org/lesson/template-parts-3/

[2022-10-19 14:00] jonathanbossenger commented on #955
Circling back to this:

I've decided that while it's still a good idea to explain the manual process first, it's also a good idea to highlight the three options at the top of the lesson. So I've added a TL:DR/TOC section at the top, which lists the three options, and includes a link to Create Block Theme.

Then I've added a Summary section at the bottom, which wraps this up with the recommendation

[2022-10-19 14:12] jonathanbossenger commented on #955
https://learn.wordpress.org/lesson/exporting-a-block-theme/

[2022-10-19 14:13] dgwyer commented on #1010
I would have updated the PR but was unsure what the linting issue was exactly. Glad to have your input.

[2022-10-19 20:29] westnz commented on #970
Thank you for the feedback!

[2022-10-19 22:11] westnz opened #1036 "Tools: Site Health Tutorial"

[2022-10-19 22:52] westnz commented on #970
Published: https://learn.wordpress.org/tutorial/managing-settings-media/

[2022-10-19 23:01] westnz commented on #920
Thank you @jonathanbossenger! 😺

[2022-10-20 03:12] adamwoodnz opened #1037 "Migrate Lesson Plan `wporg_lesson_category` taxonomy usage to `topic` taxonomy"
Depends on #1009

Once all the Lesson Plan `wporg_lesson_category` data has been moved into the common `topic` taxonomy we need to:

1. Add icon and sticky meta fields to the `topic` taxonomy like the current `audience` and `wporg_lesson_category` taxonomies, and switch landing page Topic tiles over to use `topic`:

![Screen Shot 2022-11-04 at 1 07 46 PM](https://user-images.githubusercontent.com/

[2022-10-20 03:23] adamwoodnz opened #1038 "Migrate Tutorial `video_language` meta field to new `language` meta field"
Depends on #1009

Once all the Tutorial `video_language` data has been copied into the common `language` meta field we need to:

1. Change filtering on archive page to use `language`
2. Change filtering on admin page toolbar to use `language`
3. Change any other places in the frontend which display the `video_language` to use `language`
4. Update the custom query which sorts Tutorials by `video_la

[2022-10-20 03:38] adamwoodnz opened #1039 "Migrate Course `course-category` taxonomy to `topic`"
Depends on #1009

Once all the Course `course-category` data has been moved into the common `topic` taxonomy we need to:

1. Update the Course archive page to use `topic` taxonomy
2. Unregister the `course-category` taxonomy and remove or replace any references in the UI

This seems to work to unregister it, however there were resulting errors:

[code]

[2022-10-20 04:01] westnz commented on #920
Published: https://learn.wordpress.org/tutorial/adding-a-contact-form-to-your-site/

[2022-10-20 06:40] jonathanbossenger opened #1040 "Sass Deprecation Warnings"
## Description
When running `yarn run create` the following Dart Sass deprecation warnings are displayed.

[code]

[2022-10-20 07:18] pragyaasapkota commented on #1033
The link to the translated draft --
https://docs.google.com/document/d/1EkAZtln83CmEq0LAzq3QDTq3bm8SE_DYBjccWTf2uGQ/edit

[2022-10-20 07:18] pragyaasapkota commented on #1033
I request a review.

[2022-10-20 08:51] jonathanbossenger commented on #968
Thanks, @westnz. In the process of migrating the data from markdown to Sensei, I picked up those, and a few other errors. I need to find a better spelling/grammar checker for my markdown files.

[2022-10-20 09:13] jonathanbossenger commented on #1027
@kathrynwp has kindly offered to co-host

[2022-10-20 10:36] lenasterg commented on #1023
Ηi.
@vagelisp, check by me.
See the track changes.

[2022-10-20 10:37] vagelisp commented on #1023
Thank you so much @lenasterg ,
I merged your suggestions/edits

[2022-10-20 12:32] jonathanbossenger opened #1041 "Course: A Developers Guide To Block Theme Development - Part 2"
# IMPORTANT
**This course depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Ideally that course should be completed before tackling any lesson related to this course**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this course.**

See also [part 1](https://git

[2022-10-20 13:22] o-samaras commented on #1023
Hi @vagelisp. Couple more suggestions and a comment in there.
Thanks for taking care of this! 💪

[2022-10-20 17:54] wparasae commented on #631
Course Name Updated - I've been considering the name of this course, and after discussing it with @jonathanbossenger and @hlashbrooke, have decided to update it to "Develop Your First Low-Code Block Theme" to better reflect what it is a learner will get out of this course. This is an easily reversible decision, so if there is concern, questions, or if it doesn't translate well for some reason, we

[2022-10-20 18:08] wparasae commented on #842
Updating lesson objectives to better fit the flow of the course.

[2022-10-20 18:40] wparasae commented on #842
**Needs For Visuals**:
-What a block theme's global settings looks like with a bare-bones theme.json (no options -- also existed in the last module, so be aware of that)
-What a block theme's global settings look like with appearance tools turned on (show where these turn off and on)
-What a block theme's global settings look like with a color palette pre-selected
-What changing the colors in a th

[2022-10-20 18:50] wparasae commented on #842
Essential questions for a video:
Some essential questions I'm generating around this are:
1. Why would developers want to turn global settings off and on for a client?
2. When a theme is first installed, some themes have certain colors pre-set.
- Where do these colors come from?
- How can these colors be pre-set in certain blocks or elements of a site?

[2022-10-20 19:38] wparasae commented on #842
Script/Text for Potential Tutorial: "An Overview of theme.json for Beginners"

Mini-Lesson / Workshop: **Hook (Attention Grabber / Background Activator)**

Have you ever noticed that some themes have more options available to you than others?
_(Visual: Theme with appearance tools turned on vs. theme with appearance tools turned off)_ [Resource: 1st Half of This Video](https://drive.google.com/file

[2022-10-20 21:31] wparasae commented on #842
Update: Still gathering visuals. I think I need to add some course-specific information in here as well, so it's not exactly a stand-alone lesson plan, but I suppose I could put that in the course module itself rather than here in order to make this a lesson plan all on its own maybe?

Either way, Module 3, Lesson 1 is in progress; I anticipate starting on Lesson 2 (which is turning on appearance

[2022-10-20 21:40] wparasae commented on #631
Second Update: Module #3 has been started (see [The Basics of Theme.json for new developers lesson plan](https://github.com/WordPress/Learn/issues/842)) and is in-progress. It would make a good video tutorial, but it's also satisfactory as text; screenshots and short rough draft videos are included.

[2022-10-21 02:21] westnz commented on #1036
https://user-images.githubusercontent.com/89751452/197096106-102b10df-01a4-473b-bf57-d05f455a291d.mp4

[2022-10-21 04:40] pragyaasapkota commented on #1033
@courtneyr-dev
@bsanevans
How can I get a reviewer?

[2022-10-21 04:47] kaitohm commented on #946
You can find my slides for this presentation here: https://docs.google.com/presentation/d/1sT9nZ9TFoaCsJVnLjN2P2ABG-jfIuXaPAQX_H0tQ3HE/edit?usp=sharing

Here is a [Local export of the test site](https://localwp.com/help-docs/getting-started/how-to-export-a-wordpress-site-on-local/) used in this presentation. Feel free to download this and modify as needed: https://drive.google.com/file/d/1FJr-Fd92

[2022-10-21 05:19] kaitohm commented on #1033
I've pinged a [General Translation Editor](https://make.wordpress.org/polyglots/teams/?locale=ne_NP) in the Training Slack channel to see if they can review this for us. ([link to Slack message](https://wordpress.slack.com/archives/C02RW657Q/p1666329467950939))

[2022-10-21 05:19] kafleg commented on #1033
I'm on it. :)

[2022-10-21 05:36] kafleg commented on #1033
@Pragya2056

Please translate:

Meetup - मिटअप
WordPress - वर्डप्रेस
Knowledge -?

Also, would you please give me the editing access so that I can suggest?

Thank you

[2022-10-21 05:45] Piyopiyo-Kitsune commented on #972
Slides: https://docs.google.com/presentation/d/1VEqUqn2NRoaJ10V7hlJ2HVTzQ3nViJL4fWTievCunjk/edit?usp=sharing

[2022-10-21 06:22] pragyaasapkota commented on #1033
@kafleg I will replace the words in general text - but I imagine that would be a confusion for links. Please let me know what you think.
I will also give you the editng access.

[2022-10-21 06:35] pragyaasapkota commented on #1033
@kafleg
I have corrected the mistakes and provided you editing access.
Please let me know if I missed something.
Thank you!!!

[2022-10-21 08:26] jonathanbossenger commented on #842
@wparasae looks good, I just have a few suggestions.

While I agree that JSON is JavaScript Object Notation, I personally wouldn't call the code in theme.json JavaScript, just because it might put folks off. I'd just say `must be coded in your theme's theme.json.

I would reword this slightly
[code]

[2022-10-21 09:28] vagelisp commented on #1023
Thanks, @o-samaras I accepted your suggestions!

[2022-10-21 09:49] Pragya2056 opened #1042 "Learn WordPress Content Error Report - Ticket"
# Error Description
- Content URL: https://learn.wordpress.org/lesson-plan/how-to-create-a-lesson-plan/

Write a description of the error here.
Four of the links are not working - show a 404 error.
1. Approved choices
![image](https://user-images.githubusercontent.com/55945790/197166561-2852129d-1398-40c5-94ec-a1b9b73ba900.png)
![image](https://user-images.githubusercontent.com/55945790/197166994-

[2022-10-21 10:26] SagarLadani opened #1043 "Gujarati Pattern Lesson Plan Block"
I made PR [SagarLadani/learn/pull/1] to add the Gujarati version of the block pattern for the Lesson plans.

I used what we already use for the translation content.

Thanks.

[2022-10-21 13:37] jonathanbossenger commented on #821
This course is now available for public review! 🎉

[A Developers Guide to Block Themes – Part 1](https://learn.wordpress.org/course/a-developers-guide-to-block-themes-part-1/)

**How to review:**

Make sure you are logged into your WordPress.org account, click on the link above, and take the course.

During the review, it would be helpful if you can keep the following questions in mind while revie

[2022-10-21 16:08] vagelisp opened #1045 "Lesson Plan Block Patterns order and naming scheme"
To ensure English Block Pattern is the first on the list, I created PR  #1044  to rename the English Block Pattern to 00-en-lesson-plan.php. The 00 prefix will force the block pattern to always be the first option on the pattern selector. After that, the rest block patterns will follow based on their prefix order.

My suggestion for the file names is to use the [WP Locale](https://make.wordpress.o

[2022-10-21 16:49] wparasae commented on #843
**Update**
I think the goal of this lesson needs to be about the simplest ways to turn on more features for people to effectively design a custom block theme in their site editor. Therefore, the settings we should focus on are:

1. AppearanceTools
2. Color Palette (Intermediate)
3. Layout

Specifically to toggle these options off and on.

We *might* consider including an optional "Styles" section

[2022-10-21 17:48] wparasae commented on #842
Change has been made. Thank you for that review and insight, Jonathan!

[2022-10-21 17:50] wparasae commented on #843
I experimented with this code today and am looking to get it reviewed by someone more familiar with themes.

**My goal for this snippet:**
Allow intermediate users to copy and paste the simplest code into a blank theme.json file.
Allow intermediate users to start coding settings in theme.json for the very first time
Unlock the most tools we can in the simplest way possible for use exclusively in t

[2022-10-21 18:08] jonathanbossenger commented on #1027
https://wordpress.tv/2022/10/21/lets-code-using-block-patterns-in-your-block-theme/

[2022-10-21 18:08] #1027 closed

[2022-10-21 18:16] wparasae commented on #843
Suggestion: Change "background" and "foreground" to "base" and "contrast".

[2022-10-21 18:38] DaisyOlsen commented on #1017
Video has been published. I'm having some trouble with getting subtitles done but will come back to that early next week. https://wordpress.tv/2022/10/21/hallway-hangout-block-theme-development-features-in-wordpress-6-1/

[2022-10-22 00:06] Piyopiyo-Kitsune commented on #972
Video: https://wordpress.tv/2022/10/21/wordpress-roles-and-capabilities/

[2022-10-22 00:06] #972 closed

[2022-10-22 00:28] Piyopiyo-Kitsune opened #1046 "Online Workshop - Block & Theme Global Styles Customization"
# Event Details
- Title: Block & Theme Global Styles Customization
- Description:
Block Themes have introduced more versatility to our site design than ever before. With the highly customizable theme.json file, themes can now hold multiple design styles, giving users flexibility to quickly change their site's aesthetic. From there, individual blocks can be further customized to a site owner's desi

[2022-10-22 00:31] Piyopiyo-Kitsune opened #1047 "Online Workshop - WordPress Roles and Capabilities"
# Event Details
- Title: WordPress Roles and Capabilities
- Description: Ever wondered what all of the out of the box WordPress roles were and how to use their capabilities across the site? Wonder no more! This is a foundational WordPress discussion where we will talk through the various roles in WordPress and the capabilities each possess.
- Target Audience: Beginners and above, but anyone can be

[2022-10-22 08:39] kaitohm commented on #946
WordPress.tv recording can be found here: [行ブロック・縦積みブロックでレスポンシブデザインを体験](https://wordpress.tv/2022/10/22/%e8%a1%8c%e3%83%96%e3%83%ad%e3%83%83%e3%82%af%e3%83%bb%e7%b8%a6%e7%a9%8d%e3%81%bf%e3%83%96%e3%83%ad%e3%83%83%e3%82%af%e3%81%a7%e3%83%ac%e3%82%b9%e3%83%9d%e3%83%b3%e3%82%b7%e3%83%96%e3%83%87%e3%82%b6/)

[2022-10-22 08:39] #946 closed

[2022-10-22 16:32] robinwpdeveloper opened #1048 "Online Workshop - Getting Started with Core Contribution (Bangla) - Part 1"
# Event Details
- Title: Getting Started with Core Contribution (Bangla) - Part 1
- Description:
ওয়ার্ডপ্রেস কোর কন্ট্রিবিউশানে হাতেখড়ি (বাংলা) - ১ প্রয়োজনীয় প্রোফাইল তৈরি

This session will be held at an APAC-friendly time.

If you cannot get to the live session, keep an eye out for the recording we’ll be publishing on wordpress.tv after the session is completed :-)

This Online Workshop is a

[2022-10-22 16:33] robinwpdeveloper commented on #1048
Please remove the label Need Co-host

[2022-10-22 16:39] robinwpdeveloper opened #1049 "Online Workshop - Getting Started with Core Contribution (Bangla) - Part 2"
# Event Details
- Title: Getting Started with Core Contribution (Bangla) - Part 2
- Description:
ওয়ার্ডপ্রেস কোর কন্ট্রিবিউশানে হাতেখড়ি (বাংলা) - ২ Core Trac নিয়ে ধারনা

This session will be held at an APAC-friendly time.

If you cannot get to the live session, keep an eye out for the recording we’ll be publishing on wordpress.tv after the session is completed :-)

This Online Workshop is an ov

[2022-10-22 16:40] robinwpdeveloper commented on #1049
Please remove Needs Co-host label

[2022-10-22 16:45] robinwpdeveloper opened #1050 "Online Workshop - Getting Started with Core Contribution (Bangla) - Part 3"
# Event Details
- Title: Getting Started with Core Contribution (Bangla) - Part 3
- Description:
ওয়ার্ডপ্রেস কোর কন্ট্রিবিউশানে হাতেখড়ি (বাংলা) - ৩ গিটহাব PR দিয়ে কিভাবে কন্ট্রিবিউশানে করা যায় |

This session will be held at an APAC-friendly time.

If you cannot get to the live session, keep an eye out for the recording we’ll be publishing on wordpress.tv after the session is completed :-)

Th

[2022-10-22 16:45] robinwpdeveloper commented on #1050
Please remove the label Needs Co-host

[2022-10-23 04:48] Pragya2056 commented on #1033
@kafleg
Are there any problems in the new corrected draft ?

[2022-10-24 03:56] kharissulistiyo commented on #1022
Hi @bsanevans,

I reviewed the slides. Everything looks good.

I have some suggestions:

* May I suggest adding _"Wear a t-shirt with your homepage URL printed on it"_ into [slide 25](https://docs.google.com/presentation/d/1Pu_YfHfj2FpIj0F42evdnl0tpvawSnJEoQd-S6S_8jk/edit#slide=id.g1438c4188b5_1_208)?
* May I suggest adding _"A short biography box to tell audience who is writing the post?"_ for _"

[2022-10-24 05:27] kaitohm commented on #1022
Thanks for taking a look, @kharissulistiyo ! Your t-shirt idea was excellent! I went and added a new slide (new slide 25) all about that, and to encourage folks to get creative.

[2022-10-24 08:21] jonathanbossenger opened #1051 "Online Workshop - Let's code! Global Styles Variations in Block Themes"
# Event Details
- Title: Let's code! Global Styles Variations in Block Themes.
- Description: One of the great benefits of the Global Styles system in WordPress block themes is the ability to create multiple variations that users can choose from. With variations, theme developers can create multiple different websites using the same base theme code, providing a wider range of options to their user

[2022-10-24 18:28] justintadlock commented on #894
The draft for the Theme Patterns module is here: https://github.com/justintadlock/block-theme-course/tree/main/module-06

I have finished code review but not quite done with copyediting yet.

[2022-10-24 20:19] ludovicobesana commented on #1013
@courtneyr-dev Hello :)
I'm trying to join inside the slack for making some contributions but the slack invite didn't work.
I can't create an account.
<img width="489" alt="Schermata 2022-10-24 alle 22 18 18" src="https://user-images.githubusercontent.com/35035423/197621007-c25e6d6f-97db-4803-aa18-041273c234c7.png">

[2022-10-24 20:47] westnz opened #1052 "Trabalhando com estilos globais / Styling Your Site With Global Styles - Tutorial (Brazilian Portuguese)"

[2022-10-24 20:49] westnz commented on #1052
Link to video: https://wordpress.slack.com/archives/C02RW657Q/p1666335917778679

[2022-10-24 21:16] westnz commented on #1036
https://wordpress.slack.com/archives/C02RW657Q/p1666318939908299

<img width="379" alt="image" src="https://user-images.githubusercontent.com/89751452/197631113-342a1181-e7f7-4225-b27c-90c6fd42cdbb.png">

[2022-10-25 00:33] #1025 closed

[2022-10-25 04:58] bsanevans opened #1053 "Japanese translation for Lesson Plan "Lesson plan 1""
# Details
- Link to original content:
- Language you'll be translating to: Japanese
- Have you arranged for someone to review this translation?: No
- Reviewer's GitHub username:
- Other info:

# Next Steps
Once translated, please link or upload your translated files in a comment on this issue, and request a [translation review](https://make.wordpress.org/training/handbook/content-localization/#tra

[2022-10-25 04:58] kaitohm commented on #1053
This is ready for a review: https://docs.google.com/document/d/1_PiYd_JOdpnD_bv5cOs0fOedI9rPRC10Dwv3czK6ah0/edit?usp=sharing

[2022-10-25 05:00] kaitohm commented on #1053
This issue was created as a test for a video recording I was making. Closing now.

[2022-10-25 05:00] #1053 closed

[2022-10-25 06:18] bsanevans opened #1054 "Online Workshop - What is SEO? (Search Engine Optimization)"
# Event Details
- Title: What is SEO? (Search Engine Optimization)
- Description: Come prepared to learn, and to share your knowledge, about the relationships between websites and search engines.
- Target Audience: Beginner Users
- Date: I'll host this session twice to cover multiple timezones
  - ~November 3rd ([Meetup.com event link](https://www.meetup.com/learn-wordpress-online-workshops/events

[2022-10-25 07:06] MatzeKitt commented on #1024
I will review it. 🙂

[2022-10-25 07:16] kaitohm commented on #1048
@robinwpdeveloper Is your cohost Abid Hasan on GitHub? If so, could you share their GitHub username with us? That way, we'll be able to track their contribution here. ( I can add them to [part 2](https://github.com/WordPress/Learn/issues/1049) and [part 3](https://github.com/WordPress/Learn/issues/1050) also.)

I've removed the `Needs Co-host` label in the meantime 👍

[2022-10-25 11:12] paulopmt1 commented on #1052
Another great video!

Only two small notes, not sure if we need to fix them:
- at 0:14, we have the text `Personalizar tipografía` with an unnecessary accent at `í`. It should be `Personalizar tipografia`
- at 1:15, we have a duplicity of the audio `Como podemos ver`

Both issues are small and don't affect the video quality.

[2022-10-25 13:37] jonathanbossenger commented on #887
Note to self: It might be easier to set the fontFamily to use single quotes inside double-quoted strings.

eg:

[code]

instead of needing to use the \ escape character.

[2022-10-25 13:53] fellyph commented on #1052
Thanks @paulopmt1,

I will have a look on it!

[2022-10-25 14:09] jonathanbossenger commented on #1051
Notes:

- https://make.wordpress.org/core/2022/05/03/global-styles-variations-in-wordpress-6-0/
- create a variation manually - colors
- remove "isGlobalStylesUserThemeJSON": true, when creating a style manually
- what happens when the style is applied - added to the record in the database
- how complicated it is to manually create a style, rather use create block theme's style option
- fonts in c

[2022-10-25 15:24] robinwpdeveloper commented on #1048
Thanks @bsanevans

Co host will be @abid112

[2022-10-25 19:43] courtney-pk opened #1055 "Online Workshop - The Creative Side of Blocks, Vol. 3"
# Event Details
- Title: The Creative Side of Blocks, Volume 3
- Description: Did you know that you can create all sorts of interesting art with blocks in WordPress? The possibilities are wild and wonderful! Join us for a look behind a piece of block art and perhaps you’ll be inspired to create your own.

Rich Tabor will be joining us to walk us through one of his block art creations. We’ll also i

[2022-10-26 01:52] kaitohm commented on #1048
Thanks Robin!

@abid112 Could you comment a short message on this issue please? A simple "I'll be co-hosting" will be fine. At the moment, I can't assign you to the issue, but I think I'll be able to once you have some activity in the Learn WordPress repository.

[2022-10-26 05:07] abid112 commented on #1048
I'll be co-hosting @bsanevans 🙌

[2022-10-26 07:01] kaitohm commented on #1048
Thanks @abid112 🙌🏼
Unfortunately, I still cannot assign you to the other issues... Could you comment on the other issues, too, so that I can assign you? (https://github.com/WordPress/Learn/issues/1049 and https://github.com/WordPress/Learn/issues/1050 also.) Thanks!

[2022-10-26 07:48] abid112 commented on #1049
I'll be co-hosting 🙌

[2022-10-26 07:49] abid112 commented on #1050
I'll be co-hosting 🙌

[2022-10-26 07:49] abid112 commented on #1048
Done @bsanevans

[2022-10-26 11:29] majadidit commented on #1000
Thanks everyone! I think I have made all relevant changes. I think the doc is ready to go.

[2022-10-26 13:48] jonathanbossenger commented on #1051
@kathrynwp has kindly offered to co-host

[2022-10-26 14:34] jonathanbossenger commented on #846
@justintadlock, just confirming you're taking over this lesson as well?

[2022-10-26 14:36] jonathanbossenger commented on #896
I plan to tackle this next week

[2022-10-26 14:36] jonathanbossenger commented on #897
I plan to tackle this next week

[2022-10-26 19:25] MatzeKitt commented on #1024
I stopped on the headline "Das Dashboard" (in original: "Page Body"). It seems that the original post has been updated in the meantime and the content following this headline (and also the content of following headlines) is out of date in this German version.

@gudrunfrank Could you please update the post to the latest version?

[2022-10-26 20:16] justintadlock commented on #846
Yes, I am handling this one too.

**Edit:** I'm hoping to have a draft of this lesson up today here: https://github.com/justintadlock/block-theme-course/tree/main/module-09

[2022-10-26 22:15] courtney-pk commented on #1020
Slides:
https://drive.google.com/file/d/1VEokmpbGTXKURgldbSI8-eXvHFuey4T1/view

WPTV Video with captions:
https://wordpress.tv/2022/10/26/a-brief-history-of-wordpress/

[2022-10-26 23:44] hlashbrooke commented on #821
This course is fantastic and I loved going through it - excellent content and really well put together. Wonderful work all round!

Two quick typos to fix:

* The first question on this quiz: https://learn.wordpress.org/quiz/building-your-theme-structure-in-the-editor-summary/. The question reads "What is one common different between using Group blocks and Row blocks when defining your template lay

[2022-10-27 02:01] hlashbrooke opened #1060 "Update markup and styling for My Courses page"
The My Courses page is generated by Sensei and can be viewed here: https://learn.wordpress.org/my-courses - this is a draft page, so you need to be logged in to view it.

The page shows all of the courses the logged-in user has enrolled in, with tabs to filter to only active or completed courses.

We need the course cards on this page to have the same styling as the course cards on [the courses pa

[2022-10-27 02:13] kaitohm commented on #1000
Yay! When publishing the post, I realized the translation had been made in a general Post content type, rather than our specific Lesson Plan content type. I copied all content across into a new Lesson Plan, and published it below:

[Како припремити план лекција?](https://learn.wordpress.org/lesson-plan/%d0%ba%d0%b0%d0%ba%d0%be-%d0%bf%d1%80%d0%b8%d0%bf%d1%80%d0%b5%d0%bc%d0%b8%d1%82%d0%b8-%d0%bf%d0%

[2022-10-27 02:13] #1000 closed

[2022-10-27 02:31] westnz commented on #456
I have re-recorded and updated the entire tutorial for 6.1:

https://user-images.githubusercontent.com/89751452/198176810-c1931bbb-4420-42bc-ac55-60fdeb8ab10a.mp4

[2022-10-27 05:26] kaitohm commented on #755
Updated the title from Workshop to Tutorial as per the name change.

[2022-10-27 05:27] #755 closed

[2022-10-27 05:27] #862 closed

[2022-10-27 05:27] #796 closed

[2022-10-27 05:27] #794 closed

[2022-10-27 05:27] #791 closed

[2022-10-27 06:26] jonathanbossenger commented on #821
Thanks for the review, as well as your kind words @hlashbrooke

I'll make sure to get those errors fixed.

Yes, this is actually one of the reasons I added that final lesson, so that we can link learners to it, once it's published.

One thing I'd love to be able to do is somehow let all learners who enrolled for part 1 know when part 2 is available. Do you know if this is currently possible?

[2022-10-27 06:49] westnz commented on #960
Published: https://learn.wordpress.org/tutorial/tools-import-and-export/

[2022-10-27 07:17] Piyopiyo-Kitsune commented on #1028
Great work Jonathan!

Some shoer feedback:
- I loved the zoom into the link, but I felt that went very quick.
- Around 3:40 you go on to list some items-- I know that you point to it with an arrow, but it would be cool if there were some red boxes or indicators of the sections you are referring to as you list them out on the image.

[2022-10-27 07:21] jonathanbossenger commented on #1028
Thanks for the feedback @Piyopiyo-Kitsune I'll make those tweaks before I publish.

[2022-10-27 08:45] jonathanbossenger commented on #1060
I'd argue there's no reason not to publish it now, and then update the styling after it's live. It's such a huge benefit to course learners, I'd prefer to ship it and iterate on it once it's available.

In order to make it useful, we would need to have this linked somewhere. Some ideas:

- Next to the **View All Courses** link at the top of the list of courses on the home page
- Somewhere at the t

[2022-10-27 08:48] digitalchild commented on #1060
I would agree with @jonathanbossenger the benefit to learners having easy access to this information far outweighs the need for a clean style.

[2022-10-27 08:51] digitalchild commented on #1060
We also need to add this page to navigation, somewhere that is obvious and easy for learners to find.

[2022-10-27 08:56] jonathanbossenger commented on #1060
I just noticed the menu at the top of the Learn site once you get past the home page.

I checked, and this is just a regular classic menu, so it would just be a case of publishing the page, and adding it to that menu.

[2022-10-27 10:14] jonathanbossenger commented on #1060
FWIW this ticket can remain open if the page is published because it's asking for a visual update.

[2022-10-27 11:50] jonathanbossenger commented on #1028
Video updated with feedback incorporated.

https://user-images.githubusercontent.com/180629/198276704-26b6004c-01dd-4267-8858-b95edc5b173b.mp4

[2022-10-27 20:27] hlashbrooke commented on #1060
I have published the page now: https://learn.wordpress.org/my-courses

I'm hesitant to add it to the top menu, mostly because it means that the menu won't fit in the space provided for it. We could add it as a drop-down under 'Courses' though, but that will likely require some CSS to make it work.

That being said - that top menu is actually hard-coded in the theme and not coming from the dashboar

[2022-10-27 21:22] justintadlock commented on #846
Draft is up now: https://github.com/justintadlock/block-theme-course/blob/main/module-09/02-Locking-Blocks-to-Prevent-User-Changes.md

Still needs copyediting.

[2022-10-28 01:42] hlashbrooke commented on #821
As far as I know, It isn't possible to email all learners in a course, but I'll dig into that to see what we can do.

[2022-10-28 06:55] jonathanbossenger commented on #1060
Yay!

I agree, these two seem to be the highest-value wins with the lowest requirements to implement.

[2022-10-28 06:58] digitalchild commented on #1060
Agreed that these are the best areas without having to modify the menu/etc.

[2022-10-28 07:30] jonathanbossenger commented on #520
Relevant handbook doc - https://developer.wordpress.org/themes/advanced-topics/theme-json/#a-theme-json-can-be-added-to-any-theme

[2022-10-28 07:33] jonathanbossenger commented on #509
@courtneyr-dev @azhiya Given that block themes are discussed in this [Beginners Guide to the Template Hierarchy](https://github.com/WordPress/Learn/issues/1028) tutorial, may I suggest we close this out?

The template hierarchy remains the same in both classic themes or block themes, the only real difference is the file names and the file location. Both are covered the the linked tutorial.

[2022-10-28 07:34] jonathanbossenger commented on #520
Now that I've brought myself up to speed on block theme development, I'd like to tackle this one.

[2022-10-28 07:45] jonathanbossenger commented on #517
@courtneyr-dev I'm just thinking about what would make the most sense here.

I notice that the lesson plan is using 2013, so classic theme and PHP. However, we're now coming up to the second default block theme in TT3.

So I'm thinking this for this tutorial it might be a good idea to cover the following:
- Introduction: What are Templates? (this can be the same content from the lesson plan, updat

[2022-10-28 07:53] jonathanbossenger commented on #519
As I've spent the last 6 months getting ramped up on block themes and theme.json, I'd like to take a stab at this.

However, theme.json is a BIG topic, there's so much to cover. So I'd suggest we pare this video down to an Introduction to theme.json, covering the following:

- Overview of theme.json, what it is, what it can do
  -  JSON object that uses the schema for auto-completion
  - developer

[2022-10-28 09:06] jonathanbossenger commented on #1028
Published: https://learn.wordpress.org/tutorial/a-beginners-guide-to-the-wordpress-template-hierarchy/

[2022-10-28 12:25] jonathanbossenger opened #1061 "Streamline your Block Theme development with Create Block Theme - Tutorial"
# Topic Description
An introduction to the theme development tools available in the create block theme plugin
- create a blank theme
- overwrite the active theme
- clone the active theme
- create a child theme
- export the current theme

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- (Create Block Theme)[https://wordpress.org/plugi

[2022-10-28 12:28] jonathanbossenger opened #1062 "Using Create Block Theme to manage your Block Theme fonts - Tutorial"
# Topic Description
Create Block Theme has a fantastic new feature that enables theme developers to add external fonts to their block theme. Whether you want to download a font from Google fonts, or install a font you've downloaded elsewhere, Create Block Theme makes it painless to add them to your block theme.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenbe

[2022-10-28 12:56] jonathanbossenger opened #1063 "Online Workshop - WordPress development live stream: Internationalisation"
# Event Details
- Title: WordPress development live stream: Internationalisation
- Description: Join me live every Tuesday as I prepare for my Thursday Let's Code online workshops by building something live. These sessions are streamed via [Twitch.tv](https://www.twitch.tv/).

This week I will be creating a blank theme, and then preparing it for translation, by following [the WordPress Theme Devel

[2022-10-28 12:58] jonathanbossenger opened #1064 "Online Workshop - Let's code! Internationalisation in Block Themes"
# Event Details
- Title: Let's code! Internationalisation in Block Themes
- Description: In this session, we will take a brief look at what Internationalisation (or i18n) in themes means, as well as cover the common Internationalisation functions available in WordPress, and how to use them. We'll then create a blank block theme, and then take a look at the strings that we might need to make transl

[2022-10-28 15:31] gudrunfrank commented on #1024
@MatzeKitt thank you for taking a look. I am not sure what you are referring to with the post being changed since the translation. The original was created on 8/9/2020 and I do not see any modification date. https://learn.wordpress.org/lesson-plan/dashboard-overview/
In any case, I do not see the lesson plan "translations" in a typical sentence for sentence translation. I view the original as a st

[2022-10-28 15:36] pragyaasapkota commented on #1033
@kafleg
Are there any problems in the new corrected draft ?

[2022-10-28 18:54] sumitsinghwp opened #1065 "Wrong URL on Code of Conduct page"
Hi,

I have visited https://learn.wordpress.org/online-workshops/code-of-conduct/ page.  and I can't access the below link which is mentioned in License And Attribution section.

Can someone fix it?
**This site can’t be reached**  =>  http://opensourcebridge.org/about/code-of-conduct/

Thank you.

[2022-10-31 03:10] kafleg commented on #1033
Checked and edited. Ready to go.

CC: @courtneyr-dev

[2022-10-31 06:39] Pragya2056 commented on #1033
Thank you @kafleg .
Do I need to do something to process further ?

[2022-10-31 06:46] jonathanbossenger opened #1066 "Online Workshop Series - Developing Blocks without React!"
This issue will be used to track the series of workshops on this topic, including any notes taken from the live stream sessions.

# Event Details
- Title: Developing Blocks without React!!! (title to be confirmed)
- Description: JSX is the React extension to JavaScript that allows you to create components using a syntax similar to HTML. While most block editor tools and tutorials on the web provid

[2022-10-31 11:00] jonathanbossenger commented on #821
This course has been published! https://learn.wordpress.org/course/a-developers-guide-to-block-themes-part-1/

[2022-10-31 11:00] #821 closed

[2022-10-31 11:13] #868 closed

[2022-10-31 11:13] #869 closed

[2022-10-31 11:13] #870 closed

[2022-10-31 11:13] #955 closed

[2022-10-31 11:13] #968 closed

[2022-10-31 11:13] #969 closed

[2022-10-31 11:13] #963 closed

[2022-10-31 11:13] #964 closed

[2022-10-31 11:14] #875 closed

[2022-10-31 11:14] #877 closed

[2022-10-31 11:14] #962 closed

[2022-10-31 11:14] #885 closed

[2022-10-31 11:14] #886 closed

[2022-11-01 00:29] kharissulistiyo commented on #1012
Hi Team,

The translation is done and was reviewed: https://docs.google.com/document/d/10fNerbhzRXjdu9FHwFsUZDpxPVyJqL4B1CwHm0Md3Uo/edit?usp=sharing.

I think it is ready to go. Thanks!

[2022-11-01 02:07] Piyopiyo-Kitsune commented on #1046
You can find the previous recording and slides here: https://wordpress.tv/2022/09/25/block-theme-global-styles-customization/

The recording from this session is available for rewatch here: https://wptv.files.wordpress.com/2022/10/block-theme-global-styles-customization.mp4

[2022-11-01 02:07] #1046 closed

[2022-11-01 02:08] Piyopiyo-Kitsune commented on #1047
You can find the recording and slides from the previous session on WordPress.tv here: https://wordpress.tv/2022/10/21/wordpress-roles-and-capabilities/

The recording for this session is available for rewatch here: https://wptv.files.wordpress.com/2022/10/roles-and-capabilities.mp4

[2022-11-01 02:08] #1047 closed

[2022-11-01 02:48] adamwoodnz commented on #1008
Topic taxonomy and Language meta field have been added to `meeting` but there is currently no way to edit language on this post type only. Need to add a meta box on the edit meeting screen.

[2022-11-01 03:33] robinwpdeveloper commented on #1048
Published on WordPress.tv
Link: https://wordpress.tv/2022/10/31/getting-started-with-core-contribution-bangla-part-1/

Thanks @abid112 @bsanevans :)

[2022-11-01 03:37] robinwpdeveloper commented on #1049
Published on WordPress.tv
Link: https://wordpress.tv/2022/10/31/getting-started-with-core-contribution-bangla-part-2/

Thanks @abid112 @bsanevans :)

[2022-11-01 03:39] robinwpdeveloper commented on #1050
Published on WordPress.tv
Link: https://wordpress.tv/2022/10/31/getting-started-with-core-contribution-bangla-part-3/

Thanks @abid112 @bsanevans :)

[2022-11-01 03:43] #1039 closed

[2022-11-01 03:47] hlashbrooke commented on #1037
Confirming that the lesson plan categories have all been migrated to the topic taxonomy and the content has been added to the appropriate topics, so everything is prepped for the three tasks in this issue to be worked on.

[2022-11-01 09:11] #521 closed

[2022-11-01 11:19] vagelisp commented on #1014
Looking good to me.
Such a great feature.

[2022-11-01 11:39] jonathanbossenger commented on #1014
Thanks @vagelisp

A great feature to look forward too indeed.

[2022-11-01 16:08] courtneyr-dev commented on #1014
Please do release :)

[2022-11-01 16:16] courtneyr-dev opened #1068 "LearnWP Site in Spanish"
@tobifjellner indicates:

Learn WordPress contains some main category/workshop names in Spanish that should be removed in favor of using the corresponding entries in English.

- Cómo usar WordPress → Using WordPress
- Cómo contribuir a WordPress → Contributing to WordPress
- Editor de Bloques - Tutorial básico → Block Editor (and there's a typo in the Spanish description "también conocido como Gut

[2022-11-01 19:00] hlashbrooke commented on #1068
Does this mean we should change the titles of those videos to be in English? They are recorded in Spanish, so that feels like a step backwards, but I'm happy to discuss what would be the best solution here.

[2022-11-01 19:37] tobifjellner commented on #1068
I haven't looked at the site itself, but some of these strings looked rather like category names, where there already are corresponding categories with English names.
When it comes to content in other languages than English, we should probably record the original title AND an English translation, which will be used as source string for any further translation.

[2022-11-01 19:41] hlashbrooke commented on #1068
Some of them are taxonomy terms too - those are ones that are all grouped in the same language and topic. Should we change those taxonomy terms to English, even though all the content in the taxonomy is in Spanish? If that's the better way to do it for translation and ease of navigation, then I'm happy to do so.

That would certainly be ideal, and we have been doing that with a number of videos la

[2022-11-01 21:40] westnz commented on #699
Updated

[2022-11-01 21:51] abhansnuk commented on #456
Reviewing. Thanks @westnz .

At 4:8 and 7:13, can we remove the color image behind the text in these slides as this is not good for accessibility.
@azhiya @webtechpooja and @courtneyr-dev  can we add this into the checklists please too?

At 7:37 a query on whether we will be using that kind of opening a page as it can be difficult for some people with visual issues.

Can we hold on the last slide

[2022-11-01 23:59] westnz commented on #456
Thank you for the feedback @abhansnuk

[2022-11-02 00:06] #937 closed

[2022-11-02 00:56] adamwoodnz commented on #937
This has just been deployed and these styles removed from Customiser. I noticed that new styles have been added though:

[code]

Is there an issue for moving those into the theme?

[2022-11-02 00:59] adamwoodnz commented on #811
Done in #1030

[2022-11-02 00:59] #811 closed

[2022-11-02 01:01] abhansnuk commented on #1014
Enjoyed this video to review (which still had the ready to review label) @jonathanbossenger and it was a good pace. The approach of explaining what you could do, and then the showing users how to do the same will really help learners follow along.

Before it is released, can we just put some space around the WordPress logo and learn in line with the trademark and enough spacing for more users to b

[2022-11-02 01:02] adamwoodnz commented on #939
Update: Language meta field was added to all post types in #1030

[2022-11-02 01:03] courtney-pk opened #1070 "Online Workshop - I just got this WordPress and don’t know how to use it"
# Event Details
- Title: I just got this WordPress and don’t know how to use it
- Description:
  - This session is for: People who were put in charge of a WordPress site they didn’t set up, and have zero to low technical or WordPress knowledge. They might be:
    - Volunteers for nonprofits or informal community/civic/religious groups
    - Employees at small to medium sized businesses or nonprofi

[2022-11-02 01:50] hlashbrooke commented on #937
No issue moving that into the theme too. I think the `bordered-image` class is already in the theme from a recent PR, but the rest isn't in there AFAIK.

[2022-11-02 06:30] jonathanbossenger commented on #1014
@courtneyr-dev thanks

@abhansnuk thanks for the review

It's a bit tricky to edit that post-production, as it's part of my slides. But, I will make sure to edit my default slide deck on which I base all my slides so that there's a bit more space going forward.

[2022-11-02 10:32] jonathanbossenger commented on #1014
https://wordpress.tv/2022/11/02/using-block-template-parts-in-classic-themes/

[2022-11-02 10:45] jonathanbossenger commented on #1014
https://learn.wordpress.org/tutorial/using-block-template-parts-in-classic-themes/

[2022-11-02 10:47] jonathanbossenger commented on #1014
Tutorial is published

[2022-11-02 10:47] #1014 closed

[2022-11-02 10:49] jonathanbossenger commented on #1061
https://user-images.githubusercontent.com/180629/199470925-ab2b5bc1-67a8-4f51-9f1e-7b53fbc8a7cc.mp4

[2022-11-02 11:50] jonathanbossenger commented on #1063
Workshop notes:

Translation
- Download the translation .po file, convert it to .mo file, and save it in the languages/themes directory.
- If the theme has JS translations, the language pack includes JSON

Workshop on patterns - https://wordpress.tv/2022/10/21/lets-code-using-block-patterns-in-your-block-theme/
Pattern documentation - https://developer.wordpress.org/themes/advanced-topics/block-pa

[2022-11-02 12:29] jonathanbossenger commented on #1063
credits.php

[code]

Including the pattern in the foother template
[code]

[2022-11-02 14:36] vagelisp commented on #1023
Published here:

https://learn.wordpress.org/lesson-plan/%cf%80%cf%8e%cf%82-%ce%bd%ce%b1-%cf%80%cf%81%ce%bf%cf%83%ce%b8%ce%ad%cf%83%ce%b5%cf%84%ce%b5-%ce%ba%ce%b1%ce%b9-%ce%bd%ce%b1-%ce%b1%cf%86%ce%b1%ce%b9%cf%81%ce%ad%cf%83%ce%b5%cf%84%ce%b5-%ce%bb%ce%bf/

[2022-11-02 14:36] #1023 closed

[2022-11-02 16:50] fellyph commented on #1052
Hi @westnz @paulopmt1,

Follow the [updated version](https://wordpress.slack.com/files/U15AUKVNU/F0499FKPD6Y/gereciamento_de_estilos_globais.mp4)

[2022-11-02 18:06] abhansnuk commented on #1061
Another enjoyable video @jonathanbossenger . A couple of comments in review, some of which are more general for us to think about for videos in general.

- On the first slide, can we avoid the overlap with the php image and the text, and in the final sentence put some space between learn and the WordPress logo to make it easier to read.

- Really like the welcome at the beginning. Generally for vi

[2022-11-02 18:10] jonathanbossenger commented on #1061
@abhansnuk thanks for the review.

I feel I should point out that I specifically used the colors from [the dark theme in the Material Design spec](https://m2.material.io/design/color/dark-theme.html), so as to be accessible in my demos.

[2022-11-02 18:35] abhansnuk commented on #1061
Thanks @jonathanbossenger that is useful to know. These colors are displaying without much contrast on the video in all the views I used. I have looked on multiple devices with different color contrasts, including Windows' accessible settings for color contrast, which only enhanced it very slightly. I did not view it on a large specialist graphic design, calibrated screen. This can happen sometime

[2022-11-02 18:46] paulopmt1 commented on #1052
Perfect @fellyph, good job!!

[2022-11-02 19:27] westnz commented on #1052
Ready to publish when you have time @fellyph

Great work!

[2022-11-02 21:38] westnz commented on #1061
Well done @jonathanbossenger

This is such a cool plugin!

- Sarah told me about this website: https://capitalizemytitle.com/. I think the title of the tutorial could be in capital letters: Streamline Your Block Theme Development With Create Block Theme
- Easy-to-follow tutorial!
- Great pace and audio quality
- You explain things very clearly.
- I also found the black/purple/green a bit hard to r

[2022-11-03 03:09] Piyopiyo-Kitsune opened #1073 "Online Workshop - WordPress 6.1 Exploration"
# Event Details
- Title: WordPress 6.1 Exploration
- Description: [WordPress 6.1, Misha](https://wordpress.org/news/2022/11/misha/), was released on November 1st, 2022 and is jam-packed with many new and exciting features inclusive of:

-- Twenty Twenty-Three theme and variations
-- New templates
-- Better design tools
-- Easier menu management
-- + more

In this session we are going to unpack and

[2022-11-03 03:11] Piyopiyo-Kitsune opened #1074 "Online Workshop - WordPress 6.1 Exploration"
# Event Details
- Title: WordPress 6.1 Exploration
- Description: [WordPress 6.1, Misha](https://wordpress.org/news/2022/11/misha/), was released on November 1st, 2022 and is jam-packed with many new and exciting features inclusive of:

-- Twenty Twenty-Three theme and variations
-- New templates
-- Better design tools
-- Easier menu management
-- + more

In this session we are going to unpack and

[2022-11-03 06:37] webtechpooja commented on #715
Theme.json lesson plan is not published yet - https://learn.wordpress.org/?post_type=lesson-plan&p=15349
We can link it later.

[2022-11-03 07:59] jonathanbossenger commented on #937
Apologies all, the `bordered-image` class is mine, I need to open a new PR to get that added for sensei lessons, as my original PR only worked on non sensei content (lesson plans and tutorials). I'll open that today.

[2022-11-03 12:24] jonathanbossenger commented on #1062
https://user-images.githubusercontent.com/180629/199719520-efd77226-b040-4b63-9445-b5bdfd54371a.mp4

[2022-11-03 12:59] jonathanbossenger commented on #894
@justintadlock I'm in the process of reviewing, but I had one realization I wanted to share with you.

One of the things I noticed @wparasae doing in her block theme course was using the different callout blocks on Learn WordPress, for example, the tutorial callout block to indicate steps for the course learner to follow. So I started implementing the same callouts in my course lessons. You can se

[2022-11-03 23:28] westnz commented on #455
https://user-images.githubusercontent.com/89751452/199854036-80b70678-650b-4f9a-9ff4-faec67519d2e.mp4

[2022-11-03 23:30] westnz commented on #455
I have updated this tutorial for 6.1. I will create a separate issue for the lesson plan.

[2022-11-03 23:35] westnz opened #1076 "Using Page Templates - Lesson Plan"

[2022-11-03 23:36] westnz commented on #1076
Published: https://learn.wordpress.org/lesson-plan/templates/

[2022-11-03 23:37] westnz commented on #1076
Currently being reviewed.

[2022-11-04 01:17] kaitohm commented on #1022
The WordPress.tv recording can be found here: https://wordpress.tv/2022/11/03/ideas-for-getting-more-views-on-your-blog/

[2022-11-04 01:17] #1022 closed

[2022-11-04 01:38] westnz commented on #456
Published: https://learn.wordpress.org/tutorial/intro-to-the-site-editor-and-template-editor/

[2022-11-04 01:55] kaitohm commented on #1054
Due to personal circumstances, I have had to reschedule this session. (Sorry, @amitpatel0702)

The issue description above lists information for the new session.

[2022-11-04 02:39] #695 closed

[2022-11-04 02:41] kaitohm commented on #871
Thanks for the input, @jonathanbossenger. Considering we have other more pressing site development needs right now, I'm inclined to leave this issue as-is for the moment. We can bring it up again once we have more developers who are able to contribute to improving the Learn site.

[2022-11-04 07:12] kaitohm commented on #1012
@kharissulistiyo Great! The next step is to transfer that translation into a new Lesson Plan. I've duplicated the English lesson plan below. Please replace the title and content with your translation:

https://learn.wordpress.org/wp-admin/post.php?post=26046&action=edit

Once done, please save your changes (don't publish) and let us know again here. We'll update the information in the side bar, ma

[2022-11-04 09:29] kharissulistiyo commented on #1012
Thank you for checking and replicating the work into a draft post. I'd like to replace the title in the draft post, but when visiting the link you shared, it is currently blocking me with `Sorry, you are not allowed to edit this item.` message.

![Screen Shot 2022-11-04 at 16 09 25](https://user-images.githubusercontent.com/1859092/199938969-33a615fe-0453-4eed-ab86-ca81d8535a97.png)

I can verify

[2022-11-04 10:08] webtechpooja commented on #1012
@kharissulistiyo This is because you did not have access to Learn WordPress admin. I have sent an invitation to you, please check your email and accept the invitation. Then you will able to access this page.

[2022-11-04 10:24] amitpatel0702 commented on #1054
Hi @bsanevans, It's completely fine. I might not be able to co-host this event with you because it will be too early for me.

[2022-11-04 10:50] kharissulistiyo commented on #1012
@webtechpooja I accepted the invitation and now am able to access the site's admin area. But still seeing the `Sorry, you are not allowed to edit this item.` message when visiting the link to draft post.

[2022-11-04 10:53] webtechpooja commented on #1012
@kharissulistiyo Can you please check now, I just changed your user role?

[2022-11-04 12:35] kharissulistiyo commented on #1012
Thank you for your help @webtechpooja!

The page has updated with new title and content for Indonesian. Please let me know if there is any issue with it.

[2022-11-04 13:41] pragyaasapkota commented on #1033
@courtneyr-dev
@bsanevans
How to take this forward?
Do I need to do something? Please let me know.

[2022-11-04 13:42] pragyaasapkota commented on #1042
@courtneyr-dev
@bsanevans
Please check this issue once.

[2022-11-06 09:54] rohini-ranjanR commented on #1065
You should try this link https://opensource.com/code-of-conduct.

[2022-11-07 00:56] #1050 closed

[2022-11-07 00:56] #1049 closed

[2022-11-07 00:57] #1048 closed

[2022-11-07 01:05] kaitohm commented on #1012
I have now published this. Nice work!
https://learn.wordpress.org/lesson-plan/panduan-membuat-rencana-pembelajaran/

[2022-11-07 01:05] #1012 closed

[2022-11-07 01:11] kaitohm commented on #1033
@Pragya2056 Sorry for the delay.

Could you share you WordPress.org username here? I'll invite you as a Lesson Plan Editor on the Learn WordPress site. Once you accept the invitation, you'll then be able to copy your translation over from the Google document into the lesson plan below.
https://learn.wordpress.org/wp-admin/post.php?post=26056&action=edit
Once you've been added, please replace the E

[2022-11-07 05:53] pragyaasapkota commented on #1033
My username in wordpress.org is -- pragyasapkota

[2022-11-07 10:48] jonathanbossenger commented on #1064
https://wordpress.tv/2022/11/07/lets-code-internationalisation-in-block-themes/

[2022-11-07 10:49] #1064 closed

[2022-11-07 10:53] jonathanbossenger opened #1078 "Online Workshop - Let's code: Developing Blocks without React! - Part 1"
# Event Details
- Title: Let's code: Developing Blocks without React! - Part 1
- Description: JSX is the React extension to JavaScript that allows you to create components using a syntax similar to HTML. While most block editor tools and tutorials on the web provide JSX examples for creating blocks, not many folks know that it is not required. You can use plain JavaScript.
In fact, the initial blo

[2022-11-07 19:31] westnz opened #1079 "The key to locking blocks - Tutorial"
# Topic Description
What is block locking and how does it work

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [ ] https://github.com/WordPress/Learn/issues/739

# Guidelines
Review the [team guidelines] (https://make.wordpress.org/training/handbook/guidelines/)

# Tutorial Development Checklist

- [x] Vetted by instructional desig

[2022-11-08 00:36] kharissulistiyo commented on #1012
Thank you @webtechpooja, @bsanevans, and Training Team for making this post available. We (Indonesian WordPress Community) really appreciate your hard work!

[2022-11-08 14:13] jonathanbossenger commented on #1066
Documentation updates:

https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/writing-your-first-block-type/#step-4-build-or-add-dependency

- include wp-block-editor dependancy in the block.asset.php file

https://github.com/WordPress/gutenberg/pull/45604

[2022-11-09 02:21] westnz commented on #1079
https://user-images.githubusercontent.com/89751452/200721346-241ae091-840f-4fb6-ac9f-1572bb911bb7.mp4

[2022-11-09 03:28] westnz opened #1080 "Creating a Call To Action"

[2022-11-09 04:22] fikekomala commented on #715
I want to contribute to this issue but I think I'm lost.. Has the lesson plan been published? What is left to do, exactly? (I'm an Editor)

[2022-11-09 06:09] jonathanbossenger commented on #1066
https://developer.wordpress.org/block-editor/how-to-guides/javascript/scope-your-code/

[2022-11-09 06:38] webtechpooja commented on #715
@fikekomala, yes all the WP 6.1 release related changes are done. if you want to contribute to this issue, Please review it and comment your feedback here. The link to the lesson plan: https://learn.wordpress.org/lesson-plan/use-duotone-filters-to-change-color-effects/

[2022-11-09 08:22] hderashri commented on #1032
I would like to work on this.

[2022-11-09 09:13] webtechpooja commented on #1032
Thank you for showing your interest. Could you please DM me your email ID? so I can add you to the Google docs to review it.

[2022-11-09 09:16] webtechpooja commented on #1032
I have added you to the google doc, please review it and leave any changes in the comments.
Let us know in this Github comment thread when you complete with the review. Thanks

[2022-11-09 10:35] jonathanbossenger commented on #1079
@westnz great video on block locking. I only have two pieces of suggested feedback.

1. At 1:55 to 2:39, you show how the remove and move buttons are not available on locked blocks, but the unlock option is, as you are still logged in as the admin user. It might therefore be useful to show this from a different user's perspective. Eg. create an `author` user, log in as that user, and show how "unl

[2022-11-09 11:09] jonathanbossenger commented on #1066
https://developer.wordpress.org/resource/dashicons/#media-code

[2022-11-09 11:36] jonathanbossenger commented on #1066
https://developer.wordpress.org/block-editor/how-to-guides/javascript/js-build-setup/

[2022-11-09 12:37] jonathanbossenger commented on #1066
Package list for part 1

- https://developer.wordpress.org/block-editor/reference-guides/packages/packages-blocks/
- https://developer.wordpress.org/block-editor/reference-guides/packages/packages-element/
- https://developer.wordpress.org/block-editor/reference-guides/packages/packages-block-editor/

[2022-11-09 16:50] kaitohm commented on #1033
@Pragya2056 I've just invited you to the site. Once you accept the invitation, you should be able to edit the post linked above.

[2022-11-09 17:18] kaitohm commented on #1042
Thanks for raising this! The issue is, since we updated the GitHub repo, there is no way to link to a specific column on [the project board](https://github.com/orgs/WordPress/projects/33/views/1?layout=board). I've improvised the searches a bit so that the relevant issues are highlighted when clicking on the links.

[2022-11-09 17:36] kaitohm commented on #1024
This issue was discussed here: https://wordpress.slack.com/archives/C02RW657Q/p1667851665845209?thread_ts=1666971296.988559&cid=C02RW657Q We'd like to keep the English and translated versions the same.

@gudrunfrank Would you like to suggest edits to the English lesson plan? If so, you can create a new [Content Error Report Template](https://github.com/WordPress/Learn/issues/new/choose) with your

[2022-11-09 17:50] kaitohm commented on #779
This is published here: https://learn.wordpress.org/tutorial/anatomy-of-a-block-theme/

Closing the issue!

[2022-11-09 17:50] #779 closed

[2022-11-09 17:57] kaitohm commented on #742
I presume this is about testing code submitted to different make teams... maybe Core or Gutenberg? I've triaged the issue with that understanding, but let me know if I've misunderstood the intention here 🙂

[2022-11-09 18:26] bsanevans opened #1082 "Topic Idea: How to test WordPress releases before a release"
# Details

- Topic title: How to test WordPress releases before a release
- Topic description: Before each WordPress release, the Training Team seeks to test new features and prepare content for that. This Tutorial would walk Training Team members through how they can test new features in preparation for a release.
- Objective: Be able to test a new feature in an upcoming WordPress release.
- Cont

[2022-11-09 18:27] kaitohm commented on #744
This sounds like a good idea for a tutorial also. I've created a new issue for a tutorial: https://github.com/WordPress/Learn/issues/1082

[2022-11-09 18:27] kaitohm commented on #1082
For reference: this idea was also raised for a lesson plan here: https://github.com/WordPress/Learn/issues/744

[2022-11-09 18:39] kaitohm commented on #742
Closing this in favor of https://github.com/WordPress/Learn/issues/754

[2022-11-09 18:39] #742 closed

[2022-11-09 18:41] kaitohm commented on #780
This has been published here: https://learn.wordpress.org/tutorial/using-schema-with-wordpress-theme-json/

[2022-11-09 18:41] #780 closed

[2022-11-09 21:14] westnz commented on #1079
Thank you for the actionable feedback, Jonathan!

[2022-11-09 21:25] kaitohm commented on #810
I've confirmed this has now been fixed in Chrome, Firefox and Safari. Closing.

[2022-11-09 21:25] #810 closed

[2022-11-09 21:30] kaitohm commented on #826
@wparasae I see you are the course creator for this. Do you still have the data for questions 3 and 4?

[2022-11-09 21:35] kaitohm commented on #830
@amitpatel0702 @jonathanbossenger Are there any updates from your discussions?

[2022-11-09 21:41] kaitohm commented on #834
This is now live!

[2022-11-09 21:42] kaitohm commented on #833
This is now live!

[2022-11-09 21:58] kaitohm commented on #835
This content has been published as part of a [Course](https://make.wordpress.org/training/handbook/courses/). Anyone is now free to pick this up and create a [Lesson Plan](https://make.wordpress.org/training/handbook/lesson-plans/) that covers the same content.

Published as Course content here: https://learn.wordpress.org/lesson/creating-your-block-themes-style-css/

[2022-11-09 22:00] kaitohm commented on #833
This content has been published as part of a [Course](https://make.wordpress.org/training/handbook/courses/). Anyone is now free to pick this up and create a [Lesson Plan](https://make.wordpress.org/training/handbook/lesson-plans/) that covers the same content.

Published as Course content here: https://learn.wordpress.org/learn/lesson/what-a-new-theme-developer-needs-to-know-anatomy-of-a-block-th

[2022-11-09 22:01] kaitohm commented on #834
This content has been published as part of a [Course](https://make.wordpress.org/training/handbook/courses/). Anyone is now free to pick this up and create a [Lesson Plan](https://make.wordpress.org/training/handbook/lesson-plans/) that covers the same content.

Published as Course content here: https://learn.wordpress.org/learn/lesson/setting-up-your-block-themes-development-environment/

[2022-11-09 22:02] kaitohm commented on #836
This content has been published as part of a [Course](https://make.wordpress.org/training/handbook/courses/). Anyone is now free to pick this up and create a [Lesson Plan](https://make.wordpress.org/training/handbook/lesson-plans/) that covers the same content.

Published as Course content here: https://learn.wordpress.org/learn/lesson/creating-your-block-themes-index-php/

[2022-11-09 22:03] kaitohm commented on #837
This content has been published as part of a [Course](https://make.wordpress.org/training/handbook/courses/). Anyone is now free to pick this up and create a [Lesson Plan](https://make.wordpress.org/training/handbook/lesson-plans/) that covers the same content.

Published as Course content here: https://learn.wordpress.org/learn/lesson/creating-your-block-themes-theme-json-file/

[2022-11-09 22:59] kaitohm commented on #889
Update: The PR above has corrected the padding around the text. But the padding within the button remains to be fixed.

[2022-11-09 23:06] kaitohm commented on #915
I opened [the post in question](https://make.wordpress.org/training/wp-admin/post.php?post=19468&action=edit), and I also create a new post, but I couldn't reproduce the issue in either case.

If this is still an issue, please share steps to recreate this. If you're copying content in from another application, it could be bringing in styling from that other application.

Otherwise, an update to th

[2022-11-09 23:06] #915 closed

[2022-11-09 23:08] #916 closed

[2022-11-09 23:25] bsanevans opened #1084 "How to test WordPress releases before a release - Tutorial"
# Topic Description
Before each WordPress release, the Training Team seeks to test new features and prepare content for that. This Tutorial would walk Training Team members through how they can test new features in preparation for a release.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- Here is the flow recommended at the WordPre

[2022-11-09 23:27] kaitohm commented on #1082
Closing in favor of https://github.com/WordPress/Learn/issues/1084

[2022-11-09 23:27] #1082 closed

[2022-11-09 23:27] kaitohm commented on #1084
For reference: this idea was also raised for a lesson plan here: https://github.com/WordPress/Learn/issues/744

[2022-11-09 23:42] kaitohm commented on #1062
I moved this to the review column. I hope that was ok 🙂

[2022-11-10 01:02] westnz commented on #965
Published: https://learn.wordpress.org/tutorial/block-spacing/

[2022-11-10 01:02] #965 closed

[2022-11-10 02:23] westnz commented on #614
Updated: https://learn.wordpress.org/lesson-plan/template-editor/

[2022-11-10 02:23] #614 closed

[2022-11-10 03:14] westnz commented on #1076
Updated: https://learn.wordpress.org/lesson-plan/templates/

[2022-11-10 03:14] #1076 closed

[2022-11-10 04:05] westnz commented on #723
Updated: https://learn.wordpress.org/lesson-plan/displaying-the-post-comments-block-to-block-themes/

[2022-11-10 04:05] #723 closed

[2022-11-10 04:26] fikekomala commented on #377
I added the link to the team's style guide.

[2022-11-10 04:51] fikekomala commented on #715
I reviewed the lesson plan according to the workflow described in the 'how to'. Here's my feedback.

1. There's a typo in the first sentence, 'earn' should be 'learn'
2. Under 'Materials Needed', "Theme files downloaded or beneficial if installed, You can use any block theme." 'You' should be in lowercase.
3. Add a period for bulleted lists (where needed).
4. Under 'How Do I add a Duotone?', "Now

[2022-11-10 04:54] pragyaasapkota commented on #1033
@bsanevans
[Published the Nepali translation](https://learn.wordpress.org/lesson-plan/%e0%a4%aa%e0%a4%be%e0%a4%a0-%e0%a4%af%e0%a5%8b%e0%a4%9c%e0%a4%a8%e0%a4%be-%e0%a4%95%e0%a4%b8%e0%a4%b0%e0%a5%80-%e0%a4%ac%e0%a4%a8%e0%a4%be%e0%a4%89%e0%a4%a8%e0%a5%87/)

[2022-11-10 05:26] pragyaasapkota commented on #1033
The issue can be closed if everything is alright.

[2022-11-10 06:29] kafleg commented on #1033
I think the permalinks should be changed.

[2022-11-10 06:42] pragyaasapkota commented on #1033
Do I need to do it ?
@kafleg

[2022-11-10 07:26] jonathanbossenger commented on #1062
Thanks, @bsanevans. The reason I have not moved this to be reviewed yet, is I'm waiting on some feedback from my other [Create Block Theme tutorial](https://github.com/WordPress/Learn/issues/1061) first, as this one follows directly on from that one.

I'm also waiting on any specific updates on the [dark theme colors](https://make.wordpress.org/training/2022/11/09/choosing-accessible-contrasting-d

[2022-11-10 08:09] kafleg commented on #1033
I don't have access to do that. @bsanevans Can I have the editor access?

[2022-11-10 08:21] jonathanbossenger commented on #1061
@abhansnuk I wonder if I could ask you to review the set of colors (and screenshot) I've suggested [on this post](https://make.wordpress.org/training/2022/11/09/choosing-accessible-contrasting-dark-theme-colors-for-online-workshops-and-tutorial-videos/#comment-3522), and let me know if that works better in terms of contrast?

[2022-11-10 10:15] jonathanbossenger opened #1085 "Faculty Member Getting Started Guide needs an update"
Many of the links in the [Faculty Member Getting Started Guide](https://make.wordpress.org/training/handbook/faculty-program/faculty-member-getting-started-guide/) in the Training Team handbook point to the old GitHub project board, and need to be updated.

[2022-11-10 10:34] amitpatel0702 commented on #830
Hi @bsanevans, I was not able to connect with @jonathanbossenger to speak on the same.

Let's keep this thread open and I will ensure to get it executed by next week.

[2022-11-10 10:39] jonathanbossenger commented on #830
I'd like to point out that it might be better to include @adamwoodnz in this conversation, as my focus at the moment is on my courses, tutorials, and online workshops, not the Learn codebase, and @adamwoodnz is more likely to be able to implement platform changes.

[2022-11-10 10:46] jonathanbossenger commented on #517
I think we might need to split this into two tutorials, as it ends up being quite a long video...

[2022-11-10 10:59] amitpatel0702 commented on #830
Thanks @jonathanbossenger, So shall we include @adamwoodnz in future discussions? And would you like to take part in those calls or discussions or we should connect with Adam for the same?

[2022-11-10 11:27] webtechpooja commented on #715
Thank you, @fikekomala for reviewing and suggesting. I have made changes according to your feedback. Can I ask, which tool you used to test the readability?

[2022-11-10 14:55] kaitohm commented on #1033
@kafleg You have been invited 👍
BTW, how are you proposing editing the permalinks? Are you talking about the links listed here? https://github.com/WordPress/Learn/issues/1042 If so, please feel free to update them!

[2022-11-10 14:58] kaitohm commented on #1033
@Pragya2056 Thank you for your contributions in this work!

As a team, much of our communication is in Slack. Have you joined the Make WordPress Slack channel yet?
If not, you can follow this guide to join: https://make.wordpress.org/chat/
Once you've joined, please come over to the `#training` channel, as we'd love to have you join the team! 😃

[2022-11-10 15:08] kafleg commented on #1033
@bsanevans I think we need to use English permalink or atleast Post ID. The Nepali text in permalink won't look good.

Example,
![image](https://user-images.githubusercontent.com/13062231/201131628-43d50577-d1cb-4ce8-9b45-b0acec8bb23e.png)

[2022-11-10 15:19] kaitohm commented on #1033
Until now, each locale has left the permalink in their locale's language:
* https://learn.wordpress.org/lesson-plan/panduan-membuat-rencana-pembelajaran/
* https://learn.wordpress.org/lesson-plan/%d0%ba%d0%b0%d0%ba%d0%be-%d0%bf%d1%80%d0%b8%d0%bf%d1%80%d0%b5%d0%bc%d0%b8%d1%82%d0%b8-%d0%bf%d0%bb%d0%b0%d0%bd-%d0%bb%d0%b5%d0%ba%d1%86%d0%b8%d1%98%d0%b0/

I wonder which is better from an SEO perspective