[2022-04-11 21:13] hlashbrooke opened #735 "Part 1: Simple Site Design with Full Site Editing - Course"
Course link: https://learn.wordpress.org/course/simple-site-design-with-full-site-editing/

[2022-04-11 21:14] hlashbrooke opened #736 "Part 2: Personalized Site Design with Full Site Editing and Theme Blocks - Course"
Course link: https://learn.wordpress.org/course/part-2-personalized-site-design-with-full-site-editing-and-theme-blocks/

[2022-04-11 21:14] hlashbrooke opened #737 "Part 3:Advanced Site Design using the Site Editor - Course"
Course link: https://learn.wordpress.org/course/part-3-advanced-site-design-with-full-site-editing-site-editor-templates-and-template-parts/

[2022-04-12 16:47] wparasae commented on #689
I applied a quick fix that Dadash found with this comment:
[> Note that the 404 error happens only if the Module 2 has a description in it.](https://github.com/Automattic/sensei/issues/5008#issuecomment-1094886619)

The module descriptions have been temporarily removed and have been scheduled to be automatically be re-applied to the course in two weeks' time.

I set a reminder for myself in Slack

[2022-04-13 09:18] westnz commented on #513
Please provide feedback by Thursday, 21 April 😃 Here is the [link](https://wordpress.slack.com/archives/C02RW657Q/p1649841435685499) to video in Slack.

[2022-04-13 19:22] courtneyr-dev opened #738 "Post Excerpts - Lesson Plan"
# Details

- Topic description: Where on and off-site would the post excerpt display?  How is it similar to or different from social media link preview descriptions?
- Audience (User, Developer, Contributor, etc.): Users
- Learning objectives:
- Content type (Course, Tutorial, Online Workshop, or Lesson Plan): Lesson Plan
- WordPress version (optional):
- Will you be creating this content? (Yes or

[2022-04-13 19:50] courtneyr-dev commented on #674
https://github.com/WordPress/gutenberg/pull/40176

[2022-04-13 20:40] courtneyr-dev commented on #448
https://github.com/WordPress/gutenberg/pull/40088 show block locking in list view and link to block locking lesson plan

[2022-04-13 20:42] courtneyr-dev commented on #490
https://github.com/WordPress/gutenberg/issues/32461 Update to include reusable blocks with locking

[2022-04-13 20:45] courtneyr-dev commented on #448
https://github.com/WordPress/gutenberg/issues/40070

[2022-04-13 20:56] courtneyr-dev opened #739 "Block Locking - Lesson Plan"
# Topic Description
What is block locking? What parts of the site editor have locks? (list view, templates, reusable blocks, patterns??)

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.

- https://github.com/WordPress/gutenberg/pull/39183

# Guidelines
Review the [team guidelines](https://make.wordpress.org/training/handbook/guideline

[2022-04-13 22:28] courtneyr-dev commented on #401
https://github.com/WordPress/gutenberg/pull/37140

[2022-04-14 11:16] courtneyr-dev commented on #674
https://github.com/WordPress/gutenberg/pull/39920

[2022-04-14 11:16] courtneyr-dev commented on #675
https://github.com/WordPress/gutenberg/pull/39920

[2022-04-15 11:07] courtneyr-dev commented on #652
It's looking like WebFonts and Theme Style Variations won't make it into 6.0. @caraya I'll update when we have a definite answer.

https://wordpress.slack.com/archives/C035NHLFUSY/p1649993897302289

[2022-04-15 11:23] courtneyr-dev commented on #513
This looks good @westnz . Great work including the latest updates.

[2022-04-15 14:37] azhiya commented on #510
I would talk about it here if it is related to this workshop and tag anyone that you need to chime in on it.

[2022-04-15 14:45] sssumitsingh opened #740 "Issue with select dropdown on Workshops page"
I have visited on https://learn.wordpress.org/workshops/  and i can able to open dropdown when client on other select box area instead of select drop-down icon right side.

More information you can see quick video.

 https://www.loom.com/share/8f76aeb4a29f42b99fd6297ece22d4f6

[2022-04-15 14:56] wparasae commented on #510
You got it! So, in writing this, I'm seeing a few things:
1. The very basics - this would make an excellent workshop (~5 minutes)
2. There's overlap between this and theme.json - I experimented and now have a Workshop on Using Schema with Theme.json in the wings

I'm sure I'll have more advanced ones as this progresses.

[2022-04-15 15:12] azhiya commented on #648
Hi @prajapatisagar apologies but we will need to merge this issue with this one: https://github.com/WordPress/Learn/issues/649 which has already been published.

I will close this one down.

[2022-04-15 15:12] #648 closed

[2022-04-15 15:37] caraya commented on #652
I wrote it as a feature requiring Gutenberg installed.

I will make sure to include a note that this is not available in Core

[2022-04-15 17:15] wparasae opened #741 "Setting up a Development Environment for Testing (Step by Step)"
# Topic Description
There is a lot that goes into setting up a development environment for [testing new WordPress releases](https://make.wordpress.org/test/); to onboard new contributors, a lesson plan and workshop for setting up a development environment would be extremely helpful.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [

[2022-04-15 17:26] wparasae opened #742 "Providing Testing Feedback For New Releases"
# Topic Description
This lesson plan aims to answer the following questions:

Where should I send testing feedback (The Slack Make Post or Github?)
How do I use the "Needs Testing" tab to make my feedback more impactful?
What are sending feedback best practices?

The goal of this beginner-level lesson plan is not only to teach where and how to give effective feedback, but also to instill confidenc

[2022-04-15 17:39] wparasae opened #743 "Understanding Lock Blocking & User Roles in WordPress 6.0+"
# Topic Description

A new feature is coming to WordPress 6.0 - Lock Blocking! This will allow users with different permission levels (set in User Roles) to have differing levels of access to locked blocks. This lesson aims to do a deeper dive into lock blocking: what it is, how it works, and how user roles can be used with this brand new feature.

# Related Resources
Links to related content on L

[2022-04-15 17:43] wparasae opened #744 "Understanding Testing Instructions for Future WordPress Releases"
# Topic Description
The instructions given on future testing updates are wildly helpful, but sometimes can be confusing to newer users. This lesson plan aims to help users help themselves when they encounter obstacles in understanding directions, especially as they relate to unfamiliar or new terminology they may not yet know.

_Issue modified by @bsanevans to remove excess information._

[2022-04-17 01:39] caraya commented on #652
Ready For Review. Can't add a label to it

[2022-04-19 16:51] azhiya commented on #676
This update is that we're waiting on the [#core](https://wordpress.slack.com/archives/C02RQBWTW) team to decide about WebFonts API that may impact Theme Variations which is part of the Global Styles update.

[2022-04-19 16:52] azhiya commented on #500
Update from @webtechpooja: Yoast SEO lesson plan, is created by Yoast Team itself and it is outdated, They will be working on this lesson plan later from scratch, Don’t have the estimated date for this.

[2022-04-19 16:53] azhiya commented on #501
Update from @webtechpooja: W3 Total cache - I have made changes according to the new lesson plan format and also screenshots are fixed. We can put this for review.

[2022-04-19 16:56] #650 closed

[2022-04-20 00:21] mburnette commented on #515
Finally ready for feedback on this one! Link to [video in Slack](https://wordpress.slack.com/archives/C02RW657Q/p1650414001398659).

[2022-04-20 01:02] hlashbrooke commented on #515
This is really great @mburnette - I love it!

I only have two items of feedback for things that I feel could be improved:

1. To make the title more helpful to people who may not already know about Openverse, I would suggest changing it to "Finding Images Using Openverse" or something similar.
2. The final where you show how to add images on WordPress.com could really just be summarised after the

[2022-04-20 02:49] kafleg commented on #574
@azhiya Do we need to review it again?

[2022-04-20 05:46] tellyworth opened #746 "Review CSS oddities"
Following #745 there are a few CSS quirks that should probably be cleaned up. Nothing is broken but it's a bit weird, I'm opening this issue as a reminder for someone to look into it at some point. For example:

* The `h3` tag in that PR has no styles targeting it now
* Code like `<h3 class="... h4">` is confusing and makes it hard to know what's intended
* There are other examples like that elsew

[2022-04-20 09:18] westnz commented on #515
This is fantastic @mburnette!  My only comment was already addressed by @hlashbrooke under point 2.

[2022-04-20 10:01] azhiya commented on #574
Hi, @kafleg. I don't think anyone has reviewed this yet.

[2022-04-20 10:13] azhiya commented on #514
Please review:

- https://github.com/WordPress/gutenberg/pull/38164
- https://github.com/WordPress/Documentation-Issue-Tracker/issues/276

[2022-04-20 10:14] azhiya commented on #646
Pleave review:

- https://github.com/WordPress/gutenberg/pull/38164
- https://github.com/WordPress/Documentation-Issue-Tracker/issues/276

[2022-04-20 10:27] azhiya commented on #645
You may also need to review:

- https://github.com/WordPress/gutenberg/pull/37920
- https://github.com/WordPress/Documentation-Issue-Tracker/issues/265
- https://github.com/WordPress/Documentation-Issue-Tracker/issues/287

[2022-04-20 10:36] azhiya commented on #524
Please review for https://github.com/WordPress/Documentation-Issue-Tracker/issues/283

[2022-04-20 10:37] azhiya commented on #613
Please review for https://github.com/WordPress/Documentation-Issue-Tracker/issues/283

[2022-04-20 10:41] azhiya commented on #651
Please review https://github.com/WordPress/Documentation-Issue-Tracker/issues/291

[2022-04-20 10:42] azhiya commented on #737
Please review https://github.com/WordPress/Documentation-Issue-Tracker/issues/291.

[2022-04-20 10:44] azhiya commented on #675
Please review https://github.com/WordPress/Documentation-Issue-Tracker/issues/296

[2022-04-20 10:45] azhiya commented on #674
Please review https://github.com/WordPress/Documentation-Issue-Tracker/issues/296

[2022-04-20 10:46] azhiya commented on #453
Please review https://github.com/WordPress/Documentation-Issue-Tracker/issues/297

[2022-04-20 10:47] azhiya commented on #374
Please review https://github.com/WordPress/Documentation-Issue-Tracker/issues/297

[2022-04-20 10:53] azhiya commented on #647
Please review https://github.com/WordPress/Documentation-Issue-Tracker/issues/299

[2022-04-20 10:55] azhiya commented on #490
Please review https://github.com/WordPress/Documentation-Issue-Tracker/issues/300

[2022-04-20 10:57] azhiya commented on #645
Workshop issue https://github.com/WordPress/Learn/issues/512

[2022-04-20 10:58] azhiya commented on #512
Lesson plan issue https://github.com/WordPress/Learn/issues/645

[2022-04-20 11:01] azhiya commented on #456
Please review:

- https://github.com/WordPress/Documentation-Issue-Tracker/issues/305
- https://github.com/WordPress/Documentation-Issue-Tracker/issues/306

[2022-04-20 11:03] azhiya commented on #456
This needs a review

[2022-04-20 11:04] azhiya commented on #699
Please review:

- https://github.com/WordPress/Documentation-Issue-Tracker/issues/305
- https://github.com/WordPress/Documentation-Issue-Tracker/issues/306

[2022-04-20 11:08] azhiya commented on #448
Please review https://github.com/WordPress/Documentation-Issue-Tracker/issues/304

[2022-04-20 15:37] mburnette commented on #515
[Updated version](https://wordpress.slack.com/archives/C02RW657Q/p1650468980833459?thread_ts=1650414001.398659&cid=C02RW657Q) ready to review in Slack.

[2022-04-20 15:40] mburnette commented on #522
[WordPress Photo Directory workshop video](https://wordpress.slack.com/archives/C02RW657Q/p1650469160805559) finally ready to be reviewed in Slack :)

[2022-04-20 18:03] courtneyr-dev commented on #515
Well done Marcus. Title switch makes sense here, but it's important we then rename the issue here in GitHub (we're all learning together) to make it easier to find.

[2022-04-20 18:14] courtneyr-dev commented on #522
This one looks great as well @mburnette . Thank you! Do we need one other for how to submit photos? I'm thinking there might've been one made/shared from the Marketing team when the directory launched, but could be wrong.

[2022-04-20 18:45] mburnette commented on #522
As far as I know, one has not been created for submitting photos. It's next up on my list, though.

[2022-04-20 19:47] hlashbrooke commented on #515
The updated workshop is solid - I love it! I'm happy for this to go live according to the guide here: https://make.wordpress.org/training/handbook/workshops/publishing-a-workshop/ 🎉

[2022-04-20 20:06] jonathanbossenger opened #747 "Lesson Plan - Syntax Highlighter Code blocks formatting incorrectly"
When editing a Lesson Plan in the block editor, the Syntax Highlighter Code block does not display the code in the block.

![Edit-Lesson-Plan-“What-To-Include-In-functions-php-File”-‹-Learn-WordPress-—-WordPress](https://user-images.githubusercontent.com/180629/164313410-c2d39c99-bf88-4103-8412-00c2cdb5d285.png)

This seems to be related to the styling applied to the `.editor-styles-wrapper .wp-bl

[2022-04-20 20:16] jonathanbossenger commented on #400
Thanks for your patience @azhiya, could I ask you to add the label back, then I'll share it in Slack for review. Thanks

[2022-04-20 22:43] StevenDufresne commented on #746
This is a common pattern for CSS libraries. It allows the decoupling of CSS from markup. Should the markup change, and headings change frequently, the CSS does not need to be updated.

Here's how [bootstrap](https://getbootstrap.com/docs/4.0/content/typography/) explains it:

The alternative is to introduce classes like `title` or `subtitle` and style them relative to a parent container but that i

[2022-04-21 00:54] courtneyr-dev opened #748 "How to Share Photos with the WordPress Photo Directory - Workshop"
# Topic Description
Write a description of the topic here.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.

-

# Guidelines
Review the [team guidelines](https://make.wordpress.org/training/handbook/guidelines/)

# Workshop Development Checklist

- [ ] Vetted by instructional designers for content idea
- [ ] Provide feedback of the id

[2022-04-21 01:16] mburnette commented on #748
Assign to me please! :)

[2022-04-21 16:08] artdecotech commented on #692
@azhiya can you close this issue please? https://make.wordpress.org/training/2022/04/21/recap-of-training-team-meetings-april-19-and-21-2022/

[2022-04-21 16:08] artdecotech commented on #691
@azhiya can you close this issue please? https://make.wordpress.org/training/2022/04/14/recap-of-training-team-meetings-april-12-and-14-2022/

[2022-04-21 20:43] #691 closed

[2022-04-21 20:43] #692 closed

[2022-04-22 10:04] Kemmy99 commented on #698
I would like to work on this workshop if not taken. Thanks!

[2022-04-22 10:14] azhiya commented on #698
Hi @westnz have you claimed this or can @Kemmy99 claim it?

[2022-04-22 10:35] westnz commented on #696
Here is the link to the [video](https://wordpress.slack.com/archives/C02RW657Q/p1650623116764689) 😃

[2022-04-22 10:57] azhiya commented on #662
We are deleting this this as it a duplicate of [508](https://github.com/WordPress/Learn/issues/508)

[2022-04-22 10:58] azhiya commented on #508
I deleted 662 as this was a duplicate of 508.

[2022-04-22 11:18] azhiya commented on #635
When revising this, please rename it to Developing Block Patterns

[2022-04-22 13:33] azhiya commented on #645
Points to note:
- https://github.com/WordPress/gutenberg/pull/35892 was covered in the original lesson plan
- https://github.com/WordPress/gutenberg/pull/37920 references site title block which is not covered in this lesson plan. This lesson plan only covers adding or removing a site logo/icon.
- https://github.com/WordPress/Documentation-Issue-Tracker/issues/287 This change now means the 'Use as

[2022-04-22 14:33] Kemmy99 commented on #696
I think the video is good and very simple to understand the instructions.

[2022-04-23 21:07] westnz commented on #698
Hi @azhiya. I have not claimed it. @Kemmy99 can go ahead. Thank you

[2022-04-24 12:29] ndiego commented on #690
@courtneyr-dev and @azhiya, just following up on this. Either way, this issue can be closed.

[2022-04-25 09:35] westnz opened #750 "What is the difference between the Block Editor and Site Editor"
//tutorial

[2022-04-25 09:43] westnz commented on #750
Please review the [workshop](https://wordpress.slack.com/archives/C02RW657Q/p1650879751850259) by Tuesday, 3 May.

[2022-04-25 10:05] westnz commented on #699
_> This lesson makes sense of Templates in FSE. However, we should include the developer explanation of templates an possibly have a dev oriented lesson about what templates have meant before FSE. The earlier explanation is still valid. How users can access modifying templates in FSE is much easier. Expanding the context of what templates are could suffice. https://developer.wordpress.org/themes/b

[2022-04-25 12:58] westnz commented on #699
Here is the link to the [Lesson Plan](https://learn.wordpress.org/wp-admin/post.php?post=17825&action=edit).

[2022-04-25 17:59] rosswintle commented on #632
@courtneyr-dev Did you want to assign this to me? I'm still interested in it. There is a draft lesson plan. I was kinda waiting for a decision on what format is best, but then your formats weren't properly defined.

Looks like you now have "workshops" for short videos and "courses" for groups of "lesson" content.

I hope to have some contribution time, so let me know what's next.

[2022-04-26 09:22] westnz commented on #695
Note from @wparasae (Sarah Snow): "User management will need an update after the 6.0 release; please hold off until the feature freeze for this, as, to my understanding, user management may be available not only in the dashboard but at the block level." I will therefore wait before continuing with this workshop.

[2022-04-26 09:39] westnz commented on #703
@courtneyr-dev I have changed the title to read "Using the Theme Customizer (Classic and Hybrid Themes)" and in the description, I have added, "Please note that the Customizer is used with classic or hybrid themes."

[2022-04-26 09:48] westnz commented on #582
@courtneyr-dev I have changed the title to read "Theme Customizer - Lesson Plan (Classic and Hybrid Themes)" and in the description, I have added, "Please note that the Customizer is used with classic or hybrid themes."

[2022-04-26 13:19] courtneyr-dev commented on #632
I'll help chunk this down into individual lesson plans/workshops that can roll up into a full course soon.

[2022-04-26 13:23] rosswintle commented on #632
@courtneyr-dev Cool - please do assign individual tasks to me if you need things planned out and executed. Thank you! 🙏

[2022-04-26 13:36] courtneyr-dev opened #751 "What is WP-CLI and Why Manage WordPress in the Terminal - Lesson Plan"
# Topic Description
High level overview of WP-CLI covering why and when to use WP-CLI.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.

- Official website: https://wp-cli.org/
- Handbook: https://make.wordpress.org/cli/handbook/
- GitHub: https://github.com/wp-cli/wp-cli

# Guidelines
Review the [team guidelines](https://make.wordpre

[2022-04-26 14:13] rosswintle commented on #751
👋

[2022-04-26 14:24] courtneyr-dev commented on #632
https://github.com/WordPress/Learn/issues/751 next step :)

[2022-04-26 14:50] courtneyr-dev commented on #582
One caveat @westnz : Customizer can appear even when block based themes are installed if the user has a plugin that contains settings inside Customizer.  Example: Install Twenty Twenty Two with either Woo or The Events Calendar.

[2022-04-26 16:59] wparasae commented on #689
Issue is still ongoing; does not look to be resolved, but temporary workaround does seem to be working for the moment.

[2022-04-26 18:40] caraya commented on #739
I want to take a shot at writing the lesson plan

[2022-04-27 12:54] outdoor2kode commented on #746
Here are things I found for this issue:
1. We can see from the [screencast](https://d.pr/v/49HXxO) that after the change in #745, the style was fixed, which means that originally the style was off and through the clip, it shows that it's messed up by the sensei-lms plugin. The CSS style of the plugin is probably too loose so it affects the style here.
2. No corresponding CSS style for class `card-

[2022-04-28 17:51] wparasae opened #752 "Theme.json: Using Schema to write Theme.Json"
# Topic Description
One super simple way to write theme.json code with confidence is through using Schema. It's pretty simple to do if you can follow the steps!

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [ ]

# Guidelines
Review the [team guidelines] (https://make.wordpress.org/training/handbook/guidelines/)

# Workshop Develo

[2022-04-28 17:52] wparasae opened #753 "Block themes - Anatomy of a Block Theme"
# Topic Description
This tutorial expands upon [the child themes for block themes tutorial](https://github.com/WordPress/Learn/issues/510) and should explore in a high-level overview the new anatomy of a block theme.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [ ]

# Guidelines
Review the [team guidelines] (https://make.wordpre

[2022-04-29 16:01] caraya commented on #743
I would like to take a shot at this one...

[2022-05-02 20:36] wparasae opened #754 "How to Test WordPress - Lesson Plan"
# Topic Description
This lesson plan describes best practices for testing WordPress - what type of feedback to give, how to give that feedback, and how to test, all in one place.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [ ]

# Guidelines
Review the [team guidelines] (https://make.wordpress.org/training/handbook/guidelines/)

[2022-05-02 20:44] wparasae commented on #644
Lesson plan draft complete: https://learn.wordpress.org/wp-admin/post.php?post=12627&action=edit

[2022-05-03 10:24] westnz commented on #582
Do you think it is worth mentioning it? I assumed learning how to use the Customizer within a block theme is a different topic. @courtneyr-dev

[2022-05-04 06:46] westnz commented on #694
Here is the link to the [video](https://wordpress.slack.com/archives/C02RW657Q/p1651646572769029) for feedback.  Please review by Thursday, 12 May. Many thanks

[2022-05-04 07:11] hlashbrooke commented on #694
I love it - no notes from me! This is ready to ship IMO.

[2022-05-05 12:41] Kemmy99 commented on #698
Hello @courtneyr-dev  there is a mistake with this headline.Manging Menus.

[2022-05-06 00:43] courtneyr-dev commented on #646
Ready for review: https://learn.wordpress.org/?p=12915&post_type=lesson-plan&preview_id=12915&preview=true

[2022-05-06 07:39] westnz opened #755 "Como escolher e instalar plugins WordPress/ Choosing and Installing a Plugin Tutorial - Brazilian Portuguese"

[2022-05-06 11:11] Kemmy99 commented on #503
Can i work on this lesson plan please?

[2022-05-06 11:13] Kemmy99 commented on #698
Manging Menus needs to be corrected. There is a mistake with managing. It is written as manging instead of managing. Thanks

[2022-05-06 12:54] westnz commented on #755
Here is the link to the [workshop](https://wordpress.slack.com/archives/C02RW657Q/p1651783185672409).

[2022-05-06 19:46] wparasae opened #756 "User Request: "Favorite" Star Button for Liked/Interesting Workshop Content"
**User request:** It would be useful to implement a way to star Workshops on learn.wordpress.org that interest the user (favorites).

The use case: Since we have a bunch of pages, by the time a user scrolled through to pages two or three, they'd forgotten workshops they wanted to review later.

A little heart or star right there on the thumbnails in order to 'save' interesting content would be a h

[2022-05-06 20:01] wparasae opened #757 "User Request: Button to Refer Back to Completed/In-Progress Material"
**User Request:** A way to refer back to workshops you’ve completed (like a list in the Profile, i.e. under Contribution history = Courses I’ve followed)

It would help users to have an automatically populated list with items they've completed and/or watched - or even the not completed / in progress, in case you might want to get back to it later. This will more easily allow people to pause their

[2022-05-07 13:15] courtneyr-dev commented on #448
Revised.  When https://github.com/WordPress/Learn/issues/739 is done, add in internal link in both. On List View lesson plan, at the bottom in bullets, link Lock to the other issue.

[2022-05-07 13:37] courtneyr-dev commented on #582
@westnz I think possibly in managing plugins would be a good place.  Many 3rd party plugins touch Customizer, or we could have a single small lesson plan/workshop specific to this intersection.  It is very important for robust sites to know this info.

[2022-05-07 17:14] courtneyr-dev commented on #453
6.0 updates revised and scheduled for publishing May 24

[2022-05-09 10:56] westnz commented on #582
@courtneyr-dev I think a mini lesson plan/workshop is a good idea. I have had a few people asking about the Customizer since we started using the Editor.

[2022-05-09 13:21] courtneyr-dev commented on #724
Revise to include the modal that displays on pages. https://make.wordpress.org/core/2022/05/03/page-creation-patterns-in-wordpress-6-0/

[2022-05-10 16:19] westnz commented on #675
Hey @courtneyr-dev I see you are working on the Lesson Plan. Were you planning on creating the workshop as well? If so, I can find a different topic? Just let me know 😉

[2022-05-11 13:42] Soigneur commented on #400
Hello there @azhiya, I am not sure whether I can view [https://learn.wordpress.org/wp-admin/post.php?post=15170&action=edit] to get involved in review process? Kind regards

[2022-05-11 14:10] westnz commented on #750
https://wordpress.slack.com/archives/C02RW657Q/p1650879751850259

[2022-05-11 14:10] westnz commented on #750
Published Workshop: https://learn.wordpress.org/workshop/understanding-the-page-editor-vs-site-editor/

[2022-05-11 18:01] westnz commented on #699
Hi @azhiya I have reviewed the links you shared and tested the Site Editor and Templates with WordPress 6.0-RC2. This lesson plan aligns with the 6.0 release. It is ready to be reviewed and published.

[2022-05-11 18:03] westnz commented on #513
Thanks @courtneyr-dev!

[2022-05-11 18:12] westnz commented on #524
The UI has changed slightly when you add a Query Loop block.  You now select 'choose' or 'start blank' at the start.  I see colours are also an option in the sidebar settings now.
<img width="899" alt="image" src="https://user-images.githubusercontent.com/89751452/167917495-fa34c71b-90ff-4b4a-8c8e-654f3872e5be.png">

[2022-05-11 18:13] westnz commented on #511
This can be marked off of the May Sprint.

[2022-05-11 18:13] westnz commented on #513
This can be marked off of the May Sprint.

[2022-05-11 18:15] westnz commented on #521
This '[workshop](https://learn.wordpress.org/workshop/submitting-block-patterns-to-the-directory/)' can be marked off of the May Sprint.

[2022-05-12 02:26] caraya commented on #739
Ready for Review

[2022-05-12 12:47] westnz commented on #524
Dear Team!  @courtneyr-dev @azhiya I have updated the [workshop ](https://learn.wordpress.org/workshop/taking-advantage-of-query-loops/)and re-recorded sections, and audio, to include the new UI for the 6.0 release.  It is a massive task updating a workshop as you also need to re-create the video, subtitles, transcript etc.

[2022-05-12 12:53] westnz opened #758 "Choosing and Installing a Theme Tutorial"
https://learn.wordpress.org/lesson-plan/choosing-and-installing-themes/

[2022-05-12 14:44] westnz commented on #646
**Review:**

**How should Gallery block be written?**
gallery block / Gallery block / Gallery block.  I was under the impression the name is in capital letter and block is written in lower case: Gallery block.

**Description:** In stead of starting a sentence with 'With it' it might work better to  say "The Gallery block allows you to decide..."

The **objectives** look great!
Please note though i

[2022-05-13 12:45] courtneyr-dev opened #759 "Working faster in WordPress - Lesson Plan"
# Details

- Topic description: Keyboard shortcuts like `/` for creating blocks, keyboard shortcut keys, include classic & block editor
- Audience (User, Developer, Contributor, etc.): Users
- Learning objectives:
- Content type (Course, Tutorial, Online Workshop, or Lesson Plan): Lesson Plan
- WordPress version (optional):
- Will you be creating this content? (Yes or No):

# Related Resources

#

[2022-05-16 13:42] TeBenachi commented on #574
Thanks for reviewing @Kafleg. Revising is all set.

[2022-05-16 15:00] jonathanbossenger opened #760 "Principles of Free Software and the WordPress project Quiz question bugs"
[Open Source Basics and WordPress](https://learn.wordpress.org/course/open-source-basics-and-wordpress/) course,
 [Principles of Free Software and the WordPress project Quiz](https://learn.wordpress.org/learn/quiz/principles-of-free-software-and-the-wordpress-project-3/) quiz.

1. In the third option of the first question, and ampersand character is not displaying correctly.
1. The 3rd question on

[2022-05-16 18:00] courtneyr-dev commented on #674
Ready for review. https://learn.wordpress.org/wp-admin/post.php?post=18010&action=edit

[2022-05-16 21:02] hlashbrooke commented on #760
Thanks - I have fixed the ampersand issue.

The issue with the incorrect answer is fine in the question itself, but the content of the lesson was actually incorrect in its assertion about the plugin/theme directories, so I have updated the lesson to be accurate.

[2022-05-16 21:02] #760 closed

[2022-05-17 11:32] jonathanbossenger opened #761 "Community Meeting Etiquette course is missing actions"
The [Community Meeting Etiquette](https://learn.wordpress.org/course/community-meeting-etiquette/) doesn't have the Course Signup, View Results, Course Progress, and Course Outline elements.

![learn wordpress org_course_community-meeting-etiquette_](https://user-images.githubusercontent.com/180629/168801367-2e5c4ee3-31c7-4925-8c12-4fe6a1ffd0dd.png)

[2022-05-17 21:54] hlashbrooke commented on #761
Thanks for reporting - this is now fixed.

[2022-05-17 21:54] #761 closed

[2022-05-18 00:43] caraya commented on #707
I'd like to take this one

[2022-05-18 08:31] chaion07 opened #762 "Inconsistencies within the Course titled 'Getting Started With WordPress: Get Setup'"
Title: Why WordPress Is For Everyone Quiz
The Quiz: https://learn.wordpress.org/learn/quiz/3-why-wordpress-is-for-everyone/

One of the choices within question 1 has a spelling error
![image](https://user-images.githubusercontent.com/64467850/168994245-30cb5701-cf1e-47cf-9f2d-92350080d571.png)
This is a very easy fix.

Additionally the result of the quiz doesn't seem consistent either
![image](htt

[2022-05-18 14:55] azhiya opened #763 "Course: Using the WordPress Data Layer"
Turning the Handbook tutorial for [Create your First App with Gutenberg Data](https://developer.wordpress.org/block-editor/how-to-guides/data-basics/) into a course on LearnWP.

The initial draft  by Adam Zielinski
1. Needs assessment statement
-It is nearly impossible to create, read, update, and delete WordPress data from Javascript. All the tools are there, but we do not explain extenders how o

[2022-05-18 14:57] azhiya commented on #763
The [initial discussion on Slack](https://wordpress.slack.com/archives/C02RW657Q/p1652358110293809)
@adamziel  will be working on this

[2022-05-18 17:01] abhansnuk commented on #739
Under things like 'Experience level', it says put an 'x' in the boxes. In GitHub and on Learn WP, it is a tick. So we will need to change this on this and other lesson plans.

[2022-05-18 17:13] azhiya commented on #739
Hi @caraya do you have the link to the lesson plan?

[2022-05-18 17:37] abhansnuk commented on #456
Following discussion with @courtneyr-dev and @azhiya , moved back to ready to help column as has two revisions for 6.0.

[2022-05-18 17:39] abhansnuk commented on #513
Label reviewed for review in discussion with Courtney and Hauwa, has been reviewed.

[2022-05-18 17:49] azhiya commented on #574
Hi @kafleg, can you please confirm if you've reviewed this? @TeBenachi seems to indicate that you have.

[2022-05-18 17:49] abhansnuk commented on #513
@westnz we are doing a lot of cross-collaboration for the release with documentation and Learn WordPress. It would be very helpful if you could add the following onto this issue, and any others with a priority for any you have done for 6.0 please. Thanks so much. A week to go, thanks for all you're doing to get the 6.0 items through.

- Could you please put the published link to workshops in the G

[2022-05-18 17:50] abhansnuk commented on #374
This is published on Learn WP, and needs some revisions for 6.0. Putting it back into the earlier column, in discussions with Hauwa and Courtney.

[2022-05-18 17:51] azhiya commented on #646
@courtneyr-dev looks like @westnz has finished reviewing this. Are you able to make the suggested amendments?

[2022-05-18 17:53] azhiya commented on #524
Thanks @westnz I'll move this to ready for review. I wonder what is the best way to manage this. Do we just create a whole new video or append a smaller video with the amendments?

[2022-05-18 17:54] azhiya commented on #699
Thanks @westnz I'll move it to Ready to review.

[2022-05-18 17:59] abhansnuk commented on #645
Note: this is in revisions extended, it will be live on release day

[2022-05-18 17:59] azhiya commented on #698
Updated.

[2022-05-18 18:01] azhiya commented on #644
Thanks @wparasae I've moved it to Review in Progress

[2022-05-18 18:10] azhiya commented on #694
Oops looks like this has already been reviewed by Hugh so I'm removing the Ready for Review label.

[2022-05-18 18:13] caraya commented on #714
I would like to take this one

[2022-05-18 18:14] azhiya commented on #703
Hey @westnz I've tagged this as **Ready for Review** but now I'm wondering if this has already been reviewed.

[2022-05-18 18:15] azhiya commented on #695
Hey @westnz are there any further developments on this one?

[2022-05-18 18:18] caraya commented on #739
@azhiya

https://learn.wordpress.org/wp-admin/post.php?post=18084&action=edit

[2022-05-18 18:39] caraya commented on #713
I want to take this one too.

[2022-05-19 01:21] kafleg commented on #574
@azhiya Provided minor feedback. It's almost ready to add.

[2022-05-19 02:31] westnz commented on #513
Published Workshop: https://learn.wordpress.org/workshop/applying-duotone-filters-to-change-color-effects/

[2022-05-19 02:37] westnz commented on #703
Hi @azhiya This issue was under quick fixes.  I have only changed the above-mentioned information.  It must probably still be approved.

[2022-05-19 02:37] westnz commented on #695
Howdy @azhiya This is on hold until after the 6.0 release.

[2022-05-19 04:46] westnz commented on #755
Published Workshop: https://learn.wordpress.org/workshop/como-escolher-e-instalar-plugins-wordpress/

[2022-05-19 04:51] westnz commented on #524
Hi @azhiya!  That was the hardest part.  I had to create a new video (editing parts), redo the transcript, redo the subtitles etc.  It takes almost just as long to update a video as to create a new one.  Something to discuss moving forward as doing that doesn't seem sustainable moving forward.  You have made a very good suggestion.

[2022-05-19 06:15] artdecotech commented on #447
I've made a revision to include Global Styles ready for review @courtneyr-dev @azhiya:
https://learn.wordpress.org/wp-admin/revision.php?page=compare-updates&revision_id=18199

There seem to be outstanding changes waiting to be merged relating to the hover animation: https://github.com/WordPress/gutenberg/issues/39700 which may impact one of the screenshots.

[2022-05-19 12:07] azhiya commented on #703
Thanks Wes. I can see the updates. I'll move this to published.

[2022-05-19 12:07] #703 closed

[2022-05-19 13:06] azhiya commented on #697
Hi @westnz This looks good to go.

[2022-05-19 14:48] azhiya commented on #739
Looking good @caraya. Thank you so much for adding alt text to the images.
You might want to highlight the menu items like this for example: https://learn.wordpress.org/lesson-plan/templates/ in the screenshots for the:
- Group block under preparing content
- Lock option for the first screenshot under Locking movement
- Lock and Drag handles in Testing movement lock

[2022-05-19 15:53] Kemmy99 commented on #503
Hi Hauwa
Welcome back. We sure missed you. Thanks for assigning me to this lesson
plan. How do I start writing the lesson plans on Github?. Please kindly
help.

Thank you,
Kemi

On Wed, May 18, 2022 at 7:09 PM Hauwa Abashiya ***@***.***>
wrote:

[2022-05-19 15:58] azhiya commented on #699
Hi @westnz
Is it possible to increase the font size of the list view screenshot? Other than that all looks good.
One thing that I did notice is that you make reference to Love Travelling.

Would it be a good idea to provide the Presenter with a zip file of the site so that they can use it or should it be generic like click on your Website name/logo?

[2022-05-19 16:09] azhiya commented on #501
Here is the link to the lesson plan: https://learn.wordpress.org/?p=14868&post_type=lesson-plan&preview=1&_ppp=5ac7433ee4
I think is this ready to be pubilshed.

[2022-05-19 16:15] azhiya commented on #582
Hi @courtneyr-dev and @westnz I had flagged this for review. I'm assuming that it is still ok to go or is there more that needs to be added?

[2022-05-19 16:25] azhiya commented on #674
@courtneyr-dev Looks good, I've added the taxonomy. You might want to check that the timings are correct.

[2022-05-19 16:38] azhiya commented on #524
Hey @westnz I feel your pain, having to revise this just for that minor change in my opinion is not the right way to manage this. I'd be happy with just a note. I've put this on the agenda for next week.

Everything else looks good to go.

[2022-05-19 16:52] artdecotech commented on #447
Could you reassign this to me @azhiya and if needed check off the boxes in the dev checklist?

[2022-05-19 17:30] azhiya commented on #644
Hey @wparasae
For the assessment question

I'm assuming the answer is B.

Under Lesson Wrap Up

Do you know if this is now ready?

[2022-05-19 17:34] azhiya commented on #447
I've reassigned this to you @artdecotech but I haven't checked off any boxes. I probably won't get to this until tomorrow.

[2022-05-19 17:37] azhiya commented on #503
hi @Kemmy99 glad to be back.

There is an existing [Lesson Plan](https://learn.wordpress.org/lesson-plan/introduction-to-common-plugins/) but it looks like a revision is required. I'm not clear as to what. @courtneyr-dev are you able to confirm what needs to be amended on this lesson plan?

[2022-05-19 22:43] westnz commented on #697
Thank you @azhiya

[2022-05-19 22:46] westnz commented on #582
Hey @azhiya, I think it is ready to go. We can wait for @courtneyr-dev for final approval.

[2022-05-19 22:47] westnz commented on #524
Awesome!  Thank you so much @azhiya

[2022-05-19 23:27] caraya commented on #739
Question, do we add the images to the media library in the learn.wordpress repo? Right now they are linked to an external site

[2022-05-19 23:58] westnz commented on #694
Link to workshop: https://learn.wordpress.org/workshop/getting-to-know-the-wordpress-dashboard/

[2022-05-20 00:25] westnz commented on #699
Hi @azhiya, I have changed the reference to 'Love Travelling'. Thanks for picking that up. The screenshot you referred to was not to only highlight the List View section, but to visually reflect the example discussed before the image: **"When you create a template, you get the best use when you separate the reusable parts from the dynamic part. The dynamic part is the content part that will change

[2022-05-20 00:39] westnz commented on #447
Hey @artdecotech. At the moment I only see this when I follow the [link](https://wordpress.slack.com/archives/C02RW657Q/p1652979170968379) you shared in Slack:
<img width="1920" alt="image" src="https://user-images.githubusercontent.com/89751452/169425880-cc5602df-f21a-45f9-84fc-76df5d45b373.png">

[2022-05-20 00:41] westnz commented on #501
Hi @azhiya. Here is the [feedback](https://wordpress.slack.com/archives/C02RW657Q/p1648043334253679?thread_ts=1648040716.769419&cid=C02RW657Q) I gave to the lesson plan a while ago already.  I think it was before we moved everything to Github.  I agree, it is ready to be pubslished.

[2022-05-20 01:13] westnz commented on #674
Hey @courtneyr-dev!  Great lesson plan.  I look forward to seeing the workshop as well.

Just a few small things.

Lesson objectives - **maybe add full stops after each sentence.**

Assessment - **double-check the answer (see screen shot)**

<img width="887" alt="image" src="https://user-images.githubusercontent.com/89751452/169426756-4d9512d9-37c9-406c-841c-59bd6586308a.png">

Width: **Unsure wha

[2022-05-20 02:03] #696 closed

[2022-05-20 02:04] #694 closed

[2022-05-20 02:06] westnz commented on #524
Link to workshop: https://learn.wordpress.org/workshop/taking-advantage-of-query-loops/

[2022-05-20 02:15] westnz commented on #652
Hi @caraya Could you post the link the draft lesson plan here. 👍

[2022-05-20 09:31] Kemmy99 commented on #503
Hello @courtneyr-dev please what am i to do with this lesson plan, is it to revise or to write? Thanks!

[2022-05-20 10:19] azhiya commented on #699
Thanks @westnz That makes sense now. Yes, I think this is now good to go.

[2022-05-20 12:49] azhiya commented on #739
Please add it to the media library and set to full size for optimal display.

[2022-05-20 12:53] azhiya commented on #690
thanks @ndiego

[2022-05-20 12:53] #690 closed

[2022-05-20 17:06] caraya commented on #739
I updated the images as suggested

[2022-05-20 20:49] caraya commented on #652
Sorry, here it is

https://learn.wordpress.org/wp-admin/post.php?post=15349&action=edit

[2022-05-22 01:34] courtneyr-dev commented on #490
Please include reusable blocks work in site editor. https://github.com/WordPress/gutenberg/pull/36511

[2022-05-22 01:56] courtneyr-dev commented on #613
Please see https://github.com/WordPress/gutenberg/pull/38997

[2022-05-22 17:42] courtneyr-dev opened #764 "Author archive - Lesson Plan"
# Details

- Topic description:
   - Create the Author template
   - Demonstrate how to use the Author Name block and Author Bio block on posts
- Audience (User, Developer, Contributor, etc.): User
- Learning objectives:
- Content type (Course, Tutorial, Online Workshop, or Lesson Plan): Lesson Plan
- WordPress version (optional): 6.0
- Will you be creating this content? (Yes or No):

# Related Re

[2022-05-22 17:44] courtneyr-dev commented on #764
https://github.com/WordPress/gutenberg/pull/36001

[2022-05-22 17:45] courtneyr-dev commented on #764
https://github.com/WordPress/gutenberg/pull/38269

[2022-05-22 17:52] courtneyr-dev opened #765 "Featured Image - Lesson Plan"
# Topic Description
What is a featured image in WordPress?  How is it the same as what displays on social shares vs what displays on your own site?
Set a featured image, view where it displays in a query loop. Demonstrate using a featured image block and featured image within a cover block. Demonstrate how to create a different social share image preview using an SEO plugin.

# Related Resources
L

[2022-05-22 18:05] courtneyr-dev commented on #765
https://github.com/WordPress/gutenberg/pull/39658

[2022-05-22 18:33] courtneyr-dev commented on #613
https://github.com/WordPress/gutenberg/pull/38063

[2022-05-22 18:34] courtneyr-dev commented on #613
https://github.com/WordPress/gutenberg/pull/38024

[2022-05-22 22:35] caraya commented on #707
Ready for review.

https://learn.wordpress.org/wp-admin/post.php?post=18265&action=edit

[2022-05-22 22:43] westnz commented on #699
Published Lesson Plan: https://learn.wordpress.org/lesson-plan/intro-to-site-editor-and-templates/

[2022-05-22 23:30] wparasae commented on #652
This is so thorough! Taking a look now:

What I love:

- Excellent readiness questions! I feel prepared for the lesson.
- Participant introductions are solid!
- I adore the script! I am following it so far; it's concise and clear, especially if learners have some knowledge of existing coding knowledge.
- I really, REALLY like your comment about accessibility when choosing colors. Yes!
- Your outli

[2022-05-23 10:12] abhansnuk commented on #699
Updating notes from earlier in the week:
- reviewed lesson plan
- two questions remain for @azhiya and @courtneyr-dev , which have wider impact:
i) Are we using words in caps, eg 'DON'T' or can we emphasize these in bold to avoid issues for screen readers?
ii) Are we completing the SEO field in JetPack at this stage, and if not, are we flagging them on GitHub in a particular one to come back to? D

[2022-05-23 10:27] abhansnuk commented on #739
It is looking good.

Under presenters notes, suggest a slight tweak of the first two bullet points:
- from "While we can lock specific blocks in the theme, it should be possible for other developers working on the same theme to undo the locks" to "We can lock specific blocks in the theme, it should be possible for other developers working on the same theme to undo these locks."
- from "We ask for

[2022-05-23 19:24] caraya commented on #652
Sarah,

Thank you for your feedback 😄

If you want to make changes, go ahead. The goal is to make the lesson plan the best it can be, no permission needed

[2022-05-23 23:41] caraya commented on #739
@abhansnuk

I incorporated the requested changes.

[2022-05-24 13:27] webtechpooja commented on #400
Thanks, @jonathanbossenger for working on it.

At the first glance, seems it is not following the current Lesson plan format. Could you please check and compare it.

Here are some points, I would like to highlight:
For example, in this lesson plan, there is a screening Question section and now we are using Readiness Questions instead of it.

Assets -> Materials Needed
Screening Questions -> Readin

[2022-05-24 13:32] jonathanbossenger commented on #400
Thanks for the feedback @webtechpooja when I worked on this I was still getting used to the lesson plan format, so it's very possible I missed a few things 🙈

I'll be sure to update it accordingly and send it back out for review once it's ready.

[2022-05-24 15:58] courtneyr-dev commented on #699
Ideally we should not use contractions if we follow the style guides from training & docs. https://make.wordpress.org/training/handbook/guidelines/lesson-plan-style-guide/ and https://make.wordpress.org/docs/style-guide/language-grammar/contractions/.

[2022-05-24 16:41] Piyopiyo-Kitsune commented on #707
Please assign me for reviewing 🙏

[2022-05-24 17:47] azhiya commented on #762
@wparasae I think this is one of yours, correct?

[2022-05-24 21:15] westnz commented on #699
I have updated the words in caps to lower case and bold. <img width="602" alt="image" src="https://user-images.githubusercontent.com/89751452/170133559-3c989d5b-413d-4095-b80b-ccab77a19da1.png">

[2022-05-25 10:49] webtechpooja commented on #739
Hi @caraya,

It looks excellent and very well explained. However, I think we can remove the Q&A point from the lesson outline, as you are covering this under assessment. Is there anything else regarding the Q&A section that I am missing?

The lesson outline section is not clear to me. Few points are short written and not self-explanatory. I think It needs more explanation to avoid confusion.

[2022-05-25 17:14] caraya commented on #739
It is a place for people to ask questions if they still have any. I make it explicit at the end of all the sessions I create to tell participants that we've set time aside at the end. This is different than assessments but I can see where it would be confusing

Which of the outline points do you think needs further expansion?

[2022-05-25 23:49] wparasae commented on #643
Hey friends, I ran a social learning space that is incomplete for this lesson plan in full, but has a LOT of good information to use as a starting point: https://wordpress.tv/2022/05/25/design-with-me-create-a-simple-website-for-your-small-business/

It's long, but I think it would be really useful as it's broken up into exercises and helps people build sites from start to almost finished. Just in

[2022-05-26 00:51] westnz opened #766 "Nigerian Pidgin Translation: Choosing and Installing a Plugin - Workshop"

[2022-05-26 00:59] westnz commented on #766
Hey @azhiya!  Could you please assign @Kemmy99 to this issue? Thanks

[2022-05-26 14:57] azhiya commented on #766
I love that you are working on a Pidgin version of this @kemmy99. Please comment on the card so we can assign you.

[2022-05-26 17:49] Kemmy99 commented on #766
Thank you @azhiya and @westnz , I want to work on it.

[2022-05-27 02:18] westnz commented on #758
Here is a [link](https://wordpress.slack.com/archives/C02RW657Q/p1653617911719669) to the video that was shared in the Training team Slack:

[2022-05-27 12:09] azhiya commented on #766
Hi, @Kemmy99 there are a number of different Pidgin translations https://en.wikipedia.org/wiki/Pidgin#Examples. I'm assuming this is the Nigerian pidgin, is that correct?

[2022-05-27 13:11] #686 closed

[2022-05-27 13:11] #688 closed

[2022-05-27 13:11] #693 closed

[2022-05-27 13:11] #719 closed

[2022-05-27 13:41] peteringersoll commented on #758
I'm not a Github user so I'm not sure if I'm commenting in the right area or if this is feedback you're looking for. Anyway, at 45 seconds in, it is stated that "Plugins extend the functionality of your website, but themes change the look and layout of your site..." I think it's worth mentioning that themes can (dramatically) change the functionality of your site, change how the admin works, etc.

[2022-05-27 13:51] peteringersoll commented on #758
Also, you might want to mention that the WP repository is the official site for plugins, but that there are premium themes also available and that often a free version in the repository may offer a premium theme directly from the developer or theme-selling site.

The last suggestion is a quick mention that thumbnails and sample sites are more suggestions and that things like images and, of course,

[2022-05-27 13:57] Kemmy99 commented on #766
Yes. This one below.
 https://en.wikipedia.org/wiki/Nigerian_Pidgin
 Not straight English. E.g- Na mi dey talk, instead of I am the one
speaking or talking.

On Fri, 27 May 2022, 13:09 Hauwa Abashiya, ***@***.***> wrote:

[2022-05-28 16:31] Piyopiyo-Kitsune commented on #707
Hey there @caraya, great work! I did some light grammar/word editing and for other feedback you'll find it below:

- The information from this GitHub article will need to be removed from the lesson plan post before publishing
- "Support was first introduced in WordPress 5.8." --> Support for what? WebP?
- "(the feeling that Google wants to own everything)." -> is it necessary to say this in a less

[2022-05-30 02:05] westnz commented on #758
Thank you @peteringersoll 👍

[2022-05-31 17:31] jonathanbossenger opened #768 "Update pages referencing Trello to point to GitHub"
1. https://make.wordpress.org/training/handbook/about/team-roles/
2. https://make.wordpress.org/training/handbook/about/our-contributor-ladder/
3. https://make.wordpress.org/training/handbook/getting-started/
4. https://make.wordpress.org/training/handbook/getting-started/how-we-work-together/
5. https://make.wordpress.org/training/handbook/getting-started/team-on-boarding/

[2022-05-31 17:34] jomarieminney commented on #768
Also on the form here: https://make.wordpress.org/training/getting-started/contact/

[2022-05-31 17:39] jomarieminney commented on #768
A lot of the links on the Getting Started > Team Onboarding also still link to Trello - e.g. Roadmaps.

[2022-05-31 18:17] jomarieminney opened #769 "Shortcodes not displaying as they are being rendered."
On this section of this page:
https://make.wordpress.org/training/getting-started/lesson-style-guide/#formatting
The shortcodes for emphasized texts are rendering on the page, so you can't actually see the shortcodes themselves. It might be better to use a code block here?
![image](https://user-images.githubusercontent.com/53484448/171256720-22f60526-a15c-48f8-b2fe-df0b576d6bb4.png)

[2022-05-31 18:23] jomarieminney commented on #768
@jonathanbossenger while you are there.. there is also a typo on this page - Item 5 should be Reviewing not revewing ;)
https://make.wordpress.org/training/handbook/getting-started/training-team-how-to-guides/

[2022-05-31 18:24] jomarieminney commented on #768
https://make.wordpress.org/training/handbook/getting-started/training-team-how-to-guides/reviewing-learn-content-errors/
More Trello

[2022-05-31 18:29] jomarieminney commented on #768
https://make.wordpress.org/training/handbook/lesson-plans/auditing-lesson-plans/#trello

[2022-05-31 19:19] caraya commented on #707
Thank you! I've addressed the requested changes below

I removed all the information from the template. Please let me know if I missed anything.

Yes. I reworded the sentence to indicate that WebP support was introduced in WordPress 5.8

No, it is not necessary. I removed the entire sentence.

Thank you. It's been fixed.

The links were higher in the document. They've been moved to the bottom. Is

[2022-05-31 19:49] caraya commented on #714
Ready for review

[2022-06-01 07:47] webtechpooja commented on #739
@caraya, I think the introduction points need more clear explanation.
What does it cover and why do we include this in the outline section. It would be great if we can do something to make it more clear. As I think if I am getting confused by these points, someone may get the same confusion.

[2022-06-01 07:51] jonathanbossenger commented on #768
@jomarieminney I've updated the references to Trello in the about and getting started sections, but not the reviewing/auditing sections, because I think those need to be reviewed/updated for Github, and it's not just a simple copy paste. I'll bring this up in the APAC training team meeting, but also during contributor day today.

[2022-06-01 21:12] annezazu commented on #360
Want to quickly note some of the complexities surrounding this with block themes: https://github.com/WordPress/gutenberg/issues/39266 Shouldn't be a blocker but should be noted and it's likely that a11y SME will need to be brought in.

[2022-06-01 21:16] annezazu commented on #558
When building this course out, it will be important to offer both a Classic and Block theme approach, since they are so wildly different. It's not clear to me at a glance which this will be for and whether it'll cover both :) Might make sense to split this in two as a result (a lesson plan for classic and a lesson plan for block).

[2022-06-01 21:16] annezazu commented on #565
I'm confused by this idea and think it should be closed compared to others in place: https://github.com/WordPress/Learn/issues/637 https://github.com/WordPress/Learn/issues/631 https://github.com/WordPress/Learn/issues/625 https://github.com/WordPress/Learn/issues/619

[2022-06-01 21:24] annezazu commented on #619
When thinking about a Course on themes, it would be rad to talk about different types (perhaps just hybrid, block, classic):

- Classic theme: a theme built the way we’ve been used to with PHP templates, functions.php, and more.
- Block theme: a theme made for FSE using HTML templates and theme.json, allowing one to manage all parts of their site with blocks.
- Hybrid theme: a classic theme that a

[2022-06-01 21:25] annezazu commented on #625
Would love to include block locking, pattern creation, and general "curation techniques" https://make.wordpress.org/core/2022/02/09/core-editor-improvement-curated-experiences-with-locking-apis-theme-json/

[2022-06-02 13:27] azhiya commented on #565
Thanks for reviewing this @annezazu, I will close the issue for now. If need be, we can always reopen it.

[2022-06-02 13:27] #565 closed

[2022-06-02 13:39] azhiya commented on #558
So we've got:
- [Classic Child Theme lesson plan](https://github.com/WordPress/Learn/issues/412)
- [Child Theme for Block themes lesson plan](https://github.com/WordPress/Learn/issues/644)
- [Child Theme for Block themes workshop](https://github.com/WordPress/Learn/issues/510)

Does it still make sense to have this open?

[2022-06-02 13:52] azhiya commented on #769
I've converted this page to Blocks and updated it.

[2022-06-02 13:52] #769 closed

[2022-06-02 13:54] azhiya commented on #766
Updated the title to make it clear that it is Nigerian Pidgin.

[2022-06-02 14:50] annezazu commented on #558
I don't think it does!

[2022-06-03 05:29] caraya commented on #714
I got insanely busy so I will unassign myself from this one. Sorry

[2022-06-03 09:04] azhiya commented on #558
Closed as per the discussion above.

[2022-06-03 09:04] #558 closed

[2022-06-03 09:05] westnz opened #771 "Course: Block Development"

[2022-06-03 09:07] westnz commented on #771
Michael Burridge is working on this course and I will be supporting him along the way as Instructional Designer.  Here is the initial planning doc: [Block Development Course Objectives](https://docs.google.com/document/d/1HFO47KMUKYg6ht-6zf8jUDFOEfazPLIQFDi0hSToHcY/edit#heading=h.jiy7qjmf8hm)

[2022-06-03 09:17] azhiya commented on #700
With the Faculty program now live, I'd like to revisit this task. @piyopiyo-kitsune I'm adding you to the conversation as well.

[2022-06-03 09:29] azhiya commented on #700
Do we think there is still a need to keep the [Team Roles column](https://github.com/WordPress/Learn/projects/4#column-18128194) and the cards in there? We used to keep this in Trello and we would list the team members against each card so people knew who was doing what. We would also use it to send targeted messages for that specific group/role. If we do decide it is worth keeping then I would su

[2022-06-03 09:46] azhiya commented on #714
Moving this back to the "Ready to Create" column

[2022-06-03 10:04] azhiya commented on #424
Reopened

[2022-06-03 10:07] mburridge commented on #771
Thanks Wes.

[2022-06-03 10:11] azhiya commented on #762
Hi, @wparasae I've updated the spelling error but not show how to fix the issue with Question 2.

[2022-06-03 10:35] azhiya commented on #771
Hi, @westnz that link requires access. Can we make it read-only for public view?

[2022-06-03 11:19] westnz commented on #771
Thank you @azhiya Michael changed the access to read-only for public view.

[2022-06-03 12:31] azhiya commented on #771
Discussed in Slack: https://wordpress.slack.com/archives/C02RW657Q/p1654255617979579

[2022-06-06 09:14] jonathanbossenger commented on #400
@webtechpooja could I confirm which is the correct document for the Lesson plan format?

I am working on this document https://make.wordpress.org/training/getting-started/lesson-style-guide/, which I found here https://make.wordpress.org/training/handbook/lesson-plans/how-to-conduct-an-instructional-review/.

However it seems you are referring to a different document, so I'd like to make sure I fo

[2022-06-06 13:18] jonathanbossenger opened #772 "Fix PHPCS linting errors on e2e.php test file."
Currently, there are some errors in the following test file:

`wp-content/plugins/wporg-learn/tests/e2e.php`

These are causing GitHub actions checks to fail on PRs (see example PR #767)

[2022-06-07 16:49] Piyopiyo-Kitsune commented on #707
@caraya The changes look good to me! Nicely done!

[2022-06-08 00:23] Piyopiyo-Kitsune opened #775 "Update Workshop Presenter Application form"
Hi there, we need to update the Workshop Presenter Application form on this page [here](https://learn.wordpress.org/workshop-presenter-application/) to remove the Presenter Details section which includes:

- WordPress.org User Name
- First Name
- Last Name
- Email
- Where can we find you online? Please share links to your website(s) and as many social media accounts as applicable, including but no

[2022-06-08 00:58] hlashbrooke commented on #775
For reference, the plan is to separate the forms, so the current only captures workshop data (we'll still need the submitter's username to go through), and there's a separate form for a general application to become a presenter, but that will be created with Jetpack to go directly to the inbox.

[2022-06-08 10:15] rosswintle commented on #751
Catching up after a short while.

I'm not sure I want to be making a lesson plan here. Ideally I'd make what I think is called a "Workshop" - a video tutorial - that can be put on learn.WordPress.org. I think that's where the value is here.

If we want to subsequently turn it into an in-person, meetup-style presentation then we can, but that's not really my strength.

I'm not entirely certain why

[2022-06-08 10:28] rosswintle commented on #632
I'm confused about why a lesson plan is the next step.

Ideally, with my limited contribution time, I would:

- Finish outlines of the videos for a short course
- Have that reviewed
- Created and have reviewed detailed scripts (if this is required - I tend to work from prompts rather than fixed scripts)
- Record
- Pass over for editing (or use suggested tools and materials to do this myself)

Shou

[2022-06-08 22:22] #772 closed

[2022-06-10 13:37] jonathanbossenger opened #776 "WordPress Hooks - Workshop"
# Topic Description
Covering the fundamentals of the WordPress Hooks system, how to register action and filter hooks, hook priority, and hook arguments.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.

- [WordPress Hooks](https://developer.wordpress.org/plugins/hooks/)
- [Action hooks](https://developer.wordpress.org/reference/functi

[2022-06-10 17:29] ghost commented on #525
Ok

[2022-06-13 09:52] jonathanbossenger opened #777 "Training Handbook - Update Lesson Plan Style Guide"
The [Structure](https://make.wordpress.org/training/getting-started/lesson-style-guide/#structure) section of the Lesson Plan Style Guide should be updated to reflect the new Lesson Plan structure used in the [Lesson Plan issue template](https://github.com/WordPress/Learn/blob/trunk/.github/ISSUE_TEMPLATE/lesson-plan-template.md)

[2022-06-13 23:40] westnz commented on #695
Hey @azhiya I have started working on the script, will try to get the workshop done by the end of next week.

[2022-06-13 23:46] westnz commented on #445
Is "Copy to Clipboard" feature not meant for the "Using the Media Library Workshop": https://learn.wordpress.org/workshop/using-the-media-library/

My workshop mainly focuses on organizing your media.

[2022-06-13 23:50] westnz commented on #651
Hopefully, something I can get to at the end of the month or sooner.

[2022-06-14 15:58] courtneyr-dev commented on #153
@melchoyce any chance this exists in a Figma file somewhere? Do you, or might a current Automattician, have access to that?

[2022-06-14 16:58] caraya commented on #739
Does it make more sense now? Is this the change you had in mind?

[2022-06-14 17:00] caraya commented on #713
Ready for Review

https://learn.wordpress.org/wp-admin/post.php?post=18491&action=edit

@courtneyr-dev this is still missing the location of the repository we discussed for placing lesson-related auxiliary material in

[2022-06-15 02:23] melchoyce commented on #153
Here you go: https://www.figma.com/file/UtmG8KQv3Csy8hNtuAWkwZ/Learn-WordPress?node-id=1094%3A52

[2022-06-15 15:51] wparasae opened #778 "Course Development Handbook Guidelines"
**The Issue**
People want to create courses of their very own, but there isn't clear documentation to create it.

While there are many learning course/unit plan designs out there, none address the unique and wonderful need of bringing in the greater community into account.

**The Process**
@wparasae and @jonathanbossenger have picked up a big task of developing a course on Low-Code Block Theme. As

[2022-06-15 20:43] wparasae commented on #516
This should be marked as completed I think; I'm not sure what next steps are for marketing and other things, so if there are steps I'm missing after the publication of this (or if I did this wrong at all!) please do let me know. Trying to be better about doing things the right way!

[2022-06-15 22:12] wparasae commented on #510
Hi friends, an update on this; this is next on my agenda to tackle. I have a rough draft done and recorded. Screencasts need some work, but this is at 80%. I should be able to finish this up for community feedback this week.

[2022-06-15 22:13] wparasae commented on #512
Status Update - Visuals recorded; audio needs re-recording and piecing together.

[2022-06-15 22:14] wparasae commented on #519
Removing myself from this issue temporarily. I'm doing a big push to finish what I've already started as I gear up for the future course; other people may work on this if they desire. Otherwise, I will likely pick this back up as part of the larger "Build a Block Theme - Low Code" course.

[2022-06-15 22:15] wparasae opened #779 "Anatomy of a Block Theme - Workshop"
# Topic Description
A brief overview of the Anatomy of a Block theme.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [ ]

# Guidelines
Review the [team guidelines] (https://make.wordpress.org/training/handbook/guidelines/)

# Workshop Development Checklist

- [ ] Vetted by instructional designers for content idea
- [ ] Provide fee

[2022-06-15 22:17] wparasae commented on #779
Workshop created a little by accident; issue created in order to work better in public.

A link to the rough draft: https://wordpress.slack.com/archives/C02RW657Q/p1654723225279659

I did receive this feedback, which I am copying and pasting for the sake of working in the open:

`3:20 - 3:55 where you talk about the templates, you mention the html of the template file, but in the code window you h

[2022-06-15 22:17] westnz commented on #779
Link to video and feedback: https://wordpress.slack.com/archives/C02RW657Q/p1654723225279659

[2022-06-15 22:20] wparasae opened #780 "Using Schema with WordPress Theme.json - Workshop"
# Topic Description
A super handy tool when working with a WordPress theme.json file is Schema; this workshop is a mini-lesson from within the theme.json lesson plan, and is based on a small segment of that LP.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [ ]

# Guidelines
Review the [team guidelines] (https://make.wordpress.org

[2022-06-15 22:22] wparasae commented on #780
Draft workshop completed: https://wordpress.slack.com/archives/C02RW657Q/p1654723266060799
Complete with feedback: https://wordpress.slack.com/archives/C02RW657Q/p1655241499008889?thread_ts=1654723266.060799&cid=C02RW657Q

[2022-06-15 22:32] wparasae commented on #713
Reviewed! Some happy feedback:

Really solid objectives! I also like the clarify of your screenshots.

I like that you've set this little reminder to yourself:

**Option for Change:**
The Exercises section looks good, but I'd like to see some numbered steps there. It'll make it clearer for the learner to follow if it's, "1. Do x. 2. Do y." The numbers make for a tiny change with a big impact.

**S

[2022-06-16 14:36] courtneyr-dev opened #781 "testing again"
asdfl;alsdkjfa

[2022-06-16 14:37] courtneyr-dev opened #782 "2nd test"

[2022-06-17 03:05] westnz commented on #763
Updated conversation: https://wordpress.slack.com/archives/C02RW657Q/p1654354018589179

[2022-06-17 12:13] azhiya opened #784 "Content Creators"
Content creators are people who contribute new content to Learn WordPress. This can be in the form of lesson plans, workshops, courses or social learning spaces. Content creators can write lesson plans, run social learning spaces, record workshops videos, write workshop scripts, edit workshop videos, or perform any other task related to content creation.

[2022-06-17 12:17] azhiya opened #786 "Subject Matter Experts"
SMEs work with content creators and editors to provide expertise in their relevant subject area to ensure that the content is accurate and complete. Ideally, content creators would work with an SME from the very beginning of the creation process for any piece of new content.

[2022-06-17 12:18] azhiya opened #787 "Administrators"
Administrators perform the management and operations work involved in the Training Team and Learn WordPress. This involves things like task and project tracking, facilitating meetings, taking notes in meetings, vetting new applications, managing the Help Scout queue, and anything else that keeps the wheels turning.

[2022-06-19 21:18] westnz opened #788 "Building a homepage with a block theme - Workshop"

[2022-06-20 04:45] westnz opened #789 "Horizontal Pyramid Gallery - Workshop"

[2022-06-20 04:57] westnz commented on #697
Link to video: https://learn.wordpress.org/workshop/managing-updates/

[2022-06-21 08:04] kryzpt commented on #601
Hi @courtneyr-dev I'd like to work on this one, please.

[2022-06-21 08:11] webtechpooja commented on #601
Thank you @kryzpt, I have assigned this task to you.
Please DM me your mail ID on slack. So I can add you to Learn WordPress admin.

[2022-06-21 16:49] webtechpooja commented on #739
@caraya, Now looks good to me. My suggested changes are done.
Thanks

[2022-06-21 17:26] wparasae commented on #644
This is ready to publish. I removed the direct link to the theme.json since it is not ready; anyone who found this lesson plan should be able to find the theme.json lesson plan as well I'd imagine, though we can always make a note on the theme.json to link to it here when it's published and ready.

[2022-06-21 21:39] westnz opened #791 "List View Functionality - Workshop (Brazilian Portuguese)"

[2022-06-21 21:39] westnz commented on #791
Here is the link to the video and feedback. https://wordpress.slack.com/archives/C02RW657Q/p1655844289202409

[2022-06-22 01:50] westnz commented on #651
Hi @courtneyr-dev and @azhiya I have looked at the two links you have sent.  @courtneyr-dev, the feature spoken about in #36664 is not available yet. @azhiya I have updated the Lesson Plan to include: Replacing one template part with another.

[2022-06-22 02:30] tellyworth opened #792 "Question: can raw post data be safely made public?"
There is an issue #194 for the creation of export data from learn.wordpress.org for the development environment. The idea being that anyone who wants to develop or test a change to this repo can run an environment locally _with a copy of real post data from production_. There are a couple of ways of implementing this (see #249), but resolving it either way requires answering an important question:

[2022-06-22 05:35] tellyworth commented on #792
Out of curiosity I ran a script to list the block types used in CPTs on the site. Here's what I got:

[code]

[2022-06-22 05:44] tellyworth commented on #792
`jetpack/contact-form` and `jetpack/field-email` looks like one obvious thing to exclude. That's in a `page`, so exporting specific post types only would help.

Could any of the `sensei-lms` blocks contain something sensitive?

What other block types need caution? Core blocks are presumably safe.

[2022-06-22 06:29] hlashbrooke commented on #792
The Jetpack fields are just the form fields, so they don't hold any sensitive data on their own. None of the `sensei-lms` blocks would contain any sensitive data.

The one area that will hold sensitive data would be in the post meta fields on `wporg_workshop` - that includes PII like names and email addresses. I don't know if post meta would be included in this though.

[2022-06-22 08:17] fellyph commented on #791
@westnz I have included the new blocking block feature and add more time testing the list view that is why has more time them the english version.

[2022-06-22 13:02] jonathanbossenger commented on #400
@azhiya @webtechpooja I've had to delete my original updated lesson plan to create a new one, based on the lesson plan reusable block that's available from the block editor on the site.

This follows the updated lesson plan style guide and is ready to be reviewed.

https://learn.wordpress.org/wp-admin/post.php?post=18590&action=edit

[2022-06-22 15:04] vagelisp opened #793 "Greek translation for Photo Directory lesson plan"
# Topic Description
Greek translation for Photo Directory lesson plan

# Related Resources
The original Lesson Plan
[How to Use and Contribute to the WordPress Photo Directory and Openverse](https://learn.wordpress.org/lesson-plan/how-to-use-and-contribute-to-the-wordpress-photo-directory-and-openverse/)

The translated version of the Lesson Plan in google docs
https://docs.google.com/document/d/1

[2022-06-22 15:27] kryzpt commented on #601
Please review

**Lesson name:** Managing Media
**Original lesson:** https://learn.wordpress.org/lesson-plan/managing-media/

Changelog:-
1. Added section for 'Get the URL for Media Files'
2. Replaced all feature screenshots with new ones from WordPress version 6.0
3. Fixed punctuation, articles and repeated words.
4. Replaced link to Sample image as it is no longer available on Unsplash

**Edited

[2022-06-22 19:02] RafaelFunchal commented on #791
I reviewed the video shared [here](https://wordpress.slack.com/archives/C02RW657Q/p1655846878099269?thread_ts=1655844289.202409&cid=C02RW657Q). IMHO, it is perfect! <3

[2022-06-22 20:25] westnz commented on #791
@fellyph You can go ahead and publish this workshop. Follow the same steps as last time. https://make.wordpress.org/training/handbook/workshops/publishing-a-workshop/

Let me know once the video and subtitles are uploaded onto wordpress.tv, then I can approve them for you.

Thank you for this amazing work!!

[2022-06-22 20:27] westnz opened #794 "How to Create a Post or Page with the WordPress Block Editor - Tutorial (Brazilian Portuguese)"

[2022-06-22 20:28] westnz commented on #794
Here is the link to the video: https://wordpress.slack.com/archives/C02RW657Q/p1655921849888749

[2022-06-22 21:09] fellyph commented on #791
Thanks! @RafaelFunchal @westnz

[2022-06-22 22:09] westnz commented on #601
This looks great @kryzpt! Thank you for making the updates. Well done!!

[2022-06-23 02:51] westnz commented on #695
Here is the link to the [video](https://wordpress.slack.com/archives/C02RW657Q/p1655952690863779)

[2022-06-23 02:54] westnz commented on #789
Hey, @azhiya Could we please add this to the June Sprint?  Many thanks

[2022-06-23 04:38] westnz commented on #456
Reviewed the links.  Due to the Intro nature of the workshop, I did not go into detail about the different types of templates or creating new templates.

[2022-06-23 15:01] vagelisp commented on #97
Hello all, I found this tagged as a Good first issue, and I took the opportunity to set up the local environment.
I had a play with the code and thought the code below could be a solution to the issue with a few improvements.

I didn't want to open a PR directly, so here it is. Let me know what you think.
Thanks.

( sorry for the edits, I am dyslexic, and I tend not to like what I wrote after I re

[2022-06-23 16:19] iandunn commented on #792
I think the REST API approach is promising, and something we could use for other repos.

The most important thing IMO is using a **safelist rather than a blocklist**. That would cover everything (post types, post meta, options, etc), so that nothing gets exported that hasn't been explicitly verified. Even then, we should still run some search/replace code on the safelisted content in order to reda

[2022-06-23 16:20] iandunn commented on #792
It might even be prudent to safelist the blocks and block attributes that show up in `content.raw`.

[2022-06-24 04:24] tellyworth commented on #792
Yeah I like that idea Ian. I don't think we should expose any additional metadata that isn't already public. @hlashbrooke fyi you can see examples of the currently exposed metadata here:

https://learn.wordpress.org/wp-json/wp/v2/lesson-plan/17825
https://learn.wordpress.org/wp-json/wp/v2/wporg_workshop/18611

I'll see if I can work up a draft PR that would use a custom context with post_type and

[2022-06-24 10:26] azhiya commented on #793
I've added this to the Content board. @bsanevans does this need to be reviewed further.

[2022-06-24 13:42] jonathanbossenger opened #795 "WordPress Filter Hooks - Workshop"
# Topic Description
Covering the fundamentals of the WordPress Filter Hooks system, how to register and use filter hooks, filter priority, and filter arguments.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.

- [WordPress Hooks](https://developer.wordpress.org/plugins/hooks/)
- [Filter hooks](https://developer.wordpress.org/referenc

[2022-06-25 00:21] kaitohm commented on #793
@azhiya I'm not familiar with the localization of material. Do we explicitly need a second person to review the translation? If no process has been determined here, then **_I suggest we publish this content as-is_**. (More localized stuff, the better!) We can always come back and make edits later, if need be.

[2022-06-26 22:05] westnz opened #796 "Intro the Site Editor and Template Editor - Tutorial (Brazilian Portuguese)"

[2022-06-26 22:06] westnz commented on #796
Here is the link to the video: https://wordpress.slack.com/archives/C02RW657Q/p1656007396457359

[2022-06-27 00:41] westnz commented on #763
Herewith is an updated and fleshed-out version of the:

1. Needs assessment statement
2. The target audience
3. A course-level objective (big, abstract instructional goal)
4. Specific learning objectives.

https://docs.google.com/document/d/1na51OfpLmdGBstwrxVPxXK1XT6G9uasRtxqO9MWK-vE/edit#heading=h.lhx5kjxe3rft

@adamziel You have done an excellent job here!  You have clearly outlined the learnin

[2022-06-27 00:53] westnz commented on #763
A cool quote I thought I'll share: Wiggins and McTighe say, “Teaching is a means to an end. Having a clear goal helps us, educators, to focus our planning and guide purposeful action toward the intended results.”

[2022-06-27 02:05] westnz commented on #789
https://user-images.githubusercontent.com/89751452/175846507-321f6861-cef1-4b57-b31d-7dec651074d4.mp4

[2022-06-27 09:19] kaitohm commented on #793
@lenasterg conducted a review of the translation on this lesson plan, and has mentioned it looks perfect! ([Slack convo](https://wordpress.slack.com/archives/C02RP50LK/p1656308584855699))

I'll add this to learn.wordpress.org this week.

[2022-06-27 10:26] pratiweb opened #797 "Design issue in course category page"
There is design issue in pagination links and submit quiz button

https://learn.wordpress.org/course-category/contributing-to-wordpress/

https://i.imgur.com/Zn9NqJY.jpg

[2022-06-27 13:39] samxmunoz commented on #789
This was a great tutorial & taught lots of interesting skills. 🎉

Did you need to do anything special to the row so the columns wouldn't stack on mobile? That's the only thing I think may need to be added or mentioned @westnz.

[2022-06-27 17:29] westnz commented on #789
Thank you so much @samxmunoz

[2022-06-27 21:59] westnz commented on #650
@azhiya Sorry, I published this as it was in the 'Published' column in Github.  Can you 'unpublish'?  It still needs a review.

[2022-06-27 22:06] westnz commented on #650
Hey @azhiya Can we go ahead and publish this Lesson Plan?

[2022-06-27 23:29] westnz commented on #614
Herewith the [Lesson Plan](https://learn.wordpress.org/wp-admin/post.php?post=18740&action=edit) which is ready to be reviewed.

[2022-06-28 05:38] caraya commented on #713
I made places where I would suggest discussion and variations on the activities more explicit. Is this what you had in mind?

Not an issue with the code. Waiting on a fix from the backend

Done

I added two paragraphs explaining what we're doing and why we're doing it. Does it work?

[2022-06-28 06:04] umeshgupt opened #798 "Need to Spacing between checkbox in sidebar filters on small viewport size"
Need to Spacing between checkbox in sidebar filters on small viewport size

URL: https://learn.wordpress.org/lesson-plans/page/2/

[https://www.loom.com/share/63d9857c5a694596adcb4c1173cd57ee](url)

[2022-06-28 07:15] adnan159 opened #799 "WordPress Dashboard Issue"
There is a issue in WordPress dashboard. Deprecated: rtrim(): Passing null to parameter #1 ($string) of type string is deprecated

https://prnt.sc/WHSC4O5gmxJB

[2022-06-28 14:32] azhiya commented on #650
Yes of course @westnz. I've set it to publish tomorrow 15:00 UTC, but feel free to change it to earlier if you want.

[2022-06-28 14:45] azhiya commented on #793
Thanks @bsanevans there is no formalised process for the localisation of lesson plans. I'm happy to go with your suggestion of leaving it as-is and making edits later. We can always agree on a process at a later time if need be.

[2022-06-28 14:46] azhiya commented on #400
@webtechpooja do you want to check this again?

[2022-06-28 15:47] azhiya commented on #574
@abhansnuk are you still reviewing this?

[2022-06-28 15:59] azhiya commented on #503
Hi @Kemmy99 I've added the link to the [Google doc](https://docs.google.com/document/d/1Rrs3WvS3CcV5pOLzQuaP80LUsjjMGFbnw-V846Z03z0/edit?usp=sharing) that you put in Slack. Please update this on the Lesson plan and repost it for review. Don't forget if you are working on any content that has already been published, please check out the plugin[ #meta](https://make.wordpress.org/training/tag/meta/)

[2022-06-28 17:22] wparasae opened #800 "Migrating From a Pagebuilder to The Block Editor - Lesson Plan"
#A Note for Team Reps
This is an experiment I am conducting on working with a brilliant subject matter expert (Bud Manz) - happy to chat about this if needed when you see this for proper process in the future. We have some fun ideas!

# Topic Description
Write a description of the topic here.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes

[2022-06-28 20:18] azhiya commented on #800
I like the topic idea. I'm seeing more and more of this coming up so I think it's a great topic to have on Learn.

[2022-06-28 20:36] westnz commented on #650
Thanks so much @azhiya

[2022-06-29 03:27] caraya commented on #652
This is not ready to publish yet. IT has still some work to do.

[2022-06-29 04:31] westnz commented on #447
Excellent workshop @artdecotech

You have set clear objectives and the lesson outline flows very nicely.

**Quick fixes** - I have already done this for you

Materials Needed
**Twenty Twenty-Two** instead of Twenty Twenty Two

Assessment
**You could create a child theme to override this** instead of You can may be able to create a child theme to override this.

The example lesson is spot on.

[2022-06-29 08:21] jonathanbossenger commented on #795
https://user-images.githubusercontent.com/180629/176387934-6c2b7148-5790-4470-afbd-7fde1d5a62d0.mp4

[2022-06-29 09:00] webtechpooja commented on #400
@jonathanbossenger Looks good to me.

[2022-06-29 09:26] jonathanbossenger commented on #776
https://user-images.githubusercontent.com/180629/176402305-0c6fa2f3-8a88-4d64-a3d0-4aea8bc978c2.mp4

[2022-06-29 09:27] jonathanbossenger commented on #400
Awesome, thank you @webtechpooja

[2022-06-29 13:31] paulopmt1 commented on #796
Hello @westnz,
I loved the video. It was easy to follow and understand. The translation was 100%.

About the content, it was clear its focus was to show how to create new models and model parts. I'm pretty sure it will help our users!

Do we have a plan to create (or already have) videos like this showing how to use predefined layouts?

[2022-06-29 21:18] westnz commented on #796
Thank you for reviewing @paulopmt1. We need to look into creating a video about predefined layouts. Good idea!

[2022-06-29 23:57] wparasae commented on #631
I think this card relates to the Block Theme Development. Assigning this to myself, as it's next on the list.

[2022-06-30 00:07] westnz commented on #676
Now that the Lesson Plan is finished, is this workshop moving forward? 😃

[2022-06-30 01:28] Kemmy99 commented on #503
Hello Hauwa,
Trust you are fine. i could not post the Lesson plan on
https://learn.wordpress.org/wp-admin/post-new.php?post_type=lesson-plan
because the Re-usable block template is not showing on my own dashboard. Is
there something i am doing wrongly. I have the Re-useable block on Make but
not on Learn.
Thanks
Kemi Makinde

On Tue, Jun 28, 2022 at 4:59 PM Hauwa Abashiya ***@***.***>
wrote:

[2022-06-30 02:37] westnz commented on #776
Hey Jonathan!

- It was a good idea to break the workshops up in two.
- You clearly communicate the learning objectives.
- You have used annotations effectively.
- You go at a pace I think learners will be able to follow comfortably.

Well done!

[2022-06-30 02:40] westnz commented on #795
Hey Jonathan! **Same feedback as previous workshop** 😆

- It was a good idea to break the workshops up in two.
- You clearly communicate the learning objectives.
- You have used annotations effectively.
- You go at a pace I think learners will be able to follow comfortably.

[2022-06-30 09:17] jonathanbossenger commented on #776
Thanks @westnz

[2022-06-30 09:17] jonathanbossenger commented on #795
Thanks @westnz

[2022-06-30 11:45] amitpatel0702 commented on #776
Hi @jonathanbossenger,

- I must say, Video is concise.
- You have shown examples accurately wherever needed.
- The last point mentioning the action reference list is going to be helpful.
- Flow of the video and plan is very clear and point straight.
- **A suggestion:** Can we add the following statement somewhere into the first slide - **_WordPress Hooks allows you to insert custom code into Word

[2022-06-30 13:45] jonathanbossenger commented on #776
Hi, @amitpatel0702, thanks for the feedback.

I don't know if I would agree with that statement though, you're not actually inserting custom code into WordPress core, and you can't modify anything, only that which the action or filter hook provides.

This is why I went with what the official WordPress documentation says about [Hooks](https://developer.wordpress.org/plugins/hooks/)

So you're eithe

[2022-06-30 14:00] amitpatel0702 commented on #776
Hi @jonathanbossenger,

It completely makes sense. Agree with you on that.

[2022-06-30 15:02] amitpatel0702 commented on #795
Hi @jonathanbossenger,

- You mentioned the difference between filter and action hooks in the initial part of the video very well.
- You explained the parameters part and content return type very well with an example.
- Learners can distinguish various ways to call the function using parameters through your example.
- Your workshop video is up to the mark with brief details that are required.

[2022-07-04 02:49] westnz commented on #788
Here is the link to the video: https://wordpress.slack.com/archives/C02RW657Q/p1656902943468929

[2022-07-04 02:52] westnz opened #804 "How to create a landing page with a block theme - Workshop"

[2022-07-04 03:28] amitpatel0702 commented on #788
Hi @westnz,

- You precisely mentioned the agenda/outlines of the workshop.
- You followed the perfect flow for setting a static home page. Navigations/Modules --> Settings --> Header/Footer --> Home page.
- You did a great job by including all crucial aspects in a brief video a making it look very simple and easy to understand.

**A Suggestion:** Can we include a video in form of an attachment an

[2022-07-04 03:39] westnz commented on #788
Thank you for the feedback @amitpatel0702. Unsure what you are suggesting. Sorry 🙈 Once the review is done, it will be published on learn.wordpress.org for anyone to access.

[2022-07-04 04:03] amitpatel0702 commented on #788
Thanks @westnz, If i speak with other words, instead of mentioning a video link https://wordpress.slack.com/archives/C02RW657Q/p1656902943468929 as above, is it a good to include the same video in form of a locally uploaded mp4 file uploaded into the content box above? I hope that makes sense.

[2022-07-04 04:21] westnz commented on #788
https://user-images.githubusercontent.com/89751452/177080881-e81f47a1-073b-463d-8ed9-409e10283737.mp4

[2022-07-04 04:21] westnz commented on #788
Thanks @amitpatel0702 That was the original plan, but it was too big.  I have used Handbrake to resize it.

[2022-07-04 04:49] amitpatel0702 commented on #788
Completely understand @westnz, Thanks for your great efforts and making it happen. It is definitely going to help reviewers to access it directly and after publishing, it's going to help WordPress techies lots.

[2022-07-04 12:15] leogopal opened #805 "Learn WordPress Content Error Report - Ticket - Cannot access quiz or continue further on course."
# Error Description
- Content URL: https://learn.wordpress.org/learn/lesson/the-open-source-toolbox-common-problems-uncommon-solutions/

Whenever I click `Take Quiz` I end up with a page with no questions, see attached screenshot. I cannot move to the next lesson or continue the training with this error. I posted the issue in slack:

![](https://user-images.githubusercontent.com/4948323/177152083-

[2022-07-05 11:07] jonathanbossenger opened #806 "WordPress Action Hooks - Lesson Plan"
# Topic Description
Lesson plan based on the soon to be published [WordPress Action Hooks workshop](url)

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.

- [WordPress Hooks](https://developer.wordpress.org/plugins/hooks/)
- [Action hooks](https://developer.wordpress.org/reference/functions/add_action/)

# Guidelines
Review the [team

[2022-07-05 11:09] jonathanbossenger opened #807 "WordPress Filter Hooks - Lesson Plan"
# Topic Description
WordPress Filter Hooks lesson plan, based on soon to be published [workshop](https://github.com/WordPress/Learn/issues/795).

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [WordPress Hooks](https://developer.wordpress.org/plugins/hooks/)
- [Filter hooks](https://developer.wordpress.org/reference/functions/add_f

[2022-07-05 17:12] azhiya commented on #503
This issue was discussed in https://wordpress.slack.com/archives/C02RW657Q/p1657041079937669?thread_ts=1657040617.057159&cid=C02RW657Q

[2022-07-05 19:58] azhiya commented on #766
@Kemmy99 I've created the outline [Lesson Plan](https://learn.wordpress.org/?p=18979&post_type=lesson-plan&preview_id=18979) on Learn for you to update when you have finished drafting. I would recommend the title be in Nigerian Pidgin as well.

[2022-07-05 21:13] westnz commented on #766
Hey @azhiya I think she is actually going to translate the current workshop and present it in Nigerian Pidgin.  I know this is on hold at the moment.  Sorry, I assume we need to update the title to state 'Workshop' at the end.

[2022-07-06 12:41] jonathanbossenger commented on #805
Thanks @leogopal I am able to replicate this with a test WordPress.org account.

Given that it's a white screen, I'm thinking there's some error somewhere that's being suppressed.

@hlashbrooke if we recreate this lesson in the course, and delete the offending one, do you think it might resolve this?

[2022-07-06 20:00] hlashbrooke commented on #805
Yeah that should fix it - this is likely an issue that came up when we imported this content from the previously used Contributor Training site. Making a new lesson with copy/pasting the content and using the same questions, and then making sure it appears in the same place in the course will fix it.

[2022-07-06 22:00] wparasae commented on #730
I am going to use this for my 'Contribute with Me' SLS tomorrow, specifically to talk about learning objectives. Stand by! :)

[2022-07-07 05:01] pratiweb opened #808 "Bug report"
There is design issue in pagination links and submit an idea button

https://learn.wordpress.org/course-category/contributing-to-wordpress/

https://i.imgur.com/Zn9NqJY.jpg

[2022-07-07 07:45] jonathanbossenger commented on #400
@azhiya are you happy for me to go ahead and publish this update?

[2022-07-07 11:44] Kemmy99 commented on #503
Hi @azhiya i watched the video you sent me for the lesson plan. i have a screen shot of what my dashboard looks like and the updates on my dashboard. I have watched the video many times to be sure i am doing what is right
![Update dashboard](https://user-images.githubusercontent.com/90468756/177765695-b24269b4-3fca-46f5-831b-60576a3b3e37.png)
Please check

[2022-07-07 16:45] wparasae opened #809 "Adding Fonts to Full Site Editing Themes - Lesson Plan"
# Topic Description
Adding fonts is a challenge when designing with popular block themes, such as Twenty Twenty-Two. Some people would like more variety and the ability to change these -- it's a best practice to have as few as possible, so this lesson plan aims to explore how to add different fonts to pre-existing block themes using child themes. This will cover best practices like why it's import

[2022-07-07 22:02] westnz commented on #447
Here is the updated link to the lesson plan if anyone has missed it:

https://learn.wordpress.org/lesson-plan/how-to-style-your-site-with-global-styles/

[2022-07-08 01:22] westnz opened #810 "Bug report: learn.wordpress filter dropdown faulty"
## Description
The filter dropdown on the WordPress Learn website is not working properly. When you click on a filter it closes.

## Step-by-step reproduction instructions
Please list the steps needed to reproduce the bug. For example:
1. Go to https://learn.wordpress.org/workshops/
2. Click on one of the filters

## Expected behaviour

I expected the dropdown filter to stay open.

## Actual behav

[2022-07-08 02:46] kaitohm commented on #793
This lesson plan has now been published!

https://learn.wordpress.org/lesson-plan/%cf%80%cf%8e%cf%82-%ce%bd%ce%b1-%cf%87%cf%81%ce%b7%cf%83%ce%b9%ce%bc%ce%bf%cf%80%ce%bf%ce%b9%ce%ae%cf%83%ce%b5%cf%84%ce%b5-%ce%ba%ce%b1%ce%b9-%ce%bd%ce%b1-%cf%83%cf%85%ce%bd%ce%b5%ce%b9%cf%83%cf%86/

@vagelisp thanks for all your work on this!
- Could you just double check and make sure I've copied the Greek over to

[2022-07-08 03:11] Kemmy99 commented on #503
Hello @azhiya i checked in my WordPress dashboard and i found this
Choosing And Installing Plugins. It has already been written, do you want me to summarise it or what? I dont really understand what to do. i am trying to get it right please.
![Choosing and installing plugins](https://user-images.githubusercontent.com/90468756/177909631-aa2e8de0-62c6-4ba0-b4f2-172135bbcf43.png)
The image shows what

[2022-07-08 03:50] adamwoodnz commented on #810
I can't reproduce this in my local environment, but I'll try my sandbox now. Production has many more plugins activated than local though. @westnz do you know if any of them have been added/activated recently?

[2022-07-08 04:41] westnz commented on #810
Thanks @adamwoodnz.  We don’t have any new plugins on there that I’m aware of.

[2022-07-08 04:43] westnz commented on #810
I could reproduce it when I tried it in Safari as well, and without being logged in.

[2022-07-08 07:10] vagelisp commented on #793
Hello, @bsanevans, thanks for all the help.

- The lesson plan looks great.
- `Ελληνικά` is perfect as a category name, thank you.

[2022-07-08 07:54] jonathanbossenger commented on #805
@leogopal I have re-created the lesson and quiz as @hlashbrooke suggested, and I can see the quiz on my test user account. Could I ask you to verify that it's working for you now?

[2022-07-08 09:03] kaitohm commented on #793
Cool! Thanks @vagelisp ! I'm marking this issue as completed.

[2022-07-08 09:03] #793 closed

[2022-07-08 21:43] vagelisp commented on #810
I can reproduce this on both Chrome and Safari on a Macbook Pro.
As you can see in the video, you can keep it open if you click on the right side of the arrow, but if you click anywhere else, the selector picks the first available option. Clear filter [x] also doesn't work.

https://user-images.githubusercontent.com/9304640/178074109-c87f6aa5-2a18-45aa-983d-7a96a77136fb.mov

[2022-07-09 18:05] leogopal commented on #805
@jonathanbossenger worked perfectly thank you!

[2022-07-09 19:57] leogopal commented on #805
Though I get this @jonathanbossenger when I progress to the next lesson (cant access the quiz pre-requisite, might be a setting) 

![](https://user-images.githubusercontent.com/4948323/178120827-5a6389d2-e54f-4e31-9a4c-8dd68db3f2b7.png)

[2022-07-10 21:42] hlashbrooke commented on #805
I have updated this to reflect that the prerequisite should be the newly created lesson, could you please check again? and also ensure that you have complete the quiz here: https://learn.wordpress.org/learn/lesson/the-open-source-toolbox-common-problems-uncommon-solutions-4/

[2022-07-11 00:51] adamwoodnz commented on #810
Yep definitely not arguing about reproducibility! Broken in all browsers in prod for me, and also in my sandbox. I'm continuing to debug this week.

[2022-07-11 04:56] westnz commented on #804
https://user-images.githubusercontent.com/89751452/178191328-fcf72a52-b522-498e-8a34-5fd2155f7025.mp4

[2022-07-11 09:22] jonathanbossenger commented on #805
@hlashbrooke when you have a moment, I'd appreciate it if you could show me what I missed here, thanks.

[2022-07-11 11:28] amitpatel0702 commented on #804
Thanks @westnz for such a lovely piece of learning video.

- I loved the way you presented Elements of a landing page.
- You presented **editing Custom template** template very way. You made it look easy.
- WPForms part was awesome as well. Very simple to set it up and start using it with Gutenberg.
- The last portion of using pattern was simply amazing.

[2022-07-11 16:28] leogopal commented on #805
@hlashbrooke and @jonathanbossenger -- sorry for the trouble and thanks for the help, works perfectly now.

[2022-07-11 16:28] #805 closed

[2022-07-11 21:36] hlashbrooke commented on #775
@Piyopiyo-Kitsune Is this still something we need done from the dev team?

[2022-07-11 22:00] hlashbrooke opened #811 "Add language meta field for lesson plans"
Workshops have an autocomplete meta field for the workshop language, but lesson plans do not. We need to add this same meta field to lesson plans and then filter the lesson plan archive page based on the language the site is currently being viewed in (which is how workshops currently work).

[2022-07-11 22:15] westnz commented on #804
Thank you for the feedback @amitpatel0702 Much appreciated.

[2022-07-11 23:46] westnz commented on #794
Review was left in Slack:
<img width="392" alt="image" src="https://user-images.githubusercontent.com/89751452/178377012-ce1aa51d-c76b-49c1-a146-8fe63a69137d.png">

[2022-07-12 02:20] westnz opened #812 "Creating a new header with blocks - Tutorial"

[2022-07-12 02:23] westnz opened #813 "Customizing a footer with patterns - Tutorial"

[2022-07-12 11:27] vagelisp commented on #808
That's a duplicate of #797

[2022-07-12 13:03] pratiweb commented on #797
@vagelisp

Can anyone look and solve this issue ?

[2022-07-12 15:53] vagelisp commented on #797
Eventually, someone will take care of this.
Please don't create multiple issues for the same problem.
Thanks :smile:

[2022-07-13 00:27] westnz commented on #771
**COURSE UPDATE**

Michael has started building the course in [Sensei](https://learn.wordpress.org/wp-admin/post.php?post=18411&action=edit):

The outline is complete and he has drafted the Introduction and Module 1.

Herewith my feedback so far and recent discussions we have had:

**Feedback – Introduction & Getting started module** **- Wes**
Thank you for the wonderful work you have started here

[2022-07-13 03:46] hlashbrooke commented on #808
Closing as this is a duplicate.

[2022-07-13 03:46] #808 closed

[2022-07-13 03:55] hlashbrooke commented on #740
This has been resolved in another issue and PR, so closing this one.

[2022-07-13 03:55] #740 closed

[2022-07-13 05:01] varshildoshi151189 opened #815 "Button alignment issue in Responsive"
Hello Team,

In wordpress.org site on below link, found that buttons are not properly aligned for responsive mobile devices (767px and below).

**Page URL:** https://learn.wordpress.org/

Please find Screenshot for the same

Thanks
![CleanShot 2022-07-13 at 10 25 40](https://user-images.githubusercontent.com/100187481/178653952-b3cf1c29-363f-4318-872a-ee27f0cd124b.png)
.

[2022-07-13 05:05] hlashbrooke commented on #815
Thanks for logging this issue!

This is a duplicate of #734, so I'm closing this issue in favour of the existing one.

[2022-07-13 05:05] #815 closed

[2022-07-13 06:13] pratiweb commented on #797
@vagelisp

Thank you for information
I want to assign label to this issue like bug so someone can identify it but can't find how to add so created another issue.

[2022-07-13 23:34] vagelisp opened #817 "Greek translation for "Submitting Block Patterns to the Directory" lesson plan"
# Topic Description
Greek translation for [Submitting Block Patterns to the Directory](https://learn.wordpress.org/lesson-plan/submitting-block-patterns-to-the-directory/) lesson plan

# Related Resources
The original Lesson Plan
[Submitting Block Patterns to the Directory](https://learn.wordpress.org/lesson-plan/submitting-block-patterns-to-the-directory/)

The translated version of the Lesson Pl

[2022-07-14 01:08] hlashbrooke opened #818 "Renaming content types"
As per [this discussion about the naming of workshops and social learning spaces](https://make.wordpress.org/training/2022/07/03/discussion-naming-content-types-on-learn-wordpress/), we are changing these content types' names as follows:

* Workshops -> Tutorials
* Social learning spaces -> Online workshops

In order to do this, we will need to make a number of changes around the site - some in th

[2022-07-14 01:14] hlashbrooke commented on #818
Noting that after these changes have been made we must remember to flush the site's permalinks.

[2022-07-14 01:19] hlashbrooke commented on #818
**Order of actions:**
- [x] 1. Prepare a complete PR for all the necessary code changes and redirects
- [x] 2. Update all necessary page titles and slugs
- [x] 3. Update meetup group name and slug
- [x] 4. Merge and deploy PR
- [x] 5. Flush site permalinks
- [x] 6. Update references and links in page content where necessary

[2022-07-14 01:51] hlashbrooke commented on #818
The code changes are being done in the `818/content-name-changes` branch.

[2022-07-14 02:32] hlashbrooke commented on #818
All code changes, except for redirects, have been included in PR #819

[2022-07-14 05:59] dd32 commented on #818
Redirects added in https://github.com/WordPress/Learn/commit/ad8f71670fd163590dad04bde43347aa7cd41c41 (in #819) and above checkboxes marked off.

Note that the redirect for `social-learning/code-of-conduct` isn't listed in the code, as the redirect for the parent page `social-learning` handles it for us.

[2022-07-14 06:34] hlashbrooke commented on #818
All looks good to me - thanks @dd32!

[2022-07-14 20:55] wparasae commented on #631
Quick Update: This course is likely going to be split into two leveled courses based on audience need. Working on a structured brainstorm, following [a similar process to the one outlined in Make/Training](https://make.wordpress.org/training/2022/07/12/community-course-creation-a-proposal/).

Will drop a more detailed update soon.

[2022-07-15 00:37] hlashbrooke commented on #818
This has been deployed and all updates in content have been made. Closing this issue now.

We still need to update the handbook and any other locations that are not on Learn WordPress directly.

[2022-07-15 00:37] #818 closed

[2022-07-15 04:09] westnz commented on #447
Hi @azhiya, am I right in saying this has been published? I have made the quick fixes and have now moved this to the published column.

[2022-07-15 04:12] westnz commented on #674
Once the updates have been made, this lesson plan is ready to be published. 😃

[2022-07-15 04:13] westnz commented on #582
Can we go ahead and move this issue to closed/published @courtneyr-dev?

[2022-07-15 04:14] westnz commented on #601
Hi @azhiya, I believe this is ready to be published.

[2022-07-15 04:20] westnz commented on #707
Hey @azhiya, when did you plan to publish this lesson plan?  Looks like it is good to go 😉

[2022-07-15 04:22] westnz commented on #501
Hi @azhiya, looks like this lesson plan is also ready to be published.  👍

[2022-07-15 04:23] westnz commented on #739
Hey @azhiya, seems like this Lesson Plan can be published. 🥳

[2022-07-15 10:34] jonathanbossenger opened #821 "Course: A Developers Guide To Block Theme Development - Part 1"
# IMPORTANT
**This course depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Ideally that course should be completed before tackling any lesson related to this course**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this course.**

## Needs Assessment Statement

[2022-07-15 10:35] jonathanbossenger commented on #631
@wparasae I've renamed this to match the name we're considering for this course, and also so that I can create the [second-course ticket](https://github.com/WordPress/Learn/issues/821)

[2022-07-15 10:47] kaitohm commented on #817
This is currently being reviewed by @lenasterg ([Slack link](https://wordpress.slack.com/archives/C02RP50LK/p1657870170640919))

[2022-07-15 11:12] jonathanbossenger commented on #631
Status update post - https://make.wordpress.org/training/2022/07/15/block-theme-development-course-update/

[2022-07-15 11:12] jonathanbossenger commented on #821
Status update post - https://make.wordpress.org/training/2022/07/15/block-theme-development-course-update/

[2022-07-16 16:25] artdecotech commented on #676
Here’s the first draft for review @westnz @courtneyr-dev thank you!
https://f.io/xVW25U3u

[2022-07-18 00:27] westnz commented on #676
WOW!  You are on the ball @artdecotech

Fantastic work!  Here is some feedback:

- You cover all the important aspects and features of Styles.
- You go at a pace that is easy to follow. 🦾
- I would suggest adding a welcome/introduction message at the start. 🗣️
- You mention "This lesson will cover how to style your site with Global Styles, you can change the ...", but I was wondering if you could

[2022-07-18 06:34] digitalchild commented on #632
@rosswintle I did a 30-minute talk on wp-cli at WordCamp Brisbane back in 2015. It's been re-uploaded to WordPress.tv today. Would this be helpful ? I can also help with a lesson plan/written version.

[2022-07-18 07:01] umeshggupta opened #824 "Need change button color on hover"
Need change button color on hover
URL: https://learn.wordpress.org/tutorial-presenter-application/

[2022-07-18 07:03] umeshggupta commented on #824
https://www.loom.com/share/fdba35dc29c84269bc69bfc84eb25140

[2022-07-18 10:14] jonathanbossenger commented on #806
Lesson plan draft ready for review:

https://learn.wordpress.org/?p=19007&post_type=lesson-plan&preview=1&_ppp=2c7209ce7a

[2022-07-18 10:16] umeshggupta opened #825 "Need change button color on hover"

[2022-07-18 17:26] ryelle commented on #824
Closing this in favor of https://github.com/WordPress/Learn/issues/825

[2022-07-18 17:31] ryelle commented on #825
I've moved this issue from the `pattern-directory` repo, I think it was just accidentally created in the wrong place.

When the button is hovered over, the text color changes to white which is too light to be visible.

<img width="239" alt="Screen Shot 2022-07-18 at 1 27 01 PM" src="https://user-images.githubusercontent.com/541093/179568434-d6352b04-55d9-4b35-affc-62810130717e.png">

I went lookin

[2022-07-18 21:03] courtneyr-dev commented on #153
Reopening as we have expressed interest from @isvictorious in implementing the mockups from Mel.

[2022-07-19 04:26] #734 closed

[2022-07-19 07:17] bsanevans opened #826 "Learn WordPress Content Error Report - Ticket # 136397"
# Error Description
- Content URL: https://learn.wordpress.org/learn/quiz/a-hands-on-experiment-with-the-block-editor/

Questions 3 and 4 of the quiz of this lesson require the learner to view an image. However, the image is not shown.

# Error Report Checklist:
- [x] Error Validated
- [ ] Error fix proposed
- [ ] Error fix reviewed
- [ ] Error fix published

[2022-07-19 07:26] lenasterg commented on #817
Hi.
The review is completed.

It's OK to publish

[2022-07-19 07:48] azhiya commented on #503
Hi @Kemmy99 my understanding is that you are updating the current [lesson plan](https://learn.wordpress.org/lesson-plan/introduction-to-common-plugins/) on Learn. Is that correct?

[2022-07-19 07:49] azhiya commented on #400
Yes please @jonathanbossenger, sorry for the delayed response.

[2022-07-19 07:53] azhiya commented on #766
I've updated the Title. Thanks @westnz

[2022-07-19 08:21] kaitohm commented on #817
@vagelisp Here is a duplicate of the English lesson plan. Could you replace the English text in this with your translated Greek text? https://learn.wordpress.org/wp-admin/post.php?post=19724&action=edit Let me know if you have issues accessing that.

[2022-07-19 08:22] vagelisp commented on #817
Thanks, @bsanevans. I'll get it done asap.

[2022-07-19 08:53] jonathanbossenger commented on #400
No problem, thanks @azhiya

The lesson plan has been updated https://learn.wordpress.org/lesson-plan/what-to-include-in-functions-dot-php-file/

[2022-07-19 09:33] vagelisp commented on #817
hi @bsanevans the draft is ready for you to review. I replaced its content with the Greek translation.

[2022-07-19 10:27] Kemmy99 commented on #503
Good morning Hauwa,
I asked a question on the Github about this update but I didn't get any
response. The lesson plan is totally different from what already exist. I
need clarification on it.

Thanks.

On Tue, 19 Jul 2022, 08:48 Hauwa Abashiya, ***@***.***> wrote:

[2022-07-19 10:36] webtechpooja commented on #503
Hello @Kemmy99,

What are you looking to change/update in this lesson plan? Could you please share your thoughts on this?

The only thing I noticed in this lesson plan is missing the example lesson.

AFAIK this lesson plan is updated 4-5 months ago. and Somehow we missed closing this issue.

Thanks

[2022-07-19 11:54] jonathanbossenger commented on #776
This has been published https://learn.wordpress.org/tutorial/wordpress-action-hooks/

[2022-07-19 22:22] westnz commented on #507
Howdy!  Could somebody elaborate more about what they envision seeing in a tutorial like this? 😃

[2022-07-20 00:29] westnz opened #827 "Customizing your single posts template - Tutorial"
//tutorial

[2022-07-20 02:18] kaitohm commented on #817
This looks great! I've published the lesson plan here: [Υποβολή Μοτίβων μπλοκ (Block Patterns) στον κατάλογο.](https://learn.wordpress.org/lesson-plan/%cf%85%cf%80%ce%bf%ce%b2%ce%bf%ce%bb%ce%ae-%ce%bc%ce%bf%cf%84%ce%af%ce%b2%cf%89%ce%bd-%ce%bc%cf%80%ce%bb%ce%bf%ce%ba-block-patterns-%cf%83%cf%84%ce%bf%ce%bd-%ce%ba%ce%b1%cf%84%ce%ac%ce%bb%ce%bf/)

Thanks for your contributions, @vagelisp and @lenast

[2022-07-20 02:18] #817 closed

[2022-07-20 11:20] vagelisp commented on #799
Hello @adnan159, this repository is for [Learn.wordpress.org](https://learn.wordpress.org/).
This warning seems to be on a self-hosted WordPress installation. If that's the case, use the [support forum](https://wordpress.org/support/forums/) if you are seeking support, or https://make.wordpress.org/core/handbook/testing/reporting-bugs/ if you want to report a bug

[2022-07-20 12:10] jonathanbossenger commented on #795
Tutorial published https://learn.wordpress.org/tutorial/wordpress-filter-hooks/

[2022-07-20 12:13] #795 closed

[2022-07-20 14:25] rosswintle commented on #632
Right - I'm gonna totally skip the Training Team processes 'cos I'm so confused, and just say what I think we should do here.

1) We should make a short video tutorial as an intro to WP-CLI - does this need a separate GH issue?
2) We should make an outline for a more in-depth "course".
3) @jonathanbossenger has suggested doing a video workshop too, which I'm happy with and I guess it would probabl

[2022-07-20 18:09] wparasae commented on #631
Here is [a link to the rough draft course outline for Course #1](https://docs.google.com/document/d/1T3DsMAjKIz8t97WgHc1FrqQPcPjwNn58620De-HL8nA/edit?usp=sharing).

**Next Steps:**
- [ ] Any Contributor: Find related resources that already exist, link to it in this example (leave a comment with these links if you're helping out!)
- [x] Any Contributor: Find lesson plans that already exist and link

[2022-07-20 19:12] wparasae opened #828 "[Rough Draft] Course [COURSE NAME]: Project Thread + Brainstorm"
### Designing a Course: A Process Checklist From Start to Finish
**(A Checklist and Brainstorm Template)**

**Use this template if you would like to be a "Course Lead Designer" - A Course Lead Designer is someone who takes an approved course topic (one that has been vetted by a training team member). They work with a faculty member buddy to brainstorm, outline, organize, and help wrangle course co

[2022-07-20 21:38] colorful-tones commented on #631
n00b here 👋

I would encourage us leveraging new tools like [Create Block Theme plugin](https://make.wordpress.org/themes/2022/06/30/create-block-theme/) alongside the recent [Figma file for Theme Design](https://make.wordpress.org/design/2022/07/01/open-sourcing-theme-designs/) to steps builders through designing, generating and implementing a block theme utilizing these tools. I would be happy t

[2022-07-20 21:57] colorful-tones commented on #401
@courtneyr-dev I would be happy to dig in on this as my first foray into Lesson Plan creation. Can someone please assign this to me?

Also, I know things are in fluctuation, but if there are any links to resources on standards for creating this Lesson Plan (other than comments in Issue) then please shoot them along. Thanks!

[2022-07-20 22:03] hlashbrooke commented on #632
Steps 1-3 above make sense to me as the way forward here! A video tutorial as an intro to WP-CLI would require a new issue in this repo to track it. Thanks for jumping into this @rosswintle!

[2022-07-20 22:39] westnz commented on #789
Published Tutorial: https://learn.wordpress.org/tutorial/horizontal-pyramid-gallery/

[2022-07-20 22:40] westnz commented on #695
Published Tutorial: https://learn.wordpress.org/tutorial/user-management-2/

[2022-07-20 22:41] westnz commented on #758
Published Tutorial: https://learn.wordpress.org/tutorial/choosing-and-installing-theme/

[2022-07-20 22:41] westnz commented on #516
Published Tutorial: https://learn.wordpress.org/tutorial/creating-a-front-page-for-a-block-theme/

[2022-07-20 22:43] westnz commented on #791
Published Tutorial: https://learn.wordpress.org/tutorial/introducao-a-visualizacao-em-lista/

[2022-07-20 22:46] westnz commented on #696
Published Tutorial: https://learn.wordpress.org/tutorial/searching-and-installing-a-plugin/

[2022-07-21 07:26] rosswintle opened #829 "WP-CLI Intro - Tutorial"
I'm raising this issue to create a WP-CLI intro video tutorial to complement the course as discussed in [#632 ](https://github.com/WordPress/Learn/issues/632#issuecomment-1190355531)

# Topic Description

An introduction to WP-CLI - the WordPress command line tool

## Objectives

* Gain an initial understanding of what WP-CLI is and why it is powerful and worth learning more about.
* Equally: unde

[2022-07-21 07:27] rosswintle commented on #632
Thanks, @hlashbrooke - I opened #829

[2022-07-21 08:05] digitalchild commented on #829
For related resources, I think it would be good to have links to videos/tutorials for

- How to get WordPress running locally (windows, mac, Linux)
- Command line basics (windows WSL, OS X, Shell)

For the outline

I think talking about 3rd party WP-CLI add-ons should be covered as here are already a lot of existing tools out there.

**Examples**

- https://aaemnnost.tv/wp-cli-commands/login/ (gen

[2022-07-21 09:00] amitpatel0702 opened #830 "Need to add Meta box for on-page SEO for every post and post types"
By any chance, if there is any possibility to add meta box for on-page SEO. We can think of a similar meta box that is created after activating SEO yoast plugin.

By adding on-page support, we surely will get higher visibility and reach.

[2022-07-21 09:27] jonathanbossenger commented on #830
@amitpatel0702 in order to do this, it would be ideal if we knew the following information:

1. What fields (and field types) should be added for SEO?
2. Where should this data be rendered?

We also need to consider who should manage this data, and we might want to get the marketing team's help.

[2022-07-21 09:48] amitpatel0702 commented on #830
Hi @jonathanbossenger,

1) We can add meta title, meta description and meta keywords part into the head part. We can also optimize content according to guidelines based on alt tags, heading tags, content distribution etc.
2) This data should be rendered at client side (Browser end). We can think of what SEO yoast does this to embed those tags.

I would be happy to form the team and help to analyze

[2022-07-21 09:55] jonathanbossenger commented on #830
@amitpatel0702 that would be ideal.

I don't know the details of why, but I do know there are some "concerns" around installing third-party plugins on meta sites, of which learn.wordpress.org is part of. So we would probably have to develop this for learn.wordpress.org.

As you say, a good start would be to add the meta title, description, and keywords fields to the content types, and have them re

[2022-07-21 16:14] amitpatel0702 commented on #830
Hi @jonathanbossenger, let's connect next week to speak more on this and we can figure out a final solution for the same. I hope that makes sense.

[2022-07-21 16:26] wparasae commented on #631
Yes, absolutely! This sounds fantastic.

I would love to see where this fits into the course, and I would be delighted to help you plan and run a Live Online Workshop on this topic. Let's connect -- all of that is brilliant and I would welcome the help!

[2022-07-21 16:48] wparasae commented on #631
**Related Resources**

I've turned this into a checklist to mark off when I have utilized each resource either in the course or to use for content so that I can keep track of what I've already seen and what I haven't.

Creating a Block Based Theme with Daisy O –

- [ ] - Part 1: [https://www.youtube.com/watch?v=NX_7P2lvuwU&list=UU_kRIqFHtN8ccB_mTmHyGDg&index=17](https://href.li/?https://www.youtub

[2022-07-21 21:34] wparasae opened #831 "[Related Course: Create a Custom Block Theme #1] Different Types of Themes: Overview - Lesson Plan"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description
The goal of this lesson is ultimately to orient learners to the different kinds of themes that exi

[2022-07-21 21:39] wparasae opened #832 "[Related Course: Create a Custom Block Theme #1] How Classic and Block Themes Are Developed - Lesson Plan"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description
This lesson explores the differences between how classic themes were developed vs. how new block t

[2022-07-21 21:45] wparasae opened #833 "[Related Course: Create a Custom Block Theme #1] What a Theme Designer Needs to Know: Anatomy of a Block Theme - Lesson Plan"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description
This lesson aims to explore the fundamental components of a basic block theme setup (a high-level

[2022-07-22 01:58] #251 closed

[2022-07-22 13:30] azhiya commented on #799
Closed as this is not related to Learn WordPress

[2022-07-22 13:30] #799 closed

[2022-07-22 13:33] jonathanbossenger commented on #829
If either of you is interested, I posted a handbook doc today that summarizes my process of creating technical tutorials (like this one) https://make.wordpress.org/training/handbook/tutorials/creating-a-tutorial/preparing-technical-tutorial/

If anyone needs any help creating this tutorial, please feel free to reach out to me here or on Slack.

[2022-07-22 17:08] wparasae opened #834 "Setting Up Your Block Theme's Development Environment - Lesson Plan"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description
Setting Up Your Development Environment To Create a Custom Block Theme; this should provide and ex

[2022-07-22 17:12] wparasae opened #835 "[Related Course: Create a Custom Block Theme #1] Creating Your Block Theme's style.css - Lesson Plan"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description
This lesson plan digs deeper into style.css; it explores why this file was once so important in cl

[2022-07-22 17:15] wparasae opened #836 "[Related Course: Create a Custom Block Theme #1] Creating Your Block theme’s index.php - Lesson Plan"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description
This lesson plan asks users to create an index.php file; it should touch on why this file existed

[2022-07-22 17:19] wparasae opened #837 "[Related Course: Create a Custom Block Theme #1] Your Block Theme’s theme.json - Lesson Plan"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description
This aims to break down the complexities of theme.json for beginning developers; we need to both b

[2022-07-22 17:22] wparasae opened #838 "[Related Course: Create a Custom Block Theme #1] A Website's Look and Feel: Design Element Best Practices and Brainstorm COURSE Lesson Plan"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description
[code]

## Objectives

After completing this lesson, participants will be able to:

* Explain wher

[2022-07-22 17:26] wparasae opened #839 "Your First Template: Create A Style Guide Using the Site Editor"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description
This lesson aims to teach people how to create a style guide in the site editor; you can't revise

[2022-07-22 17:27] wparasae opened #840 "[Related Course: Create a Custom Block Theme #1] Thinking Ahead: Consider Block Locking for Template Parts - Lesson Plan"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description

This lesson is a high-level (non-code-showing) introduction to Block Locking.

NOTE: We _do not s

[2022-07-22 17:31] wparasae opened #841 "[Related Course: Create a Custom Block Theme #1] Block Theme Design Challenge: Templates In The Site Editor (Course Lesson Plan)"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description
[code]

## Objectives

After completing this lesson, participants will be able to:

* Analyze the

[2022-07-22 17:34] wparasae opened #842 "[Related Course: Create a Custom Block Theme #1] The Basics of theme.json for New Developers - COURSE Lesson Plan"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description
This lesson provides a very high-level overview of theme.json and prepares users to begin writing

[2022-07-22 17:38] wparasae opened #843 "[Related Course: Create a Custom Block Theme #1] Your First Codes in theme.json - COURSE Lesson Plan"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description
This lesson plan should pick a minimum of three toggles in theme.json supports to turn off and on.

[2022-07-22 17:41] wparasae opened #844 "[Related Course: Create a Custom Block Theme #1] Setting Styles in theme.json - Your First Template - Creating a Style Guide in the Site Editor"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description
This guide is meant as a 'how-to' to use global styles to design the overall look and feel of a ne

[2022-07-22 17:43] wparasae opened #845 "[Related Course: Create a Custom Block Theme #1] Selecting Your Theme's Default Fonts - Lesson Plan"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description
This lesson plan teaches users how to select effective fonts, but also talks about design philosop

[2022-07-22 17:47] wparasae opened #846 "Locking Blocks to Prevent User Changes - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-07-22 17:51] wparasae opened #847 "Overview of Theme Enhancements - Lesson Plan"
# Topic Description
This lesson plan is a high-level overview of the myriad different ways custom themes can be styled with different options. It's important to emphasize that the goal of these next modules is to learn what each of these things are as they relate to block theme creation, and that not every block theme needs to have these extra features. We provide examples of each of these types o

[2022-07-22 17:53] wparasae opened #848 "Offering Reusable Blocks - Lesson Plan"
# Topic Description

The goal of each "theme enhancement" lesson is to..
- Explain what this enhancement is and why theme designers might include this element in a custom block theme
- Discuss considerations, drawbacks, and styling options for each theme enhancement
- Talk about if this is doable in the site editor, in theme.json, a combination, or how learning css and other developmental things c

[2022-07-22 17:55] wparasae opened #849 "Offering Unique Templates- Lesson Plan"
# Topic Description
The goal of each "theme enhancement" lesson is to..
- Explain what this enhancement is and why theme designers might include this element in a custom block theme
- Discuss considerations, drawbacks, and styling options for each theme enhancement
- Talk about if this is doable in the site editor, in theme.json, a combination, or how learning css and other developmental things ca

[2022-07-22 17:57] wparasae opened #850 "[Course Exercise] Creating Template Parts: Headers and Footers"
# Topic Description
_This topic has been modified to create a space for feedback on the greater course itself._

## Objectives

After completing this lesson, participants will be able to:

* Utilize patterns to design their header and footer template parts

# Guidelines
Review the [team guidelines] (https://make.wordpress.org/training/handbook/guidelines/)

# Development Checklist:
- [ ] Review an

[2022-07-22 17:58] wparasae opened #851 "Offering Style Variations - Lesson Plan"
# Topic Description
The goal of each "theme enhancement" lesson is to..
- Explain what this enhancement is and why theme designers might include this element in a custom block theme
- Discuss considerations, drawbacks, and styling options for each theme enhancement
- Talk about if this is doable in the site editor, in theme.json, a combination, or how learning css and other developmental things ca

[2022-07-22 18:01] wparasae opened #852 "Curating Options with theme.json: Locked Settings - Lesson Plan"
# Topic Description
The goal of each "theme enhancement" lesson is to..
- Explain what this enhancement is and why theme designers might include this element in a custom block theme
- Discuss considerations, drawbacks, and styling options for each theme enhancement
- Talk about if this is doable in the site editor, in theme.json, a combination, or how learning css and other developmental things ca

[2022-07-22 18:12] wparasae opened #853 "[Related Course: Create a Custom Block Theme #1] Saving Your Work: Create Block Theme - Lesson Plan"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description
Once someone has finished creating their custom theme, they will want to export it. This lesson ai

[2022-07-22 18:36] wparasae opened #854 "Overview of Distributing Your Custom Block Theme (High-Level, Links to Docs Mostly) - Lesson Plan"
### **IMPORTANT:**
** This lesson plan belongs to part of a greater course, [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631) **
**Please reach out to @arasae (Sarah Snow) in the #training team Slack if you would like to help with this lesson plan.**

# Topic Description
This lesson provides an overview of the different avenues of distribution and what they imply. Thi

[2022-07-22 19:52] wparasae commented on #631
**Related Helpful Tutorials and/or Live Workshops:**
High-level overview of how themes are created and distributed in 8 minutes or less
An overview of theme.json for beginners
Lock Blocking: The difference between locked themes and unlocked themes and why designers might want to lock certain elements (like headers, footers, and theme blocks) or not.
Template Hierarchy: Beginner-Level
Supports in t

[2022-07-22 20:10] wparasae commented on #828
**Future Course Template Needs (writing here):**
Course Template (Rough Draft In Progress)
Course Lesson Plan Template (Not Started) - Complete with proper labels.

Note to Self: Creating a Bullet Outline + Brief Description of Every Lesson in a Course might be extremely helpful.

[2022-07-25 02:47] westnz opened #855 "Image Optimization - Tutorial"

[2022-07-25 04:37] westnz commented on #827
https://user-images.githubusercontent.com/89751452/180699657-6ebc206e-98ff-470f-8036-6ac43ac589b4.mp4

[2022-07-25 05:20] #792 closed

[2022-07-25 06:59] jonathanbossenger commented on #631
[code]
I think this should be [Block Locking](https://make.wordpress.org/core/2022/01/08/locking-blocks-in-wordpress-5-9/), at the moment afaik it's only possible to lock blocks, or [block templates](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-templates) (ie collections of blocks) but not theme templates or theme template parts.

[2022-07-25 09:54] azhiya commented on #796
I've updated the title from Workshop to Tutorial as per the name change.

[2022-07-25 09:55] azhiya commented on #794
Updated the title from Workshop to Tutorial as per the name change.

[2022-07-25 10:07] azhiya commented on #707
Hey @westnz published.

[2022-07-25 10:07] #707 closed

[2022-07-25 10:13] jonathanbossenger commented on #607
Folks, for August I'm preparing a series of tutorials on how to set up and use [Create Block](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-create-block/), as well as how to convert a [shortcode to a block](https://jonathanbossenger.com/2022/07/08/turning-a-shortcode-into-a-block/), so it makes sense to me that I work on this lesson plan at the same time.

[2022-07-25 10:15] azhiya commented on #644
Scheduled to publish 3 hours from now.

[2022-07-25 10:15] #644 closed

[2022-07-25 10:19] azhiya commented on #652
I've removed the "Ready to publish tag". Let us know when you're ready. Thanks.

[2022-07-25 10:23] azhiya commented on #501
Thanks, @westnz scheduled to publish in 6 hours or so.

[2022-07-25 10:23] #501 closed

[2022-07-25 10:27] azhiya commented on #582
@westnz I've published this. Might not show up in the feed as it's an update of an existing lesson plan.

[2022-07-25 10:27] #582 closed

[2022-07-25 10:30] azhiya commented on #674
I'm removing the "Ready to publish" label as it looks like there are still a few changes that need to be made.

[2022-07-25 10:34] azhiya commented on #739
Scheduled to publish later on today.

[2022-07-25 10:35] jonathanbossenger opened #857 "Using the Create Block tool - Tutorial"
# Topic Description

Set up and use the Create Block tool to scaffold a new block plugin.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [Create Block tool](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-create-block/)

# Guidelines
Review the [team guidelines] (https://make.wordpress.org/training/

[2022-07-25 10:37] jonathanbossenger opened #858 "Adding Block Support to an Existing Plugin - Tutorial"
# Topic Description
Using the lessons learned from the [Create Block tutorial](https://github.com/WordPress/Learn/issues/857), take an existing shortcode and convert it into a block

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [Create Block Tool](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-cre

[2022-07-25 10:40] jonathanbossenger opened #859 "Styling your Block Enabled Plugin - Tutorial"
# Topic Description
Adding custom editor and front-end styles to a newly created block

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [Add CSS Style for Block](https://developer.wordpress.org/block-editor/getting-started/create-block/block-code/#add-css-style-for-block)

# Guidelines
Review the [team guidelines] (https://make.word

[2022-07-25 10:42] jonathanbossenger opened #860 "Using Block Attributes - Tutorial"
# Topic Description
Implement block attributes in your custom block, to enable user's to edit block data

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [Block attributes](https://developer.wordpress.org/block-editor/getting-started/create-block/attributes/)

# Guidelines
Review the [team guidelines] (https://make.wordpress.org/tra

[2022-07-25 13:11] jonathanbossenger opened #861 "Tutorials imported via the REST API do not display on the front end"
Recently this [merged PR](https://github.com/WordPress/Learn/pull/249) made it possible to import the Tutorial and Workshop content from the live environment when setting up the Learn codebase locally.

The content seems to be imported and can be viewed and edited from the local dashboard. However, the Tutorial content is not displayed on the front end.

[2022-07-25 21:44] westnz opened #862 "Managing Updates - Tutorial (Brazilian Portuguese)"

[2022-07-25 21:45] westnz commented on #862
Here is the link to the video: https://wordpress.slack.com/archives/C02RW657Q/p1658761265345359

[2022-07-26 00:11] westnz commented on #707
Thank you for all the publishing @azhiya 💪

[2022-07-26 07:55] jonathanbossenger commented on #840
I left this [comment here with links to documentation](https://github.com/WordPress/Learn/issues/631#issuecomment-1193656981) but just reiterating it so that this lesson plan gets updated. It should probably be **block locking** and not **lock blocking**.

[2022-07-26 10:19] jonathanbossenger commented on #829
Hi folks. I wanted to check in here to see if there's anything I can help with. Perhaps I could start with a draft script for this tutorial?

[2022-07-26 15:22] jonathanbossenger commented on #857
https://user-images.githubusercontent.com/180629/181045380-ee4e922b-2bc5-415f-aae6-2e5946399a53.mp4

[2022-07-26 22:06] hlashbrooke commented on #857
This is excellent @jonathanbossenger - really solid work!

Other than to say "yes - I love this!" I don't have any direct feedback on the content (which is to say that I'm happy for this to be shipped).

One thing to note is that, since we don't have the capability to add chapters to videos, it would be good to have a list of timestamps in the video description indicating when you start different

[2022-07-27 06:35] jonathanbossenger commented on #857
`it would be good to have a list of timestamps in the video description indicating when you start different things - like installing prereqs on Mac, installing prereqs on Windows, using create-block, etc.`

That's a great idea, thanks @hlashbrooke. I'll make sure to add this to the video description.

[2022-07-27 08:24] gziolo commented on #857
The part covering `nvm`, while useful, isn't mandatory here. In fact, it makes it feel like the process is more complex. In practice, you can have any LTS (Long Term Support) version (14, 16, 18) of Node.js and npm bundled with those versions. Maybe, it would be enough to emphasize the version labeled LTS visible at the presented https://nodejs.org website?

We definitely don't want people to use

[2022-07-27 09:08] gziolo commented on #857
I was wondering what's the overall plan for the learning materials regarding building blocks. The version included in the video is great to show how quickly you can create any block, but it's just the beginning. One thing that I found interesting in the video is that you presented the link to the npm package, which isn't easy to discover in the Block Editor Handbook:

https://developer.wordpress.o

[2022-07-27 14:44] courtneyr-dev commented on #611
This might be a bit granular, but https://github.com/WordPress/gutenberg/pull/38876 relates to Global Styles column borders. See also https://make.wordpress.org/core/2022/04/28/whats-new-in-gutenberg-13-1-27-april/.

[2022-07-27 14:44] courtneyr-dev commented on #610
This might be a bit granular, but https://github.com/WordPress/gutenberg/pull/38876 relates to Global Styles column borders. See also https://make.wordpress.org/core/2022/04/28/whats-new-in-gutenberg-13-1-27-april/.

[2022-07-27 14:50] courtneyr-dev commented on #723
https://github.com/WordPress/gutenberg/pull/40419
See also: https://make.wordpress.org/core/2022/04/28/whats-new-in-gutenberg-13-1-27-april/
Minor improvement

[2022-07-27 14:50] courtneyr-dev commented on #508
https://github.com/WordPress/gutenberg/pull/40419
See also: https://make.wordpress.org/core/2022/04/28/whats-new-in-gutenberg-13-1-27-april/
Minor improvement

[2022-07-27 14:52] courtneyr-dev commented on #715
https://github.com/WordPress/gutenberg/pull/40435
See also: https://make.wordpress.org/core/2022/04/28/whats-new-in-gutenberg-13-1-27-april/
Minor screenshot revision needed

[2022-07-27 14:53] courtneyr-dev commented on #513
https://github.com/WordPress/gutenberg/pull/40435
See also: https://make.wordpress.org/core/2022/04/28/whats-new-in-gutenberg-13-1-27-april/
Minor screenshot revision needed

[2022-07-27 14:56] courtneyr-dev commented on #453
https://github.com/WordPress/gutenberg/pull/40413

[2022-07-27 14:57] courtneyr-dev commented on #374
https://github.com/WordPress/gutenberg/pull/40413

[2022-07-27 14:59] courtneyr-dev commented on #739
https://github.com/WordPress/gutenberg/pull/40263 - nested or inherited block locking

[2022-07-27 15:07] courtneyr-dev commented on #611
https://github.com/WordPress/gutenberg/pull/40505
See also https://make.wordpress.org/core/2022/05/12/whats-new-in-gutenberg-13-2-may-11/

[2022-07-27 15:08] courtneyr-dev commented on #447
https://github.com/WordPress/gutenberg/pull/40505
See also https://make.wordpress.org/core/2022/05/12/whats-new-in-gutenberg-13-2-may-11/

[2022-07-27 15:34] courtneyr-dev opened #864 "Table of Contents block - Lesson Plan"
# Topic Description
Demonstrate use of Table of Contents block. Demonstrate if the block must be used in post content or can be assigned to a sidebar as well.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- https://make.wordpress.org/core/2022/05/26/whats-new-in-gutenberg-13-3-0-may-25/#:~:text=Table%20Of%20Contents-,New%20Table%20

[2022-07-27 15:37] courtneyr-dev opened #865 "Table of Contents - Tutorial"
# Topic Description
Demonstrate how to use the Table of Contents block and if it must be in the post content or can be also in the sidebar

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- https://make.wordpress.org/core/2022/05/26/whats-new-in-gutenberg-13-3-0-may-25/#:~:text=Table%20Of%20Contents-,New%20Table%20Of%20Contents%20Bloc

[2022-07-27 16:12] courtneyr-dev commented on #614
https://github.com/WordPress/gutenberg/pull/39837 include custom category templates
Related: https://make.wordpress.org/core/2022/05/26/whats-new-in-gutenberg-13-3-0-may-25/

[2022-07-27 16:31] courtneyr-dev commented on #652
https://github.com/WordPress/gutenberg/pull/40260

[2022-07-27 16:31] courtneyr-dev commented on #844
https://github.com/WordPress/gutenberg/pull/40260

[2022-07-27 16:36] courtneyr-dev commented on #765
https://github.com/WordPress/gutenberg/pull/41460

[2022-07-27 18:57] paulopmt1 commented on #862
Great material! It was a good idea to talk about backups before updating the website!

1. A little problem here:

![image](https://user-images.githubusercontent.com/1044309/181348753-0488fd42-28ac-4088-9107-a297d7b86596.png)

Instead of `Backup é um procedimento que realizar uma cópia...` it should be `Backup é um procedimento que realiza uma cópia`. Just an `r`.

I would suggest rewriting the phr

[2022-07-27 21:30] westnz commented on #857
Fantastic work Jonathan. Everything flows very nicely.

Review the recording from 7:19 - 7:20.  Should it be block code or block clode 😃

I like your systematic approach.

[2022-07-28 10:41] jonathanbossenger commented on #857
@gziolo thank you for your detailed feedback.

That's a valid point. The purpose of this video is to introduce someone brand new to block development, but who may also want to contribute to the block editor itself. Also, if folks want to use wp-env,  So my thinking was to focus on the specific version currently needed for Gutenberg development, which means the developer is already on the right ver

[2022-07-28 10:42] jonathanbossenger commented on #857
@westnz thanks for the feedback

I had hoped no one would notice 😁

[2022-07-28 14:18] adamziel commented on #857
It flowed smoothly @jonathanbossenger. Thank you for creating great educational resources! I have similar notes as @westnz and @gziolo, but not much besides that. Once it's all ready, I'll be happy to share this with folks. Keep it up! 👍

[2022-07-28 14:38] vagelisp opened #866 "Greek translation for "Introduction To Common Plugins" lesson plan"
# Topic Description
The Greek translation for [Introduction To Common Plugins](https://learn.wordpress.org/lesson-plan/introduction-to-common-plugins/) lesson plan

# Related Resources
The original Lesson Plan
[Introduction To Common Plugins](https://learn.wordpress.org/lesson-plan/introduction-to-common-plugins/)

The translated version of the Lesson Plan in google docs
https://docs.google.com/do

[2022-07-28 20:51] fellyph commented on #862
Hey @paulopmt1,

About talking about backup coming after showing the dashboard, I was following the English Workshop structure. I can try to edit it and see if it makes sense. If not, I will need to rerecord it.
And about the slide, I can change it quickly.

Thanks!

[2022-07-28 22:41] caraya commented on #652
@courtneyr-dev SInce I'm still working on finishing the lesson plan I'll work on incorporating this new element into the lesson plan before asking for another review

[2022-07-29 01:44] courtneyr-dev commented on #220
Current user roles:
<img width="233" alt="image" src="https://user-images.githubusercontent.com/5519705/181660753-d76efa3c-43e3-4f5c-8996-70f3e84fe663.png">

- workshop reviewer
- lesson plan editor
- teacher
- subscriber
- contributor
- author
- editor
- administrator

Proposed changes:
- Tutorial reviewer (renaming as the content type has been renamed)
  - Edit access to all content types
  - De

[2022-07-29 02:02] westnz commented on #855
https://user-images.githubusercontent.com/89751452/181667246-05766320-c265-4ab4-a203-e756f934721b.mp4

[2022-07-29 02:05] westnz commented on #855
Kudos to @courtney-pk for providing most of the resources and ideas for this tutorial. Her [Online Workshop](https://wordpress.tv/2022/07/20/optimizing-your-images-for-wordpress/) was the inspiration.

[2022-07-29 05:57] webtechpooja commented on #220
I agree with Courtney's concern, So many roles might create confusion.  So here we can have a few roles, like:

- **Author** -  Edit access to specific Workshops and specific Lesson Plans
- **Editors** - Edit access to all Lesson Plans, all Workshops, and Courses
- **Tutorial Reviewers** - Edit access to all content types, deputy-level access to meta field for application vetting, and the ability

[2022-07-29 07:49] lenasterg commented on #866
Hi.
I reviewed the translation @vagelisp made.
It's OK to publish.

Bests,
Lena

[2022-07-29 09:40] caraya commented on #652
Ready for review 😺

[2022-07-29 10:00] azhiya commented on #220
Agree with both @courtneyr-dev and @webtechpooja. I'd vote for the streamlined version that Pooja has outlined above.

[2022-07-29 10:07] azhiya commented on #866
Thanks @lenasterg @vagelisp am I right in that you created the lesson plan? I just want to make sure the right person is assigned to the card.

[2022-07-29 10:09] vagelisp commented on #866
Hello @azhiya, yes, that is correct.
I can add the content if someone duplicates the original lesson ( I have editor access on the website ).
Thanks.

[2022-07-29 10:19] azhiya commented on #866
@vagelisp Do you mean all the text or just the [lesson plan outline](https://learn.wordpress.org/?p=20095&post_type=lesson-plan&preview=1&_ppp=97f1e4cc40)

[2022-07-29 10:22] vagelisp commented on #866
I don't mind @azhiya, whatever works for you best.
I could even create a draft of the lesson plan from scratch. Whatever you think it's the best.
Last time @bsanevans duplicated the original lesson plan, and I replaced the content.

[2022-07-29 10:25] azhiya commented on #866
@vagelisp What I created is the general outline. I can copy the text across if you'd like but I won't be able to do that until much later on today.

[2022-07-29 10:28] vagelisp commented on #866
@azhiya ah sorry I didn't realise that you already did that.
I thought the link was for the original lesson plan.
Thanks so much for creating this, I'll let you know once the content is ready.

[2022-07-29 11:43] vagelisp commented on #866
Hello again @azhiya; I added the content.
Thanks.

[2022-07-29 14:51] jonathanbossenger commented on #821
Draft course outline in Google doc format. Next I will turn these into separate issues

https://docs.google.com/document/d/1WRiuf7FP5bKC5oAZc65TqAH0d6dOJh5OKT_y8jxI8Ac/edit?usp=sharing

[2022-07-29 17:48] caraya commented on #821
Can you make it public so people can read it?

[2022-07-29 18:38] courtneyr-dev commented on #153
@hlashbrooke  - the landing page on this looks solid for https://learn.wordpress.org/lesson-plans. Tossing it over for a code review.

[2022-07-29 21:22] courtney-pk commented on #636
Oops, I accidentally marked this as completed. Reopening!

[2022-07-30 06:15] jonathanbossenger commented on #821
Apologies @caraya it was moved to a public folder, but it seems something went wrong. Can you access it now?

[2022-07-30 19:13] caraya commented on #821
Yes,  I can read it OK now. Thanks 😃

[2022-07-31 22:59] westnz commented on #812
https://user-images.githubusercontent.com/89751452/182048700-b7aa0b2d-94c0-497d-af5d-6ee5b0f986e9.mp4

[2022-08-01 15:03] jonathanbossenger opened #868 "Review theme requirements - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-08-01 20:15] wparasae commented on #631
The following tutorials may be requested and/or made by me:
-Essential Design Elements in Themes
-How to Set Up a Development Environment
-Style.css in block themes
-Introduction to the WordPress Template Hierarchy

[2022-08-01 21:44] adamwoodnz commented on #274
This should support translations too.

[2022-08-02 02:03] westnz commented on #804
I also want to show how you could use a Row block to create a testimonial.

<img width="1516" alt="image" src="https://user-images.githubusercontent.com/89751452/182275910-9dd4ceaa-0d87-43d4-8479-44fb5a35cdca.png">

[2022-08-02 09:42] jonathanbossenger opened #869 "Review templates - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-08-02 09:59] jonathanbossenger opened #870 "Review template parts - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-08-02 16:37] wparasae commented on #510
This workshop is paused. It is 90% done; if anyone is interested in finishing this (video editing) and/or creating screencasts for making child themes, feel free to ask me about it in the training channel. I'm happy to send you the files; otherwise, I will work on this as my priorities change.

[2022-08-02 16:39] wparasae commented on #613
Paused; the majority of this lesson plan is done in Google Docs, this just needs to be moved to Learn. If someone is interested in moving this across the finish line, please ping @arasae in the #training channel. Otherwise, I will get to this as my priorities allow.

[2022-08-02 16:41] wparasae commented on #512
I am working on finishing this workshop this month, by September 1st.

[2022-08-02 21:48] wparasae commented on #689
This issue should be resolved; I will look into this before the meeting next week and double check, but this should be resolved.

[2022-08-03 01:00] kaitohm commented on #866
This looks good! I added `Categories`, `Instruction Type`, `Included Content`, and `Meta Data` in the right sidebar to match the original lesson plan. The lesson is now published! https://learn.wordpress.org/lesson-plan/%ce%b5%ce%b9%cf%83%ce%b1%ce%b3%cf%89%ce%b3%ce%ae-%cf%83%cf%84o%cf%85%cf%82-%cf%80%ce%b9%ce%bf-%ce%ba%ce%bf%ce%b9%ce%bd%ce%bf%cf%8d%cf%82-%cf%84%cf%8d%cf%80%ce%bf%cf%85%cf%82-%cf%80

[2022-08-03 01:38] bsanevans opened #871 "[Enhancement] Improve visibility of progress bar on video content"
## Description
It's been reported ([Slack conversation link](https://wordpress.slack.com/archives/C02RW657Q/p1659031199557869?thread_ts=1659022530.969469&cid=C02RW657Q)) that the progress bar on videos on Learn are visually difficult to locate. This is especially so when the video content is showing the wp-admin screen... which many of our videos do. (See screenshot below.) A better interface woul

[2022-08-03 01:41] westnz opened #872 "Customizing a header with patterns"

[2022-08-03 07:36] lenasterg opened #874 "Add language filtering option for lesson plans"
URL: https://learn.wordpress.org/lesson-plans/
It would be very helpful if we had a language filtering options (language category or tag).
So the locales team could better promote the lesson-plans written in their own language, ex. Greek

Bests,
Lena

[2022-08-03 11:35] vagelisp commented on #874
Hi Lena,
I believe that's related to #811

[2022-08-03 13:47] jonathanbossenger opened #875 "What Happens When Saving Styles Changes? - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-08-03 14:20] jonathanbossenger opened #876 "[Related Course: Extend a Low Code Block Theme] What Happens When Creating and Saving Templates and Template Parts to the Database? - Lesson Plan"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-08-03 14:23] jonathanbossenger opened #877 "What Happens When Exporting the Saved Theme? - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-08-03 14:29] jonathanbossenger opened #878 "Creating Custom Templates and Template Parts - Lesson Plan"
# Topic Description
The goal of this lesson is to learn how to build and register a custom template (or template part) for a block theme.

# Objectives
After completing this lesson, participants will be able to:

- Create a new custom template in the editor

# Guidelines
Review the [team guidelines] (https://make.wordpress.org/training/handbook/guidelines/)

# Development Checklist:
- [ ] Gather l

[2022-08-03 23:37] westnz commented on #763
Update: All five parts of the tutorial have been moved to Sensei. Adam will now start adapting them to the course format.

https://learn.wordpress.org/wp-admin/post.php?post=20048&action=edit

[2022-08-03 23:45] westnz commented on #771
Update: Michael has now added content to module 2.  He hopes to have the text-based part of the course finished by the end of August. 🤞

[2022-08-04 19:02] wparasae commented on #831
### CONTRIBUTE WITH ME!

Ya'll, I am looking for content for this lesson. Specifically, I want to know _your_ opinion on one or both of these questions:

1. What do you love about Classic Themes?
2. What do you love about Block Themes?
3. Would you describe yourself as a: (Optional)

- [ ] Beginning / Intermediate User
- [ ] Advanced User
- [ ] Designer
- [ ] Developer
- [ ] Extender
- [ ] Other (

[2022-08-04 23:40] vagelisp commented on #871
I totally agree. That can be confusing.
We can easily fix that with CSS

Blue seems to work well and fits the general design.
![Screen Shot 2022-08-05 at 2 38 11 AM](https://user-images.githubusercontent.com/9304640/182973072-9c928695-cbae-403b-a3c5-4f2d5c97017b.png)

[2022-08-05 03:32] westnz commented on #614
Hey @courtneyr-dev, could you please clarify what needs to be added to this Lesson Plan that is related to the Template Editor? Where does the custom category template fit in here?

[2022-08-05 09:04] azhiya commented on #613
That's great @wparasae. If you've got no takers, I can work on moving it across.

[2022-08-05 23:04] bsanevans opened #879 "Recording I took meeting notes"
# Meeting Recap Notes
Meeting recap notes is one of the best ways to get started contributing to the Training team. Please refer to this [guide](https://make.wordpress.org/training/handbook/guidelines/training-team-how-to-guides/how-to-write-a-meeting-agenda-or-recap/) to get started.

## Meeting Recap
Please enter the date and your GitHub username of the individual working on the recap notes. For

[2022-08-06 09:13] #879 closed

[2022-08-07 15:50] wparasae commented on #831
These readiness questions and pre-requisite skills are going into the main course overview, not the actual lesson plan itself. We may consider omitting them from the lesson plan.

[2022-08-07 17:34] wparasae commented on #631
Dropping More Resources for Myself: (Checkbox is to list that I've used a resource) (MOVED TO ABOVE)

[2022-08-07 17:52] wparasae commented on #831
Added another step (adding assessment questions to Sensei to make sure I don't forget, but those will slow me down atm, so I will come back to this.

[2022-08-07 18:24] wparasae commented on #832
**Call for Subject Matter Expertise**
_Figma theme designers (or theme developers in general)_
1. How do you dream up a new theme?
2. Do you use a mood board? Literal paint? Something else?
3. What are some design best practices for fonts? Colors? Spacing?
4. Is there a framework (or two or three?) for a Figma theme design process?
5. What are all the elements that go into a single page Figma desi

[2022-08-07 18:36] wparasae commented on #832
**Subject Matter Expert: Huge Ask, Probably Not Obtainable**
The Need: A basic, but beautiful Figma file from a designer that can be built in the block editor. Archeo has been recommended, but just in case another might exist uniquely for this course, I'm putting this ask randomly here.

(Many of these have been open-sourced, so I need to find that link in the meantime)

[2022-08-07 19:15] wparasae commented on #833
The content for this overview is basically covered in the existing tutorial; I am going to include it and potentially write a quiz.

[2022-08-07 19:18] wparasae commented on #834
I need to figure out how to set up a temporary development environment. This is a bit of a stumbling block here for me since I've never done this before. Courtney swears it's possible to do this with our existing resources, so I will probably reach out to her about that.

[2022-08-08 07:42] amitpatel0702 opened #880 "Learn WordPress Content (August 2022 Sprint page) Error Report"
### Bug Description

There are still a few sections on Learn WordPress website showing Social Learning Spaces instead of Online Workshops.

Content URL -  [https://make.wordpress.org/training/2022/08/08/august-2022-sprint](https://make.wordpress.org/training/2022/08/08/august-2022-sprint)

Team Links Section --> 1. --> 4. Social Learning Spaces

**Social Learning Spaces must be renamed to Online W

[2022-08-08 08:05] amitpatel0702 opened #881 "Learn WordPress Content (eligibility criteria link) Error Report - Ticket"
### # Error Description

- Content URL: [https://make.wordpress.org/training/handbook/faculty-program/reviewing-volunteer-applications/](https://make.wordpress.org/training/handbook/faculty-program/reviewing-volunteer-applications/)

**The link Eligibility Criteria leads to "Not Found" as shown in the attached image.**

![CleanShot 2022-08-08 at 11 58 33@2x](https://user-images.githubusercontent.c

[2022-08-08 08:34] webtechpooja commented on #880
@amitpatel0702 Thank you for reporting.
 I have updated links in sprint, agenda and reusable blocks as well. So next time we will have the correct name and link.

[2022-08-08 08:34] #880 closed

[2022-08-08 08:38] webtechpooja commented on #881
Hey @amitpatel0702,

Thanks for indicating the broken link. I have updated the link. Now it is working fine. it was related to the name change (Workshop -> Tutorials).

[2022-08-08 08:38] #881 closed

[2022-08-08 09:25] amitpatel0702 commented on #880
Thanks @webtechpooja.

[2022-08-08 10:08] amitpatel0702 commented on #827
Thanks @westnz. Both the Scenarios explained Very well.

And yes, the last portion to roll back all customization part was amazing.

It would be great if you would had executed steps at **3:27** ,**3:32** & **3:33** slightly slower.

[2022-08-08 12:41] westnz commented on #827
Thanks for the feedback @amitpatel0702

I will have a look at slowing the clip speed.

[2022-08-08 19:20] wparasae commented on #831
Quick contribution:

1. Easy editor for new bloggers to write/edit blogs.
2. Block themes give the power to create amazing static & dynamic websites.
3. Developer.
4. Credit: @vkrish

[2022-08-08 22:30] artdecotech commented on #676
@westnz thank you so much for the great suggestions. I also added some new bits based on some stuff we learned in the live workshop.

Here is the latest cut for your review cc @courtneyr-dev @azhiya:

https://f.io/1KUQ3wVS

Let me know your thoughts, I had to re-record the last little bit because I said "wordpress.org/learn" and that leads to a 404 page! 🙈

[2022-08-09 16:29] wparasae commented on #840
You're right! Fixed.

[2022-08-09 16:31] wparasae commented on #836
In-Progress; this is about 60% done, needs screenshots and clear directions.

[2022-08-09 16:32] artdecotech commented on #864
I'll take this one! @azhiya

[2022-08-09 16:32] artdecotech commented on #865
I'll take this one too @azhiya

[2022-08-09 21:51] wparasae commented on #631
And, I am currently digging through the Design team's handbook and figuring out the best ways to weave existing docs into this course. Here are EVEN MORE RESOURCES (all located in or linked from the WordPress.org handbooks, so should be good for this course):

- [ ] https://make.wordpress.org/accessibility/handbook/design/use-of-color/
- [ ] https://make.wordpress.org/design/handbook/workflows/wri

[2022-08-09 21:53] wparasae commented on #832
Resource Link: https://www.figma.com/@wordpressorg

[2022-08-10 09:33] jonathanbossenger commented on #857
Updated to include notes on Node.js versions.

https://user-images.githubusercontent.com/180629/183867938-5f33c3cf-5921-4aa2-ad5d-2883d0327ddb.mp4

[2022-08-10 10:36] jonathanbossenger commented on #857
Published https://learn.wordpress.org/tutorial/using-the-create-block-tool/

[2022-08-11 02:06] hlashbrooke opened #883 "Public ideas board for Learn WordPress content"
It would be great if we could have a public ideas board hosted directly on Learn WordPress where logged-in users can propose content ideas and there can be public voting. It doesn't need to be feature heavy and, in my estimation, would need the following to be included:

* A new "Ideas" post type that includes title, description and comments
* A front-end form for logged-in users to submit ideas,

[2022-08-11 02:21] hlashbrooke commented on #883
I started working on this, but then quickly realised I am woefully out of date with how to build with blocks in mind, so I only got as far as registering the post type. If anyone wants to work on this and have a very slight head start, here's that code:

[code]

[2022-08-11 18:14] chaion07 commented on #762
Thanks @azhiya for the work so far on this.

[2022-08-12 00:35] wparasae commented on #831
Classic themes are easy to use and pretty solid for who’s just starting out. You can write/edit/publish posts or pages easily without thinking about complex customizations.
Block themes lets you create custom blog posts and also pages using drag and drop builder. The blocks gives you the opportunity of creating amazing looking pages where you can add almost anything you need. Most importantly with

[2022-08-12 04:47] hlashbrooke commented on #883
A suggested existing plugin that we could use: https://wordpress.org/plugins/simple-feature-requests/ - I will test this soon.

[2022-08-12 11:06] jonathanbossenger opened #884 "Converting a Shortcode into a Block - Tutorial"
# Topic Description
Following on from the [Using the create-block tool](https://learn.wordpress.org/tutorial/using-the-create-block-tool/) tutorial, this tutorial will guide the new block developer on the process of converting a PHP shortcode into a block.

Due to time limit constraints, this tutorial covers the most basic aspects of this process and will be followed up by supplementary tutorials

[2022-08-12 11:08] jonathanbossenger commented on #884
https://user-images.githubusercontent.com/180629/184342134-b7ce975d-6586-4020-a843-4463fb621edc.mp4

[2022-08-12 14:10] jonathanbossenger opened #885 "Exporting a Template or Template Part Code to a Theme File - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-08-12 14:14] jonathanbossenger opened #886 "Creating Variable Templates - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-08-12 14:40] jonathanbossenger opened #887 "How to Download a Web Font and Store It in the Theme - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-08-15 09:53] jonathanbossenger commented on #858
Closing, as this is superseded by #884

[2022-08-15 09:53] #858 closed

[2022-08-16 07:08] amitpatel0702 commented on #883
Hi @hlashbrooke, Just checked the above plugin, it seems interesting. so do you suggest customizing it and merge it? or we can utilize free version and check for the same?

[2022-08-16 07:19] azhiya commented on #883
HI, @hlashbrooke is the plan that these ideas will then be automatically added to our Content Projects board on GitHub? I can see the post being more accessible and easy to use than GitHub but how do we avoid duplication?

[2022-08-16 15:33] wparasae commented on #834
I set up a development environment using local; I'm working on an a workshop for this, but I'm not sure if it should be a separate issue or not. It's part of the course lesson itself, but it might need a separate thing? Not sure.. I'll ask in the meeting!

[2022-08-17 00:06] wparasae commented on #631
Update: Rough drafts are almost finished for modules 1 and 2. I am hoping to have them ready for training team review at the end of next week. I'm currently in the process of designing some stand-alone tutorials that are necessary for these two modules. They don't have their own issues yet, but I will probably create issues tomorrow for them for tracking purposes. If we can get them reviewed and f

[2022-08-17 00:49] hlashbrooke commented on #883
@azhiya GitHub is only really something that contributors see - my thinking is that this ideas board would be on Learn itself (not on Make) and we could move ideas to GitHub when we approve them. This would mean the ideas board is more readily open to learners and they don't need to navigate GitHub (which can be confusing for many people) in order to suggest content ideas.

[2022-08-17 00:50] hlashbrooke commented on #883
@amitpatel0702 We could use the free version if it suits our needs. I tested it out, and it's OK, but I'm not fully sold on it as an option. I would much prefer if we could build our own solution as it would be lean and tailored to what we need without any extra fluff or needing a pro version.

[2022-08-17 01:14] westnz commented on #872
https://user-images.githubusercontent.com/89751452/185012892-08e60c2f-8708-47fb-bf4d-35288290939e.mp4

[2022-08-17 01:16] westnz commented on #872
Channing Ritter Feedback: "This looks great, Wes — great job explaining this and I love how you highlight different parts of the UI as you’re doing the walkthrough.

One note around 4:04 when discussing changing the color of the Site Title — you can either toggle “make title link to home” to remove the link color from the title OR you can change the link color at the Site Title level (which will o

[2022-08-17 01:20] westnz opened #888 "Personalizing your 404 Template"
//tutorial

[2022-08-17 03:52] westnz commented on #794
Published: https://learn.wordpress.org/tutorial/como-criar-um-post-ou-pagina-com-o-editor-de-blocos-wordpress/

[2022-08-17 03:53] westnz commented on #796
Published: https://learn.wordpress.org/tutorial/introducao-ao-editor-de-site-e-ao-editor-de-modelos/

[2022-08-17 03:55] westnz commented on #788
Published: https://learn.wordpress.org/tutorial/building-a-home-page-with-a-block-theme/

[2022-08-17 03:56] westnz commented on #804
Published: https://learn.wordpress.org/tutorial/creating-a-landing-page-with-a-block-theme/

[2022-08-17 14:09] tahmid-ul opened #889 "[Bug report] UI issue in submit button and pagination in the Course Category page"
## Description
The submit button and spacing around the text and pagination in not correct on the course category pages.

## Step-by-step reproduction instructions

1. Go to https://learn.wordpress.org/course-category/contributing-to-wordpress/
2. Scroll down to the bottom
3. Just above the footer you can see the section - _Have an Idea for a Tutorial? Let us know!_ which has styling issue.

## Ex

[2022-08-18 03:15] westnz commented on #827
Published: https://learn.wordpress.org/tutorial/customizing-your-post-content-layout/

[2022-08-18 04:44] Piyopiyo-Kitsune commented on #775
Sorry, I seem to have missed the ping here @hlashbrooke. We moved the application to Jetpack forms so this can be closed.

[2022-08-18 04:44] #775 closed

[2022-08-18 16:24] wparasae opened #891 "Introduction to Block Theme Development (For Beginners) - Tutorial"
# Topic Description
While it's possible to create a brand new, custom block theme of your own with very little code, there are times when someone will need to dig into a theme's code in order to make their theme dreams a reality. This tutorial helps a new developer explore what each required file does and introduces them to the very basics of code to prepare them for future lessons on block theme

[2022-08-18 16:24] wparasae commented on #834
Related Tutorial Issue Created ([link here](https://github.com/WordPress/Learn/issues/891))

[2022-08-18 16:28] wparasae opened #892 "Overview of Theme Development For Beginners - Tutorial"
# Topic Description
For many intermediate WordPress users, the process used to design a brand new theme from scratch is a mystery. This tutorial aims to clarify how theme designers and developers work together to create a new theme, template by template, comparing classic methods with block methods for theme design.

This is part of a [larger course on block themes](https://github.com/WordPress/Le

[2022-08-18 16:30] wparasae commented on #832
[Tutorial Issue Created](https://github.com/WordPress/Learn/issues/892)

[2022-08-19 10:41] jonathanbossenger opened #893 "Styling your WordPress Blocks - Tutorial"
# Topic Description
Following on from the [Converting a Shortcode into a Block](https://github.com/WordPress/Learn/issues/884) tutorial, this tutorial will guide the new block developer on the process of styling the Edit component and the save function of a WordPress block.

# Related Resources
Links to related content on Learn, HelpHub, DevHub, GitHub Gutenberg Issues, DevNotes, etc.
- [Add CSS s

[2022-08-19 10:43] jonathanbossenger commented on #893
https://user-images.githubusercontent.com/180629/185601879-68d358ea-6131-42e6-afd0-3f8eae759509.mp4

[2022-08-19 10:44] jonathanbossenger commented on #893
Two things I noticed after a self-review:

1. 1:00 - 1:15 it should be the `wp_enque_scripts` hook, not the `init` hook
3. 07:40 consider adding a bit about using the time() function in place of the version number when enqueuing the style during development for cache busting

[2022-08-19 10:51] jonathanbossenger commented on #859
Closed in favour of #893

[2022-08-19 10:51] #859 closed

[2022-08-19 11:53] jonathanbossenger opened #894 "Creating Block Patterns - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-08-19 11:56] jonathanbossenger opened #895 "Using Block Patterns in your Block Theme - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-08-19 12:38] jonathanbossenger opened #896 "An Introduction to Global Styles variations - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-08-19 12:41] jonathanbossenger opened #897 "How to Create and Register a Global Styles variation - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-08-19 13:30] jonathanbossenger opened #898 "Internationalization in Block Themes - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-08-19 13:32] jonathanbossenger opened #899 "Using Block Patterns to Enable Internationalization - Lesson"
# IMPORTANT
**This lesson plan belongs to part of a greater course, [Extend a Low Code Block Theme](https://github.com/WordPress/Learn/issues/821) which depends on the completion of  [Create a Custom Block Theme #1](https://github.com/WordPress/Learn/issues/631)**

**Please reach out to @jonathanbossenger (Jonathan Bossenger) in the #training team Slack if you would like to help with this lesson p

[2022-08-19 13:43] jonathanbossenger commented on #821
Update - lesson plan GitHub issues created and Course Outline updated on this ticket! 🎉

[2022-08-20 01:10] caraya commented on #887
Overall feedback and questions:

* If this is a continuation of Create a Block Theme (Low-Code) then it should be made clear in the introduction to this course so we can set the correct expectations
* What knowledge and/or skills should someone who wants to get the most out of this course come with?
* Is this the same audience identified in #631? I would make it clear either way

I think that ther

[2022-08-20 21:08] jonathanbossenger commented on #887
Hi @caraya, thank you for your feedback.

Given that the course outline is detailed [on this ticket](https://github.com/WordPress/Learn/issues/821), which includes the overall module breakdown, and linked issues for separate lessons, I wonder if I could ask you to add your Overall feedback and questions to the [main course ticket](https://github.com/WordPress/Learn/issues/821), and then separate t

[2022-08-21 00:36] caraya commented on #887
OK

[2022-08-21 22:43] westnz commented on #893
Great work Jonathan!  Smooth tutorial!!

- I suggest removing the frame at :021 as the transition to 'What you will learn" is a bit taxing on the eyes.
- Apologies for my ignorance, but I assume 'How to apply custom class attributes to your JSX code' is the same 'Block className properties'? 😆 I think it would be good if you number your learning outcomes, especially as they are in two different co

[2022-08-21 23:39] westnz commented on #888
https://user-images.githubusercontent.com/89751452/185815724-389e8a99-a3cc-4660-8aa5-c58257708a73.mp4

[2022-08-22 02:02] kaitohm commented on #888
Great video! I just have one comment.

I don't believe themes are required to offer a 404 template. In other words, not every block theme may have a 404 template for folks to edit.

Reference from https://wordpress.org/support/article/template-editor/

I think we should mention that somewhere, just in case someone watching the video is using a theme without a 404 page template. Or maybe something

[2022-08-22 02:06] westnz commented on #888
Good point.  Thank you @bsanevans!

[2022-08-22 03:41] bsanevans opened #904 "Online Workshop - What is the Domain Name System?"
# Event Details
- Title: What is the Domain Name System?
- Level: Intermediate
- Target Audience: Users
- Meetup event link: https://www.meetup.com/learn-wordpress-online-workshops/events/287874977/
- Co-host: @amitpatel0702

This is a stand-alone workshop, but builds on a previous workshop I did on a similar topic: [Introducing... Domains!](https://www.meetup.com/learn-wordpress-online-workshops/

[2022-08-22 03:42] kaitohm commented on #904
This is the outline I posted on Meetup...
---

Did you enjoy the previous workshop [Introducing… Domains!](https://wordpress.tv/2022/08/12/introducing-domains/) ? If so, then you’ll enjoy this workshop, too! We’ll be continuing our discussions around domains, this time by taking a closer look at DNS - the Domain Name System.

Every site needs a domain. But every domain needs DNS records set for it

[2022-08-22 09:32] mburridge commented on #771
Update: work done in the past two weeks (08 Aug 2022 - 19 Aug 2022)

I encountered a couple of minor bugs in the project as I reconstructed the project for the purposes of creating the course. They were mainly me making coding errors, but they still took a bit of time to track down.

The target for this period was to finish the four lessons that would complete the course up to the end of module 4.

[2022-08-22 11:15] jonathanbossenger commented on #893
@westnz thanks for the feedback.

[2022-08-22 11:16] jonathanbossenger commented on #893
After reviewing this content for an online workshop, this video needs to be updated to include the fact that the `editorStyle` and `style` files are enqueued in the editor.

[2022-08-22 12:54] jonathanbossenger commented on #821
Hi @caraya

Thanks for your feedback on [the Google Doc outline](https://docs.google.com/document/d/1WRiuf7FP5bKC5oAZc65TqAH0d6dOJh5OKT_y8jxI8Ac/edit?usp=sharing). I've replied to any questions, and asked a few clarifying questions of my own.

[2022-08-22 14:07] amitpatel0702 commented on #888
- Great presentation.
- Easy to understand for all audience types.
- You covered both scenarios (Custom 404, and the other one using patterns) very well.
- Yes, regarding Ben's point - Most of the themes including default WordPress themes provide a 404 template, and in case one is not able to find a 404 template, then he/she needs to create 404.php and then follow similar steps.

[2022-08-22 14:59] amitpatel0702 commented on #883
Yes, Developing a custom solution will be the best way to deal with that. Because you never know when any feature might be pulled off from the free version and making us dependent on the same.

[2022-08-22 23:00] westnz commented on #763
Review: 22/08/2022

**Introduction:**

I like the image you have used so that learners can see an example of what they are working towards. The image is not that clear to me.  You could try first adding it to the Learn Media Library and then inserting it to improve image quality.

I would suggest adding a bit more detail in the introduction - laying out the learning journey. I think you can also t

[2022-08-22 23:27] westnz commented on #771
Thank you @mburridge. You sure have put a lot of work into this so far!  Well done!!

[2022-08-22 23:34] westnz commented on #888
Thank you @amitpatel0702!!

[2022-08-22 23:51] adamwoodnz commented on #274
@hlashbrooke I'm starting to look into this and need some clarification please:

Can you give an example of another place this would be used? This will help me ensure the block is fit for purpose.

~How are you thinking you would use this? Given this isn't a block theme maybe a shortcode could work? That way you can use it in the editor or within a template.~

[2022-08-23 03:10] Piyopiyo-Kitsune opened #905 "Online Workshop - Intro to Templates"
# Event Details
- Title: Intro to Templates
- Description: This is an introductory session to Full Site Editing Templates wherein we will discuss what Templates and Template Parts are, show how to activate a Block Theme to receive access to these Templates, and walk through how to edit Templates and Template arts for your site.
- Target Audience: Beginner; folks with a little experience setting up

[2022-08-23 03:11] Piyopiyo-Kitsune commented on #905
Event link: https://www.meetup.com/learn-wordpress-online-workshops/events/287978114

[2022-08-23 09:05] jonathanbossenger commented on #821
Added Needs Assessment Statement and Target Audience to the course outline in the ticket description.

@westnz @wparasae when you have a moment, I'd appreciate it if you had any feedback on those two items

[2022-08-23 17:03] wparasae commented on #510
98% finished. Aiming to complete this for review today.

[2022-08-23 17:17] wparasae commented on #821
I like the needs assessment statement; agree that is helpful!

Target audience is creatively done! I like that you have described the intended user. It's informative and made me smile! One option for change / addition might be to create a bulleted skills list to capture the moment in time she's in with detail. For example, Suzie has developed themes in the past, so she already knows:

-How to code

[2022-08-23 20:31] wparasae commented on #891
Asking for feedback and moving into "review" column. https://wordpress.slack.com/archives/C02RW657Q/p1661286621177259

[2022-08-23 21:12] westnz commented on #821
@jonathanbossenger Your Needs Assessment Statement and Target Audience look solid.

[2022-08-23 21:37] westnz commented on #891
This is excellent Sarah! It was easy to follow and informative!

One suggestion - 11-33sec  maybe you could just have a static example to help the viewer to focus on what is being said.

[2022-08-23 21:38] westnz commented on #891
Feedback from @vagelisp
<img width="389" alt="image" src="https://user-images.githubusercontent.com/89751452/186271068-d3777c1c-66e3-4ce8-95a7-62ee98b44793.png">

[2022-08-23 23:02] westnz commented on #614
Published: https://learn.wordpress.org/lesson-plan/template-editor/

[2022-08-24 02:16] caraya commented on #821
I have one concern.

The outline makes this course dependent on   [Create a custom block theme](https://github.com/WordPress/Learn/issues/631) but targets a different audience for this course.

I'm not sure how well this works out if Peter, a designer with Figma experience who has completed the prerequisite course but who is still not comfortable with editing JSON files and with limited understand

[2022-08-24 04:04] westnz commented on #821
@caraya That is a fair point, but I assume there will always be certain gaps in knowledge for some folks to bridge. Peter, from your example, will probably need to upskill in a few areas as an intermediate or advanced theme developer before continuing with the second course. Some developers might not even need to complete the first course and could jump straight into the second.  I therefore don't

[2022-08-24 04:06] westnz opened #906 "Adding a pattern from the Pattern Directory to your theme - Tutorial"

[2022-08-24 07:31] bsanevans opened #907 "Online Workshop [Japanese] - The 10 Text blocks"
# Event Details
- Title: 10 種類のテキストブロック　〜使い分けのコツ〜
- English title: The 10 Text blocks -tips for choosing the best block-
- Description: We'll look at the 10 Text blocks in WordPress core. We'll discuss both the design differences, and the accessibility consideration in each block's code.
- Target Audience: Beginners, and experienced users interested in accessibility
- Other Info: This is a Japanes

[2022-08-24 07:34] kaitohm commented on #907
I'll be hosting this workshop twice at different times of the week.
* [First session - September 7th](https://www.meetup.com/learn-wordpress-online-workshops/events/288018957/) weekday evening (Co-host @Piyopiyo-Kitsune )
* [Second session - September 17th](https://www.meetup.com/learn-wordpress-online-workshops/events/288019101/) Saturday morning (Co-host @courtney-pk )

[2022-08-24 09:07] jonathanbossenger commented on #893
What I am trying to do here is shorten the learning outcome for the slide, but describe it a bit better in the spoken word. However, I could make sure that the text on the slide is closer to what I'm saying.

That's a great point. I'll update this video and do that going forward.

[2022-08-24 09:59] jonathanbossenger opened #908 "Online Workshop - A Deep Dive into theme.json"
# Event Details
- Title: A Deep Dive into theme.json
- Description: One of the more exciting additions to WordPress theme development that block themes make possible is the inclusion of the theme.json file. This file allows the theme developer to enable and configure everything from CSS presets to custom fonts, and more. In this session, we'll be taking a dive into the theme.json file for the new

[2022-08-24 13:38] adamziel commented on #763
Thank you so much for reviewing @westnz! 🎉

I just uploaded all the images to the media library, how does it look like to you now? I noticed a few of them are not crispy on retina, I could re-take those screenshots.

I expanded that section more – what do you think now?

I do expect people to know how to create them, but I added a note about how this course requires knowledge of WordPress plugins.

[2022-08-24 19:46] wparasae commented on #891
I will make that change, Wes. Thank you! And thank you for dropping the comment in here as well. I appreciate it!

[2022-08-25 03:01] westnz commented on #812
Published: https://learn.wordpress.org/tutorial/creating-a-new-header-with-blocks/

[2022-08-25 04:52] westnz commented on #763
Hey @adamziel

The image looks much better and great work on adding a solid introduction.

Thank you for the other updates and responses as well.

I am happy with the number of screenshots you have used.  I just wanted to check if you thought there might be some areas that could be supported by more visual material.  If you think there is enough, all good!

Yes, please remember to write a conclusi

[2022-08-25 14:17] jonathanbossenger commented on #893
Updated video based on feedback

https://user-images.githubusercontent.com/180629/186689470-d49691a4-f101-4708-987e-5db56ecb0c0b.mp4

[2022-08-25 23:06] annezazu commented on #591
Want to note that we should incorporate what Make Design is doing to open source theme designs too: https://make.wordpress.org/design/2022/07/01/open-sourcing-theme-designs/

[2022-08-25 23:07] annezazu commented on #571
Noting this work in progress page for theme resources, including some starter theme items: https://github.com/WordPress/Documentation-Issue-Tracker/issues/401 Would be important to ensure consistency and follow best practices on third party linking.

[2022-08-26 07:36] jonathanbossenger opened #909 "Review theme requirements"

[2022-08-26 07:38] #909 closed

[2022-08-26 13:15] jonathanbossenger commented on #821
[Course skeleton](https://learn.wordpress.org/?p=21170&post_type=course&preview=1&_ppp=4b313b79ae) created in Sensei on Learn.

[2022-08-26 19:11] wparasae commented on #631
Another link: https://developer.wordpress.org/themes/basics/main-stylesheet-style-css/#explanations

[2022-08-26 19:11] wparasae commented on #835
Related link: https://developer.wordpress.org/themes/basics/main-stylesheet-style-css/#explanations

[2022-08-27 02:46] kaitohm commented on #904
Here are my slides for this session: https://docs.google.com/presentation/d/1XD8oGKkAs_m-PwRKAdr6fOtQ2fLCFxHLWgvVuTRwHeM/edit?usp=sharing

Feel free to leave comments in the slides, or here in GitHub. Thanks.

[2022-08-28 01:50] mikeritter opened #910 "Learn WordPress Content Error Report - Ticket"
At https://learn.wordpress.org/lesson-plan/how-to-create-and-register-a-block-pattern__trashed/

Under "Options to Register a Block Pattern"

The content contradicts itself.

"Registering a block pattern with your theme is the preferred choice if you have created your theme, or if you are using a child theme..."

should read

Registering a block pattern with your theme is <ins>not</ins> the prefer

[2022-08-28 02:17] mikeritter commented on #910
Nevermind. I misread the sentences.

[2022-08-28 02:17] #910 closed

[2022-08-28 12:21] amitpatel0702 commented on #904
All Seems perfect and ready for execution. :)

[2022-08-28 21:30] jonathanbossenger commented on #631
@wparasae earlier you mentioned that a workshop or tutorial on fonts in block themes would be useful.

I'm assuming you'd want that to cover things like what fonts are available by default for a low code block theme (aka not how to add custom fonts) and how to apply these fonts in theme.json, either globally, or on a block level?

Any other font-related questions that you feel a workshop or tutori

[2022-08-28 22:40] westnz commented on #906
https://user-images.githubusercontent.com/89751452/187097063-f4c076e6-eedc-4943-b956-babaab93bd76.mp4

[2022-08-29 05:11] bsanevans opened #911 "Online Workshop - Introducing... Domains!"
# Event Details
- Title: Introducing... Domains!
- Description: An introductory session to what domains are and what a good domain for a personal site may be.
- Target Audience: Beginners
- Other info: I've conducted this session once (previous Meetup event, WordPress.tv recording), but am conducting it again at a different timezone.
- Date: September 29th 0 UTC
- Meetup event: https://www.meetup.

[2022-08-29 05:15] kaitohm commented on #911
The slides are ready for content/editorial review: https://docs.google.com/presentation/d/1FAWyqurywPWRRvV524OoZhyG6Wg5WYkUskCmH5LKwvk/edit?usp=sharing

[2022-08-29 05:21] kaitohm commented on #904
I'll be conducting this session a second time at a different timezone. Here are details of the second session.

# Event Details
- Date: October 14th
- Meetup event link: https://www.meetup.com/learn-wordpress-online-workshops/events/288128302/
- Co-host: @westnz

This is a stand-alone workshop, but builds on a previous workshop of a similar topic: https://github.com/WordPress/Learn/issues/911

# O

[2022-08-29 05:33] amitpatel0702 commented on #904
That's awesome !!! Just wanted to confirm a few steps - Are you planning to run an online workshop with the same slides without uploading that workshop in WordPress.tv?

[2022-08-29 06:27] kaitohm commented on #904
@amitpatel0702 That's right. I may make slight tweaks based on feedback from the first session. But the goal is to conduct the exact same workshop just at a different time for folks in other timezones to also attend.

[2022-08-29 07:01] jonathanbossenger commented on #908
@rosswintle has kindly offered to co-host this session.

https://www.meetup.com/learn-wordpress-online-workshops/events/288023942/

[2022-08-29 19:11] meaganhanes commented on #510
Hi @wparasae - thanks for taking a first stab at this! Here's my detailed feedback with timestamps:

Overall the pace is too fast and density of information, particularly during the first minute, is too high. Cuts between screenshots are too quick and overwhelming [especially the PHP error stack]. Audio processing is not consistent from clip to clip (eg, background noise is not consistently remove

[2022-08-29 19:14] wparasae commented on #631
Nope, you've beautifully illustrated them, Jonathan! Thank you!

[2022-08-29 19:15] wparasae commented on #631
I had a lovely call with SME Hardeep Asrani - the notes from our conversation about the different parts of [what is required in a style.css to submit a theme to the themes directory can be found here](https://docs.google.com/document/d/18_W7OtGt7O9U2RmReyJ7Z9ZeuqpFznwFw5HPByCooYA/edit?usp=sharing).

[2022-08-29 20:18] wparasae commented on #510
This is all great feedback! I'll look over it and make some changes when I return in a week or so. I appreciate your time!

[2022-08-29 23:42] westnz opened #913 "Uncovering the Cover Block"
//lesson

[2022-08-30 06:34] kaitohm commented on #904
### Post-session resources

- Here is a link to the uploaded video on WordPress.tv: https://wordpress.tv/2022/08/29/what-is-the-domain-name-system/
- This is a link to my final slides: https://docs.google.com/presentation/d/1XD8oGKkAs_m-PwRKAdr6fOtQ2fLCFxHLWgvVuTRwHeM/edit?usp=sharing
- And this is the PDF version of those slides: https://drive.google.com/file/d/1EcRCwEJedeMa9i-fzKvpA7awLC_MyDV4/v

[2022-08-30 07:16] maion11 commented on #911
Hi @bsanevans, checked and reviewed the content. They look great and are ready to be executed. Thanks :)

[2022-08-30 12:50] jonathanbossenger commented on #908
Live stream of my attempts to understand what various settings do:

https://www.twitch.tv/videos/1576834601

Questions that came out of this session:

- How to enable the alignwide support correctly, and what blocks support it?
- Where is the default font set?
- Do I need to register custom templates or template parts in theme.json?
- Settings -> spacing -> spacingScale, what does that do?
- Is it

[2022-08-30 15:15] colorful-tones commented on #908
This is a huge pain-point and your struggle is _real_.

`add_theme_support( 'align-wide' )` is not needed in a block theme with `theme.json`. The `settings.layout.wideSize` and the `settings.layout.contentSize` is the correct way to handle wide and content width. However, I believe the way content and wide behave and surface in UI has recently been worked on in Gutenberg.

So, there are a few thin

[2022-08-30 15:33] colorful-tones commented on #908
This would be somewhere in WordPress core.

[code]

This entry 👆  in your `theme.json` is merely registering a new font family that will be surfaced in the Font Family picker in site editor/block editor. This allows the user to pick it and set if for a variety of things.

If you wanted to tell your current theme to _use_ that specific font family then you would likely want to take the code above o

[2022-08-30 15:41] colorful-tones commented on #908
This I have little experience with and will allow others more knowledgeable chip in.

This is a new addition and would require Gutenberg plugin to be activated. I have not experimented with this new addition yet. Again, I allow somebody more knowledgeable to chip in.

This is something that is currently ongoing in Gutenberg and there is even a push for the upcoming 6.1 release to have more consist

[2022-08-30 15:43] colorful-tones commented on #908
Another huge pain point. I would say: experiment with `theme.json` and the schema documentation are the best documentation at the moment. I learned by trial and error and creating [Extendable theme](https://github.com/extendify/extendable) with the dozen style variations within.

[2022-08-30 18:44] pbking commented on #908
Yes (unless things have changed. :P ). See blockbase's theme.json file as an example. https://github.com/Automattic/themes/blob/trunk/blockbase/theme.json

Registering them thus allows users to select them as the templates for page/post or swap out template parts into the correct space (headers for headers, etc)

<img width="607" alt="image" src="https://user-images.githubusercontent.com/146530/18